ErrorDocument 404 /404.html
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^index.html$ /Index.php [QSA]
#验证码
RewriteRule ^code/pic.jpg$ /Plugins/Code/Class.DoCode.php [QSA]

RewriteRule ^test(|\/)$ /Index.php?Module=Debt&Action=Test [QSA]
#债务催收
RewriteRule ^debtlists(|\/)$ /Index.php?Module=Debt&Action=DebtLists [QSA]
RewriteRule ^debt/([0-9]+).html$ /Index.php?Module=Debt&Action=DebtDetails&ID=$1 [QSA]
RewriteRule ^debt/publish/([0-9]+)(|\/)$ /Index.php?Module=Debt&Action=DebtPublish&T=$1 [QSA]

#线索悬赏
RewriteRule ^reword(|\/)$ /Index.php?Module=Reword&Action=Index [QSA]
RewriteRule ^reword/publish(|\/)$ /Index.php?Module=Reword&Action=RewordPublish [QSA]
RewriteRule ^reword/([a-z0-9]+)(|\/)$ /Index.php?Module=Reword&Action=Index&SoUrl=$1 [QSA]

#寻找处置方
RewriteRule ^choicefind(|\/)$ /Index.php?Module=Find&Action=ChoiceFind [QSA]
RewriteRule ^find/team/([0-9]+)(|\/)$ /Index.php?Module=Find&Action=Team&T=$1 [QSA]

#搜索老赖
RewriteRule ^deadbeat(|\/)$ /Index.php?Module=DeadBeat&Action=Index [QSA]
RewriteRule ^ajax.html$ /Index.php?Module=Ajax&Action=Index [QSA]

#通用地址
RewriteRule ^([a-z]+)(|\/)$ /Index.php?Module=$1 [QSA]
RewriteRule ^([a-z]+)/([a-z]+)(|\/)$ /Index.php?Module=$1&Action=$2 [QSA]
RewriteRule ^([a-z]+)_([a-z]+)(|\/)$ /Index.php?Module=$1&Action=$2 [QSA]

</IfModule>
