ErrorDocument 404 /404.html
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^index.html$ /Index.php [QSA]
#债务催收
RewriteRule ^debtlists(|\/)$ /Index.php?Module=Debt&Action=DebtLists [QSA]
RewriteRule ^debt/([0-9]+).html$ /Index.php?Module=Debt&Action=debtdetails&ID=$1 [QSA]

#线索悬赏
RewriteRule ^reword(|\/)$ /Index.php?Module=Reword&Action=Index [QSA]
RewriteRule ^reword/([a-z0-9]+)(|\/)$ /Index.php?Module=Reword&Action=Index&SoUrl=$1 [QSA]

#搜索老赖
RewriteRule ^deadbeat(|\/)$ /Index.php?Module=DeadBeat&Action=Index [QSA]
RewriteRule ^ajax.html$ /Index.php?Module=Ajax&Action=Index [QSA]

</IfModule>