.c-warn {
  color: #fa4343;
}
* {
  font-family: "微软雅黑", serif;
}
.tx-l {
  text-align: left!important;
}
.ml-160 {
  margin-left: 160px;
}
.pb-30 {
  padding-bottom: 30px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-36 {
  margin-left: 36px;
}
.fl-r {
  float: right;
}
.pl-130 {
  padding-left: 130px;
}
.bc-fff {
  background-color: #fff;
}
.bc-f5 {
  background-color: #f5f5f5;
}
.top {
  width: 100%;
  background-color: #f5f5f5;
  height: 42px;
  line-height: 42px;
}
.top .wrap {
  width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
  font-size: 14px;
  color: #666666;
}
.top .wrap span:nth-child(1) {
  margin-right: 56px;
}
.top .wrap span:nth-child(3),
.top .wrap span:nth-child(4) {
  display: inline-block;
  float: right;
  min-width: 52px;
  background-color: #f0f0f0;
  text-align: center;
  margin-right: 2px;
  cursor: pointer;
}
.top .wrap .person-info {
  padding: 0 10px;
  color: #35bdfc;
}
.top .wrap .person-info img {
  width: 16px;
  margin-right: 5px;
  vertical-align: middle;
  text-align: center;
}
.header {
  width: 100%;
  line-height: 82px;
  height: 82px;
  -moz-box-shadow: 0 0 2px #e6e6e6;
  box-shadow: 0 0 2px #e6e6e6;
}
.header .wrap {
  width: 1180px;
  margin: 0 auto;
}
.header .wrap img {
  vertical-align: middle;
}
.header .wrap .nav-wrap {
  float: right;
}
.header .wrap .nav-wrap li {
  cursor: pointer;
  list-style: none;
  float: left;
  margin-right: 40px;
  color: #666666;
}
.header .wrap .nav-wrap li:hover,
.header .wrap .nav-wrap .nav-active {
  color: #35bdfc;
  position: relative;
}
.header .wrap .nav-wrap li:hover::after,
.header .wrap .nav-wrap .nav-active::after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: 15px;
  left: 0;
  width: 100%;
  display: block;
  border-bottom: 2px solid #35bdfc;
}
.footer {
  width: 100%;
  background-color: #30383d;
}
.footer .wrap {
  width: 1180px;
  margin: 0 auto;
}
.footer .wrap .content {
  padding: 55px 100px 0;
  height: 145px;
  color: #fff;
}
.footer .wrap .content .c img {
  float: left;
}
.footer .wrap .content .c p {
  margin: 0 66px 0 46px;
  padding: 3px 0;
  font-size: 12px;
  color: #e5e5e5;
}
.footer .wrap .content .b1 {
  float: left;
  width: 226px;
}
.footer .wrap .content .b2 {
  float: left;
  width: 226px;
  padding-top: 46px;
}
.footer .wrap .content .coop {
  float: left;
  margin-left: 88px;
}
.footer .wrap .content .wetchat-img {
  float: left;
  margin-left: 140px;
  text-align: right;
}
.copy-right {
  width: 100%;
  height: 56px;
  line-height: 56px;
  background-color: #fff;
}
.copy-right .wrap {
  width: 460px;
  margin: 0 auto;
  color: #999;
  font-size: 12px;
}
.copy-right .wrap span:nth-child(1) {
  margin-right: 46px;
}
.copy-right .wrap span:nth-child(2) {
  margin-right: 36px;
}
.copy-right .wrap img {
  vertical-align: middle;
  margin-top: -4px;
}
.pagination {
  min-width: 312px;
  line-height: 34px;
  height: 34px;
}
.pagination .b {
  cursor: pointer;
  width: 34px;
  height: 34px;
  background-color: #f2f2f2;
  color: #666;
  border-radius: 5px;
  text-align: center;
  float: left;
  margin-right: 5px;
  font-size: 12px;
  border: 1px solid #e6e6e6;
}
.pagination .b:hover {
  background-color: #35bdfc;
  color: #fff;
}
.pagination .sel {
  background-color: #35bdfc;
  color: #fff;
}
.alert-warn {
  padding-left: 22px;
  line-height: 40px;
  background-color: #efefef;
  color: #d81e06;
  font-weight: bold;
  font-size: 14px;
  margin: 10px 0;
}
.alert-warn img {
  vertical-align: middle;
  margin-top: -2px;
}
.m-radio {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.m-radio input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: 0;
  cursor: pointer;
}
.m-radio input[type="radio"] {
  content: '';
  display: inline-block;
  position: absolute;
  top: -1px;
  left: 0;
  width: 20px;
  height: 20px;
  background: url('../imgs/radio_off.png') 0 no-repeat center;
}
.m-radio input[type="radio"]:checked {
  content: '';
  display: inline-block;
  position: absolute;
  top: -1px;
  left: 0;
  width: 20px;
  height: 20px;
  background: url('../imgs/radio_on.png') 0 no-repeat center;
}
.m-checkbox {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.m-checkbox input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: 0;
  cursor: pointer;
}
.m-checkbox input[type="checkbox"] {
  content: '';
  display: inline-block;
  position: absolute;
  top: -2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background: url('../imgs/cb_off.png') 0 no-repeat center;
}
.m-checkbox input[type="checkbox"]:checked {
  content: '';
  display: inline-block;
  position: absolute;
  top: -2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background: url() 0 no-repeat center;
}
.bk-1 {
  width: 100%;
}
.bk-1 img {
  width: 100%;
}
.block-t {
  width: 606px;
  margin: 0 auto;
  height: 50px;
}
.block-t .line {
  float: left;
  margin-top: 22px;
  border-bottom: 1px solid #e6e6e6;
  width: 190px;
}
.block-t .t-wrap {
  width: 178px;
  text-align: center;
  padding: 0 24px;
  float: left;
}
.block-t .t-wrap span:nth-of-type(1) {
  font-size: 24px;
  letter-spacing: 10px;
  color: #35bdfc;
}
.block-t .t-wrap span:nth-of-type(2) {
  font-size: 18px;
  color: #b2b2b2;
  margin-left: -10px;
}
.index .block-about {
  width: 100%;
  background-color: #fff;
}
.index .block-about .wrap {
  padding-top: 76px;
  width: 1180px;
  margin: 0 auto;
}
.index .block-about .wrap .about-us {
  min-height: 300px;
  margin-top: 74px;
  margin-bottom: 80px;
}
.index .block-about .wrap .about-us .left {
  padding: 0 35px;
  float: left;
  width: 520px;
  text-align: center;
}
.index .block-about .wrap .about-us .right {
  width: 550px;
  float: left;
  padding-right: 35px;
}
.index .block-about .wrap .about-us .right p {
  color: #666666;
  margin: 22px 0;
  line-height: 24px;
}
.index .block {
  height: 450px;
  width: 100%;
}
.index .block .wrap {
  padding-top: 76px;
  width: 1180px;
  margin: 0 auto;
}
.index .block .wrap .func-wrap {
  margin-top: 76px;
}
.index .block .wrap .func-wrap .func-content {
  width: 236px;
  float: left;
  text-align: center;
}
.index .block .wrap .func-wrap .func-content .img-wrap {
  height: 110px;
}
.index .block .wrap .func-wrap .func-content span {
  margin-top: 20px;
  font-size: 20px;
  color: #666666;
}
.index .block .wrap .func-1 .left {
  width: 490px;
  padding-left: 140px;
  float: left;
}
.index .block .wrap .func-1 .left p {
  margin: 12px 0;
}
.index .block .wrap .func-1 .left p:nth-child(1) {
  color: #666666;
  font-size: 36px;
  padding-bottom: 30px;
}
.index .block .wrap .func-1 .left p:nth-child(n+2) {
  color: #999999;
  font-size: 16px;
}
.index .block .wrap .func-1 .left .btn-more {
  padding-top: 26px;
}
.index .block .wrap .func-1 .left .btn-more .btn {
  width: 142px;
  line-height: 40px;
  background-color: #35bdfc;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
.index .block .wrap .func-1 .right {
  width: 515px;
  float: left;
  text-align: center;
}
.index .block .wrap .func-1::after {
  content: '';
  display: block;
  clear: both;
}
.index .block .wrap .func-2::after {
  content: '';
  display: block;
  clear: both;
}
.index .block .wrap .func-2 .left {
  float: left;
  width: 515px;
  padding-left: 130px;
}
.index .block .wrap .func-2 .right {
  float: left;
  width: 525px;
}
.index .block .wrap .func-2 .right p {
  margin: 12px 0;
}
.index .block .wrap .func-2 .right p:nth-child(1) {
  color: #666666;
  font-size: 36px;
  padding-bottom: 30px;
}
.index .block .wrap .func-2 .right p:nth-child(n+2) {
  color: #999999;
  font-size: 16px;
}
.index .block .wrap .func-2 .right .btn-more {
  padding-top: 26px;
}
.index .block .wrap .func-2 .right .btn-more .btn {
  width: 142px;
  line-height: 40px;
  background-color: #35bdfc;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
.collection {
  width: 100%;
  background-color: #fff;
  margin-top: 20px;
}
.collection .wrap {
  width: 1180px;
  margin: 0 auto;
}
.collection .wrap .filt-parm {
  border: 1px solid #e6e6e6;
  background-color: #f9f9f9;
}
.collection .wrap .filt-parm .search {
  padding: 0 24px;
  line-height: 62px;
  font-size: 14px;
  color: #666666;
}
.collection .wrap .filt-parm .search span:nth-child(1) {
  font-weight: bold;
  margin-right: 16px;
}
.collection .wrap .filt-parm .search input {
  padding: 10px 14px;
  width: 300px;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
}
.collection .wrap .filt-parm .search button[name='search'] {
  border: 0;
  width: 102px;
  padding: 10px 0;
  background-color: #35bdfc;
  cursor: pointer;
  color: #fff;
  margin-left: -4px;
  border: 1px solid #35bdfc;
}
.collection .wrap .filt-parm .search .pub-wrap {
  position: relative;
  float: right;
}
.collection .wrap .filt-parm .search .pub-wrap img {
  position: absolute;
  left: 30px;
  top: 22px;
}
.collection .wrap .filt-parm .search .pub-wrap button[name='pub'] {
  border: 0;
  width: 142px;
  padding: 10px 0 10px 30px;
  background-color: #35bdfc;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
}
.collection .wrap .filt-parm .line {
  padding: 0 24px;
  line-height: 36px;
  font-size: 14px;
  color: #666666;
  border-bottom: 1px dashed #cccccc;
}
.collection .wrap .filt-parm .line span {
  cursor: pointer;
}
.collection .wrap .filt-parm .line span img {
  margin-left: 5px;
  vertical-align: middle;
}
.collection .wrap .filt-parm .line span:nth-child(1) {
  font-weight: bold;
  margin-right: 16px;
}
.collection .wrap .filt-parm .line span:nth-child(n+2) {
  margin-right: 20px;
}
.collection .wrap .filt-parm .line .sel {
  background-color: #35bdfc;
  color: #fff;
  border-radius: 5px;
  padding: 2px 6px;
  margin-right: 10px!important;
}
.collection .wrap .table .t {
  background-color: #35bdfc;
  color: #fff;
  line-height: 34px;
  padding-left: 10px;
}
.collection .wrap .table .m-c {
  color: #f85951;
}
.collection .wrap .table .sta-1 {
  font-weight: 600;
  color: #f85951;
}
.collection .wrap .table .sta-2 {
  font-weight: 600;
  color: #fbab10;
}
.collection .wrap .table .sta-3 {
  font-weight: 600;
  color: #0f83b9;
}
.collection .wrap .table .det {
  cursor: pointer;
}
.collection .wrap .table table {
  width: 100%;
  border: 1px solid #e6e6e6;
  border-collapse: collapse;
  margin-bottom: 24px;
}
.collection .wrap .table table thead tr {
  background-color: #f2f2f2;
  line-height: 40px;
  font-size: 14px;
  color: #666666;
  border-bottom: 1px solid #e6e6e6;
}
.collection .wrap .table table thead tr th {
  border-right: 1px solid #e6e6e6;
}
.collection .wrap .table table tbody tr {
  background-color: #fff;
  line-height: 40px;
  font-size: 14px;
  color: #666666;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
}
.collection .wrap .table table tbody tr td {
  border-right: 1px solid #e6e6e6;
}
.collection .wrap .pagination-wrap {
  margin-bottom: 90px;
}
.reword {
  width: 100%;
  margin-top: 20px;
}
.reword .wrap {
  width: 1180px;
  margin: 0 auto;
}
.reword .wrap .filt-parm {
  border: 1px solid #e6e6e6;
  background-color: #f9f9f9;
}
.reword .wrap .filt-parm .search {
  padding: 0 24px;
  line-height: 62px;
  font-size: 14px;
  color: #666666;
}
.reword .wrap .filt-parm .search span:nth-child(1) {
  font-weight: bold;
  margin-right: 16px;
}
.reword .wrap .filt-parm .search input {
  padding: 10px 14px;
  width: 300px;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
}
.reword .wrap .filt-parm .search button[name='search'] {
  border: 0;
  width: 102px;
  padding: 10px 0;
  background-color: #35bdfc;
  cursor: pointer;
  color: #fff;
  margin-left: -4px;
  border: 1px solid #35bdfc;
}
.reword .wrap .filt-parm .search .pub-wrap {
  position: relative;
  float: right;
}
.reword .wrap .filt-parm .search .pub-wrap img {
  position: absolute;
  left: 30px;
  top: 22px;
}
.reword .wrap .filt-parm .search .pub-wrap button[name='pub'] {
  border: 0;
  width: 142px;
  padding: 10px 0 10px 30px;
  background-color: #35bdfc;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
}
.reword .wrap .filt-parm .line {
  padding: 0 24px;
  line-height: 36px;
  font-size: 14px;
  color: #666666;
  border-bottom: 1px dashed #cccccc;
}
.reword .wrap .filt-parm .line span {
  cursor: pointer;
}
.reword .wrap .filt-parm .line span img {
  margin-left: 5px;
  vertical-align: middle;
}
.reword .wrap .filt-parm .line span:nth-child(1) {
  font-weight: bold;
  margin-right: 16px;
}
.reword .wrap .filt-parm .line span:nth-child(n+2) {
  margin-right: 20px;
}
.reword .wrap .filt-parm .line .sel {
  background-color: #35bdfc;
  color: #fff;
  border-radius: 5px;
  padding: 2px 6px;
  margin-right: 10px!important;
}
.reword .wrap .box-wrap .box {
  box-sizing: border-box;
  width: 577px;
  height: 308px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  -moz-box-shadow: 0 0 2px #e6e6e6;
  box-shadow: 0 0 2px #e6e6e6;
  margin-bottom: 20px;
  padding: 10px 18px;
  display: inline-block;
  position: relative;
}
.reword .wrap .box-wrap .box .done {
  position: absolute;
  z-index: 99;
  width: 577px;
  height: 308px;
  line-height: 308px;
  background-color: #666;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  top: 0;
  left: 0;
  text-align: center;
}
.reword .wrap .box-wrap .box .done img {
  z-index: 100;
  vertical-align: middle;
}
.reword .wrap .box-wrap .box .content .left {
  width: 200px;
  float: left;
}
.reword .wrap .box-wrap .box .content .left .main-i {
  width: 200px;
  height: 160px;
  background-color: #bab6b6;
  margin-bottom: 10px;
}
.reword .wrap .box-wrap .box .content .left .main-i img {
  width: 100%;
  height: 100%;
}
.reword .wrap .box-wrap .box .content .left .det-i {
  box-sizing: border-box;
  width: 60px;
  height: 50px;
  background-color: #bab6b6;
  margin-bottom: 10px;
  display: inline-block;
}
.reword .wrap .box-wrap .box .content .left .det-i img {
  width: 100%;
  height: 50px;
}
.reword .wrap .box-wrap .box .content .left .det-i:nth-child(3),
.reword .wrap .box-wrap .box .content .left .det-i:nth-child(6) {
  margin-left: 5px;
  margin-right: 5px;
}
.reword .wrap .box-wrap .box .content .right {
  float: left;
  width: 319px;
  padding-top: 20px;
  margin-left: 20px;
}
.reword .wrap .box-wrap .box .content .right .line {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold;
}
.reword .wrap .box-wrap .box .content .right .line .t {
  float: left;
  color: #bab6b6;
  margin-right: 5px;
}
.reword .wrap .box-wrap .box .content .right .line .c {
  padding-left: 70px;
  color: #4d4d4d;
}
.reword .wrap .box-wrap .box .content .right .ower-contact {
  margin-top: 25px;
  font-weight: bold;
  border-top: 1px solid #e6e6e6;
  padding-top: 25px;
}
.reword .wrap .box-wrap .box .content .right .ower-contact .t {
  color: #bab6b6;
  font-size: 14px;
}
.reword .wrap .box-wrap .box .content .right .ower-contact .c {
  color: #dd5046;
  font-size: 24px;
  font-style: italic;
}
.reword .wrap .box-wrap .box:nth-child(2n+1) {
  margin-right: 20px;
}
.reword .wrap .pagination-wrap {
  margin-top: 50px;
  margin-bottom: 140px;
}
.solver {
  width: 100%;
}
.solver .wrap {
  width: 1180px;
  margin: 0 auto;
  padding: 60px 0 84px 0;
}
.solver .wrap .sel-block {
  height: 330px;
  margin-top: 50px;
  padding: 90px 0 70px 0;
  border: 1px solid #e6e6e6;
  -moz-box-shadow: 0 0 2px #e6e6e6;
  box-shadow: 0 0 2px #e6e6e6;
}
.solver .wrap .sel-block .left,
.solver .wrap .sel-block .right {
  float: left;
  width: 589px;
  text-align: center;
}
.solver .wrap .sel-block .left .img-wrap,
.solver .wrap .sel-block .right .img-wrap {
  height: 250px;
  padding-bottom: 40px;
}
.solver .wrap .sel-block .left button,
.solver .wrap .sel-block .right button {
  border: 0;
  padding: 10px 32px;
  background-color: #35bdfc;
  cursor: pointer;
  color: #fff;
  border: 1px solid #35bdfc;
  border-radius: 5px;
}
.wayByLawer {
  width: 100%;
}
.wayByLawer .wrap {
  width: 1180px;
  margin: 0 auto;
  color: #666666;
}
.wayByLawer .wrap .current-loc {
  padding-top: 26px;
  padding-bottom: 17px;
  line-height: 20px;
}
.wayByLawer .wrap .current-loc img {
  vertical-align: middle;
  margin-top: -2px;
}
.wayByLawer .wrap .current-loc a {
  text-decoration: none;
  color: #666666;
}
.wayByLawer .wrap .form-wrap {
  border: 1px solid #e6e6e6;
  -moz-box-shadow: 0 0 2px #e6e6e6;
  box-shadow: 0 0 2px #e6e6e6;
  margin-bottom: 100px;
}
.wayByLawer .wrap .form-wrap .box .t {
  background-color: #eaf8ff;
  line-height: 50px;
  padding: 0 18px;
}
.wayByLawer .wrap .form-wrap .box .t img {
  vertical-align: middle;
  margin-top: -2px;
}
.wayByLawer .wrap .form-wrap .box .t .opt {
  float: right;
  color: #54c7fd;
  cursor: pointer;
}
.wayByLawer .wrap .form-wrap .box .c {
  min-height: 10px;
  background-color: #fff;
}
.wayByLawer .wrap .form-wrap .box .c .blo {
  padding: 20px 0;
  margin: 0 36px;
}
.wayByLawer .wrap .form-wrap .box .c .blo .line {
  margin-bottom: 10px;
}
.wayByLawer .wrap .form-wrap .box .c .blo .line .info {
  display: inline-block;
  width: 110px;
}
.wayByLawer .wrap .form-wrap .box .c .blo .line .m-dropdown {
  display: inline-block;
  line-height: 30px;
  width: 154px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  position: relative;
  margin-right: 10px;
}
.wayByLawer .wrap .form-wrap .box .c .blo .line .m-dropdown span {
  color: #a9a9a9;
}
.wayByLawer .wrap .form-wrap .box .c .blo .line .m-dropdown img {
  float: right;
  margin-top: 14px;
  cursor: pointer;
}
.wayByLawer .wrap .form-wrap .box .c .blo .line .details {
  display: inline-block;
}
.wayByLawer .wrap .form-wrap .box .c .blo .line .details input {
  line-height: 30px;
  height: 30px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 0 12px;
  margin-right: 10px;
  font-size: 14px;
}
.wayByLawer .wrap .form-wrap .box .c .blo .line .details input[name="name"],
.wayByLawer .wrap .form-wrap .box .c .blo .line .details input[name="idNum"],
.wayByLawer .wrap .form-wrap .box .c .blo .line .details input[name="phoneNumber"] {
  width: 180px;
}
.wayByLawer .wrap .form-wrap .box .c .blo .line .details input[name="province"],
.wayByLawer .wrap .form-wrap .box .c .blo .line .details input[name="city"],
.wayByLawer .wrap .form-wrap .box .c .blo .line .details input[name="county"] {
  width: 130px;
}
.wayByLawer .wrap .form-wrap .box .c .blo .line .details input[name="debt_money"] {
  width: 200px;
}
.wayByLawer .wrap .form-wrap .box .c .blo .line .details textarea {
  width: 848px;
  height: 90px;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
}
.wayByLawer .wrap .form-wrap .box .c .blo .comfirm-btns {
  text-align: center;
  margin: 80px 0 60px 0;
}
.wayByLawer .wrap .form-wrap .box .c .blo .comfirm-btns button {
  min-width: 120px;
  line-height: 36px;
  border: 0;
  background-color: #35bdfc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.wayByLawer .wrap .form-wrap .box .c .blo .comfirm-btns button:nth-child(1) {
  margin-right: 24px;
}
.wayByLawer .wrap .form-wrap .box .c .blo:not(:last-child) {
  border-bottom: 1px dashed #e6e6e6;
}
.wayByLawer .wrap .form-wrap .box .c .table-wrap {
  margin: 20px 60px 0;
}
.wayByLawer .wrap .form-wrap .box .c .table-wrap table {
  width: 100%;
  border: 1px solid #e6e6e6;
  border-collapse: collapse;
  margin-bottom: 24px;
}
.wayByLawer .wrap .form-wrap .box .c .table-wrap table thead tr {
  background-color: #f2f2f2;
  line-height: 40px;
  font-size: 14px;
  color: #666666;
  border-bottom: 1px solid #e6e6e6;
}
.wayByLawer .wrap .form-wrap .box .c .table-wrap table thead tr th {
  border-right: 1px solid #e6e6e6;
}
.wayByLawer .wrap .form-wrap .box .c .table-wrap table tbody tr {
  background-color: #fff;
  line-height: 40px;
  font-size: 14px;
  color: #666666;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
}
.wayByLawer .wrap .form-wrap .box .c .table-wrap table tbody tr td {
  border-right: 1px solid #e6e6e6;
}
.wayByLawer .wrap .form-wrap .box .c .table-wrap table tbody tr td button {
  min-width: 60px;
  line-height: 26px;
  border: 0;
  background-color: #35bdfc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.wayByLawer .wrap .form-wrap .box .c .pagination-wrap {
  height: 34px;
  padding: 0 54px;
  margin: 40px 0 30px;
}
.wayByDunner {
  width: 100%;
}
.wayByDunner .wrap {
  width: 1180px;
  margin: 0 auto;
  color: #666666;
}
.wayByDunner .wrap .current-loc {
  padding-top: 26px;
  padding-bottom: 17px;
  line-height: 20px;
}
.wayByDunner .wrap .current-loc img {
  vertical-align: middle;
  margin-top: -2px;
}
.wayByDunner .wrap .current-loc a {
  text-decoration: none;
  color: #666666;
}
.wayByDunner .wrap .form-wrap {
  border: 1px solid #e6e6e6;
  -moz-box-shadow: 0 0 2px #e6e6e6;
  box-shadow: 0 0 2px #e6e6e6;
  margin-bottom: 100px;
}
.wayByDunner .wrap .form-wrap .box .t {
  background-color: #eaf8ff;
  line-height: 50px;
  padding: 0 18px;
}
.wayByDunner .wrap .form-wrap .box .t img {
  vertical-align: middle;
  margin-top: -2px;
}
.wayByDunner .wrap .form-wrap .box .t .opt {
  float: right;
  color: #54c7fd;
  cursor: pointer;
}
.wayByDunner .wrap .form-wrap .box .c {
  min-height: 10px;
  background-color: #fff;
}
.wayByDunner .wrap .form-wrap .box .c .blo {
  padding: 20px 0;
  margin: 0 36px;
}
.wayByDunner .wrap .form-wrap .box .c .blo .line {
  margin-bottom: 10px;
}
.wayByDunner .wrap .form-wrap .box .c .blo .line .info {
  display: inline-block;
  width: 110px;
}
.wayByDunner .wrap .form-wrap .box .c .blo .line .m-dropdown {
  display: inline-block;
  line-height: 30px;
  width: 154px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  position: relative;
  margin-right: 10px;
}
.wayByDunner .wrap .form-wrap .box .c .blo .line .m-dropdown span {
  color: #a9a9a9;
}
.wayByDunner .wrap .form-wrap .box .c .blo .line .m-dropdown img {
  float: right;
  margin-top: 14px;
  cursor: pointer;
}
.wayByDunner .wrap .form-wrap .box .c .blo .line .details {
  display: inline-block;
}
.wayByDunner .wrap .form-wrap .box .c .blo .line .details input {
  line-height: 30px;
  height: 30px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 0 12px;
  margin-right: 10px;
  font-size: 14px;
}
.wayByDunner .wrap .form-wrap .box .c .blo .line .details input[name="name"],
.wayByDunner .wrap .form-wrap .box .c .blo .line .details input[name="idNum"],
.wayByDunner .wrap .form-wrap .box .c .blo .line .details input[name="phoneNumber"] {
  width: 180px;
}
.wayByDunner .wrap .form-wrap .box .c .blo .line .details input[name="province"],
.wayByDunner .wrap .form-wrap .box .c .blo .line .details input[name="city"],
.wayByDunner .wrap .form-wrap .box .c .blo .line .details input[name="county"] {
  width: 130px;
}
.wayByDunner .wrap .form-wrap .box .c .blo .line .details input[name="debt_money"] {
  width: 200px;
}
.wayByDunner .wrap .form-wrap .box .c .blo .line .details textarea {
  width: 848px;
  height: 90px;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
}
.wayByDunner .wrap .form-wrap .box .c .blo .comfirm-btns {
  text-align: center;
  margin: 80px 0 60px 0;
}
.wayByDunner .wrap .form-wrap .box .c .blo .comfirm-btns button {
  min-width: 120px;
  line-height: 36px;
  border: 0;
  background-color: #35bdfc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.wayByDunner .wrap .form-wrap .box .c .blo .comfirm-btns button:nth-child(1) {
  margin-right: 24px;
}
.wayByDunner .wrap .form-wrap .box .c .blo:not(:last-child) {
  border-bottom: 1px dashed #e6e6e6;
}
.wayByDunner .wrap .form-wrap .box .c .table-wrap {
  margin: 20px 60px 0;
}
.wayByDunner .wrap .form-wrap .box .c .table-wrap table {
  width: 100%;
  border: 1px solid #e6e6e6;
  border-collapse: collapse;
  margin-bottom: 24px;
}
.wayByDunner .wrap .form-wrap .box .c .table-wrap table thead tr {
  background-color: #f2f2f2;
  line-height: 40px;
  font-size: 14px;
  color: #666666;
  border-bottom: 1px solid #e6e6e6;
}
.wayByDunner .wrap .form-wrap .box .c .table-wrap table thead tr th {
  border-right: 1px solid #e6e6e6;
}
.wayByDunner .wrap .form-wrap .box .c .table-wrap table tbody tr {
  background-color: #fff;
  line-height: 40px;
  font-size: 14px;
  color: #666666;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
}
.wayByDunner .wrap .form-wrap .box .c .table-wrap table tbody tr td {
  border-right: 1px solid #e6e6e6;
}
.wayByDunner .wrap .form-wrap .box .c .table-wrap table tbody tr td button {
  min-width: 60px;
  line-height: 26px;
  border: 0;
  background-color: #35bdfc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.wayByDunner .wrap .form-wrap .box .c .pagination-wrap {
  height: 34px;
  padding: 0 54px;
  margin: 40px 0 30px;
}
.debtorSearch {
  width: 100%;
  background: url('../imgs/debtor_search_bg.png') 0 center no-repeat;
  min-height: 814px;
  padding-top: 74px;
}
.debtorSearch .wrap {
  width: 1180px;
  margin: 0 auto;
}
.debtorSearch .wrap .sercher {
  height: 94px;
  width: 600px;
  margin: 0 auto;
}
.debtorSearch .wrap .sercher .left {
  float: left;
  width: 500px;
}
.debtorSearch .wrap .sercher .left .line:nth-child(1) {
  margin-bottom: 10px;
}
.debtorSearch .wrap .sercher .left .line:nth-child(1) input {
  line-height: 40px;
  height: 40px;
  border: 1px solid #94dafb;
  border-radius: 5px;
  padding: 0 10px;
  width: 320px;
  background-color: transparent;
  margin-right: 10px;
}
.debtorSearch .wrap .sercher .left .line:nth-child(1) .m-dropdown {
  display: inline-block;
  line-height: 40px;
  width: 120px;
  border: 1px solid #94dafb;
  border-radius: 5px;
  padding: 0 10px;
  position: relative;
}
.debtorSearch .wrap .sercher .left .line:nth-child(1) .m-dropdown span {
  color: #a9a9a9;
}
.debtorSearch .wrap .sercher .left .line:nth-child(1) .m-dropdown img {
  float: right;
  margin-top: 17px;
}
.debtorSearch .wrap .sercher .left .line:nth-child(2) input {
  width: 478px;
  line-height: 40px;
  height: 40px;
  border: 1px solid #94dafb;
  border-radius: 5px;
  padding: 0 10px;
  background-color: transparent;
}
.debtorSearch .wrap .sercher .right {
  float: left;
  margin-left: 10px;
}
.debtorSearch .wrap .sercher .right button {
  width: 90px;
  line-height: 90px;
  border: 0;
  background-color: #35bdfc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.debtorSearch .wrap .map {
  text-align: center;
  margin-top: 40px;
}
.reg .form-reg {
  width: 604px;
  height: 483px;
  margin: 40px auto;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  -moz-box-shadow: 0 0 2px #e6e6e6;
  box-shadow: 0 0 2px #e6e6e6;
}
.reg .form-reg .hd {
  background-color: #f5f5f5;
  line-height: 60px;
  text-align: center;
  color: #35bdfc;
  font-size: 20px;
}
.reg .form-reg .cont .line {
  width: 390px;
  margin: 24px auto;
  position: relative;
}
.reg .form-reg .cont .line .info {
  width: 90px;
  display: inline-block;
  color: #666666;
  line-height: 40px;
}
.reg .form-reg .cont .line .det {
  display: inline-block;
  font-size: 14px;
  line-height: 40px;
}
.reg .form-reg .cont .line .det .input-1 {
  width: 240px;
  padding: 12px 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}
.reg .form-reg .cont .line .det .input-2 {
  width: 130px;
  padding: 12px 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}
.reg .form-reg .cont .line .det .comfirm-code {
  min-width: 100px;
  line-height: 40px;
  border: 0;
  background-color: #d7f2fe;
  border-radius: 5px;
  color: #35bdfc;
  cursor: pointer;
  margin-left: 10px;
}
.reg .form-reg .cont .line .error-hint {
  color: #fe2929;
  position: absolute;
  left: 100px;
  top: 47px;
  font-size: 12px;
}
.reg .form-reg .cont .agreen-protocal {
  width: 390px;
  margin: 26px auto 16px;
  padding-left: 194px;
  color: #666;
}
.reg .form-reg .cont .agreen-protocal span {
  color: #35bdfc;
  cursor: pointer;
}
.reg .form-reg .cont .btn-reg {
  text-align: center;
}
.reg .form-reg .cont .btn-reg button {
  min-width: 280px;
  line-height: 40px;
  border: 0;
  background-color: #35bdfc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.reg .form-reg .cont .hav {
  text-align: center;
  color: #ccc;
  margin-top: 15px;
}
.reg .form-reg .cont .hav span {
  text-decoration: underline;
  color: #35bdfc;
  cursor: pointer;
}
.reg .protocal-pop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(199, 199, 199, 0.6);
  z-index: 100;
  display: none;
}
.reg .protocal-pop .popup {
  width: 600px;
  margin: 0 auto;
  height: 504px;
  background-color: #fff;
  margin-top: 144px;
}
.reg .protocal-pop .popup .hd {
  line-height: 60px;
  background-color: #f5f5f5;
  color: #35bdfc;
  font-size: 20px;
  padding-left: 20px;
}
.reg .protocal-pop .popup .hd .close {
  float: right;
  padding-right: 20px;
  cursor: pointer;
}
.reg .protocal-pop .popup .cont .para {
  height: 330px;
  overflow-y: scroll;
  padding: 16px;
  font-size: 14px;
  color: #666;
}
.reg .protocal-pop .popup .cont .para p {
  margin: 10px;
  text-indent: 28px;
}
.reg .protocal-pop .popup .cont .confirm-btn {
  margin-top: 15px;
  text-align: center;
}
.reg .protocal-pop .popup .cont .confirm-btn button {
  min-width: 280px;
  line-height: 40px;
  border: 0;
  background-color: #35bdfc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.login .form-login {
  width: 460px;
  height: 360px;
  margin: 40px auto;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  -moz-box-shadow: 0 0 2px #e6e6e6;
  box-shadow: 0 0 2px #e6e6e6;
}
.login .form-login .hd {
  background-color: #f5f5f5;
  line-height: 60px;
  text-align: center;
  color: #35bdfc;
  font-size: 20px;
}
.login .form-login .cont .forget-pass {
  text-align: right;
  padding-right: 62px;
  color: #666;
  cursor: pointer;
  font-size: 14px;
}
.login .form-login .cont .forget-pass:hover {
  color: #35bdfc;
}
.login .form-login .cont .line {
  width: 390px;
  margin: 24px auto;
  position: relative;
}
.login .form-login .cont .line .info {
  width: 90px;
  display: inline-block;
  color: #666666;
  line-height: 40px;
  text-align: center;
}
.login .form-login .cont .line .det {
  display: inline-block;
  font-size: 14px;
  line-height: 40px;
}
.login .form-login .cont .line .det .input-1 {
  width: 240px;
  padding: 12px 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}
.login .form-login .cont .line .det .input-2 {
  width: 130px;
  padding: 12px 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}
.login .form-login .cont .line .det .comfirm-code {
  min-width: 100px;
  line-height: 40px;
  border: 0;
  background-color: #d7f2fe;
  border-radius: 5px;
  color: #35bdfc;
  cursor: pointer;
  margin-left: 10px;
}
.login .form-login .cont .line .det .btn-login {
  min-width: 262px;
  line-height: 40px;
  border: 0;
  background-color: #35bdfc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.login .form-login .cont .line .error-hint {
  color: #fe2929;
  position: absolute;
  left: 100px;
  top: 47px;
  font-size: 12px;
}
.login .form-login .cont .hav {
  text-align: center;
  color: #ccc;
  margin-top: 15px;
}
.login .form-login .cont .hav span {
  color: #35bdfc;
  cursor: pointer;
}
.reset .form-reset {
  width: 464px;
  height: 432px;
  margin: 40px auto;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  -moz-box-shadow: 0 0 2px #e6e6e6;
  box-shadow: 0 0 2px #e6e6e6;
}
.reset .form-reset .hd {
  background-color: #f5f5f5;
  line-height: 60px;
  text-align: center;
  color: #35bdfc;
  font-size: 20px;
}
.reset .form-reset .cont .line {
  width: 390px;
  margin: 24px auto;
  position: relative;
}
.reset .form-reset .cont .line .info {
  width: 90px;
  display: inline-block;
  color: #666666;
  line-height: 40px;
}
.reset .form-reset .cont .line .det {
  display: inline-block;
  font-size: 14px;
  line-height: 40px;
}
.reset .form-reset .cont .line .det .input-1 {
  width: 240px;
  padding: 12px 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}
.reset .form-reset .cont .line .det .input-2 {
  width: 130px;
  padding: 12px 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}
.reset .form-reset .cont .line .det .comfirm-code {
  min-width: 100px;
  line-height: 40px;
  border: 0;
  background-color: #d7f2fe;
  border-radius: 5px;
  color: #35bdfc;
  cursor: pointer;
  margin-left: 10px;
}
.reset .form-reset .cont .line .det .btn-reset {
  min-width: 262px;
  line-height: 40px;
  border: 0;
  background-color: #35bdfc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.reset .form-reset .cont .line .error-hint {
  color: #fe2929;
  position: absolute;
  left: 100px;
  top: 47px;
  font-size: 12px;
}
.sel-role .wrap {
  width: 1180px;
  margin: 60px auto 110px;
  color: #666666;
}
.sel-role .wrap .tl {
  font-size: 30px;
  text-align: center;
  margin-bottom: 90px;
}
.sel-role .wrap .tl span {
  color: #35bdfc;
  cursor: pointer;
}
.sel-role .wrap .cont {
  height: 280px;
}
.sel-role .wrap .cont .bx {
  float: left;
  width: 590px;
  text-align: center;
}
.sel-role .wrap .cont .bx button {
  min-width: 140px;
  line-height: 37px;
  border: 0;
  background-color: #35bdfc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-top: 5px;
}
.debtor-auth .wrap {
  width: 1180px;
  margin: 64px auto 90px;
}
.debtor-auth .wrap .bx-person {
  height: 740px;
}
.debtor-auth .wrap .bx-company {
  height: 920px;
}
.debtor-auth .wrap .bx-lawer {
  height: 834px;
}
.debtor-auth .wrap .bx-person,
.debtor-auth .wrap .bx-company,
.debtor-auth .wrap .bx-lawer {
  width: 960px;
  margin: 0 auto;
  -moz-box-shadow: 0 0 2px #e6e6e6;
  box-shadow: 0 0 2px #e6e6e6;
  border: 1px solid #e6e6e6;
}
.debtor-auth .wrap .bx-person .tl,
.debtor-auth .wrap .bx-company .tl,
.debtor-auth .wrap .bx-lawer .tl {
  line-height: 64px;
  font-size: 20px;
}
.debtor-auth .wrap .bx-person .tl .tb,
.debtor-auth .wrap .bx-company .tl .tb,
.debtor-auth .wrap .bx-lawer .tl .tb {
  width: 320px;
  color: #666;
  float: left;
  border-top: 2px solid #f5f5f5;
  text-align: center;
  background-color: #f5f5f5;
  cursor: pointer;
}
.debtor-auth .wrap .bx-person .tl .act,
.debtor-auth .wrap .bx-company .tl .act,
.debtor-auth .wrap .bx-lawer .tl .act {
  background-color: #fff;
  color: #35bdfc;
  border-top: 2px solid #35bdfc;
}
.debtor-auth .wrap .bx-person .cont,
.debtor-auth .wrap .bx-company .cont,
.debtor-auth .wrap .bx-lawer .cont {
  color: #999;
}
.debtor-auth .wrap .bx-person .cont .role-img,
.debtor-auth .wrap .bx-company .cont .role-img,
.debtor-auth .wrap .bx-lawer .cont .role-img {
  float: left;
  width: 334px;
  text-align: center;
  padding-top: 90px;
}
.debtor-auth .wrap .bx-person .cont .info-form,
.debtor-auth .wrap .bx-company .cont .info-form,
.debtor-auth .wrap .bx-lawer .cont .info-form {
  float: left;
  width: 620px;
  padding-top: 30px;
}
.debtor-auth .wrap .bx-person .cont .info-form .line,
.debtor-auth .wrap .bx-company .cont .info-form .line,
.debtor-auth .wrap .bx-lawer .cont .info-form .line,
.debtor-auth .wrap .bx-person .cont .info-form .line-1,
.debtor-auth .wrap .bx-company .cont .info-form .line-1,
.debtor-auth .wrap .bx-lawer .cont .info-form .line-1 {
  line-height: 36px;
  height: 36px;
  margin-bottom: 10px;
}
.debtor-auth .wrap .bx-person .cont .info-form .line .if,
.debtor-auth .wrap .bx-company .cont .info-form .line .if,
.debtor-auth .wrap .bx-lawer .cont .info-form .line .if,
.debtor-auth .wrap .bx-person .cont .info-form .line-1 .if,
.debtor-auth .wrap .bx-company .cont .info-form .line-1 .if,
.debtor-auth .wrap .bx-lawer .cont .info-form .line-1 .if {
  width: 90px;
  height: 36px;
  float: left;
}
.debtor-auth .wrap .bx-person .cont .info-form .line .cont-in,
.debtor-auth .wrap .bx-company .cont .info-form .line .cont-in,
.debtor-auth .wrap .bx-lawer .cont .info-form .line .cont-in,
.debtor-auth .wrap .bx-person .cont .info-form .line-1 .cont-in,
.debtor-auth .wrap .bx-company .cont .info-form .line-1 .cont-in,
.debtor-auth .wrap .bx-lawer .cont .info-form .line-1 .cont-in {
  width: 530px;
  float: left;
}
.debtor-auth .wrap .bx-person .cont .info-form .line .cont-in input,
.debtor-auth .wrap .bx-company .cont .info-form .line .cont-in input,
.debtor-auth .wrap .bx-lawer .cont .info-form .line .cont-in input,
.debtor-auth .wrap .bx-person .cont .info-form .line-1 .cont-in input,
.debtor-auth .wrap .bx-company .cont .info-form .line-1 .cont-in input,
.debtor-auth .wrap .bx-lawer .cont .info-form .line-1 .cont-in input {
  padding: 6px 10px;
  width: 320px;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  font-size: 14px;
}
.debtor-auth .wrap .bx-person .cont .info-form .line .cont-in button,
.debtor-auth .wrap .bx-company .cont .info-form .line .cont-in button,
.debtor-auth .wrap .bx-lawer .cont .info-form .line .cont-in button,
.debtor-auth .wrap .bx-person .cont .info-form .line-1 .cont-in button,
.debtor-auth .wrap .bx-company .cont .info-form .line-1 .cont-in button,
.debtor-auth .wrap .bx-lawer .cont .info-form .line-1 .cont-in button {
  min-width: 340px;
  line-height: 40px;
  border: 0;
  background-color: #35bdfc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}
.debtor-auth .wrap .bx-person .cont .info-form .line .cont-in .bx-1,
.debtor-auth .wrap .bx-company .cont .info-form .line .cont-in .bx-1,
.debtor-auth .wrap .bx-lawer .cont .info-form .line .cont-in .bx-1,
.debtor-auth .wrap .bx-person .cont .info-form .line-1 .cont-in .bx-1,
.debtor-auth .wrap .bx-company .cont .info-form .line-1 .cont-in .bx-1,
.debtor-auth .wrap .bx-lawer .cont .info-form .line-1 .cont-in .bx-1,
.debtor-auth .wrap .bx-person .cont .info-form .line .cont-in .bx-1-1,
.debtor-auth .wrap .bx-company .cont .info-form .line .cont-in .bx-1-1,
.debtor-auth .wrap .bx-lawer .cont .info-form .line .cont-in .bx-1-1,
.debtor-auth .wrap .bx-person .cont .info-form .line-1 .cont-in .bx-1-1,
.debtor-auth .wrap .bx-company .cont .info-form .line-1 .cont-in .bx-1-1,
.debtor-auth .wrap .bx-lawer .cont .info-form .line-1 .cont-in .bx-1-1 {
  font-size: 14px;
  text-align: center;
  float: left;
  margin-right: 20px;
}
.debtor-auth .wrap .bx-person .cont .info-form .line .cont-in .bx-1 .i-wrap,
.debtor-auth .wrap .bx-company .cont .info-form .line .cont-in .bx-1 .i-wrap,
.debtor-auth .wrap .bx-lawer .cont .info-form .line .cont-in .bx-1 .i-wrap,
.debtor-auth .wrap .bx-person .cont .info-form .line-1 .cont-in .bx-1 .i-wrap,
.debtor-auth .wrap .bx-company .cont .info-form .line-1 .cont-in .bx-1 .i-wrap,
.debtor-auth .wrap .bx-lawer .cont .info-form .line-1 .cont-in .bx-1 .i-wrap,
.debtor-auth .wrap .bx-person .cont .info-form .line .cont-in .bx-1-1 .i-wrap,
.debtor-auth .wrap .bx-company .cont .info-form .line .cont-in .bx-1-1 .i-wrap,
.debtor-auth .wrap .bx-lawer .cont .info-form .line .cont-in .bx-1-1 .i-wrap,
.debtor-auth .wrap .bx-person .cont .info-form .line-1 .cont-in .bx-1-1 .i-wrap,
.debtor-auth .wrap .bx-company .cont .info-form .line-1 .cont-in .bx-1-1 .i-wrap,
.debtor-auth .wrap .bx-lawer .cont .info-form .line-1 .cont-in .bx-1-1 .i-wrap {
  width: 150px;
  height: 100px;
  background-color: #e5e5e5;
}
.debtor-auth .wrap .bx-person .cont .info-form .line .cont-in .bx-1 .i-wrap img,
.debtor-auth .wrap .bx-company .cont .info-form .line .cont-in .bx-1 .i-wrap img,
.debtor-auth .wrap .bx-lawer .cont .info-form .line .cont-in .bx-1 .i-wrap img,
.debtor-auth .wrap .bx-person .cont .info-form .line-1 .cont-in .bx-1 .i-wrap img,
.debtor-auth .wrap .bx-company .cont .info-form .line-1 .cont-in .bx-1 .i-wrap img,
.debtor-auth .wrap .bx-lawer .cont .info-form .line-1 .cont-in .bx-1 .i-wrap img,
.debtor-auth .wrap .bx-person .cont .info-form .line .cont-in .bx-1-1 .i-wrap img,
.debtor-auth .wrap .bx-company .cont .info-form .line .cont-in .bx-1-1 .i-wrap img,
.debtor-auth .wrap .bx-lawer .cont .info-form .line .cont-in .bx-1-1 .i-wrap img,
.debtor-auth .wrap .bx-person .cont .info-form .line-1 .cont-in .bx-1-1 .i-wrap img,
.debtor-auth .wrap .bx-company .cont .info-form .line-1 .cont-in .bx-1-1 .i-wrap img,
.debtor-auth .wrap .bx-lawer .cont .info-form .line-1 .cont-in .bx-1-1 .i-wrap img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.debtor-auth .wrap .bx-person .cont .info-form .line .cont-in .bx-1 span,
.debtor-auth .wrap .bx-company .cont .info-form .line .cont-in .bx-1 span,
.debtor-auth .wrap .bx-lawer .cont .info-form .line .cont-in .bx-1 span,
.debtor-auth .wrap .bx-person .cont .info-form .line-1 .cont-in .bx-1 span,
.debtor-auth .wrap .bx-company .cont .info-form .line-1 .cont-in .bx-1 span,
.debtor-auth .wrap .bx-lawer .cont .info-form .line-1 .cont-in .bx-1 span,
.debtor-auth .wrap .bx-person .cont .info-form .line .cont-in .bx-1-1 span,
.debtor-auth .wrap .bx-company .cont .info-form .line .cont-in .bx-1-1 span,
.debtor-auth .wrap .bx-lawer .cont .info-form .line .cont-in .bx-1-1 span,
.debtor-auth .wrap .bx-person .cont .info-form .line-1 .cont-in .bx-1-1 span,
.debtor-auth .wrap .bx-company .cont .info-form .line-1 .cont-in .bx-1-1 span,
.debtor-auth .wrap .bx-lawer .cont .info-form .line-1 .cont-in .bx-1-1 span {
  color: #35bdfc;
  cursor: pointer;
}
.debtor-auth .wrap .bx-person .cont .info-form .line .cont-in .bx-1-1 .i-wrap,
.debtor-auth .wrap .bx-company .cont .info-form .line .cont-in .bx-1-1 .i-wrap,
.debtor-auth .wrap .bx-lawer .cont .info-form .line .cont-in .bx-1-1 .i-wrap,
.debtor-auth .wrap .bx-person .cont .info-form .line-1 .cont-in .bx-1-1 .i-wrap,
.debtor-auth .wrap .bx-company .cont .info-form .line-1 .cont-in .bx-1-1 .i-wrap,
.debtor-auth .wrap .bx-lawer .cont .info-form .line-1 .cont-in .bx-1-1 .i-wrap {
  width: 160px;
}
.debtor-auth .wrap .bx-person .cont .info-form .line .m-dropdown,
.debtor-auth .wrap .bx-company .cont .info-form .line .m-dropdown,
.debtor-auth .wrap .bx-lawer .cont .info-form .line .m-dropdown,
.debtor-auth .wrap .bx-person .cont .info-form .line-1 .m-dropdown,
.debtor-auth .wrap .bx-company .cont .info-form .line-1 .m-dropdown,
.debtor-auth .wrap .bx-lawer .cont .info-form .line-1 .m-dropdown {
  display: inline-block;
  line-height: 30px;
  width: 320px;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  padding: 0 10px;
  font-size: 14px;
  position: relative;
  margin-right: 10px;
}
.debtor-auth .wrap .bx-person .cont .info-form .line .m-dropdown span,
.debtor-auth .wrap .bx-company .cont .info-form .line .m-dropdown span,
.debtor-auth .wrap .bx-lawer .cont .info-form .line .m-dropdown span,
.debtor-auth .wrap .bx-person .cont .info-form .line-1 .m-dropdown span,
.debtor-auth .wrap .bx-company .cont .info-form .line-1 .m-dropdown span,
.debtor-auth .wrap .bx-lawer .cont .info-form .line-1 .m-dropdown span {
  color: #a9a9a9;
}
.debtor-auth .wrap .bx-person .cont .info-form .line .m-dropdown img,
.debtor-auth .wrap .bx-company .cont .info-form .line .m-dropdown img,
.debtor-auth .wrap .bx-lawer .cont .info-form .line .m-dropdown img,
.debtor-auth .wrap .bx-person .cont .info-form .line-1 .m-dropdown img,
.debtor-auth .wrap .bx-company .cont .info-form .line-1 .m-dropdown img,
.debtor-auth .wrap .bx-lawer .cont .info-form .line-1 .m-dropdown img {
  float: right;
  margin-top: 14px;
  cursor: pointer;
}
.debtor-auth .wrap .bx-person .cont .info-form .line-1,
.debtor-auth .wrap .bx-company .cont .info-form .line-1,
.debtor-auth .wrap .bx-lawer .cont .info-form .line-1 {
  height: 120px;
}
.person-role-auth .wrap {
  width: 1180px;
  margin: 64px auto 90px;
}
.person-role-auth .wrap .bx {
  width: 960px;
  margin: 0 auto;
  -moz-box-shadow: 0 0 2px #e6e6e6;
  box-shadow: 0 0 2px #e6e6e6;
  border: 1px solid #e6e6e6;
  height: 740px;
}
.person-role-auth .wrap .bx .tl {
  text-align: center;
  color: #35bdfc;
  line-height: 64px;
  font-size: 20px;
  background-color: #f5f5f5;
}
.person-role-auth .wrap .bx .cont {
  color: #999;
}
.person-role-auth .wrap .bx .cont .role-img {
  float: left;
  width: 334px;
  text-align: center;
  padding-top: 90px;
}
.person-role-auth .wrap .bx .cont .info-form {
  float: left;
  width: 620px;
  padding-top: 30px;
}
.person-role-auth .wrap .bx .cont .info-form .line,
.person-role-auth .wrap .bx .cont .info-form .line-1 {
  line-height: 36px;
  height: 36px;
  margin-bottom: 10px;
}
.person-role-auth .wrap .bx .cont .info-form .line .if,
.person-role-auth .wrap .bx .cont .info-form .line-1 .if {
  width: 90px;
  height: 36px;
  float: left;
}
.person-role-auth .wrap .bx .cont .info-form .line .cont-in,
.person-role-auth .wrap .bx .cont .info-form .line-1 .cont-in {
  width: 530px;
  float: left;
}
.person-role-auth .wrap .bx .cont .info-form .line .cont-in input,
.person-role-auth .wrap .bx .cont .info-form .line-1 .cont-in input {
  padding: 6px 10px;
  width: 320px;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  font-size: 14px;
}
.person-role-auth .wrap .bx .cont .info-form .line .cont-in button,
.person-role-auth .wrap .bx .cont .info-form .line-1 .cont-in button {
  min-width: 340px;
  line-height: 40px;
  border: 0;
  background-color: #35bdfc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}
.person-role-auth .wrap .bx .cont .info-form .line .cont-in .bx-1,
.person-role-auth .wrap .bx .cont .info-form .line-1 .cont-in .bx-1 {
  font-size: 14px;
  text-align: center;
  float: left;
  margin-right: 20px;
}
.person-role-auth .wrap .bx .cont .info-form .line .cont-in .bx-1 .i-wrap,
.person-role-auth .wrap .bx .cont .info-form .line-1 .cont-in .bx-1 .i-wrap {
  width: 160px;
  height: 100px;
  background-color: #e5e5e5;
}
.person-role-auth .wrap .bx .cont .info-form .line .cont-in .bx-1 .i-wrap img,
.person-role-auth .wrap .bx .cont .info-form .line-1 .cont-in .bx-1 .i-wrap img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.person-role-auth .wrap .bx .cont .info-form .line .cont-in .bx-1 span,
.person-role-auth .wrap .bx .cont .info-form .line-1 .cont-in .bx-1 span {
  color: #35bdfc;
  cursor: pointer;
}
.person-role-auth .wrap .bx .cont .info-form .line .m-dropdown,
.person-role-auth .wrap .bx .cont .info-form .line-1 .m-dropdown {
  display: inline-block;
  line-height: 30px;
  width: 320px;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  padding: 0 10px;
  font-size: 14px;
  position: relative;
  margin-right: 10px;
}
.person-role-auth .wrap .bx .cont .info-form .line .m-dropdown span,
.person-role-auth .wrap .bx .cont .info-form .line-1 .m-dropdown span {
  color: #a9a9a9;
}
.person-role-auth .wrap .bx .cont .info-form .line .m-dropdown img,
.person-role-auth .wrap .bx .cont .info-form .line-1 .m-dropdown img {
  float: right;
  margin-top: 14px;
  cursor: pointer;
}
.person-role-auth .wrap .bx .cont .info-form .line-1 {
  height: 120px;
}
.pop-hint {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(199, 199, 199, 0.6);
  z-index: 100;
  display: none;
}
.pop-hint .popup {
  width: 360px;
  margin: 0 auto;
  min-height: 260px;
  margin-top: 240px;
  background-color: #fff;
}
.pop-hint .popup .hd {
  line-height: 60px;
  background-color: #f5f5f5;
  color: #35bdfc;
  font-size: 20px;
  padding-left: 20px;
}
.pop-hint .popup .cont .para {
  font-size: 18px;
  line-height: 20px;
  color: #666;
  padding: 50px 10px 50px;
  text-align: center;
}
.pop-hint .popup .cont .para img {
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 5px;
}
.pop-hint .popup .cont .confirm-btn {
  text-align: center;
}
.pop-hint .popup .cont .confirm-btn button {
  min-width: 120px;
  line-height: 40px;
  border: 0;
  background-color: #35bdfc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.pop-login {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(199, 199, 199, 0.6);
  z-index: 100;
  padding-top: 100px;
}
.pop-login .form-login {
  width: 460px;
  height: 360px;
  margin: 40px auto;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  -moz-box-shadow: 0 0 2px #e6e6e6;
  box-shadow: 0 0 2px #e6e6e6;
}
.pop-login .form-login .hd {
  background-color: #f5f5f5;
  line-height: 60px;
  text-align: center;
  color: #35bdfc;
  font-size: 20px;
}
.pop-login .form-login .cont .forget-pass {
  text-align: right;
  padding-right: 62px;
  color: #666;
  cursor: pointer;
  font-size: 14px;
}
.pop-login .form-login .cont .forget-pass:hover {
  color: #35bdfc;
}
.pop-login .form-login .cont .line {
  width: 390px;
  margin: 24px auto;
  position: relative;
}
.pop-login .form-login .cont .line .info {
  width: 90px;
  display: inline-block;
  color: #666666;
  line-height: 40px;
  text-align: center;
}
.pop-login .form-login .cont .line .det {
  display: inline-block;
  font-size: 14px;
  line-height: 40px;
}
.pop-login .form-login .cont .line .det .input-1 {
  width: 240px;
  padding: 12px 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}
.pop-login .form-login .cont .line .det .input-2 {
  width: 130px;
  padding: 12px 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}
.pop-login .form-login .cont .line .det .comfirm-code {
  min-width: 100px;
  line-height: 40px;
  border: 0;
  background-color: #d7f2fe;
  border-radius: 5px;
  color: #35bdfc;
  cursor: pointer;
  margin-left: 10px;
}
.pop-login .form-login .cont .line .det .btn-login {
  min-width: 262px;
  line-height: 40px;
  border: 0;
  background-color: #35bdfc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.pop-login .form-login .cont .line .error-hint {
  color: #fe2929;
  position: absolute;
  left: 100px;
  top: 47px;
  font-size: 12px;
}
.pop-login .form-login .cont .hav {
  text-align: center;
  color: #ccc;
  margin-top: 15px;
}
.pop-login .form-login .cont .hav span {
  color: #35bdfc;
  cursor: pointer;
}
.personal-company .wrap {
  width: 1180px;
  margin: 0 auto;
  color: #666;
}
.personal-company .wrap .current-loc {
  padding-top: 26px;
  padding-bottom: 17px;
  line-height: 20px;
}
.personal-company .wrap .current-loc img {
  vertical-align: middle;
  margin-top: -2px;
}
.personal-company .wrap .current-loc a {
  text-decoration: none;
  color: #666666;
}
.personal-company .wrap .current-loc span {
  color: #999;
}
.personal-company .wrap .menu-cont-wraper {
  margin-bottom: 100px;
}
.personal-company .wrap .menu-cont-wraper .menu-bar {
  background-color: #2f88b1;
  color: #fff;
  width: 200px;
  min-height: 1100px;
  float: left;
  -moz-box-shadow: 0 0 2px #e6e6e6;
  box-shadow: 0 0 2px #e6e6e6;
  border-radius: 5px;
}
.personal-company .wrap .menu-cont-wraper .menu-bar .u-img {
  border-radius: 50%;
  margin: 30px auto 0 55px;
}
.personal-company .wrap .menu-cont-wraper .menu-bar .nick-name {
  text-align: center;
  font-size: 14px;
  margin: 20px 0;
}
.personal-company .wrap .menu-cont-wraper .menu-bar button {
  min-width: 80px;
  line-height: 30px;
  border: 0;
  background-color: #35bdfc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  outline: 0;
  margin: 0 auto 20px 55px;
  font-size: 14px;
}
.personal-company .wrap .menu-cont-wraper .menu-bar .menu-l1 {
  font-size: 14px;
  padding-left: 20px;
  line-height: 40px;
  cursor: pointer;
  border-top: 1px solid #3e9dc9;
}
.personal-company .wrap .menu-cont-wraper .menu-bar .menu-l1 .img-l {
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 5px;
}
.personal-company .wrap .menu-cont-wraper .menu-bar .menu-l1 .img-r {
  float: right;
  margin-top: 16px;
  margin-right: 15px;
}
.personal-company .wrap .menu-cont-wraper .menu-bar .menu-l1:nth-last-child(1) {
  border-bottom: 1px solid #3e9dc9;
}
.personal-company .wrap .menu-cont-wraper .menu-bar .menu-l1-act {
  background-color: #319bcc;
}
.personal-company .wrap .menu-cont-wraper .menu-bar .menu-l2 {
  line-height: 36px;
  padding-left: 44px;
  background-color: #2d7ca1;
  font-size: 14px;
  cursor: pointer;
}
.personal-company .wrap .menu-cont-wraper .menu-bar .menu-l2-act {
  background-color: #328bb4;
  border-left: 4px solid #35bdfc;
}
.personal-company .wrap .menu-cont-wraper .menu-cont {
  background-color: #fff;
  width: 970px;
  min-height: 1100px;
  -moz-box-shadow: 0 0 2px #e6e6e6;
  box-shadow: 0 0 2px #e6e6e6;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  margin-left: 210px;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .tab-hd {
  background-color: #c2ebfe;
  color: #666;
  height: 40px;
  line-height: 40px;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .tab-hd .tb {
  min-width: 112px;
  padding: 0 10px;
  cursor: pointer;
  float: left;
  text-align: center;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .tab-hd .act {
  background-color: #fff;
  color: #35bdfc;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .tb-sel {
  margin: 0 20px;
  padding: 20px 0;
  border-bottom: 1px dashed #e6e6e6;
  font-size: 14px;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .tb-sel .tb {
  display: inline-block;
  margin-left: 14px;
  padding: 4px 8px;
  cursor: pointer;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .tb-sel .act {
  background-color: #35bdfc;
  color: #fff;
  border-radius: 2px;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .table {
  margin: 0 20px;
  padding: 20px 0 0;
  border-bottom: 1px dashed #e6e6e6;
  font-size: 14px;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .table .m-c {
  color: #f85951;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .table .sta-1 {
  font-weight: 600;
  color: #f85951;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .table .sta-2 {
  font-weight: 600;
  color: #fbab10;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .table .sta-3 {
  font-weight: 600;
  color: #0f83b9;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .table .det {
  cursor: pointer;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .table .opt .cal {
  cursor: pointer;
  color: #fd2929;
  text-decoration: underline;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .table .opt .del {
  cursor: pointer;
  color: #666666;
  text-decoration: underline;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .table table {
  width: 100%;
  border: 1px solid #e6e6e6;
  border-collapse: collapse;
  margin-bottom: 24px;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .table table thead tr {
  background-color: #f2f2f2;
  line-height: 40px;
  font-size: 14px;
  color: #666666;
  border-bottom: 1px solid #e6e6e6;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .table table thead tr th {
  border-right: 1px solid #e6e6e6;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .table table tbody tr {
  background-color: #fff;
  line-height: 40px;
  font-size: 14px;
  color: #666666;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .table table tbody tr td {
  border-right: 1px solid #e6e6e6;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .pagination-wrap {
  margin: 20px;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .info-m {
  margin: 0 20px;
  padding: 20px 0;
  border-bottom: 1px dashed #e6e6e6;
  height: 100px;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .info-m .head-portrait {
  text-align: center;
  width: 106px;
  float: left;
  margin-right: 40px;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .info-m .head-portrait img {
  width: 80px;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .info-m .head-portrait span {
  text-decoration: underline;
  cursor: pointer;
  color: #35bdfc;
  font-size: 14px;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .info-m .info-blk {
  float: left;
  width: 340px;
  font-size: 14px;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .info-m .info-blk .line {
  line-height: 37px;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .info-o {
  margin: 20px 20px 0 20px;
  font-size: 14px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #e6e6e6;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .info-o .line {
  line-height: 50px;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .info-o .line .if {
  width: 116px;
  margin-left: 30px;
  float: left;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .info-o .line-img .if {
  width: 116px;
  margin-left: 30px;
  float: left;
  line-height: 50px;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .info-o .line-img .cont .bx {
  text-align: center;
  display: inline-block;
  margin-right: 15px;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .info-o .line-img .cont .bx .img-wrap {
  width: 150px;
  height: 100px;
  background-color: #e9e9e9;
  margin-bottom: 10px;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .to-opt {
  padding: 0 20px;
  margin-top: 40px;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .to-opt .cont {
  float: right;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .to-opt .cont button {
  min-width: 120px;
  line-height: 36px;
  border: 0;
  background-color: #35bdfc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-left: 20px;
}
