{template Head}
<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb panel">
                <li>
                    <a href="#"><i class="fa fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="#">债务信息管理</a>
                </li>
                <li>
                    <a href="/index.php?Module=Debt&Action=DebtList" class="position">债务管理</a>
                </li>
                <li class="active position">债务列表</li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <form action='/index.php?Module=Debt&Action=DebtList'  method='post'  enctype="multipart/form-data">
                        <table class="table table-bordered table-striped table-hover">
                            <tr>
                                <td colspan="3" class="t-h">债务详情：</td>
                            </tr>
                            <tr>
                                <td>发布人：{$UserInfo[RealName]}</td>
                                <td>债务人名字：{$DebtInfo[DebtInfo]['peopleone']['name]}</td>
                                <td>债务人身份证：{$Data[CardNum]}</td>
                            </tr>
                            <tr>
                                <td>地区：{$Data[Province]}-{$Data[City]}-{$Data[Area]}</td>
                                <td>金额：{$Data[Money]}</td>
                                <td>逾期时间：{$Data[Overduetime]}</td>
                            </tr>
                            <tr>
                                <td>借款原因：{$Data[BorrowReason]}</td>
                                <td>债务近况：{$Data[DebtRecent]}</td>
                                <td>联系电话：{$Data[Phone]}</td>
                            </tr>
                            <tr>
                                <td>欠款人有无还款能力：{if $Data[RepaymentDebtor]==0}否{elseif $Data[RepaymentDebtor]==1}是{/if}</td>
                                <td>欠款人是否随时找得到：{if $Data[FindDebtor]==0}否{elseif $Data[FindDebtor]==1}是{/if}</td>
                                <td>有无抵押物：{if $Data[Guarantee]==0}无{elseif $Data[Guarantee]==1}有{/if}</td>
                            </tr>
                        </table>
                        <tr>
                            <td height="35" width="500px"> <a class="right"  href="/index.php?Module=Debt&Action=DebtList">返回列表</a></td>
                        </tr>
                    </form>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{template Foot}
