{template Head}
<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb panel">
                <li>
                    <a href="#"><i class="fa fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="#">债务信息管理</a>
                </li>
                <li>
                    <a href="/index.php?Module=Debt&Action=DebtLists">债务管理</a>
                </li>
                <li class="active" id="modify">债务列表</li>
            </ul>
            <span class="position hidden">债务管理</span>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                        <table class="table table-bordered table-striped table-hover">
                            <tr>
                                <td colspan="3" class="t-h">债务人信息：</td>
                            </tr>
                            <tr>
                                <td>发布人：{$UserInfo[RealName]}</td>
                                <td>债务人名字：{$DebtorsInfo[Name]}</td>
                                <td>债务人身份证：{$DebtorsInfo[Card]}</td>
                            </tr>
                            <tr>
                                <td>债务编号：{$DebtInfo[DebtNum]}</td>
                                <td>催收类型：{if $DebtInfo[CollectionType]==1}自助催收{elseif $DebtInfo[CollectionType]==2}委托催收{/if}</td>
                                <td>债务曝光：{if $DebtInfo[DebtExposure]==0}隐藏{elseif $DebtInfo[DebtExposure]==1}曝光{/if}</td>
                            </tr>
                            <tr>
                                <td>地区：{$DebtorsInfo[Province]}-{$DebtorsInfo[City]}-{$DebtorsInfo[City]}</td>
                                <td>金额：{$DebtorsInfo[Money]}</td>
                                <td>逾期时间：{$DebtInfo[Overduetime]}</td>
                            </tr>
                                <tr>
                                <td>借款原因：{$DebtInfo[ReasonsBorrowing]}</td>
                                <td>债务近况：{$DebtInfo[DebtRecent]}</td>
                                <td>联系电话：{$DebtorsInfo[Phone]}</td>
                            </tr>
                            <tr>
                                <td>债务人有无还款能力：{if $DebtInfo[RepaymentDebtor]==0}否{elseif $DebtInfo[RepaymentDebtor]==1}是{/if}</td>
                                <td>债务人是否随时找得到：{if $DebtInfo[FindDebtor]==0}否{elseif $DebtInfo[FindDebtor]==1}是{/if}</td>
                                <td>有无抵押物：{if $DebtInfo[Guarantee]==0}无{elseif $DebtInfo[Guarantee]==1}有{/if}</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="t-h">债权人信息：</td>
                            </tr>
                            <tr>
                                <td>债权人姓名：{$CreditorsInfo[Name]}</td>
                                <td>债权人身份证：{$CreditorsInfo[Card]}</td>
                                <td>联系电话：{$CreditorsInfo[Phone]}</td>
                            </tr>
                            <tr>
                                <td>地区：{$CreditorsInfo[Province]}-{$CreditorsInfo[City]}-{$CreditorsInfo[City]}</td>
                                <td>详细地址：{$CreditorsInfo[Address]}</td>
                                <td>债权金额：{$CreditorsInfo[Money]}</td>
                            </tr>
                            <tr>
                                <td>委托数量：{$DebtInfo[EntrustNum]}</td>
                                <td>债权人数量：{$DebtInfo[BondsNum]}</td>
                                <td>有无保证人：{if $DebtInfo[Warrantor]==0}无{elseif $DebtInfo[Warrantor]==1}有{/if}</td>
                            </tr>
                             <tr>
                                <td colspan="3" class="t-h">保证人信息：</td>
                            </tr>
                            <tr>
                                <td>保证人姓名：{$DebtInfo[WarrantorInfo][0]['name']}</td>
                                <td>身份证身份证：{$DebtInfo[WarrantorInfo][0]['card']}</td>
                                <td>联系电话：{$DebtInfo[WarrantorInfo][0]['phone']}</td>
                            </tr>
                             <tr>
                                <td colspan="3" class="t-h">抵押物信息：</td>
                            </tr>
                            <tr>
                                <td>抵押物名称：{$DebtInfo[GuaranteeInfo][0]['name']}</td>
                                <td colspan="2">抵押物介绍：{$DebtInfo[GuaranteeInfo][0]['content']}</td>
                            </tr>
                        </table>
                    <table class="table table-bordered table-striped table-hover">
                        <form action='/index.php?Module=Debt&Action=DebtEdit'  method='post'  enctype="multipart/form-data">
                            <tbody>
                                <tr>
                                    <td class="t-r" width="150">当前状态：</td>
                                    <td>
                                        <select name="Status" id="Status" class="form-control" style="width:200px;float:left;margin-right: 10px" onchange="GetNewTourAreaID(this.value)" >
                                            <option value="1" {if $DebtInfo[Status] == 1}selected="selected"{/if}>未接单</option>
                                            <option value="2" {if $DebtInfo[Status] == 2}selected="selected"{/if}>催收中</option>
                                            <option value="3" {if $DebtInfo[Status] == 3}selected="selected"{/if}>未完成</option>
                                            <option value="4" {if $DebtInfo[Status] == 4}selected="selected"{/if}>部分收回(已完成)</option>
                                            <option value="5" {if $DebtInfo[Status] == 5}selected="selected"{/if}>全部收回(已完成)</option>
                                            <option value="6" {if $DebtInfo[Status] == 6}selected="selected"{/if}>未曝光</option>
                                            <option value="7" {if $DebtInfo[Status] == 7}selected="selected"{/if}>已曝光</option>
                                            <option value="8" {if $DebtInfo[Status] == 8}selected="selected"{/if}>待审核</option>
                                        </select>
                                        <input type="hidden" name="DebtID" value="{$DebtID}" />
                                        <input class="btn btn-danger" type="submit" name="submit" value="修改">
                                    </td>
                                </tr>
                            </tbody>
                        </form>
                    </table>
                        <tr>
                            <td height="35" width="500px"> <a class="right"  href="/index.php?Module=Debt&Action=DebtLists">返回列表</a></td>
                        </tr>
                    </form>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{template Foot}
