<footer>
   版权所有：隆文贵 &copy; 2017&nbsp;&nbsp;&nbsp;&nbsp;服务热线：0592-5253262
</footer>
</div>
</section>
</body>
<!-- Placed js at the end of the document so the pages load faster -->
<script src="{echo JsURL}/admin/common/jquery-1.10.2.min.js"></script>
<script src="{echo JsURL}/admin/common/jquery-ui-1.9.2.custom.min.js"></script>
<script src="{echo JsURL}/admin/common/bootstrap.min.js"></script>
<script src="{echo JsURL}/admin/common/modernizr.min.js"></script>
<script src="{echo JsURL}/admin/common/jquery.nicescroll.js"></script>

<!--常见的所有页面的脚本-->
<script src="{echo JsURL}/admin/common/scripts.js"></script>
<script src="{echo JsURL}/admin/common/layer/2.4/layer.js"></script>
<script src="{echo JsURL}/admin/common/My97Date/4.8/WdatePicker.js"></script>
</html>