<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
	<meta name="description" content="">
	<meta name="author" content="ThemeBucket">
	<title>隆文贵后台管理系统</title>
	<link href="{echo CssURL}/admin/common/style.css" rel="stylesheet">
	<link href="{echo CssURL}/admin/common/style-responsive.css" rel="stylesheet">
	<link href="/Templates/Admin/Images/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet">
	<!-- HTML5 shim and Respond.js IE8支持HTML5元素和媒体查询 -->
	<!--[if lt IE 9]>
	<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body class="sticky-header">

<section>
	<!--左侧菜单-->
	{template LeftMenu}
	<!--top导航-->
	{template TopNav}