{template Head}
<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb panel">
                <li>
                    <a href="#"><i class="fa fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="#">悬赏信息管理</a>
                </li>
                <li>
                    <a href="/index.php?Module=Reward&Action=RewardLists">悬赏列表</a>
                </li>
                <li class="active" id="modify">悬赏详情</li>
            </ul>
             <span class="position hidden">悬赏列表</span>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <table class="table table-bordered table-striped table-hover">
                        <tr>
                            <td colspan="3" class="t-h">悬赏详情：</td>
                        </tr>
                        <tr>
                            <td>悬赏ID：{$RewardInfo[RewardID]}</td>
                            <td>悬赏编号：{$RewardInfo[RewardNum]}</td>
                            <td>用户ID：<a href="/index.php?Module=User&Action=UserDetail&UserID={$RewardInfo[UserID]}" target="_blank">{$RewardInfo[UserID]}</a></td>
                        </tr>
                        {if $RewardInfo[Type]==1}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        {elseif $RewardInfo[Type]==2}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        {elseif $RewardInfo[Type]==3}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        {/if}
                        <tr>
                            <td>发布时间：{$RewardInfo['AddTime']}</td>
                            <td>类型：{$Type[$RewardInfo[Type]]}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="t-h">悬赏图片：</td>
                        </tr>
                        <tr>
                            <td>
                            {loop $RewardImage $lists}
                            <a href="{$lists[ImageUrl]}" target="_blank"><img src="{$lists[ImageUrl]}" height="100px" width="100px" title="点击显示大图"></a>
                            {/loop}
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                    <table class="table table-bordered table-striped table-hover">
                        <form action='/index.php?Module=Reward&Action=RewardDetail'  method='post'  enctype="multipart/form-data">
                            <tbody>
                            <tr>
                                <td class="t-r" width="150">审核状态：</td>
                                <td>
                                    <select name="Status" id="Status" class="form-control" style="width:200px;float:left;margin-right: 10px">
                                        {loop $StatusInfo $key $value}
                                        <option  value="{$key}" {if $UserInfo[Status] == $key}selected="selected"{/if}>{$value}</option>
                                        {/loop}
                                    </select>
                                    <input type="hidden" name="ID" value="{$ID}" />
                                    <input class="btn btn-danger" type="submit" name="submit" value="修改">
                                </td>
                            </tr>
                            </tbody>
                        </form>
                    </table>
                    <tr>
                        <td><a class="right" href="/index.php?Module=Reward&Action=RewardLists">返回列表</a></td>
                    </tr>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 底部 -->
<!--{template Foot}-->

