{template Head}
<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb panel">
                <li>
                    <a href="#"><i class="fa fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="#">悬赏信息管理</a>
                </li>
                <li>
                    <a href="/index.php?Module=Reward&Action=RewardLists">悬赏列表</a>
                </li>
                <li class="active" id="modify">悬赏详情</li>
            </ul>
             <span class="position hidden">悬赏列表</span>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <table class="table table-bordered table-striped table-hover">
                        <tr>
                            <td colspan="3" class="t-h">悬赏详情：</td>
                        </tr>
                        <tr>
                            <td>悬赏ID：{$UserInfo[ID]}</td>
                            <td>悬赏编号：{$UserInfo[RewardNum]}</td>
                            <td>用户ID：{$UserInfo[UserID]}</td>
                        </tr>
                        <tr>
                            <td>发布时间：{$UserInfo['AddTime']}</td>
                            <td>债权人电话：{$UserInfo[CreditorsPhone]}</td>
                            <td>类型：{if $UserInfo[Type]==0}找人{elseif $UserInfo[Type]==1}找财产{/if}</td>
                        </tr>
                        <tr>
                            <td>债务人姓名：{$UserInfo[DebtName]}</td>
                            <td>债务人身份证：{$UserInfo[DebtCard]}</td>
                            <td>债务人电话：{$UserInfo[DebtPhone]}</td>
                        </tr>
                        <tr>
                            <td>债务人地区：{$UserInfo[Province]}-{$UserInfo[City]}-{$UserInfo[Area]}</td>
                            <td>详细地址：{$UserInfo[Address]}</td>
                        </tr>
                        <tr>
                            <td colspan="5" class="t-h"><h5>&nbsp;&nbsp;债务人照片：</h5> </td>

                        </tr>
                        <tr>
                            <td>:<a href="{$RewardImg[ImageUrl]}" target="_blank"><img src="{$RewardImg[ImageUrl]}" height="100px" width="100px" title="点击显示大图"></a></td>
                            <td>:<a href="{$RewardImg[ImageUrl2]}" target="_blank"><img src="{$RewardImg[ImageUrl2]}" height="100px" width="100px" title="点击显示大图"></a></td>
                        </tr>
                    </table>
                    <table class="table table-bordered table-striped table-hover">
                        <form action='/index.php?Module=Reward&Action=RewardDetail'  method='post'  enctype="multipart/form-data">
                            <tbody>
                            <tr>
                                <td class="t-r" width="150">审核状态：</td>
                                <td>
                                    <select name="Status" id="Status" class="form-control" style="width:200px;float:left;margin-right: 10px" onchange="GetNewTourAreaID(this.value)" >
                                        <option value="1" {if $UserInfo[Status] == 1}selected="selected"{/if}>未提交审核</option>
                                        <option value="2" {if $UserInfo[Status] == 2}selected="selected"{/if}>审核中</option>
                                        <option value="3" {if $UserInfo[Status] == 3}selected="selected"{/if}>悬赏中</option>
                                        <option value="4" {if $UserInfo[Status] == 4}selected="selected"{/if}>已完成</option>
                                    </select>
                                    <input type="hidden" name="ID" value="{$ID}" />
                                    <input class="btn btn-danger" type="submit" name="submit" value="修改">
                                </td>
                            </tr>
                            </tbody>
                        </form>
                    </table>
                    <tr>
                        <td><a class="right" href="/index.php?Module=Reward&Action=RewardLists">返回列表</a></td>
                    </tr>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 底部 -->
<!--{template Foot}-->

