{template Head}
<div class="wrapper">
	<div class="row">
		<div class="col-md-12">
                    <!--breadcrumbs start -->
                    <ul class="breadcrumb panel">
                        <li>
                            <a href="#"><i class="fa fa-home"></i> Home</a>
                        </li>
                        <li>
                            <a href="#">悬赏信息管理</a>
                        </li>
                        <li class="active position">悬赏列表</li>
                    </ul>
			<!--breadcrumbs end -->
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel breadcrumb">
				<div class="panel-body">
					<span style="float: left;line-height: 38px;margin-left: -10px;padding-right: 10px">搜索：</span>
					<form class="form-inline" role="form" action="/index.php?Module=Reward&Action=RewardLists" method="get">
						<input type="hidden" name="Module" value="Reward">
						<input type="hidden" name="Action" value="RewardLists">
						<input type="text" class="form-control" placeholder="悬赏编号/债务人姓名" name="keyword" value="{$keyword}">
						当前状态：
						<select name="Status" id="Status"  class="form-control">
							<option style="width:100px;"  value="{$Status}">{if !$StatusInfo[$Status]}请选择状态{else}{$StatusInfo[$Status]}{/if}</option>
                                                        <option  value="">全部</option>
                                                        {loop $StatusInfo $key $value}
                                                        <option  value="{$key}">{$value}</option>
                                                        {/loop}
                                                </select>
                                                <button class="btn btn-info">搜索</button>
					</form>
				</div>
				<section id="unseen">
					<table class="table table-bordered table-striped table-condensed">
						<thead>
						<tr>
							<th>ID</th>
							<th>悬赏编号</th>
							<th>债务人姓名</th>
							<th class="numeric">债务人地区</th>
							<th class="numeric">债务人电话</th>
							<th class="numeric">发布时间</th>
							<th class="numeric">悬赏状态</th>
							<th class="numeric">操作</th>
						</tr>
						</thead>
						<tbody>
						{loop $Data[Data] $lists}
						<tr height="35" align="center">
							<td nowrap="nowrap">{$lists[ID]}</td>
							<td nowrap="nowrap">{$lists[RewardNum]}</td>
							<td nowrap="nowrap">{$lists[DebtName]}</td>
							<td nowrap="nowrap">{$lists[Province]}-{$lists[City]}-{$lists[Area]}</td>
							<td nowrap="nowrap">{$lists[DebtPhone]}</td>
							<td nowrap="nowrap">{$lists[AddTime]}</td>
							<td nowrap="nowrap">{$StatusInfo[$lists[Status]]}</td>
							<td>
								<a class="getinfo" href="/index.php?Module=Reward&Action=RewardDetail&ID={$lists[ID]}">查看详情</a>
								<a href="javascript:void(0)" class="del" data-id="{$lists[ID]}">删除</a>
							</td>
						</tr>
						{/loop}
						</tbody>
					</table>
				</section>
				<div class="text-center">
					<ul class="pagination" data-id="{$Page}">
						<li><a href="/index.php?Module=Reward&Action=RewardLists&Page=1">首页</a></li>
						{loop $Data[PageNums] $page}
						<li><a href="/index.php?Module=Reward&Action=RewardLists&Page={$page}">{$page}</a></li>
						{/loop}
						<li><a href="/index.php?Module=Reward&Action=RewardLists&Page={$Data[PageCount]}">尾页</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{template Foot}
<script>
    $('.del').click(function () {
        var tjid = $(this).attr('data-id');
        var text = $(this).parent().prev().prev().prev().prev().prev().prev().text();
        layer.confirm('您确定要删除悬赏编号<span style="color: red">'+text+'</span>？', {
            title: '删除提示',
            btn: ['确定','取消'] //按钮
        }, function(index){
            window.location.href='/index.php?Module=Reward&Action=Delete&ID='+tjid;
            layer.close(index);
        });
    })
</script>