{template Head}
<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb panel">
                <li>
                    <a href="#"><i class="fa fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="#">会员中心管理</a>
                </li>
                <li>
                    <a href="/index.php?Module=User&Action=UserLists">会员列表</a>
                </li>
                <li class="active" id="modify">会员详情</li>
            </ul>
            <span class="position hidden">会员列表</span>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <table class="table table-bordered table-striped table-hover">
                        <tr>
                            <td colspan="3" class="t-h">会员详情：</td>
                        </tr>
                        <tr>
                            <td>会员ID：{$UserInfo[InfoID]}</td>
                            {if $UserInfo[Identity] == 3}<td>公司名称：{$UserInfo[CompanyName]}</td>
                            {elseif $UserInfo[Identity]==4} <td>所属事务所：{$UserInfo[CompanyName]}</td>
                            {else} <td>昵称：{$UserInfo[NickName]}</td>
                            {/if}
                            <td>手机号：{$User[Mobile]}</td>
                        </tr>
                        <tr>
                            <td>邮箱：{$User['E-Mail']}</td>
                            {if $UserInfo[Identity] == 3}
                            <td>注册人姓名：{$UserInfo[RealName]}</td>
                            {else}
                            <td>真实姓名：{$UserInfo[RealName]}</td>
                            {/if}
                            <td>性别：{if $UserInfo[Sex]==0}保密{elseif $UserInfo[Sex]==1}女{elseif $UserInfo[Sex]==2}男{/if}</td>
                        </tr>
                        <tr>
                            <td>审核状态：{if $UserInfo[IdentityState]==1}未提交审核{elseif $UserInfo[IdentityState]==2}审核中{elseif $UserInfo[IdentityState]==3}审核通过{elseif $UserInfo[IdentityState]==4}审核不通过{/if}</td>
                            <td>身份：{if $UserInfo[Identity]==1}个人用户{elseif $UserInfo[Identity]==2}催客{elseif $UserInfo[Identity]==3}公司会员{elseif $UserInfo[Identity]==4}律师企业会员{/if}</td>
                            <td>QQ：{$UserInfo[QQ]}</td>
                        </tr>
                        <tr>
                            <td>地区：{$UserInfo[Province]}-{$UserInfo[City]}-{$UserInfo[Area]}</td>
                            <td>详细地址：{$UserInfo[Address]}</td>
                            <td>最后登录时间：{$UserInfo[LastLogin]}</td>
                        </tr>
                        <tr>
                            <td>证件号码：{$UserInfo[CardNum]}</td>
                            {if $UserInfo[Identity] == 3}
                            <td>信用代码：{$UserInfo[CreditCode]}</td>
                            {/if} 
                            {if $UserInfo[Identity] == 4}
                            <td>职业证号：{$UserInfo[ProfessionalNum]}</td>
                            <td>年检到期日：{$UserInfo[AnnualDueDate]}</td>
                            {/if} 
                        </tr>
                        <tr>
                            <td colspan="5" class="t-h"><h5>&nbsp;&nbsp;身份证图片：</h5> </td>

                        </tr>
                        <tr>
                            {if $UserInfo[Identity] != 4}
                            <td>身份证正面:<a href="{$UserInfo[CardPositive]}" target="_blank"><img src="{$UserInfo[CardPositive]}" height="150px" width="150px" title="点击显示大图"></a></td>
                            <td>身份证反面:<a href="{$UserInfo[CardNegative]}" target="_blank"><img src="{$UserInfo[CardNegative]}" width="150px" height="150px" title="点击显示大图"></a></td>
                            {/if}
                            {if $UserInfo[Identity]==4}
                            <td>律师资格证件照<a href="{$UserInfo[LawyerCertificatePhoto]}" target="_blank"><img src="{$UserInfo[LawyerCertificatePhoto]}" height="150px" width="150px" title="点击显示大图"></a></td>
                            <td>律师资格证年检照:<a href="{$UserInfo[LawyerCertificateYear]}" target="_blank"><img src="{$UserInfo[LawyerCertificateYear]}" width="150px" height="150px" title="点击显示大图"></a></td>
                            {/if}
                            {if $UserInfo[Identity] == 2}
                            <td>手持身份证:<a href="{$UserInfo[CardHold]}" target="_blank"><img src="{$UserInfo[CardHold]}" width="150px" height="150px"  title="点击显示大图"></a></td>
                            {elseif $UserInfo[Identity]==3}
                            <td>营业执照注册号图片:<a href="{$UserInfo[BusinessImage]}" target="_blank"><img src="{$UserInfo[BusinessImage]}" width="150px" height="150px"  title="点击显示大图"></a></td>
                            {/if}
                        </tr>
                    </table>
                    <table class="table table-bordered table-striped table-hover">
                        <form action='/index.php?Module=User&Action=UserDetail'  method='post'  enctype="multipart/form-data">
                            <tbody>
                            <tr>
                                <td class="t-r" width="150">审核状态：</td>
                                <td>
                                    <select name="Status" id="Status" class="form-control" style="width:200px;float:left;margin-right: 10px" onchange="GetNewTourAreaID(this.value)" >
                                        <option value="1" {if $UserInfo[IdentityState] == 1}selected="selected"{/if}>未提交审核</option>
                                        <option value="2" {if $UserInfo[IdentityState] == 2}selected="selected"{/if}>审核中</option>
                                        <option value="3" {if $UserInfo[IdentityState] == 3}selected="selected"{/if}>审核通过</option>
                                        <option value="4" {if $UserInfo[IdentityState] == 4}selected="selected"{/if}>审核不通过</option>
                                    </select>
                                    <input type="hidden" name="UserID" value="{$UserID}" />
                                    <input class="btn btn-danger" type="submit" name="submit" value="修改">
                                </td>
                            </tr>
                            </tbody>
                        </form>
                    </table>
                    <tr>
                        <td><a class="right" href="/index.php?Module=User&Action=UserLists">返回列表</a></td>
                    </tr>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 底部 -->
<!--{template Foot}-->

