<div class="NfixMenu">
    <ul class="cf">
        <li class="i1">
            <a class="a transition" href="JavaScript:void(0)"><i></i></a>
        </li>
        <li class="i2">
            <a class="a transition" href="JavaScript:void(0)"><i></i></a>
            <div class="FixSecond FixQq">
                <em></em>
                <div class="FixSecondM">
                    <p><a target="blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=747009028&amp;site=qq&amp;menu=yes"><img src="{echo ImageURL}/img/common/qq.png" width="20">客服:747009028</a></p>
                    <p><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1223534496&amp;site=qq&amp;menu=yes" target="_blank"><img src="{echo ImageURL}/img/common/qq.png" width="20">客服:1223534496</a></p>
                </div>
            </div>
        </li>
        <li class="i3" href="JavaScript:void(0)">
            <a class="a transition" href="JavaScript:void(0)"><i></i></a>
            <div class="FixSecond FixEwm">
                <em></em>
                <div class="FixSecondM">
                    <p class="tit">57US旅游微信</p>
                    <img src="{echo ImageURL}/img/common/wxtravel.jpg" width="134"/>
                </div>
            </div>
        </li>
        <li class="i4">
            <a class="a transition" href="JavaScript:void(0)"><i></i></a>
            <div class="FixSecond FixPhone">
                <em></em>
                <div class="FixSecondM">400-018-5757</div>
            </div>
        </li>
        <li class="i5 backtop">
            <a class="a transition" href="JavaScript:void(0)"><i></i></a>
        </li>
    </ul>
</div>
<div class="onlineBox" id="onlineBox" style="display: none">
    <div class="onlineBoxT"><span class="close">×</span><span class="name">在线咨询</span></div>
    <div class="onlineBoxM" id="onlineBoxM">
    </div>
</div>
