    <li> <a href="{echo WEB_TOUR_URL}/dingzhi/#/question/" class="first_a">高端定制</a> </li>
    <li> <a href="{echo WEB_TOUR_URL}/group/local/" class="first_a">当地参团</a></li>
    <li><a href="{echo WEB_TOUR_URL}/group/home/" class="first_a">国内参团</a></li>
    <li> <a href="{echo WEB_TOUR_URL}/play/feature/" class="first_a">特色体验</a></li>
    <li> <a href="{echo WEB_TOUR_URL}/play/daily/" class="first_a">一日游</a></li>
    <li> <a href="{echo WEB_TOUR_URL}/play/ticket/" class="first_a">门票</a> </li>
    <li> <a href="{echo WEB_HOTEL_URL}" class="first_a">酒店</a> </li>
    <li> <a href="http://zuche.57us.com/" class="first_a">租车</a> </li>
    <li> <a href="{echo WEB_VISA_URL}" class="first_a">签证</a> </li>
    <li> <a href="{echo WEB_MAIN_URL}/tour/" class="first_a" target="_blank">旅游资讯</a> </li>
    <li> <a href="{echo WEB_TOUR_URL}/city/" class="first_a" target="_blank">城市专题</a> </li>