{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-title">
                    商品详情
                </section>
            </header>
            <div class="item item-address mt0">
                {if !empty($AddressInfo)}
                <a href="/member/address/" class="item-con">
                    <i class="icon-address"></i>
                    <div class="option">
                        <p>收货人：{$AddressInfo[Name]} <span class="fr">{$AddressInfo[Mobile]}</span></p>
                        <p class="ellipsis">
                            收货地址：{$AddressInfo[Province]}{$AddressInfo[City]}{$AddressInfo[Area]}{$AddressInfo[Address]}
                        </p>
                    </div>
                    <i class="icon-arrow"></i>
                </a>
                {else}
                <a href="/member/address/" class="item-con">
                    <i class="icon-address"></i>
                    <div class="option">
                        <p style="padding:.5rem 0 .5rem">暂无收货地址</p>
                    </div>
                    <i class="icon-arrow"></i>
                </a>
                {/if}
                <input type="hidden" name="addressId" value="{$AddressInfo[ShippingAddressID]}">
            </div>
            <div class="item-goods mt02">
                <div class="hd hd-white">
                    发布方：{$UserInfo[RealName]}
                </div>
                <div class="common-box item-con">
                    <p class="pic">
                        <img src="{$AssetImage[ImageUrl]}" alt="">
                    </p>
                    <div>
                        <p class="h3">
                            <span class="long ellipsis">{$AssetInfo[Title]}</span> <span class="fr fs024">¥ {$AssetInfo[Price]}</span>
                        </p>
                        <p class="mt05 fs026">
                            所购份数:
                            <span class="fr">x{$Num}</span>
                        </p>
                    </div>
                </div>
                <input type="hidden" name="addressId" value="{$AddressInfo[ShippingAddressID]}">
                <div class="item-total">
                    共1件商品 合计：¥ <span class="bold">{$Money}</span>（含运费 ¥ {$AssetInfo[Freight]}）
                </div>
            </div>
            <div class="pay-list">
                <div class="item">
                    <p class="hd">支付方式</p>
                    <!--<div class="item-con">-->
                        <!--<i class="icon icon-wx2"></i>-->
                        <!--<div class="option">微信支付</div>-->
                        <!--<p class="radio-inline">-->
                            <!--<label class="radio active" type="radio">-->
                                <!--<i></i>-->
                            <!--</label>-->
                        <!--</p>-->
                    <!--</div>-->
                    <div class="item-con" data-type="alipay">
                        <i class="icon icon-zfb"></i>
                        <div class="option">支付宝支付</div>
                        <p class="radio-inline">
                            <label class="radio active" type="radio">
                                <i></i>
                            </label>
                        </p>
                    </div>
                </div>
            </div>
            <div class="fixed-height"></div>
        </div>
        <div class="fixed-bottom">
            <div class="box-btn">
                <a class="btn" href="javascript:void(0)" onclick="pageObj.subOrder();">立即付款</a>
            </div>
        </div>
    </div>
</div>
<script src='{echo JsURL}/m/asset/AssetOrder.js'></script>
</body>
</html>