{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-search">
                    <i class="icon-search"></i>
                    <input class="inp" type="search" placeholder="请输入您要查询的资产" />
                </section>
                <a class="header-right" href="/asset/publish/">
                    发布资产
                </a>
            </header>
            <div class="content-pd">
                <div class="tab-nav tab-radius mt02">
                    <a class="active" href="#tab1">
                        最新
                    </a>
                    <a href="#tab2">
                        热卖
                    </a>
                    <a href="#tab3">
                        最后促销
                    </a>
                </div>
                <div class="tab-con">
                    <div class="active" id="tab1">
                        <div class="assets-list">
                            <ul class="clearfix">
                                <li>
                                    <a href="#">
                                        <p class="pic">
                                            <img src="../temp/goods-1.jpg" alt="">
                                        </p>
                                        <div class="msg">
                                            <div class="assets-money">
                                                <span class="c-red">¥1899.00</span>
                                                <span class="line-through">¥ 2899.00</span>
                                            </div>
                                            <p class="assets-title ellipsis">
                                                泰国旅游债权转让
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <p class="pic">
                                            <img src="../temp/goods-1.jpg" alt="">
                                        </p>
                                        <div class="msg">
                                            <div class="assets-money">
                                                <span class="c-red">¥1899.00</span>
                                                <span class="line-through">¥ 2899.00</span>
                                            </div>
                                            <p class="assets-title ellipsis">
                                                泰国旅游债权转让
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <p class="pic">
                                            <img src="../temp/goods-1.jpg" alt="">
                                        </p>
                                        <div class="msg">
                                            <div class="assets-money">
                                                <span class="c-red">¥1899.00</span>
                                                <span class="line-through">¥ 2899.00</span>
                                            </div>
                                            <p class="assets-title ellipsis">
                                                泰国旅游债权转让
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <p class="pic">
                                            <img src="../temp/goods-1.jpg" alt="">
                                        </p>
                                        <div class="msg">
                                            <div class="assets-money">
                                                <span class="c-red">¥1899.00</span>
                                                <span class="line-through">¥ 2899.00</span>
                                            </div>
                                            <p class="assets-title ellipsis">
                                                泰国旅游债权转让
                                            </p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="tab2">
                        <div class="assets-list">
                            <ul class="clearfix">
                                <li>
                                    <a href="#">
                                        <p class="pic">
                                            <img src="../temp/goods-1.jpg" alt="">
                                        </p>
                                        <div class="msg">
                                            <div class="assets-money">
                                                <span class="c-red">¥1899.00</span>
                                                <span class="line-through">¥ 2899.00</span>
                                            </div>
                                            <p class="assets-title ellipsis">
                                                泰国旅游债权转让
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <p class="pic">
                                            <img src="../temp/goods-1.jpg" alt="">
                                        </p>
                                        <div class="msg">
                                            <div class="assets-money">
                                                <span class="c-red">¥1899.00</span>
                                                <span class="line-through">¥ 2899.00</span>
                                            </div>
                                            <p class="assets-title ellipsis">
                                                泰国旅游债权转让
                                            </p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="tab3">
                        <div class="assets-list">
                            <ul class="clearfix">
                                <li>
                                    <a href="#">
                                        <p class="pic">
                                            <img src="../temp/goods-1.jpg" alt="">
                                        </p>
                                        <div class="msg">
                                            <div class="assets-money">
                                                <span class="c-red">¥1899.00</span>
                                                <span class="line-through">¥ 2899.00</span>
                                            </div>
                                            <p class="assets-title ellipsis">
                                                泰国旅游债权转让
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <p class="pic">
                                            <img src="../temp/goods-1.jpg" alt="">
                                        </p>
                                        <div class="msg">
                                            <div class="assets-money">
                                                <span class="c-red">¥1899.00</span>
                                                <span class="line-through">¥ 2899.00</span>
                                            </div>
                                            <p class="assets-title ellipsis">
                                                泰国旅游债权转让
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <p class="pic">
                                            <img src="../temp/goods-1.jpg" alt="">
                                        </p>
                                        <div class="msg">
                                            <div class="assets-money">
                                                <span class="c-red">¥1899.00</span>
                                                <span class="line-through">¥ 2899.00</span>
                                            </div>
                                            <p class="assets-title ellipsis">
                                                泰国旅游债权转让
                                            </p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>