{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-title">
                    商品详情
                </section>
            </header>
            <div class="item item-address mt0">
                <a href="#" class="item-con">
                    <i class="icon-address"></i>
                    <div class="option">
                        <p>收货人：张伟 <span class="fr">13960333222</span></p>
                        <p class="ellipsis">
                            收货地址：福建省厦门市思明区和山大道150号 
                        </p>
                    </div>
                    <i class="icon-arrow"></i>
                </a>
            </div>
            <div class="item-goods mt02">
                <div class="hd hd-white">
                    发布方：张伟
                </div>
                <div class="common-box item-con">
                    <p class="pic">
                        <img src="../temp/goods-1.jpg" alt="">
                    </p>
                    <div>
                        <p class="h3">
                            <span class="long ellipsis">上品武夷山大红袍</span> <span class="fr fs024">¥ 1899.00</span>
                        </p>
                        <p class="mt05 fs026">
                            所购份数:
                            <span class="fr">x1</span>
                        </p>
                    </div>
                </div>
                <div class="item-total">
                    共1件商品 合计：¥ <span class="bold">1909.00</span>（含运费 ¥ 10.00）
                </div>
            </div>
            <div class="pay-list">
                <div class="item">
                    <p class="hd">支付方式</p>
                    <div class="item-con">
                        <i class="icon icon-wx2"></i>
                        <div class="option">微信支付</div>
                        <p class="radio-inline">
                            <label class="radio" type="radio">
                                <input type="radio" name="buy" value="0" checked>
                                <i></i>
                            </label>
                        </p>
                    </div>
                    <div class="item-con">
                        <i class="icon icon-zfb"></i>
                        <div class="option">支付宝支付</div>
                        <p class="radio-inline">
                            <label class="radio" type="radio">
                                <input type="radio" name="buy" value="0">
                                <i></i>
                            </label>
                        </p>
                    </div>
                </div>
            </div>
            <div class="fixed-height"></div>
        </div>
        <div class="fixed-bottom">
            <div class="box-btn">
                <a class="btn" href="#">立即付款</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>