{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content infinite-scroll infinite-scroll-bottom pull-to-refresh-content">
            <header class="common-header">
                <a class="header-left icon-back" href="{echo WEB_M_URL}">
                </a>
                <section class="header-search">
                    <i class="icon-search"></i>
                    <input class="inp" name="keyword" type="search" placeholder="请输入您要查询的资产" />
                </section>
                <a class="header-right" href="/asset/publish/">
                    发布资产
                </a>
            </header>
            <div class="content-pd">
                <div class="tab-nav tab-radius mt02">
                    <a class="active" href="#tab1" data-type="0">
                        最新
                    </a>
                    <a href="#tab2" data-type="1">
                        热卖
                    </a>
                    <a href="#tab3" data-type="2">
                        最后促销
                    </a>
                </div>
                <div class="assets-list">
                    <ul class="clearfix">
                    </ul>
                    <!-- 加载提示符 -->
                    <div class="infinite-scroll-preloader">
                        <div class="preloader"></div>
                    </div>
                    <div class="infinite-scroll-noData">
                        没有更多数据！
                    </div>
                </div>
            </div>
            <div class="common-empty">
                <img src="{echo CssURL}/m/images/empty-img.jpg" alt="">
                <p>很抱歉，暂时无法找到符合您要求的资产。</p>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="assets_temp">
    {{each Data as asset}}
    <li>
        <a href="{{asset.Url}}">
            <p class="pic">
                <img src="{{asset.ImageUrl}}" alt="">
            </p>
            <div class="msg">
                <div class="assets-money">
                    <span class="c-red">¥{{asset.Price}}</span>
                    <span class="line-through">¥ {{asset.MarketPrice}}</span>
                </div>
                <p class="assets-title ellipsis">
                    {{asset.Title}}
                </p>
            </div>
        </a>
    </li>
    {{/each}}
</script>
<script src='{echo JsURL}/m/asset/AssetIndex.js'></script>
</body>
</html>