{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-title">
                    修改密码
                </section>
            </header>
            <div class="wrap mt02">
                <div class="form-box form-password">
                    <div class="row">
                        <p class="form-lab">
                            原 始 密 码：
                        </p>
                        <div class="form-grid">
                            <input class="inp" placeholder="请输入原始密码" name="oldPass" maxlength="20" type="password">
                        </div>
                    </div>

                    <div class="row">
                        <p class="form-lab">
                            新&emsp;密&emsp;码：
                        </p>
                        <div class="form-grid">
                            <input class="inp new-pass" placeholder="请输入您新设的密码" name="newPass" maxlength="20" type="password">
                        </div>
                    </div>

                    <div class="row">
                        <p class="form-lab">
                            重 复 密 码：
                        </p>
                        <div class="form-grid">
                            <input class="inp" placeholder="请再输一遍您新设的密码" name="comfirmPass" type="password">
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-btn" style="margin-top: 2rem;">
                <a href="javascript:void(0)" id="change_pass" class="btn">
                    确定修改
                </a>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='{echo JsURL}/m/member/ChangePassWord.js' charset='utf-8'></script>
</body>
</html>