{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-title">
                    查询老赖
                </section>
            </header>
            <div class="form-box lai-query">
                <div class="row flex">
                    <div class="form-grid flex2 mr03">
                        <input class="inp" type="text" placeholder="请输入查询的姓名/名称" />
                    </div>
                    <div class="form-grid">
                        <input class="inp" type="text" placeholder="请选择查询的地区" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-grid mr03">
                        <input class="inp" type="text" placeholder="请输入身份证号/组织机构代码" />
                    </div>
                    <div class="query-btn">
                        <a href="#" class="btn">查询</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>