{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content infinite-scroll">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-search">
                    <i class="icon-search"></i>
                    <input class="inp" name="keyword" type="search" placeholder="请输入姓名或身份证号" />
                </section>
                <a class="header-right" href="/debt/publish/">
                    发布债务
                </a>
            </header>
            <div class="tab-nav">
                <a href="#" id="city">选择地区</a>
                <a href="#" id="money">催收金额</a>
                <a href="#" id="day">逾期时间</a>
            </div>
            <div class="content-pd">
                <ul class="list-debt">

                </ul>
                <!-- 加载提示符 -->
                <div class="infinite-scroll-preloader">
                    <div class="preloader"></div>
                </div>
                <div class="infinite-scroll-noData">
                    没有更多数据！
                </div>
            </div>
            <div class="common-empty">
                <img src="{echo CssURL}/m/images/empty-img.png" alt="">
                <p>很抱歉，暂时无法找到符合您要求的债务。</p>
            </div>
        </div>
    </div>
</div>
<!--债务模板-->
<script type="text/html" id="debt_temp">
    {{each Data as debt}}
    <li>
        <a href="{{debt.Url}}">
            <div class="item-debt">
                <div class="common-box debt-top">
                    <p class="photo">
                        <img src="{{debt.Avatar}}" alt="">
                    </p>
                    <div>
                        <span class="h3">债权人：{{debt.CreditorsName}}</span><span class="type">{{debt.CreditorsType}}</span>
                        <span class="link">{{debt.StatusName}}
                        <i class="icon-arrow"></i>
                      </span>
                    </div>
                </div>
                <div class="common-box debt-msg">
                    <div>
                        <p>债务人：{{debt.Name}}</p>
                        <p>催收金额：<span class="c-red fs028">¥{{debt.DebtAmount}}</span></p>
                        <p class="ellipsis">催收地址：{{debt.Province}}{{debt.City}}{{debt.Area}}</p>
                    </div>
                    <p class="tr">
                        <br>
                        <span>逾期 <span class="c-red">{{debt.Overduetime}}</span> 天</span><br>
                        <span class="fs022">{{debt.AddTime}}</span>
                    </p>
                </div>
            </div>
        </a>
    </li>
    {{/each}}
</script>
<script src='{echo JsURL}/m/debt/DebtIndex.js'></script>
</body>
</html>