{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-search">
                    <i class="icon-search"></i>
                    <input class="inp" name="keyword" type="search" placeholder="请输入姓名或身份证号" />
                </section>
                <a class="header-right" href="/debt/publish/">
                    发布债务
                </a>
            </header>
            <div class="tab-nav">
                <a href="#" id="city">选择地区</a>
                <a href="#" id="money">催收金额</a>
                <a href="#" id="day">逾期日期</a>
            </div>
            <div class="content-pd">
                <ul class="list-debt">
                    <li>
                        <a href="#">
                            <div class="item-debt">
                                <div class="common-box debt-top">
                                    <p class="photo">
                                        <img src="../temp/photo-1.jpg" alt="">
                                    </p>
                                    <div>
                                        <span class="h3">债权人：刘德</span><span class="type">个人</span>
                                        <span class="link">未接单
                        <i class="icon-arrow"></i>
                      </span>
                                    </div>
                                </div>
                                <div class="common-box debt-msg">
                                    <div>
                                        <p>债务人：张三</p>
                                        <p>催收金额：<span class="c-red fs028">¥800000.00</span></p>
                                        <p class="ellipsis">催收地址：福州鼓楼西湖路135号</p>
                                    </div>
                                    <p class="tr">
                                        <br>
                                        <span>逾期 <span class="c-red">38</span> 天</span><br>
                                        <span class="fs022">2017-04-06</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <div class="item-debt">
                                <div class="common-box debt-top">
                                    <p class="photo">
                                        <img src="../temp/photo-1.jpg" alt="">
                                    </p>
                                    <div>
                                        <span class="h3">债权人：刘德</span><span class="type">个人</span>
                                        <span class="link">未接单
                        <i class="icon-arrow"></i>
                      </span>
                                    </div>
                                </div>
                                <div class="common-box debt-msg">
                                    <div>
                                        <p>债务人：张三</p>
                                        <p>催收金额：<span class="c-red fs028">¥800000.00</span></p>
                                        <p class="ellipsis">催收地址：福州鼓楼西湖路135号</p>
                                    </div>
                                    <p class="tr">
                                        <br>
                                        <span>逾期 <span class="c-red">38</span> 天</span><br>
                                        <span class="fs022">2017-04-06</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <div class="item-debt">
                                <div class="common-box debt-top">
                                    <p class="photo">
                                        <img src="../temp/photo-1.jpg" alt="">
                                    </p>
                                    <div>
                                        <span class="h3">债权人：刘德</span><span class="type">个人</span>
                                        <span class="link">未接单
                        <i class="icon-arrow"></i>
                      </span>
                                    </div>
                                </div>
                                <div class="common-box debt-msg">
                                    <div>
                                        <p>债务人：张三</p>
                                        <p>催收金额：<span class="c-red fs028">¥800000.00</span></p>
                                        <p class="ellipsis">催收地址：福州鼓楼西湖路135号</p>
                                    </div>
                                    <p class="tr">
                                        <br>
                                        <span>逾期 <span class="c-red">38</span> 天</span><br>
                                        <span class="fs022">2017-04-06</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <div class="item-debt">
                                <div class="common-box debt-top">
                                    <p class="photo">
                                        <img src="../temp/photo-1.jpg" alt="">
                                    </p>
                                    <div>
                                        <span class="h3">债权人：刘德</span><span class="type">个人</span>
                                        <span class="link">未接单
                        <i class="icon-arrow"></i>
                      </span>
                                    </div>
                                </div>
                                <div class="common-box debt-msg">
                                    <div>
                                        <p>债务人：张三</p>
                                        <p>催收金额：<span class="c-red fs028">¥800000.00</span></p>
                                        <p class="ellipsis">催收地址：福州鼓楼西湖路135号</p>
                                    </div>
                                    <p class="tr">
                                        <br>
                                        <span>逾期 <span class="c-red">38</span> 天</span><br>
                                        <span class="fs022">2017-04-06</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src='{echo JsURL}/m/debt/DebtIndex.js'></script>
</body>
</html>