{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content infinite-scroll pull-to-refresh-content infinite-scroll-bottom">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-search">
                    <i class="icon-search"></i>
                    <input class="inp" name="address" type="search" placeholder="请输入债务人所在地区" />
                </section>
                <a class="header-right" href="#">
                    <i class="icon-remind"></i>
                </a>
            </header>
            <div class="disposal-list">
                <ul>
                </ul>
                <!-- 加载提示符 -->
                <div class="infinite-scroll-preloader">
                    <div class="preloader"></div>
                </div>
                <div class="infinite-scroll-noData">
                    没有更多数据！
                </div>
            </div>
            <div class="common-empty">
                <img src="{echo CssURL}/m/images/empty-img.jpg" alt="">
                <p>很抱歉，暂时无法找到符合您要求的处置方。</p>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="disposal_temp">
    {{each Data as item}}
    <li>
        <div class="disposal-box">
            <div class="disposal-header common-box">
                <p class="disposal-logo">
                    <img src="{{item.Avatar}}" alt="">
                </p>
                <div class="disposal-main">
                    <div class="disposal-title mt01">
                      <span class="txt fs028 ellipsis">{{item.Name}}
                      </span>
                        <span class="disposal-btn">{{item.CreditorsType}}</span>
                    </div>
                    <p class="disposal-phone fs026">联系电话：<span class="mobile" data-phone="{{item.ChargeMobile}}">{{item.ChargeMobile}}</span></p>
                </div>
                <p class="disposal-view"><a class="btn btn-s" onclick="pageObj.detailShow(this);" title="查看" href="javascript:void(0)">查看</a></p>
            </div>
            <div class="disposal-con clearfix hide">
                <div class="big common-box">
                    <p>催收地区：</p>
                    <div>
                        {{each item.Area as item2}}
                            {{item2.province}}-{{item2.city}}-{{item2.area}}&nbsp;&nbsp;
                        {{/each}}
                    </div>
                </div>
                <p class="big">催收要求</p>
                <div class="cols-list">
                    <ul class="clearfix">
                        {{each item.FeeRate as item3}}
                        <li>
                            <p>债务金额（元）：{{item3.from}}~{{item3.to}}</p>
                            <p>催收前期费用（元）：{{item3.cost}}</p>
                            <p>是否负责找人：<% if (item3.isLookFor=="0") { %>否<% } %> <% if (item3.isLookFor=="1") { %>是<% } %></p>
                            <p>佣金比例：{{item3.rate}}%</p>
                        </li>
                        {{/each}}

                        <li>
                            <p>
                                是否需要债务人有还款能力：<% if (item.AbilityDebt=="0") { %>否<% } %><% if (item.AbilityDebt=="1") { %>是<% } %>
                            </p>
                            <p>
                                是否需要债权人到达现场：<% if (item.ArrivalSite=="0") { %>否<% } %><% if (item.ArrivalSite=="1") { %>是<% } %>
                            </p>
                        </li>
                    </ul>
                </div>
                <p class="big">更多介绍</p>
                <div class="more-detail">
                    {{item.Content}}
                </div>
            </div>
        </div>
    </li>
    {{/each}}
</script>
<script src='{echo JsURL}/m/find/FindIndex.js'></script>
</body>
</html>