{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content infinite-scroll pull-to-refresh-content infinite-scroll-bottom">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-search">
                    <i class="icon-search"></i>
                    <input class="inp" name="keyword" type="search" placeholder="请输入债务人所在地区" />
                </section>
                <a class="header-right" href="#">
                    <i class="icon-remind"></i>
                </a>
            </header>
            <div class="disposal-list">
                <ul>
                    <li>
                        <div class="disposal-box">
                            <div class="disposal-header common-box">
                                <p class="disposal-logo">
                                    <img src="http://placeholder.qiniudn.com/98x98" alt="">
                                </p>
                                <div class="disposal-main">
                                    <div class="disposal-title mt01">
                      <span class="txt fs028 ellipsis">王思聪
                      </span>
                                        <span class="disposal-btn">催客</span>
                                    </div>
                                    <p class="disposal-phone fs026">联系电话：<span class="mobile" data-phone="18039847412">180****7412</span></p>
                                </div>
                                <p class="disposal-view"><a class="btn btn-s" onclick="pageObj.seekShow(this);" title="查看" href="javascript:void(0)">查看</a></p>
                            </div>
                            <div class="disposal-con clearfix">
                                <div class="big common-box">
                                    <p>催收地区：</p>
                                    <div>
                                        山西省-长治市-郊区&nbsp;&nbsp;辽宁省-抚顺市-东洲区&nbsp;&nbsp;辽宁省-抚顺市-东洲区
                                    </div>
                                </div>
                                <p class="big">催收要求</p>
                                <div class="cols-list">
                                    <ul class="clearfix">
                                        <li>
                                            <p>债务金额（元）：30001~100000</p>
                                            <p>催收前期费用（元）：10001</p>
                                            <p>是否负责找人：否</p>
                                            <p>佣金比例：5%</p>
                                        </li>

                                        <li>
                                            <p>债务金额（元）：100001~1000000</p>
                                            <p>催收前期费用（元）：133</p>
                                            <p>是否负责找人：是</p>
                                            <p>佣金比例：6%</p>
                                        </li>
                                        <li>
                                            <p>
                                                是否需要债务人有还款能力：是
                                            </p>
                                            <p>
                                                是否需要债权人到达现场：是
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <p class="big">更多介绍</p>
                                <div class="more-detail">
                                    眼看快到十月一日的履行届满日了，在不知如何处理之下，王女士想到了公证处，于是她于九月二十八日来到公证处咨询，公证人员向王女士说："我建议您进行提存，提存也是清偿债务的一种方式，不然，将来万一涉诉，你将为因债权人下落不明而导致自己无法履行债务的事实承担举证责任，债务迟延履行的违约责任。
                                </div>
                                <p onclick="pageObj.suggestion();" class="btn btn-s btn-red">投诉/建议</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- 加载提示符 -->
                <div class="infinite-scroll-preloader">
                    <div class="preloader"></div>
                </div>
                <div class="infinite-scroll-noData">
                    没有更多数据！
                </div>
            </div>
            <div class="common-empty">
                <img src="{echo CssURL}/m/images/empty-img.jpg" alt="">
                <p>很抱歉，暂时无法找到符合您要求的债务。</p>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="disposal_temp">
    <li>
        <div class="disposal-box">
            <div class="disposal-header common-box">
                <p class="disposal-logo">
                    <img src="http://placeholder.qiniudn.com/98x98" alt="">
                </p>
                <div class="disposal-main">
                    <div class="disposal-title mt01">
                      <span class="txt fs028 ellipsis">福建优加律师事务所18
                      </span>
                        <span class="disposal-btn">企业</span>
                    </div>
                    <p class="disposal-phone fs026">联系电话：<span class="mobile" data-phone="18039847412">180****7412</span></p>
                </div>
                <p class="disposal-view"><a class="btn btn-s" onclick="pageObj.seekShow(this);" title="查看" href="javascript:void(0)">查看</a></p>
            </div>
            <div class="disposal-con clearfix">
                <div class="big common-box">
                    <p>催收地区：</p>
                    <div>
                        山西省-长治市-郊区&nbsp;&nbsp;辽宁省-抚顺市-东洲区&nbsp;&nbsp;辽宁省-抚顺市-东洲区
                    </div>
                </div>
                <p class="big">催收要求</p>
                <div class="cols-list">
                    <ul class="clearfix">
                        <li>
                            <p>债务金额（元）：30001~100000</p>
                            <p>催收前期费用（元）：10001</p>
                            <p>是否负责找人：否</p>
                            <p>佣金比例：5%</p>
                        </li>

                        <li>
                            <p>债务金额（元）：100001~1000000</p>
                            <p>催收前期费用（元）：133</p>
                            <p>是否负责找人：是</p>
                            <p>佣金比例：6%</p>
                        </li>
                        <li>
                            <p>
                                是否需要债务人有还款能力：是
                            </p>
                            <p>
                                是否需要债权人到达现场：是
                            </p>
                        </li>
                    </ul>
                </div>
                <p class="big">更多介绍</p>
                <div class="more-detail">
                    眼看快到十月一日的履行届满日了，在不知如何处理之下，王女士想到了公证处，于是她于九月二十八日来到公证处咨询，公证人员向王女士说："我建议您进行提存，提存也是清偿债务的一种方式，不然，将来万一涉诉，你将为因债权人下落不明而导致自己无法履行债务的事实承担举证责任，债务迟延履行的违约责任。
                </div>
                <p onclick="pageObj.suggestion();" class="btn btn-s btn-red">投诉/建议</p>
            </div>
        </div>
    </li>
</script>
<script src='{echo JsURL}/m/find/FindIndex.js'></script>
</body>
</html>