{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-title">
                    我的悬赏
                </section>
            </header>
            <div class="content-pd">
                <ul class="list-clue my-clue">
                    <li>
                        <div class="item-clue">
                            <div class="common-box clue-top">
                                <p class="photo">
                                    <img src="../../temp/photo-1.jpg" alt="">
                                </p>
                                <div>
                                    <span class="h3">姓名：刘德</span><span class="type">找人</span>
                                    <span class="fr status status-1">
                  完成
                </span>
                                </div>
                            </div>
                            <div class="clue-msg">
                                <p>
                                    性别：男&emsp;&emsp;年龄：26
                                </p>
                                <p>
                                    身高：174cm <span class="fr fs022">失联时间：2017-04-23</span>
                                </p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="item-clue">
                            <div class="common-box clue-top">
                                <p class="photo">
                                    <img src="../../temp/photo-1.jpg" alt="">
                                </p>
                                <div>
                                    <span class="h3 long ellipsis">丢失物品名称：玩具熊</span><span class="type">找物品</span>
                                    <span class="fr status status-1">
                  完成
                </span>
                                </div>
                            </div>
                            <div class="clue-msg">
                                <p>
                                    <span class="long ellipsis">丢失地址：萧山义桥镇</span> <span class="fr fs022">失联时间：2017-04-23</span>
                                </p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="item-clue">
                            <div class="common-box clue-top">
                                <p class="photo">
                                    <img src="../../temp/photo-1.jpg" alt="">
                                </p>
                                <div>
                                    <span class="h3 long ellipsis">姓名：刘得</span><span class="type">找财产</span>
                                    <span class="fr status status-2">
                  删除
                </span>
                                </div>
                            </div>
                            <div class="clue-msg">
                                <div class="common-box mt01">
                                    <p>地址：</p>
                                    <div>软件园二期观日落30号5楼5205</div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>