{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-title">
                    企业信息
                </section>
                <a href="/membercompany/editinfo/" class="header-right">
                    编辑
                </a>
            </header>
            <div class="content-pd mt02">
                <div class="form-fieldset">
                    <div class="form-box form-view">
                        <div class="row">
                            <p class="form-lab">
                                机 构 名 称:
                            </p>
                            <div class="form-grid">
                                {if !empty($UserInfo[CompanyName])}{$UserInfo[CompanyName]}{else}无{/if}
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                法定代表人:
                            </p>
                            <div class="form-grid">
                                {if !empty($UserInfo[RealName])}{$UserInfo[RealName]}{else}无{/if}
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                固 定 电 话:
                            </p>
                            <div class="form-grid">
                                {if !empty($UserInfo[FixedPhone])}{$UserInfo[FixedPhone]}{else}无{/if}
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                信 用 代 码:
                            </p>
                            <div class="form-grid">
                                {if !empty($UserInfo[CreditCode])}{$UserInfo[CreditCode]}{else}无{/if} {$UserInfo[CreditCode]}
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                营 业 执 照:
                            </p>
                            <div class="form-grid">
                                <div class="image-view">
                                    <a href="">
                                        <img src="{$UserInfo[BusinessImage]}" alt="">
                                    </a>
                                    <p>营业执照副本</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-fieldset">
                    <div class="form-box form-view">
                        <div class="row">
                            <p class="form-lab">
                                代理人姓名:
                            </p>
                            <div class="form-grid">
                                {if !empty($UserInfo[PublicAgent][agentName])}{$UserInfo[PublicAgent][agentName]}{else}无{/if}
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                身&emsp;份&emsp;证:
                            </p>
                            <div class="form-grid">
                                {if !empty($UserInfo[PublicAgent][agentIdNum])}{$UserInfo[PublicAgent][agentIdNum]}{else}无{/if}
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                手 机 号 码:
                            </p>
                            <div class="form-grid">
                                {$User[Mobile]}
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                所 在 地 区:
                            </p>
                            <div class="form-grid">
                                {$UserInfo[Province]}-{$UserInfo[City]}-{$UserInfo[Area]}
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                详 细 地 址:
                            </p>
                            <div class="form-grid">
                                {if !empty($UserInfo[Address])}{$UserInfo[Address]}{else}无{/if}
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                证&emsp;件&emsp;照:
                            </p>
                            <div class="form-grid">
                                <div class="image-view">
                                    <a href="">
                                        <img src="{$UserInfo[PublicAgent][registrantImages][1]}" alt="">
                                    </a>
                                    <p>身份证反面照</p>
                                </div>
                                <div class="image-view">
                                    <a href="">
                                        <img src="{$UserInfo[PublicAgent][registrantImages][0]}" alt="">
                                    </a>
                                    <p>身份证正面照</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>