{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-title">
                    接单要求
                </section>
                <a href="#" class="header-right">
                    <i class="icon-add2"></i>
                </a>
            </header>
            <div class="content-pd mt02 mini-list">
                <div class="form-fieldset">
                    <div class="form-legend common-box">
                        <div>
                            <i class="icon icon-czfmsg"></i>
                            处置方要求信息
                            <i class="icon icon-del2 fr"></i>
                            <i class="icon icon-edit fr mr03"></i>
                        </div>
                    </div>
                    <div class="form-box form-view mt01">
                        <div class="row">
                            <p class="form-lab">
                                方 案 名 称:
                            </p>
                            <div class="form-grid">
                                华容资产管理有限公司
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                负责人姓名:
                            </p>
                            <div class="form-grid">
                                王思聪
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                联 系 电 话:
                            </p>
                            <div class="form-grid">
                                13960325322
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                催 收 地 区:
                            </p>
                            <div class="form-grid">
                                <p>福建省-厦门市-思明区</p>
                                <p>福建省-厦门市-思明区</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-fieldset">
                    <div class="form-legend common-box">
                        <div>
                            <i class="icon icon-czfmsg"></i>
                            处置方要求信息
                            <i class="icon icon-del2 fr"></i>
                            <i class="icon icon-edit fr mr03"></i>
                        </div>
                    </div>
                    <div class="form-box form-view mt01">
                        <div class="row">
                            <p class="form-lab">
                                方 案 名 称:
                            </p>
                            <div class="form-grid">
                                华容资产管理有限公司
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                负责人姓名:
                            </p>
                            <div class="form-grid">
                                王思聪
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                联 系 电 话:
                            </p>
                            <div class="form-grid">
                                13960325322
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                催 收 地 区:
                            </p>
                            <div class="form-grid">
                                <p>福建省-厦门市-思明区</p>
                                <p>福建省-厦门市-思明区</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-fieldset">
                    <div class="form-legend common-box">
                        <div>
                            <i class="icon icon-czfmsg"></i>
                            处置方要求信息
                            <i class="icon icon-del2 fr"></i>
                            <i class="icon icon-edit fr mr03"></i>
                        </div>
                    </div>
                    <div class="form-box form-view mt01">
                        <div class="row">
                            <p class="form-lab">
                                方 案 名 称:
                            </p>
                            <div class="form-grid">
                                华容资产管理有限公司
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                负责人姓名:
                            </p>
                            <div class="form-grid">
                                王思聪
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                联 系 电 话:
                            </p>
                            <div class="form-grid">
                                13960325322
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                催 收 地 区:
                            </p>
                            <div class="form-grid">
                                <p>福建省-厦门市-思明区</p>
                                <p>福建省-厦门市-思明区</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>