{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-title">
                    律师信息
                </section>
                <a href="#" class="header-right">
                    编辑
                </a>
            </header>
            <div class="content-pd mt02">
                <div class="form-fieldset">
                    <div class="form-box form-view">
                        <div class="row">
                            <p class="form-lab">
                                手 机 号 码:
                            </p>
                            <div class="form-grid">
                                13960326355
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                真 实 姓 名:
                            </p>
                            <div class="form-grid">
                                王思聪
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                身&emsp;份&emsp;证:
                            </p>
                            <div class="form-grid">
                                432612198503045689
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                执&emsp;业&emsp;证:
                            </p>
                            <div class="form-grid">
                                432612198503045689
                            </div>
                        </div>

                        <div class="row">
                            <p class="form-lab">
                                所属事务所:
                            </p>
                            <div class="form-grid">
                                三木律师事务所
                            </div>
                        </div>

                        <div class="row">
                            <p class="form-lab">
                                年检到期日:
                            </p>
                            <div class="form-grid">
                                2017-12-14
                            </div>
                        </div>

                        <div class="row">
                            <p class="form-lab">
                                律师资格证:
                            </p>
                            <div class="form-grid">
                                <div class="image-view">
                                    <a href="">
                                        <img src="http://placeholder.qiniudn.com/205x146" alt="">
                                    </a>
                                    <p>律师资格证年检页</p>
                                </div>
                                <div class="image-view">
                                    <a href="">
                                        <img src="http://placeholder.qiniudn.com/205x146" alt="">
                                    </a>
                                    <p>律师资格证照片页</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-fieldset">
                    <div class="form-box form-view">
                        <div class="row">
                            <p class="form-lab">
                                &emsp;Q&emsp;Q&emsp;:
                            </p>
                            <div class="form-grid">
                                563248756
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                邮&emsp;&emsp;&emsp;箱:
                            </p>
                            <div class="form-grid">
                                563248756@qq.com
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                所 在 地 区:
                            </p>
                            <div class="form-grid">
                                福建省-厦门市-思明区
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                详 细 地 址:
                            </p>
                            <div class="form-grid">
                                和山大道150号
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>