{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-title">
                    个人信息
                </section>
                <a href="#" class="header-right">
                    编辑
                </a>
            </header>
            <div class="content-pd mt02">
                <div class="form-fieldset">
                    <div class="form-box form-view">
                        <div class="row">
                            <p class="form-lab">
                                手 机 号 码:
                            </p>
                            <div class="form-grid">
                                13960326355
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                昵&emsp;&emsp;&emsp;称:
                            </p>
                            <div class="form-grid">
                                刘备
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                真 实 姓 名:
                            </p>
                            <div class="form-grid">
                                王思聪
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                身&emsp;份&emsp;证:
                            </p>
                            <div class="form-grid">
                                432612198503045689
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-fieldset">
                    <div class="form-box form-view">
                        <div class="row">
                            <p class="form-lab">
                                &emsp;Q&emsp;Q&emsp;:
                            </p>
                            <div class="form-grid">
                                563248756
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                邮&emsp;&emsp;&emsp;箱:
                            </p>
                            <div class="form-grid">
                                563248756@qq.com
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                所 在 地 区:
                            </p>
                            <div class="form-grid">
                                福建省-厦门市-思明区
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                详 细 地 址:
                            </p>
                            <div class="form-grid">
                                和山大道150号
                            </div>
                        </div>
                    </div>
                </div>
                <p class="form-tips" style="margin-bottom: 1rem;">
                    <span>信息完成度越高，审核越快</span>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>