{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-title">
                    债权管理
                </section>
            </header>
            <div class="content-pd mt02">
                <ul class="item-list">
                    <li>
                        <a href="#">
                            <i class="icon-del" onclick="pageObj.delDom(this)"></i>
                            <i class="status status-1"></i>
                            <div class="item-hd">
                                债务编号：201702280001
                                <i class="icon icon-del2 fr" onclick="pageObj.delDebt(this,'{{debt.DebtID}}')"></i>
                            </div>
                            <div class="item-main">
                                <p class="h4">
                                    债务人：刘德
                                </p>
                                <p class="h5">
                                    债务人地区：福建省-厦门市-思明区
                                </p>
                            </div>
                            <div class="item-detail">
                                债务金额：<span class="c-red">¥10000.00</span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="status status-2"></i>
                            <div class="item-hd">
                                债务编号：201702280001
                            </div>
                            <div class="item-main">
                                <p class="h4">
                                    债务人：刘德
                                </p>
                                <p class="h5">
                                    债务人地区：福建省-厦门市-思明区
                                </p>
                            </div>
                            <div class="item-detail">
                                债务金额：<span class="c-red">¥10000.00</span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="status status-3"></i>
                            <div class="item-hd">
                                债务编号：201702280001
                            </div>
                            <div class="item-main">
                                <p class="h4">
                                    债务人：刘德
                                </p>
                                <p class="h5">
                                    债务人地区：福建省-厦门市-思明区
                                </p>
                            </div>
                            <div class="item-detail">
                                债务金额：<span class="c-red">¥10000.00</span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="status status-4"></i>
                            <div class="item-hd">
                                债务编号：201702280001
                            </div>
                            <div class="item-main">
                                <p class="h4">
                                    债务人：刘德
                                </p>
                                <p class="h5">
                                    债务人地区：福建省-厦门市-思明区
                                </p>
                            </div>
                            <div class="item-detail">
                                债务金额：<span class="c-red">¥10000.00</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>