{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content infinite-scroll pull-to-refresh-content infinite-scroll-bottom">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-title">
                    我的悬赏
                </section>
            </header>
            <div class="content-pd">
                <ul class="list-clue my-clue">

                </ul>
                <!-- 加载提示符 -->
                <div class="infinite-scroll-preloader">
                    <div class="preloader"></div>
                </div>
                <div class="infinite-scroll-noData">
                    没有更多数据！
                </div>
            </div>
            <div class="common-empty">
                <img src="{echo CssURL}/m/images/empty-img.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="clue_temp">
    {{each Data as item}}
    <% if(item.Type=="找人"){%>
    <li>
        <div class="item-clue">
            <div class="common-box clue-top">
                <p class="photo">
                    <img src="{{item.Avatar}}" alt="">
                </p>
                <div>
                    <span class="h3">姓名：{{item.Message.find_name}}</span><span class="type">找人</span>
                    <span class="fr status status-1">
                  {{item.NStatus}}
                </span>
                </div>
            </div>
            <div class="clue-msg">
                <p>
                    性别：{{item.Message.find_sex}}&emsp;&emsp;年龄：{{item.Message.find_age}}
                </p>
                <p>
                    身高：{{item.Message.find_height}}cm <span class="fr fs022">失联时间：{{item.Message.last_time}}</span>
                </p>
            </div>
        </div>
    </li>
    <%}%>
    <% if(item.Type=="找财产"){ %>
    <li>
        <div class="item-clue">
            <div class="common-box clue-top">
                <p class="photo">
                    <img src="{{item.Avatar}}" alt="">
                </p>
                <div>
                    <span class="h3 long ellipsis">姓名：{{item.Message.name}}</span><span class="type">找财产</span>
                    <span class="fr status status-1">
                  {{item.NStatus}}
                </span>
                </div>
            </div>
            <div class="clue-msg">
                <div class="common-box mt01">
                    <p>地址：</p>
                    <div>{{item.Message.province}}{{item.Message.city}}{{item.Message.area}}{{item.Message.detail_address}}</div>
                </div>
            </div>
        </div>
    </li>
    <%}%>
    <% if(item.Type=="其他"){ %>
    <li>
        <div class="item-clue">
            <div class="common-box clue-top">
                <p class="photo">
                    <img src="{{item.Avatar}}" alt="">
                </p>
                <div>
                    <span class="h3 long ellipsis">丢失物品名称：{{item.Message.lost_name}}</span><span class="type">找物品</span>
                    <span class="fr status status-1">
                  {{item.NStatus}}
                </span>
                </div>
            </div>
            <div class="clue-msg">
                <p>
                    <span class="long ellipsis">丢失地址：{{item.Message.province}}{{item.Message.city}}{{item.Message.area}}{{item.Message.detail_address}}</span> <span class="fr fs022">失联时间：{{item.Message.lost_time}}</span>
                </p>
            </div>
        </div>
    </li>
    <%}%>
    {{/each}}
</script>
<script src='{echo JsURL}/m/member/MemberReword.js'></script>
</body>
</html>