{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-title">
                    关注/收藏
                </section>
               <!-- <a href="#" class="header-right">
                    <i class="icon-search2"></i>
                </a>-->
            </header>
            <div class="tab-nav tab-line">
                <a class="active" href="#" data-type="0">关注</a>
                <a class="" data-type="1" href="#">收藏</a>
            </div>

            <div class="content-pd mt02">
                <ul class="item-list">

                </ul>
                <!-- 加载提示符 -->
                <div class="infinite-scroll-preloader">
                    <div class="preloader"></div>
                </div>
                <div class="infinite-scroll-noData">
                    没有更多数据！
                </div>
            </div>
            <div class="common-empty">
                <img src="{echo CssURL}/m/images/empty-img.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="focus_temp">
<% if(foucusType==0){%>
{{each Data as item}}
<li>
    <div class="item-hd">
        债务编号：{{item.DebtNum}}
        <i class="icon-follow fr follow-ed" onclick="pageObj.cancelConcern('{{item.ID}}')"></i>
    </div>
    <a href="/debt/{{item.DebtID}}.html">
        <div class="item-main">
            <p class="h4">
                债务人：{{item.Name}}
            </p>
            <p class="h5">
                债务人地区：{{item.Province}}-{{item.City}}-{{item.Area}}
            </p>
        </div>
        <div class="item-detail">
            债务金额：<span class="c-red">¥{{item.DebtAmount}}</span>
        </div>
    </a>
</li>
{{/each}}
<% } %>
<% if(foucusType==1){%>
{{each Data as item}}
<li>
    <a href="/assetdetails/{{item.DebtID}}.html">
        <div class="item-hd">
            资产单号：{{item.AssetMember}}
            <i class="icon-favo fr favo-ed" onclick="pageObj.cancelConcern('{{item.ID}}')"></i>
        </div>
        <div class="item-main" style="border-bottom: 0">
            <p class="h4 ellipsis">
                资产名称：{{item.Title}}
            </p>
            <p class="h5">
                成交价：¥{{item.Price}}
            </p>
        </div>
    </a>
</li>
{{/each}}
<% } %>
</script>
<script src='{echo JsURL}/m/member/MemberPersonFocus.js'></script>
</body>
</html>