{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-title">
                    收货地址
                </section>
                <a href="/member/addressedit/" class="header-right">
                    管理
                </a>
            </header>
            <div class="content-pd address-list mt02">
                {loop $AddressList $lists}
                <div class="form-fieldset">
                    <div class="form-legend common-box">
                        <div>
                            <i class="icon icon-address3"></i>
                            收货地址信息
                            {if $lists['IsDefault']==1}
                            <span class="default fr active">默认地址</span>
                            {else}
                            <span class="default fr" onclick="pageObj.setDefaultAddress(this,'{$lists[ShippingAddressID]}')">设为默认</span>
                            {/if}
                        </div>
                    </div>
                    <div class="form-box form-view mt01">
                        <div class="row">
                            <p class="form-lab">
                                收&emsp;货&emsp;人:
                            </p>
                            <div class="form-grid">
                                {$lists['Name']}
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                手 机 号 码:
                            </p>
                            <div class="form-grid">
                                {$lists['Mobile']}
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                收 货 地 址:
                            </p>
                            <div class="form-grid">
                                {$lists['Province']}- {$lists['City']}- {$lists['Area']}
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                详 细 地 址:
                            </p>
                            <div class="form-grid ellipsis">
                                {$lists['Address']}
                            </div>
                        </div>
                    </div>
                </div>
                {/loop}
                <div class="form-tips">
                    <span>请填写正确收货地址，避免经济损失</span>
                </div>
            </div>
            <div class="box-btn mt05">
                <a class="btn" href="/member/addressadd/">添加收货地址</a>
            </div>
        </div>
    </div>
</div>
<script src='{echo JsURL}/m/member/MemberAddress.js'></script>
</body>
</html>