{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-title">
                    编辑收货地址
                </section>
            </header>
            <div class="content-pd address-list mt02">
                <div class="form-fieldset">
                    <div class="form-legend common-box">
                        <div>
                            <i class="icon icon-address3"></i>
                            收货地址信息
                            <span class="default fr active">设为默认</span>
                        </div>
                    </div>
                    <div class="form-box mt01">
                        <input type="hidden" name="addressId" value="">
                        <div class="row">
                            <p class="form-lab">
                                收&emsp;货&emsp;人:
                            </p>
                            <div class="form-grid">
                                <input class="inp" name="to_name" maxlength="12" type="text" placeholder="请输入收货人姓名">
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                手 机 号 码:
                            </p>
                            <div class="form-grid">
                                <input class="inp" type="tel" name="to_phone" placeholder="请输入收货人的手机号码">
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                收 货 地 址:
                            </p>
                            <div class="form-grid">
                                <input class="inp" name="address" type="text" placeholder="请选择收货的地址">
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                详 细 地 址:
                            </p>
                            <div class="form-grid ellipsis">
                                <textarea class="textarea" name="detail_area" id="" cols="30" maxlength="50" rows="10" placeholder="请输入街道门牌信息（最多50个字）"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-tips">
                    <span>请填写正确收货地址，避免经济损失</span>
                </div>
            </div>
            <div class="fixed-bottom">
                <div class="box-btn mt05">
                    <a class="btn" href="javascript:void(0)" onclick="pageObj.saveAddress(this)">保存</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='{echo JsURL}/m/member/MemberAddressAdd.js'></script>
</body>
</html>