{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-title">
                    申请催客
                </section>
            </header>
            <div class="content-pd mt02">
                <div class="form-fieldset">
                    <div class="form-legend common-box">
                        <div>
                            <i class="icon-photo"></i>
                            上传证件照
                        </div>
                    </div>
                    <div class="form-box">
                        <div class="row">
                            <div class="form-grid">
                                <p class="form-lab">
                                    身份证正面:
                                </p>
                            </div>
                            <div class="form-grid" style="margin-left:.36rem;">
                                <p class="form-lab">
                                    身份证反面:
                                </p>
                            </div>
                        </div>
                        <div class="row upload-row col-2">
                            <div class="form-grid bx">
                                <div class="img-wrap">
                                </div>
                                <label>
                                    <input type="file" onchange="imageUpload(this)" name="avatar_file" data-size="100" data-msg="100kb" data-ratio="1.45" style="display:none;" value="">
                                </label>
                            </div>

                            <div class="form-grid bx">
                                <div class="img-wrap">
                                </div>
                                <label>
                                    <input type="file" onchange="imageUpload(this)" name="avatar_file" data-size="100" data-msg="100kb" data-ratio="1.45" style="display:none;" value="">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-grid" style="margin-left:.36rem;">
                                <p class="form-lab">
                                    手持身份证:
                                </p>
                            </div>
                            <div class="form-grid" style="margin-left:.36rem;">
                                <p class="form-lab">
                                    其他:
                                </p>
                            </div>
                        </div>
                        <div class="row upload-row col-2">
                            <div class="form-grid bx">
                                <div class="img-wrap">
                                </div>
                                <label>
                                    <input type="file" onchange="imageUpload(this)" name="avatar_file" data-size="100" data-msg="100kb" data-ratio="1.45" style="display:none;" value="">
                                </label>
                            </div>
                            <div class="form-grid bx">
                                <div class="img-wrap">
                                </div>
                                <label>
                                    <input type="file" onchange="imageUpload(this)" name="avatar_file" data-size="100" data-msg="100kb" data-ratio="1.45" style="display:none;" value="">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-bottom">
                <div class="box-btn">
                    <a class="btn" href="#">确认上传</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>