{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-title">
                    商品详情
                </section>
            </header>
            <div class="view-box">
                <div class="form-box">
                    <div class="row">
                        卖家：张伟
                    </div>
                    <div class="row">
                        联系电话：13960333222
                    </div>
                </div>
            </div>
            <div class="item-goods mt02">
                <div class="hd">
                    订单编号：201702280001 <span class="fr">已付款</span>
                </div>
                <div class="common-box item-con">
                    <p class="pic">
                        <img src="../temp/goods-1.jpg" alt="">
                    </p>
                    <div>
                        <p class="h3">
                            <span class="long ellipsis">上品武夷山大红袍</span> <span class="fr fs026">x1</span>
                        </p>
                        <p class="mt03">
                            <span class="bold">¥ 1899.00</span><br>
                            <span class="line-through">¥ 2899.00</span>
                        </p>
                    </div>
                </div>
                <div class="order-form-view">
                    <p>
                        商品总价：<span class="fr">¥ 1899.00</span>
                    </p>
                    <p>
                        运费（快递）：<span class="fr">¥ 10.00</span>
                    </p>
                    <p class="bold bor-b">
                        订单总价：<span class="fr">¥ 1909.00</span>
                    </p>
                    <p class="bold">
                        实付款：<span class="fr">¥ 1909.00</span>
                    </p>
                </div>
            </div>
            <div class="fixed-height"></div>
        </div>
        <div class="fixed-bottom">
            <div class="box-btn common-box">
                <div>
                    <a class="btn btn-default" href="#">返回订单列表</a>
                </div>
                <p class="w-100"></p>
                <div>
                    <a class="btn" href="#">提醒发货</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>