{template Head}
<body>
<div class="page-group">
    <div class="page" id="information">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-title">
                    用户信息
                </section>
            </header>
            <div class="tab-nav">
                <a class="active" href="#tab1">个人用户<span class="pop"></span></a>
                <a href="#tab2">企业用户<span class="pop"></span></a>
            </div>
            <div class="tab-con">
                <div id="tab1" class="tab-person active">
                    <div class="content-pd mt02">
                        <div class="form-fieldset">
                            <div class="form-legend common-box">
                                <div>
                                    <i class="icon icon-usermsg"></i>
                                    个人信息
                                </div>
                            </div>
                            <div class="form-box mt01">
                                <div class="row">
                                    <p class="form-lab">
                                        昵&emsp;&emsp;&emsp;称:
                                    </p>
                                    <div class="form-grid">
                                        <input class="inp" name="nickName" maxlength="5" placeholder="请输入昵称" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="form-lab">
                                        真 实 姓 名:
                                    </p>
                                    <div class="form-grid">
                                        <input class="inp" name="name" maxlength="12" placeholder="请输入您的真实姓名" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="form-lab">
                                        身&emsp;份&emsp;证:
                                    </p>
                                    <div class="form-grid">
                                        <input class="inp" name="idNum" placeholder="请输入您的身份证号" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="form-lab">
                                        &emsp;Q&emsp;Q&emsp;:
                                    </p>
                                    <div class="form-grid">
                                        <input class="inp" name="qq" placeholder="请输入您的QQ号码" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="form-lab">
                                        邮&emsp;&emsp;&emsp;箱:
                                    </p>
                                    <div class="form-grid">
                                        <input class="inp" name="email" placeholder="请输入您的邮箱" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="form-lab">
                                        地&emsp;&emsp;&emsp;址:
                                    </p>
                                    <div class="form-grid">
                                        <input class="inp" name="address" placeholder="请选择您的所在位置" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="form-lab">
                                        详 细 地 址:
                                    </p>
                                    <div class="form-grid">
                                        <textarea class="textarea" maxlength="50" placeholder="请输入街道门牌信息（最多50个字）" name="areaDetail" cols="30" rows="10"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-btn mt05">
                        <a class="btn" id="person_role_auth_save" href="#">确定</a>
                    </div>
                </div>
                <div id="tab2" class="tab-company">
                    <div class="content-pd mt02">
                        <div class="form-fieldset">
                            <div class="form-legend common-box">
                                <div>
                                    <i class="icon icon-usermsg"></i>
                                    企业信息
                                </div>
                            </div>
                            <div class="form-box mt01">
                                <div class="row">
                                    <p class="form-lab">
                                        机 构 名 称:
                                    </p>
                                    <div class="form-grid">
                                        <input class="inp" name="companyName" placeholder="请输入机构名称" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="form-lab">
                                        法定代表人:
                                    </p>
                                    <div class="form-grid">
                                        <input class="inp" name="lawPerson" maxlength="12" placeholder="请输入法定代表人" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="form-lab">
                                        固 定 电 话:
                                    </p>
                                    <div class="form-grid">
                                        <input class="inp" name="fixedPhone" placeholder="请输入固定电话" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="form-lab">
                                        代理人姓名:
                                    </p>
                                    <div class="form-grid">
                                        <input class="inp" name="agentName" maxlength="12" placeholder="请输入代理人姓名" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="form-lab">
                                        代理人身份证:
                                    </p>
                                    <div class="form-grid">
                                        <input class="inp" name="agentIdNum" placeholder="请输入代理人身份证" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="form-lab">
                                        地&emsp;&emsp;&emsp;址:
                                    </p>
                                    <div class="form-grid">
                                        <input class="inp" name="address" placeholder="请选择您的所在位置" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="form-lab">
                                        详 细 地 址:
                                    </p>
                                    <div class="form-grid">
                                        <textarea class="textarea" maxlength="50" placeholder="请输入街道门牌信息（最多50个字）" name="areaDetail" id="" cols="30" rows="10"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-fieldset">
                            <div class="form-legend common-box">
                                <div>
                                    <i class="icon-photo"></i>
                                    照片上传
                                </div>
                            </div>
                            <div class="form-box">
                                <div class="row">
                                    <div class="form-grid">
                                        <p class="form-lab">
                                            代理人身份证正面:
                                        </p>
                                    </div>
                                    <div class="form-grid" style="margin-left:.36rem;">
                                        <p class="form-lab">
                                            代理人身份证反面:
                                        </p>
                                    </div>
                                </div>
                                <div class="row upload-row col-2" id="agent_pic" >
                                    <div class="form-grid bx imageUploadBox">
                                        <input class="portrait" type="file" name="avatar_file"  accept="image/jpeg, image/x-png, image/gif">
                                        <div class="img-wrap">
                                        </div>
                                    </div>

                                    <div class="form-grid bx imageUploadBox">
                                        <input class="portrait" type="file" name="avatar_file"  accept="image/jpeg, image/x-png, image/gif">
                                        <div class="img-wrap">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="form-lab">
                                        营业执照副本:
                                    </p>
                                </div>
                                <div class="row upload-row col-2" id="license">
                                    <div class="form-grid bx imageUploadBox">
                                        <input class="portrait" type="file" name="avatar_file"  accept="image/jpeg, image/x-png, image/gif">
                                        <div class="img-wrap">
                                        </div>
                                    </div>
                                    <div class="form-grid" style="margin-left:.36rem;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-btn">
                        <a class="btn" id="company_role_auth_save" href="javascript:void(0);">确定</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{echo JsURL}/m/lib/photoclip/iscroll-zoom.js"></script>
<script src="{echo JsURL}/m/lib/photoclip/hammer.min.js"></script>
<script src="{echo JsURL}/m/lib/photoclip/lrz.all.bundle.js"></script>
<script src="{echo JsURL}/m/lib/photoclip/PhotoClip.js"></script>
<script type='text/javascript' src='{echo JsURL}/m/member/MemberRegisterTwo.js' charset='utf-8'></script>
</body>
</html>