{template Head}
<body>
<div class="page-group">
    <div class="page page-member">
        <div class="content">
            <header class="common-header">
                <a class="header-left" href="/member/setting/">
                    <i class="icon-setting"></i>
                </a>
                <a class="header-right" href="#">
                    <i class="icon-remind2"></i>
                </a>
            </header>
            <div class="member-top">
                <div class="user-msg">
                    <div class="photo-box">
                        <p class="photo">
                            <img src="{$UserInfo['Avatar']}" alt="{$UserInfo['NickName']}">
                        </p>
                        <span class="status">{$IdentityStatus[$UserInfo['IdentityState']]}</span>
                    </div>
                    <p class="name">{$UserInfo['NickName']}<span class="type">{$Identity[$UserInfo['Identity']]}</span></p>
                </div>
            </div>

            <div class="member-nav item">
                <a href="/memberlawfirm/information/" class="item-con">
                    <i class="icon icon-user"></i>
                    <div class="option">
                        事务所信息
                    </div>
                    <i class="icon-arrow"></i>
                </a>
                <a href="/member/wallet/" class="item-con">
                    <i class="icon icon-wallet"></i>
                    <div class="option">
                        我的钱包
                    </div>
                    <i class="icon-arrow"></i>
                </a>
                <a href="/member/address/" class="item-con">
                    <i class="icon icon-address2"></i>
                    <div class="option">
                        收货地址
                    </div>
                    <i class="icon-arrow"></i>
                </a>
            </div>

            <div class="member-nav item">
                <a href="#" class="item-con">
                    <i class="icon icon-xs"></i>
                    <div class="option">
                        我的悬赏
                    </div>
                    <i class="icon-arrow"></i>
                </a>
                <a href="#" class="item-con">
                    <i class="icon icon-flyz"></i>
                    <div class="option">
                        法律援助
                    </div>
                    <i class="icon-arrow"></i>
                </a>
            </div>

            <div class="member-nav item">
                <a href="#" class="item-con">
                    <i class="icon icon-gzsc"></i>
                    <div class="option">
                        关注/收藏
                    </div>
                    <i class="icon-arrow"></i>
                </a>
            </div>

            <div class="fixed-height"></div>
        </div>
        {template MemberFoot}
    </div>
</div>
</body>
</html>