{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content infinite-scroll pull-to-refresh-content infinite-scroll-bottom">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-title">
                    我的资产
                </section>
                <a class="header-right" id="status0" href="#">筛选</a>
                <a class="header-right" id="status1" style="display: none;" href="#">筛选</a>
                <a class="header-right" id="status2" style="display: none;"  href="#">筛选</a>
            </header>
            <div class="tab-nav">
                <a class="active" id="my_assets" data-type="0" href="#tab1">
                    我发布的
                </a>
                <a href="#tab2" id="buy_assets" data-type="1">
                    已买到的
                </a>
                <a href="#tab3" id="sale_assets" data-type="2">
                    已卖出的
                </a>
            </div>
            <ul class="item-goods-list">
            </ul>
            <!-- 加载提示符 -->
            <div class="infinite-scroll-preloader">
                <div class="preloader"></div>
            </div>
            <div class="infinite-scroll-noData">
                没有更多数据！
            </div>
            <div class="common-empty">
                <img src="{echo CssURL}/m/images/empty-img.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="asset_temp">
    <% if(assetType=="0"){ %>
    {{each Data as asset}}
    <li>
        <div class="item-goods">
            <div class="hd">
                资产编号：{{asset.AssetMember}} <span class="fr"><%if(asset.Status=="1"){%>待审核<%}%> <%if(asset.Status=="2"){%>审核通过<%}%> <%if(asset.Status=="3"){%>审核失败<%}%></span>
            </div>
            <div class="common-box item-con" onclick="go('/assetdetails/{{asset.AssetID}}.html')">
                <p class="pic">
                    <img src="{{asset.ImageUrl}}" alt="">
                </p>
                <div>
                    <p class="h3">
                        <span class="long ellipsis">{{asset.Title}}</span> <span class="fr fs026">x{{asset.Amount}}</span>
                    </p>
                    <p class="mt03">
                        <span class="bold">¥ {{asset.Price}}</span><br/>
                        <span class="line-through">¥ {{asset.MarketPrice}}</span>
                    </p>
                </div>
            </div>
            <div class="item-total">
                共{{asset.Amount}}件商品 合计：¥ <span class="bold">{{asset.AssetsAmount}}</span>（含运费 ¥ {{asset.Freight}}）
            </div>
            <div class="item-oparate clearfix">
                <div class="fr">
                    <a href="#{{asset.AssetID}}" class="btn">
                        编辑
                    </a>
                    <% if(asset.Status=="2"&&asset.ProductStatus=="1"){ %> <a href="#{{asset.AssetID}}" class="btn">立即下架</a> <% } %>
                    <% if(asset.Status=="2"&&asset.ProductStatus=="0"){ %> <a href="#{{asset.AssetID}}" class="btn">立即上架</a> <% } %>
                </div>
            </div>
        </div>
    </li>
    {{/each}}
    <% } %>
    <% if(assetType=="1"){ %>
    {{each Data as asset}}
    <li>
        <div class="item-goods">
            <div class="hd">
                订单编号：{{asset.OrderNumber}} <span class="fr">{{asset.NStatus}}</span>
            </div>
            <div class="common-box item-con" onclick="go('{{asset.Url}}')">
                <p class="pic">
                    <img src="{{asset.ImageUrl}}" alt="">
                </p>
                <div>
                    <p class="h3">
                        <span class="long ellipsis">{{asset.Title}}</span> <span class="fr fs026">x{{asset.Num}}</span>
                    </p>
                    <p class="mt03">
                        <span class="bold">¥ {{asset.UnitPrice}}</span><br/>
                        <span class="line-through">¥ {{asset.MarketPrice}}</span>
                    </p>
                </div>
            </div>
            <div class="item-total">
                共{{asset.Num}}件商品 合计：¥ <span class="bold">{{asset.TotalAmount}}</span>（含运费 ¥ {{asset.Freight}}）
            </div>
        </div>
    </li>
    {{/each}}
    <% } %>
</script>
<script src='{echo JsURL}/m/member/MemberPersonAsset.js'></script>
</body>
</html>