{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-title">
                    债权管理
                </section>
            </header>
            <div class="content-pd mt02">
                <ul class="item-list">
                    {loop $Data['Data'] $lists}
                    <li>
                        <a href="/debt/{$lists[DebtID]}.html">
                            <i class="status status-{$lists[Status]}"></i>
                            <div class="item-hd">
                                债务编号：{$lists[DebtNum]}
                            </div>
                            <div class="item-main">
                                <p class="h4">
                                    债务人：{$lists[Name]}
                                </p>
                                <p class="h5">
                                    债务人地区：{$lists[Province]}-{$lists[City]}-{$lists[Area]}
                                </p>
                            </div>
                            <div class="item-detail">
                                债务金额：<span class="c-red">¥{$lists[DebtAmount]}</span>
                            </div>
                        </a>
                    </li>
                    {/loop}
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>