{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-title">
                    投诉建议
                </section>
            </header>
            <div class="content-pd mt03">
                <div class="ask-me">
                    <p class="h3">投诉与建议:</p>
                    <div class="mt02">
                        <textarea class="textarea" name="advice_text" id="" cols="30" rows="10" placeholder="感谢您对我们工作的支持，提出您的宝贵意见与建议。 "></textarea>
                    </div>
                    <p class="ask-tips">
                        *字数不超过150字
                    </p>
                </div>
            </div>
            <div class="box-btn" style="margin-top: 1rem;">
                <a href="javascript:void(0)" id="advice" class="btn">
                    提交
                </a>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='{echo JsURL}/m/member/MemberAdvice.js' charset='utf-8'></script>
</body>
</html>