{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-title">
                    系统消息
                </section>
            </header>
            <div class="sys-message-list">
                <div class="item mt0">
                    <a href="#" class="item-con">
                        <i class="icon icon-message"></i>
                        <div class="option ellipsis">
                            您已登录
                        </div>
                        <div class="option-text">
                            2017-06-18
                        </div>
                    </a>
                    <a href="#" class="item-con">
                        <i class="icon icon-message open"></i>
                        <div class="option ellipsis">
                            您已登录
                        </div>
                        <div class="option-text">
                            2017-06-18
                        </div>
                    </a>
                    <a href="#" class="item-con">
                        <i class="icon icon-message open"></i>
                        <div class="option ellipsis">
                            您已登录
                        </div>
                        <div class="option-text">
                            2017-06-18
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>