{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-title">
                    绑定手机
                </section>
            </header>
            <div class="content-pd mt02">
                <div class="item" style="border-radius: .05rem;">
                    <div class="item-con">
                        <label class="lab">
                            已绑手机号
                        </label>
                        <div class="option option-text">
                            135****4576
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-btn" style="margin-top: 2rem;">
                <a href="#" class="btn">更换手机号</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>