{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-title">
                    律师信息
                </section>
                <a href="/memberlawyer/editinfo/" class="header-right">
                    编辑
                </a>
            </header>
            <div class="content-pd mt02">
                <div class="form-fieldset">
                    <div class="form-box form-view">
                        <div class="row">
                            <p class="form-lab">
                                手 机 号 码:
                            </p>
                            <div class="form-grid">
                                {$User[Mobile]}
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                真 实 姓 名:
                            </p>
                            <div class="form-grid">
                                {if !empty($UserInfo[RealName])}{$UserInfo[RealName]}{else}无{/if}
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                身&emsp;份&emsp;证:
                            </p>
                            <div class="form-grid">
                                {if !empty($UserInfo[CardNum])}{$UserInfo[CardNum]}{else}无{/if}
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                执&emsp;业&emsp;证:
                            </p>
                            <div class="form-grid">
                                {if !empty($UserInfo[ProfessionalNum])}{$UserInfo[ProfessionalNum]}{else}无{/if}
                            </div>
                        </div>

                        <div class="row">
                            <p class="form-lab">
                                所属事务所:
                            </p>
                            <div class="form-grid">
                                {if !empty($UserInfo[CompanyName])}{$UserInfo[CompanyName]}{else}无{/if}
                            </div>
                        </div>

                        <div class="row">
                            <p class="form-lab">
                                年检到期日:
                            </p>
                            <div class="form-grid">
                                {if !empty($UserInfo[AnnualDueDate])}{$UserInfo[AnnualDueDate]}{else}无{/if}
                            </div>
                        </div>

                        <div class="row">
                            <p class="form-lab">
                                律师资格证:
                            </p>
                            <div class="form-grid">
                                <div class="image-view">
                                    <a href="">
                                        <img src="{$UserInfo[LawyerCertificateYear]}" alt="">
                                    </a>
                                    <p>律师资格证年检</p>
                                </div>
                                <div class="image-view">
                                    <a href="">
                                        <img src="{$UserInfo[LawyerCertificatePhoto]}" alt="">
                                    </a>
                                    <p>律师资格证照片</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-fieldset">
                    <div class="form-box form-view">
                        <div class="row">
                            <p class="form-lab">
                                &emsp;Q&emsp;Q&emsp;:
                            </p>
                            <div class="form-grid">
                                {if !empty($UserInfo[QQ])}{$UserInfo[QQ]}{else}无{/if}
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                邮&emsp;&emsp;&emsp;箱:
                            </p>
                            <div class="form-grid">
                                {if !empty($UserInfo['E-Mail'])}{$UserInfo['E-Mail']}{else}无{/if}
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                所 在 地 区:
                            </p>
                            <div class="form-grid">
                                {$UserInfo[Province]}-{$UserInfo[City]}-{$UserInfo[Area]}
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                详 细 地 址:
                            </p>
                            <div class="form-grid">
                                {if !empty($UserInfo[Address])}{$UserInfo[Address]}{else}无{/if}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>