{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-title">
                    我的关注
                </section>
                <a href="#" class="header-right">
                    <i class="icon-search2"></i>
                </a>
            </header>
            <div class="content-pd mt02">
                <ul class="item-list">
                    <li>
                        <a href="#">
                            <div class="item-hd">
                                资产单号：201702280001
                                <i class="icon-favo fr favo-ed"></i>
                            </div>
                            <div class="item-main">
                                <p class="h4 ellipsis">
                                    资产名称：武夷山肉桂
                                </p>
                                <p class="h5">
                                    成交价：¥240.00
                                </p>
                            </div>
                            <div class="item-detail">
                                <p class="lab">商品详情:</p>
                                <div class="form-grid">
                                    朋友因为资金周转向我借了50000元，然后他做茶叶失败了，
                                    后来没这么多钱还我，就拿了一部分茶叶抵押，茶叶是...
                                </div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <div class="item-hd">
                                资产单号：201702280001
                                <i class="icon-favo fr favo-ed"></i>
                            </div>
                            <div class="item-main">
                                <p class="h4 ellipsis">
                                    资产名称：武夷山肉桂
                                </p>
                                <p class="h5">
                                    成交价：¥240.00
                                </p>
                            </div>
                            <div class="item-detail">
                                <p class="lab">商品详情:</p>
                                <div class="form-grid">
                                    朋友因为资金周转向我借了50000元，然后他做茶叶失败了，
                                    后来没这么多钱还我，就拿了一部分茶叶抵押，茶叶是...
                                </div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <div class="item-hd">
                                资产单号：201702280001
                                <i class="icon-favo fr favo-ed"></i>
                            </div>
                            <div class="item-main">
                                <p class="h4 ellipsis">
                                    资产名称：武夷山肉桂
                                </p>
                                <p class="h5">
                                    成交价：¥240.00
                                </p>
                            </div>
                            <div class="item-detail">
                                <p class="lab">商品详情:</p>
                                <div class="form-grid">
                                    朋友因为资金周转向我借了50000元，然后他做茶叶失败了，
                                    后来没这么多钱还我，就拿了一部分茶叶抵押，茶叶是...
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>