{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-title">
                    设置
                </section>
            </header>
            <div class="content-pd mt02">
                <div class="item" style="border-radius: .05rem;">
                    <a href="#" class="item-con">
                        <div class="option">
                            修改密码
                        </div>
                        <i class="icon-arrow"></i>
                    </a>
                    <a href="#" class="item-con">
                        <div class="option">
                            关于我们
                        </div>
                        <i class="icon-arrow"></i>
                    </a>
                    <a href="#" class="item-con">
                        <div class="option">
                            用户协议
                        </div>
                        <i class="icon-arrow"></i>
                    </a>
                    <a href="#" class="item-con">
                        <div class="option">
                            投诉建议
                        </div>
                        <i class="icon-arrow"></i>
                    </a>
                </div>
            </div>
            <div class="box-btn" style="margin-top: 2rem;">
                <a href="/member/signout/" class="btn">退出登录</a>
            </div>
            <div class="fixed-bottom">
                <div class="contact">
                    <p>客服QQ:1181681360</p>
                    <p>客服电话:0592-5253262</p>
                    <p>(工作日9:00-18:00)</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>