{template Head}
<body>
<div class="page-group">
    <div class="page page-current" id="stepOne">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-title">
                    绑定手机
                </section>
            </header>
            <div class="content-pd mt02">
                <div class="item" style="border-radius: .05rem;">
                    <div class="item-con">
                        <label class="lab">
                            已绑手机号
                        </label>
                        <div class="option option-text phone">
                            {$User[Mobile]}
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-btn" style="margin-top: 2rem;">
                <a href="javascript:void(0)" id="goStepTwo" class="btn">更换手机号</a>
            </div>
        </div>
    </div>
    <div class="page" id="stepTwo">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-title">
                    验证手机
                </section>
            </header>
            <div class="content-pd content-form mt04">
                <div class="form-box">
                    <div class="form-li">
                        <input type="tel" class="inp" name="oldPhoneNumber" placeholder="请输入原有的手机号码">
                    </div>
                    <div class="form-li common-box">
                        <div>
                            <input type="text" class="inp" name="code1" placeholder="验证码">
                        </div>
                        <p class="btn-code" onclick="pageObj.getCode(this, 'oldPhoneNumber')">
                            获取验证码
                        </p>
                    </div>
                </div>
            </div>

            <div class="box-btn mt05">
                <a class="btn" href="javascript:void(0)" id="goStepThree">下一步</a>
            </div>
        </div>
    </div>
    <div class="page" id="stepThree">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-title">
                    更换手机
                </section>
            </header>
            <div class="content-pd content-form mt04">
                <div class="form-box">
                    <div class="form-li">
                        <input type="tel" class="inp" name="newPhoneNumber" placeholder="请输入新的手机号码">
                    </div>
                    <div class="form-li common-box">
                        <div>
                            <input type="text" class="inp" name="code2" placeholder="验证码">
                        </div>
                        <p class="btn-code" onclick="pageObj.getCode(this, 'newPhoneNumber')">
                            获取验证码
                        </p>
                    </div>
                </div>
            </div>

            <div class="box-btn mt05">
                <a class="btn" href="javascript:void(0)" id="goStepOver">完成</a>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='{echo JsURL}/m/member/MemberChangeMobileOne.js' charset='utf-8'></script>
</body>
</html>