{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-title">
                    商品详情
                </section>
            </header>
            {if  $OrderInfo[Status]==3}
            <div class="view-box">
                <div class="form-box">
                    <div class="row">
                        物流公司：{$OrderInfo[LogisticsCompany]}
                    </div>
                    <div class="row">
                        物流单号：{$OrderInfo[WaybillNumber]}
                    </div>
                </div>
            </div>
            {/if}
            <div class="view-box {if $OrderInfo[Status]==3}mt02{/if}">
                <div class="form-box">
                    <div class="row">
                        卖家：{$UserInfo[RealName]}
                    </div>
                    <div class="row">
                        联系电话：{$UserInfo[Mobile]}
                    </div>
                </div>
            </div>
            <div class="item-goods mt02">
                <div class="hd">
                    订单编号：{$OrderInfo[OrderNumber]} <span class="fr">{$NStatus[$OrderInfo[Status]]}</span>
                </div>
                <div class="common-box item-con">
                    <p class="pic">
                        <img src="{$AssetImage[ImageUrl]}" alt="">
                    </p>
                    <div>
                        <p class="h3">
                            <span class="long ellipsis">{$AssetInfo[Title]}</span> <span class="fr fs026">x1</span>
                        </p>
                        <p class="mt03">
                            <span class="bold">¥ {$AssetInfo[Price]}</span><br>
                            <span class="line-through">¥ {$AssetInfo[MarketPrice]}</span>
                        </p>
                    </div>
                </div>
                <div class="order-form-view">
                    <p>
                        商品总价：<span class="fr">¥ {$OrderInfo[TotalAmount]}</span>
                    </p>
                    <p>
                        运费（快递）：<span class="fr">¥ {$AssetInfo[Freight]}</span>
                    </p>
                    <p class="bold bor-b">
                        订单总价：<span class="fr">¥  {$OrderInfo[TotalAmount]}</span>
                    </p>
                    <p class="bold">
                        实付款：<span class="fr">¥ {$OrderInfo[TotalAmount]}</span>
                    </p>
                </div>
            </div>
            <div class="fixed-height"></div>
        </div>
        <div class="fixed-bottom">
            <div class="box-btn common-box">
                {if $OrderInfo[Status]==1}
                <div>
                    <a class="btn btn-default" onclick="pageObj.cancelOrder('{$OrderInfo[OrderID]}')" href="javascript:void (0)">取消订单</a>
                </div>
                <p class="w-100"></p>
                <div>
                    <a class="btn" href="/asset/pay/?id={$OrderInfo[OrderID]}&type=alipay">立即支付</a>
                </div>
                {elseif $OrderInfo[Status]==2}
                <div>
                    <a class="btn btn-default" href="/member/asset/">返回订单列表</a>
                </div>
                <p class="w-100"></p>
                <div>
                    <a class="btn" onclick="pageObj.remind('{$OrderInfo[OrderID]}')" href="javascript:void (0)">提醒发货</a>
                </div>
                {elseif $OrderInfo[Status]==3}
                <div>
                    <a class="btn btn-default" href="/member/asset/">返回订单列表</a>
                </div>
                <p class="w-100"></p>
                <div>
                    <a class="btn" href="javascript:void(0)" onclick="pageObj.indeedReceipt('{$OrderInfo[OrderID]}')">确认收货</a>
                </div>
                {elseif $OrderInfo[Status]==4}
                    <a class="btn" href="/member/asset/">返回订单列表</a>
                {/if}
            </div>
        </div>
    </div>
</div>
<script src='{echo JsURL}/m/member/MemberPersonOrderDetails.js'></script>
</body>
</html>