{template Head}
<body>
<div class="page-group">
    <div class="page login-page">
        <header class="common-header">
            <a href="#" class="header-left icon-back"></a>
        </header>
        <div class="content">
            <p class="logo">
                <img src="{echo CssURL}/m/images/logo2.png" alt="">
            </p>
            <div class="login-box mt05">
                <div class="form-li common-box">
                    <i class="icon icon-phone"></i>
                    <div>
                        <input class="inp" type="tel" placeholder="请输入您的手机号" value="18980592432" />
                    </div>
                </div>
                <div class="form-li common-box">
                    <i class="icon icon-pwd"></i>
                    <div>
                        <input class="inp" type="password" placeholder="请输入密码" value="123456" />
                    </div>
                </div>
                <p class="tr mt01"><a class="link" href="#">忘记密码？</a></p>

                <div class="btn-box mt05">
                    <a class="btn" href="JavaScript:void (0)">
                        登录
                    </a>
                    <a class="btn btn-empty" href="/member/register/">
                        注册
                    </a>
                </div>
            </div>
            <div class="other-login">
                <p class="hd">
                    关联社交账户快速登录
                </p>
                <div class="common-box fast-login">
                    <div>
                        <p class="fast fast-qq"></p>
                    </div>
                    <div>
                        <p class="fast fast-wx"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>