{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content">
            <header class="common-header">
                {if $Type==='true'}
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                {/if}
                <section class="header-title">
                    用户类型选择
                </section>
                {if $Type!=='true'}
                <a class="header-right tr" href="/memberperson/">
                    跳过
                </a>
                {/if}
            </header>
            <div class="content-pd">
                <ul class="user-type-list">
                    <li class="type-1">
                        <a class="common-box" href="/member/registertwo/">
                            <p class="user-type">

                            </p>
                            <div>
                                <p class="h3">
                                    我是用户
                                </p>
                                <p class="h5">
                                    通过平台发布债务信息，进行自助催收或委托处置方协助债务催收
                                </p>
                            </div>
                        </a>
                    </li>

                    <li class="type-2">
                        <a class="common-box" href="/member/registerfour/">
                            <p class="user-type">

                            </p>
                            <div>
                                <p class="h3">
                                    我是律师
                                </p>
                                <p class="h5">
                                    可以选择以律师（个人）、律师事务所身份加入平台
                                </p>
                            </div>
                        </a>
                    </li>

                    <!--<li class="type-3">-->
                        <!--<a class="common-box" href="/member/registerthree/">-->
                            <!--<p class="user-type">-->

                            <!--</p>-->
                            <!--<div>-->
                                <!--<p class="h3">-->
                                    <!--我是催收人员-->
                                <!--</p>-->
                                <!--<p class="h5">-->
                                    <!--可以选择以催客（个人）、催收公司身份加入催收行业，进行债务催收接单-->
                                <!--</p>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>