{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-title">
                    关于我们
                </section>
            </header>
            <div class="content-pd mt02">
                <article class="about-us">
                    <div class="us-img">
                        <img src="{echo CssURL}/m/images/us.jpg" alt="">
                    </div>
                    <div class="us-txt">
                        <p>
                            文贵网是国内首家债务处置服务平台，通过互联网和大数
                            据，为委托方和处置方提供一站式债务处置撮合服务，并
                            提供更多优质服务和产品提高回款率，快速建立品牌效应。
                        </p>
                        <p>
                            我们的宗旨是让债务处置变得简单。让债务处置标准化、
                            高效化、系统化，成为不良资产接盘侠和终结者、互联网
                            金融的“安全卫士”，打造资产处置服务第一品牌。我们愿
                            与全国的银行、P2P、消费金融、小额信贷等金融信贷企
                            业和专业处置服务公司、资产管理服务公司、有处置服务
                            的律师事务所等处置服务机构，携手合作、开启共赢！
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
</body>
</html>