{template Head}
<body>
<div class="page-group">
    <div class="page" id="information">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-title">
                    修改用户信息
                </section>
            </header>
            <div class="content-pd mt02 tab-person">
                <div class="form-fieldset">
                    <div class="form-legend common-box">
                        <div>
                            <i class="icon icon-usermsg"></i>
                            催客信息
                        </div>
                    </div>
                    <div class="form-box mt01">
                        <div class="row">
                            <p class="form-lab">
                                昵&emsp;&emsp;&emsp;称:
                            </p>
                            <div class="form-grid">
                                <input class="inp" name="nickName" value="{$UserInfo[NickName]}" maxlength="5" placeholder="请输入昵称" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                真 实 姓 名:
                            </p>
                            <div class="form-grid">
                                <input class="inp" name="name" value="{$UserInfo[RealName]}" maxlength="12" placeholder="请输入您的真实姓名" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                身&emsp;份&emsp;证:
                            </p>
                            <div class="form-grid">
                                <input class="inp" name="idNum" value="{$UserInfo[CardNum]}" placeholder="请输入您的身份证号" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                &emsp;Q&emsp;Q&emsp;:
                            </p>
                            <div class="form-grid">
                                <input class="inp" name="qq" value="{$UserInfo[QQ]}" placeholder="请输入您的QQ号码" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                邮&emsp;&emsp;&emsp;箱:
                            </p>
                            <div class="form-grid">
                                <input class="inp" name="email" value="{$UserInfo['E-Mail']}" placeholder="请输入您的邮箱" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                地&emsp;&emsp;&emsp;址:
                            </p>
                            <div class="form-grid">
                                <input class="inp" name="address" value="{$UserInfo[Province]}-{$UserInfo[City]}-{$UserInfo[Area]}" placeholder="请选择您的所在位置" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                详 细 地 址:
                            </p>
                            <div class="form-grid">
                                <textarea class="textarea" maxlength="50" placeholder="请输入街道门牌信息（最多50个字）" name="areaDetail" id="" cols="30" rows="10">{$UserInfo[Address]}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-fieldset">
                    <div class="form-legend common-box">
                        <div>
                            <i class="icon-photo"></i>
                            照片上传
                        </div>
                    </div>
                    <div class="form-box">
                        <div class="row">
                            <div class="form-grid">
                                <a href="">
                                    <img src="{$UserInfo[CardPositive]}" alt="">
                                </a>
                                <p class="form-lab">
                                    身份证正面:
                                </p>
                            </div>
                            <div class="form-grid" style="margin-left:.36rem;">
                                <a href="">
                                    <img src="{$UserInfo[CardNegative]}" alt="">
                                </a>
                                <p class="form-lab">
                                    身份证反面:
                                </p>
                            </div>
                        </div>
                        <div class="row upload-row col-2">
                            <div class="form-grid bx imageUploadBox">
                                <input class="portrait" type="file" name="avatar_file"  accept="image/jpeg, image/x-png, image/gif">
                                <div class="img-wrap">
                                </div>
                            </div>

                            <div class="form-grid bx imageUploadBox">
                                <input class="portrait" type="file" name="avatar_file"  accept="image/jpeg, image/x-png, image/gif">
                                <div class="img-wrap">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <a href="">
                                <img src="{$UserInfo[CardHold]}" alt="">
                            </a>
                            <p class="form-lab">
                                手持身份证:
                            </p>
                        </div>
                        <div class="row upload-row col-2">
                            <div class="form-grid bx imageUploadBox">
                                <input class="portrait" type="file" name="avatar_file"  accept="image/jpeg, image/x-png, image/gif">
                                <div class="img-wrap">
                                </div>
                            </div>
                            <div class="form-grid" style="margin-left:.36rem;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-btn">
                <a class="btn" href="javascript:void(0)" id="person_role_auth_save">确定</a>
            </div>
        </div>
    </div>
</div>
<script src="{echo JsURL}/m/lib/photoclip/iscroll-zoom.js"></script>
<script src="{echo JsURL}/m/lib/photoclip/hammer.min.js"></script>
<script src="{echo JsURL}/m/lib/photoclip/lrz.all.bundle.js"></script>
<script src="{echo JsURL}/m/lib/photoclip/PhotoClip.js"></script>
<script type='text/javascript' src='{echo JsURL}/m/member/MemberPushGuestEditInfo.js' charset='utf-8'></script>
</body>
</html>