<div class="fixed-bottom">
    <footer class="footer-menu common-box">
        <section class="nav home active">
            <a href="{echo WEB_M_URL}">
                <i></i>
                <p>隆文贵</p>
            </a>
        </section>
        <div class="center">
            <i class="icon-nav-add">
            </i>
            <div class="publish-box">
                <ul>
                    <li class="publish-1">
                        <a href="/asset/publish/">
                            发布资产
                        </a>
                    </li>
                    <li class="publish-2">
                        <a href="/debt/publish/">
                            发布债务
                        </a>
                    </li>
                    <li class="publish-3">
                        <a href="/reword/publish/">
                            发布悬赏
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <section class="nav my">
            <a href="/member/login/">
                <i></i>
                <p>我的</p>
            </a>
        </section>
    </footer>
</div>