{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-title">
                    事务所信息
                </section>
                <a href="/memberlawfirm/editinfo/" class="header-right">
                    编辑
                </a>
            </header>
            <div class="content-pd mt02">
                <div class="form-fieldset">
                    <div class="form-box form-view">
                        <div class="row">
                            <p class="form-lab">
                                事务所名称:
                            </p>
                            <div class="form-grid">
                                {if !empty($UserInfo[CompanyName])}{$UserInfo[CompanyName]}{else}无{/if}
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                手 机 号 码:
                            </p>
                            <div class="form-grid">
                                {if !empty($User[Mobile])}{$User[Mobile]}{else}无{/if}
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                法定代表人:
                            </p>
                            <div class="form-grid">
                                {if !empty($UserInfo[RealName])}{$UserInfo[RealName]}{else}无{/if}
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                社会信用代码:
                            </p>
                            <div class="form-grid">
                                {if !empty($UserInfo[CreditCode])}{$UserInfo[CreditCode]}{else}无{/if}
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                营 业 执 照:
                            </p>
                            <div class="form-grid">
                                <div class="image-view">
                                    <a href="">
                                        <img src="{$UserInfo[BusinessImage]}" alt="">
                                    </a>
                                    <p>营业执照副本</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-fieldset">
                    <div class="form-box form-view">
                        <div class="row">
                            <p class="form-lab">
                                代理人姓名:
                            </p>
                            <div class="form-grid">
                                {if !empty($UserInfo[Agent][Name])}{$UserInfo[Agent][Name]}{else}无{/if}
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                身&emsp;份&emsp;证:
                            </p>
                            <div class="form-grid">
                                {if !empty($UserInfo[Agent][IdNum])}{$UserInfo[Agent][IdNum]}{else}无{/if}
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                手 机 号 码:
                            </p>
                            <div class="form-grid">
                                {if !empty($UserInfo[Agent][Phone])}{$UserInfo[Agent][Phone]}{else}无{/if}
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                所 在 地 区:
                            </p>
                            <div class="form-grid">
                                {$UserInfo[Province]}-{$UserInfo[City]}-{$UserInfo[Area]}
                            </div>
                        </div>
                        <div class="row">
                            <p class="form-lab">
                                详 细 地 址:
                            </p>
                            <div class="form-grid">
                                {if !empty($UserInfo[Address])}{$UserInfo[Address]}{else}无{/if}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>