{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-title">
                    商品详情
                </section>
            </header>
            <div class="buy-response">
                <p class="img">
                    <img src="{echo CssURL}/m/images/res-success.png" alt="">
                </p>
                <p class="text">
                    付款成功，您的包裹整装待发！
                </p>
            </div>
            <div class="item-goods mt02">
                <div class="hd hd-white">
                    购买的商品
                </div>
                <div class="common-box item-con">
                    <p class="pic">
                        <img src="{$AssetImage[ImageUrl]}" alt="">
                    </p>
                    <div>
                        <p class="h3">
                            <span class="long ellipsis">{$AssetInfo[Title]}</span> <span class="fr fs024">¥ {$AssetInfo[Price]}</span>
                        </p>
                        <p class="mt05 fs026">
                            所购份数:
                            <span class="fr">x{$OrderInfo[Num]}</span>
                        </p>
                    </div>
                </div>
                <div class="item-logistics">
                    <p>
                        收货人：{$OrderInfo[Contacts]}
                    </p>
                    <div class="common-box mt01">
                        <label>收货地址：</label>
                        <div>
                            {$OrderInfo[Address]}
                        </div>
                    </div>
                </div>
            </div>
            <div class="safe-tips">
                <p class="h3">安全提醒:</p>
                <div class="con">
                    付款成功后，文贵平台不会以付款异常、卡单、系统升级为由联系您。<span class="c-warning">请勿泄露
          银行卡、手机验证码，否则会造成钱款损失。谨防电话诈骗!</span>
                </div>
            </div>
            <div class="fixed-height"></div>
        </div>
        <div class="fixed-bottom">
            <div class="box-btn common-box">
                <div>
                    <a class="btn btn-default" href="{$OrderInfo[OrderNumber]}.html">查看订单</a>
                </div>
                <p class="w-100"></p>
                <div>
                    <a class="btn" href="{echo WEB_M_URL}">返回首页</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>