{template Head}
<body>
<div class="page-group">
    <div class="page">
        <div class="content">
            <header class="common-header">
                <a class="header-left icon-back" href="javascript:void (0)">
                </a>
                <section class="header-search">
                    <i class="icon-search"></i>
                    <input class="inp" type="search" placeholder="请输入姓名或身份证号" />
                </section>
                <a class="header-right" href="#">
                    发布悬赏
                </a>
            </header>
            <div class="tips">
                平台警告：平台不承担任何线索担保，请用户自己核实提供的信息是否属实！！！
            </div>
            <div class="tab-nav">
                <a href="#">悬赏地区</a>
                <a href="#">悬赏方式<i></i></a>
            </div>

            <div class="content-pd">
                <ul class="list-clue">
                    <li>
                        <div class="item-clue">
                            <div class="common-box clue-top">
                                <p class="photo">
                                    <img src="../temp/photo-1.jpg" alt="">
                                </p>
                                <div>
                                    <span class="h3">姓名：刘备</span><span class="type">找人</span>
                                </div>
                            </div>
                            <div class="clue-msg">
                                <p>
                                    性别：男&emsp;&emsp;年龄：26&emsp;&emsp;身高：174cm
                                </p>
                                <p>
                                    身份证号：3303501752****2541
                                </p>
                                <p>
                                    失联时间：2017-04-23
                                </p>
                                <div class="common-box mt01">
                                    <p>详细内容：</p>
                                    <div>
                                        出单时间发货我黑回复出单时间发货我黑回复出
                                        出单时间发货我黑回复出单时间发货我黑回复出
                                        出单时间发货我黑回复出单时间发货我黑回复出
                                        出单时间发货我黑回复出单时间发货我黑回复出
                                        出单时间发货我黑回复出单时间发货我黑回复出
                                        出单时间发货我黑回复出单时间发货我黑回复出
                                    </div>
                                </div>
                                <p>资料提供：</p>
                                <div class="common-box">
                                    <div>
                                        <a href="#">
                                            <img src="http://placeholder.qiniudn.com/204x164" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <a href="#">
                                            <img src="http://placeholder.qiniudn.com/204x164" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <a href="#">
                                            <img src="http://placeholder.qiniudn.com/204x164" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>