{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/reset.css">
<div class="reset">
  <div class="form-reset">
    <div class="hd">
      重置密码
    </div>
    <div class="cont">
      <div class="line">
        <div class="info">
          手机号
        </div>
        <div class="det">
          <input type="text" name="phoneNumber" onblur="validateErr('phoneNumber', this)" class="input-1" placeholder="请输入您的手机号">
        </div>
        <div class="error-hint">
          请输入手机号！
        </div>
        <div class="error-hint">
          您输入的手机号有误！
        </div>
      </div>
      <div class="line">
        <div class="info">
          验证码
        </div>
        <div class="det">
          <input type="text" name="code" maxlength="4" onblur="validateErr('code', this)" class="input-2" placeholder="请输入验证码">
          <button type="button" class="comfirm-code" onclick="getCode(this)" name="button">发送验证码</button>
        </div>
        <div class="error-hint">
          请输入验证码！
        </div>
        <div class="error-hint">
          您输入的验证码有误！
        </div>
      </div>
      <div class="line">
        <div class="info">
          新密码
        </div>
        <div class="det">
          <input type="password" name="pass" maxlength="20" onblur="validateErr('pass', this)" class="input-1" placeholder="请输入密码">
        </div>
        <div class="error-hint">
          请设置密码！
        </div>
        <div class="error-hint">
          密码不能少于6位！
        </div>
        <div class="error-hint">
          密码格式有误！
        </div>
      </div>
      <div class="line">
        <div class="info">
          确认密码
        </div>
        <div class="det">
          <input type="password" name="confirmPass" onblur="validateErr('confirm', this)" class="input-1" placeholder="确认您的密码">
        </div>
        <div class="error-hint">
          两次密码不一致！
        </div>
      </div>
      <div class="line">
        <div class="info">
        </div>
        <div class="det">
          <button type="button" onclick="reset()" class="btn-reset" name="button">确 认</button>
        </div>
      </div>
    </div>
  </div>
</div>
{template Footer}
<script src='{echo JsURL}/debt/reset.js'></script>
