html,body,h1,h2,h3,h4,h5,p,span,a,div,ol,ul,li,dl,dt,dd,table,tbody,tfoot,thead,tr,th,td,input,textarea,form {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(box-link0, 0, 0, 0);
}
html {
    font-size: 20px;
}
body {
    background-color: rgba(0,0,0,.2);
    font: .24rem microsoft yahei, arial, verdana, helvetica, sans-serif;
    color: #626d78;
}
a{
    display: block;
}
.page{
    min-width: 320px;
    min-height: 100vh;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    overflow-x:hidden;
    background-color: #f0f0f0;
}
.bg-gray{
    background-color: #eeeded;
}
.bg-fff{
    background-color: #fff;
}
.bg-fafafa{
    background-color: #fafafa;
}
input,textarea,select,button {
    font-size: 100%;
    font-family: inherit;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
}
ul,ol {
    padding-left: 0;
    list-style-type: none
}
h1,h2,h3,h4,h5 { font-weight: normal;}
a:active {
    outline: none;
    outline: 0;
}
a {
    text-decoration: none;
    outline: none;
    background-color: transparent;
}
a:link, a:visited {
    outline: none;
    text-decoration: none;
    font-family: "Microsoft YaHei";
}
.clearfix { *zoom: 1; }
.clearfix:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}
.item .inp:focus {
    border:0;
    outline: none;
}
.hide{ display: none!important; }
.show{ display: block!important;}
img { border: none; max-width: 100%;}
em,i { font-style: normal;display: inline-block; }
.tl { text-align: left; }
.tc { text-align: center; }
.tr { text-align: right; }
.no-bd { border: none!important; }
.fl { float: left; }
.fr { float: right; }
.m0{ margin: 0!important; }
.mt0{ margin-top: 0!important; }
.mt01{ margin-top: .25rem!important; }
.mt015{ margin-top: .375rem; }
.mt02{ margin-top: .5rem; }
.mt03{ margin-top: .75rem; }
.mt04{ margin-top: 1rem; }
.mt005 { margin-top: .125rem; }
.mt008 { margin-top: .2rem; }
.mt05 { margin-top: 1.25rem; }

.ml02{ margin-left: .5rem;}

.mr01 { margin-right: .25rem; }
.mr02 { margin-right: .5rem; }
.mr03 { margin-right: .75rem!important; }

.fs022 { font-size: .55rem!important;}
.fs024 { font-size: .6rem!important;}
.fs026 { font-size: .65rem!important;}
.fs028 { font-size: .7rem!important;}
.fs030 { font-size: .75rem!important;}
.fs032 { font-size: .8rem!important;}
.fs036 { font-size: .9rem!important;}
.fs04 { font-size: 1rem!important;}
.fs044 { font-size: 1.1rem!important;}
.fs048 { font-size: 1.2rem!important;}
.fs05 { font-size: 1.25rem!important;}
.w50 { width: 50%; }

a.link-hui,
a.c-hui,
.c-hui { color: #666; }
.c-red{
    color: #ff4e00;
}
.c-blue{ color: #59cbc7!important }
.c-orange{ color: #ff7800!important }

a.link-hei,
a.c-hei,
.c-hei { color: #333!important; }


textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder{ color: #b3b3b3; }
.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.common-box {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

}
.common-box>div {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.flex {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

}
.flex>.flex1 {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.flex>.flex2 {
    -webkit-box-flex: 2;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 3;         /* OLD - Firefox 19- */
    -webkit-flex: 2;          /* Chrome */
    -ms-flex: 2;              /* IE 10 */
    flex: 2;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.flex>.flex3 {
    -webkit-box-flex: 3;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 3;         /* OLD - Firefox 19- */
    -webkit-flex: 3;          /* Chrome */
    -ms-flex: 3;              /* IE 10 */
    flex: 3;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.box-btn {
    padding: .5rem .75rem;
    overflow: hidden;
}
.btn,a.btn {
    display: block;
    width: 100%;
    height: 2.2rem;
    font-size: .8rem;
    line-height: 2.2rem;
    text-align: center;
    color: #fff;
    font-family: microsoft yahei;
    background-color: #68cfcb;
    border: solid 1px #68cfcb;
    border-radius: .15rem;
}
.btn.touch,.btn.touch { background-color: #6c98f2; }
.btn+.btn{
    margin-top: .75rem;
}
.btn-empty,a.btn-empty{
    color: #1bbcbf;
    background: #eff1f2;
    border: solid 1px #1bbcbf;
}

.btn.dis,
a.btn.dis { 
    background-color: #ddd;
    color: #727272;
    border-color: #ddd;
}

.btn-code{
    display: block;
    width: 4.8rem;
    height: 2.5rem;
    padding: .375rem 0;
    margin-top: -.5rem;
    margin-left: .5rem;
    box-sizing: border-box;
    line-height: 1.75rem;
    font-size: .75rem;
    color: #fff;
    text-align: center;
    background: #59cbc7;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    cursor: pointer;
}
.btn-code.dis{
    background: #ccc;
    cursor:no-drop;
}
a.btn-s,
.btn-s {
    display: block;
    width: 2.7rem;
    height: 1.1rem;
    padding: .15rem 0;
    box-sizing: border-box;
    line-height: .8rem;
    font-size: .65rem;
    color: #fff;
    text-align: center;
    border-radius: .1rem;
}

.btn-code img{
    width: 3.25rem;
    height: .75rem;
}

.btn-code.re-send{
    background: #24b6b4;
    color: #fff;
}
.btn-white,a.btn-white{
    margin-top: 1.25rem;
    background: #fff;
    border: solid 1px #fff;
    color: #333;
}
.btn-white.touch,a.btn-white.touch{
    background: #fcfcfc;
}

.btn-blue{
    background: #72a0ff;
    border: solid 1px #72a0ff;
}
.btn-blue.touch{
    background: #6c98f2;
    border: solid 1px #6c98f2;
}
.btn-red{
    background: #ff635d;
    border: solid 1px #ff635d;
}
.btn-red.touch{
    background: #f26c6f;
    border: solid 1px #f26c6f;
}


/* tab 切换 start */
.tab-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background-color: #fff;
    border-bottom: solid 1px #e6e6e6;
}
.tab-nav a {
    position: relative;
    display: block;
    height: 1.45rem;
    padding-top: .325rem;
    color: #626d78;
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    box-sizing:border-box;
}
.tab-nav.tab-line a{
    border-bottom: solid 2px #e6e6e6;
}
.tab-nav .active {
    color: #59cbc7;
}
.tab-nav.tab-line .active{
    border-bottom: solid 2px #59cbc7;
}
.tab-nav.tab-big a{
    height: 1.875rem;
    padding-top: .5rem;
}
.tab-nav.tab-big a::after{
    display: none;
}

.tab-nav a.active .pop{
    position: absolute;
    left: 50%;
    margin-left: -.75rem;
    bottom: -1rem;
    width: 0; 
    height: 0; 
    border-left: .75rem solid transparent;
    border-right: .75rem solid transparent;
    border-bottom: .75rem solid #fff;
}
.tab-navnobd .active,
.tab-navnobd { border-bottom: none; }

.tab-nav a::after {
    content: "";
    display: block;
    width: 1px;
    height: .75rem;
    background-color: #dcdcdc;
    position: absolute;
    left: -.025rem;
    top: .35rem;
}
.tab-nav a:first-child::after { display: none;}
.tab-nav a>i{
    width: 0; 
    height: 0; 
    margin-left: .25rem;
    vertical-align: middle;
    border-left: .175rem solid transparent;
    border-right: .175rem solid transparent;
    border-top: .225rem solid #ccc;
}
.tab-bd { display: none; }
.tab-bd.active { display: block; }

.tab-table{
    display: table;
    height: 2.2rem;
    padding: .5rem 2.5rem 0;
    width: 100%;
    box-sizing:border-box;
}
.tab-table a{
    display: table-cell;
    position: relative;
    width: 50%;
    min-height: 1.425rem;
    padding: 0 .25rem;
    font-size: .7rem;
    line-height: .8rem;
    color: #666;
    text-align: center;
}
.tab-table .active{ color: #1ba8ba; }
.tab-table a::after {
    content: "";
    display: block;
    width: 1px;
    height: 1.7rem;
    background-color: #eaeaea;
    position: absolute;
    left: -1px;
    top: .0;
}
.tab-table a:first-child::after {
    background-color: transparent;
}

/* item */

.item {
    margin-top: .5rem;
    background-color: #fff;
}
.item .item-con {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 2.2rem;
    margin-left: .75rem;
    padding-right: .75rem;
    font-size: .7rem;
    border-bottom: 1px solid #e6e6e6;
}
.item .item-con:last-child{
    border-bottom: none;
}
.item a.item-con{
    color: #666;
}
.item .item-con .icon-inp{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .3rem;
    margin-top: .5rem;
    background-image:url(../images/icon-form.png);
    background-repeat: no-repeat;
    background-size: 3rem;
}
.icon-user{ background-position: 0 -.25rem;}
.icon-pwd{ background-position: 0 -2.25rem;}
.item .option {
    display: block;
    padding-top: .325rem;
    padding-bottom: .325rem;
    line-height: 1.55rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.item .option-text{
    display: block;
    text-align: right;
    padding-top: .325rem;
    padding-bottom: .325rem;
    line-height: 1.55rem;
}
.item .item-con .h3{
    font-size: .65rem;
    color: #6b6b6b;
}
.item .item-con .h3 .long{
    display: inline-block;
    max-width: 11.25rem;
    vertical-align: top;
}
.item .item-con .h5{
    font-size: .6rem;
    color: #8a959d;
}
.item  .icon-arrow {
    display: block;
    width: .5rem;
    height: .85rem;
    margin-top: .675rem;
    background: url(../images/icon-arrow.png) no-repeat right center;
    background-size: .3rem;
}
.item .lab {
    position: relative;
    display: block;
    min-width: 3.5rem;
    height: 2.2rem;
    line-height: 2.2rem;
    text-align: right;
}
.item .inp {
    display: block;
    width: 100%;
    height: 2.45rem;
    font-size: .65rem;
    line-height: normal;
    color: #333;
    background: none;
    border: none;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.item .inp.txtarea {
    min-height: 5rem ;
    height: auto;
    padding: .65rem .75rem;
    font-size: .6rem;
    line-height: .9rem;
    background-color: #f8f9fa;
    resize: none;
    box-sizing:border-box;
    overflow:hidden; 
}
.bor-t{ border-top: solid 1px #d9d9d9!important; }
.bor-b{ border-bottom: solid 1px #d9d9d9!important; }



.common-header{
    position: relative;
    height: 2.2rem;
    padding: .475rem 0;
    background: #49515a;
    box-sizing:border-box;
}
.common-header .header-left{
    position: absolute;
    left: 0;
    top: 0;
    width: 2.2rem;
    height: 2.2rem;
    text-align: center;
}
.common-header .header-left i{
    margin-top: .575rem;
}
.common-header .go-prev-step{
    position: absolute;
    left: 1.5rem;
    line-height: 1.25rem;
    font-size: .6rem;
    color: #cdcdcd;
}
.icon-back{
    background: url(../images/icon-back.png) no-repeat center;
    background-size: .525rem;
}
.common-header .header-title{
    font-size: .9rem;
    line-height: 1.25rem;
    text-align: center;
    color: #fff;
}
.logo{
    height: 1.4rem;
}
.common-header .header-search{
    position: relative;
    margin: 0 4.5rem 0 2.5rem;
    height: 1.25rem;
    padding-left: 1.25rem;
    background: #fff;
    border-radius: .25rem;
}
.icon-search{
    width: .7rem;
    height: .7rem;
    background: url(../images/icon-search.png) no-repeat center;
    background-size: .675rem;
}
.icon-search2{
    width: 1rem;
    height: 1rem;
    background: url(../images/icon-search2.png) no-repeat center;
    background-size: .9rem;
}
.icon-add2{
    width: 1rem;
    height: 1rem;
    background: url(../images/icon-add2.png) no-repeat center;
    background-size: .9rem;
}
.common-header .header-search .icon-search{
    position: absolute;
    left: .5rem;
    top: .275rem;
}
.common-header .header-search .inp{
    height: 1.25rem;
    line-height: 1.25rem;
    border: 0;
}
.common-header .header-right{
    position: absolute;
    right: 0;
    top: 0;
    min-width: 2.5rem;
    height: 2.15rem;
    margin-right: .75rem;
    text-align: center;
    line-height: 2.2rem;
    font-size: .65rem;
    color: #59cbc7;
}
.icon-favo{
    width: 1rem;
    height: 1rem;
    background-image: url(../images/icon-favo.png);
    background-repeat: no-repeat;
    background-size: 1rem;
}
.favo-will{
    background-position: 0 0;
}
.favo-ed{
    background-position: 0 -1rem;
}
.icon-follow{
    width: 1rem;
    height: 1rem;
    background-image: url(../images/icon-follow.png);
    background-repeat: no-repeat;
    background-size: 1rem;
}
.follow-will{
    background-position: 0 0;
}
.follow-ed{
    background-position: 0 -1rem;
}
.common-header .header-right>i{
    float: right;
    margin-top: .575rem;
}
.popup-header{
    background: #fff;
}
.popup-header .header-search{
    margin: 0 3rem 0 .75rem; 
    background: #f0f0f0;
}
.popup-header .header-search .inp{
    background: #f0f0f0;
}
.popup-header .popup-close{
    min-width: 2rem;
    color: #6f7982;
    text-align: right;
}

.banner{
    height: 5rem;
}
.banner a{
    height: 100%;
}
.banner img{
    width: 100%;
    height: 100%;
}

.nav-list .nav{
    text-align: center;
    background: #fff;
}
.nav-list .flex{
    border-top: solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
}
.nav-list .nav a{
    width: 100%;
    height: 100%;
    box-sizing:border-box;
}
.nav-list .nav h3{
    color: #414951;
    font-size: .8rem;
}
.nav-list .nav h5{
    margin-top: .25rem;
    font-size: .55rem;
    color: #8a959d;
}
.nav-1{
    width: 8rem;
    height: 8rem;
    border-right: solid 1px #e6e6e6;
}
.nav-1 a{
    padding: 2rem 2rem 0;
}
.nav-1 .icon{
    width: 1.25rem;
    height: 1.25rem;
    background: url(../images/icon-nav1.png) no-repeat center;
    background-size: 100%;
}

.nav-2{
    height: 3rem;
    border-bottom: solid 1px #e6e6e6;
}
.nav-2 a{
    padding: 1rem;
}
.nav-2 .icon{
    width: .9rem;
    height: 1.05rem;
    margin-right: .25rem;
    background: url(../images/icon-nav2.png) no-repeat center;
    background-size: 100%;
    vertical-align: top;
}

.nav-3,.nav-4{
    height: 5rem;
    border-right: solid 1px #e6e6e6;
}
.nav-3 a,.nav-4 a{
    padding: 1rem 0;
}
.nav-3 .icon{
    width: .9rem;
    height: .9rem;
    background: url(../images/icon-nav3.png) no-repeat center;
    background-size: 100%;
}
.nav-4 .icon{
    width: .9rem;
    height: .9rem;
    background: url(../images/icon-nav4.png) no-repeat center;
    background-size: 100%;
}
.nav-5{
    height: 2.675rem;
    border-bottom: solid 1px #e6e6e6;
}
.nav-5 a{
    padding: 1rem 0;
}
.nav-5 .icon{
    width: .9rem;
    height: 1.05rem;
    margin-right: .25rem;
    background: url(../images/icon-nav5.png) no-repeat center;
    background-size: .85rem;
    vertical-align: top;
}
.nav-6{
    height: 4.2rem;
}
.nav-6 a{
    padding: .625rem 0;
}
.nav-6 .icon{
    width: .9rem;
    height: .9rem;
    background: url(../images/icon-nav6.png) no-repeat center;
    background-size: .85rem;
}
.nav-7{
    width: 7.375rem;
    height: 6.85rem;
    border-left: solid 1px #e6e6e6;
}
.nav-7 a{
    padding: 1.25rem 1.75rem;
}
.nav-7 .icon{
    width: 1.25rem;
    height: 1.25rem;
    background: url(../images/icon-nav7.png) no-repeat center;
    background-size: 1.25rem;
}

.assets-hot{
    margin-top: .25rem;
    background: #fff;
    border-top: solid 1px #e6e6e6;
}
.assets-hot .hd{
    height: 1.6rem;
    padding: 0 .75rem;
    line-height: 1.6rem;
    color: #414951;
    font-size: .7rem;
    border-bottom: solid 1px #e6e6e6;
}
.assets-hot .hd a{
    font-size: .6rem;
    color: #8a959d;
}

.assets-hot li{
    margin-left: .75rem;
    padding: .5rem .75rem .5rem 0;
    border-bottom: solid 1px #e6e6e6;
}
.assets-hot li:last-child{
    border-bottom: none;
}
.assets-hot .pic{
    margin-right: .375rem;
    width: 3.5rem;
    height: 3.5rem;
}
.assets-hot .pic img{
    width: 100%;
    height: 100%;
}

.assets-hot .msg{
    color: #626d78;
}
.assets-hot .h3{
    height: 1rem;
    line-height: 1rem;
    padding: .125rem 0;
    border-bottom: dashed 1px #e6e6e6;
}
.assets-hot .h3 .title{
    display: inline-block;
    max-width: 10rem;
    font-size: .7rem;
}
.assets-hot .h3 .date{
    color: #bec4c8;
    font-size: .55rem;
}
.assets-hot .msg>p{
    margin-top: .25rem;
}
.assets-hot .msg p b{
    color: #fc3535;
    font-size: .75rem;
    font-weight: normal;
}
.assets-hot .msg .line-through{
    text-decoration: line-through;
    color: #bec4c8;
}

.login-top{
    height: 10.5rem;
    background: url(../images/login-bg.png) no-repeat center;
    background-size: 7.5rem;
}
.forget-pwd{
    display: block;
    padding-top: .45rem;
    padding-bottom: .45rem;
    line-height: 1.55rem;
    color: #72a0ff;
    width: 4.5rem;
    text-align: center;
}
.form-top{
    line-height: 1.15rem;
    padding: .875rem .1.125rem;
    background: #f0f0f0;
    color: #000;
}

.footer-menu{
    height: 2.45rem;
    padding: .25rem .75rem;
    border-top: solid 1px #efeff0;
    box-sizing:border-box;
    background: #fff;
}
.footer-menu .nav{
    text-align: center;
}
.footer-menu .nav p{
    margin-top: -.15rem;
    color: #414951;
    font-size: .7rem;
}
.footer-menu .home{
    width: 2.1rem;
}
.footer-menu .home i{
    width: 1.3rem;
    height: 1.125rem;
    background-repeat: no-repeat;
    background-image: url(../images/icon-home.png);
    background-position: 0 0;
    background-size: 1.3rem;
}

.footer-menu .my{
    width: 2.1rem;
}
.footer-menu .my i{
    width: 1.3rem;
    height: 1.125rem;
    background-repeat: no-repeat;
    background-image: url(../images/icon-my.png);
    background-position: 0 0;
    background-size: 1.3rem;
}

.footer-menu .nav.active i{
    background-position: 0 -1.25rem;
}
.footer-menu .nav.active p{
    color: #59cbc7;
}
.footer-menu .center{
    position: relative;
    margin-top: 0.125rem;
    text-align: center;
}
.icon-nav-add{
    width: 1.6rem;
    height: 1.6rem;
    background: url(../images/icon-nav-add.png);
    background-size: 100%;
}
.publish-box{
    position: absolute;
    width: 9.1rem;
    left: 50%;
    margin-left: -4.55rem;
    top: -4.25rem;
    opacity: 0;
    z-index: -1;
    display: none;
}
.publish-box li{
    float: left;
    width: 2.35rem;
    height: 2.35rem;
    padding: .375rem .5rem;
    border-radius: 50%;
    color: #fff;
    box-sizing:border-box;
}
.publish-box li.publish-1{
    margin-right: 1rem;
    margin-top: 1rem;
    background: #8fc31f;
}
.publish-box li.publish-2{
    margin-right: 1rem;
    background: #f8b551;
}
.publish-box li.publish-3{
    margin-top: 1rem;
    background: #eb6877;
}



.fixed-height{
    height: 3.25rem;
}
.fixed-bottom{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.fixed-bottom>.btn{
    border-radius: 0;
}
.page .fixed-bottom>*{
    width: 18.75rem;
    position: relative;
    left: 50%;
    margin-left: -9.375rem;
    box-sizing:border-box;
}
.row{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    display: -ms-flexbox;
}
.row-block{
    display: block;
}
.form-box .row{
    padding: .2rem .5rem .2rem 0;
}
.form-lab{
    display: inline-block;
    min-width: 3.75rem;
    text-align: right;
    margin-right: .5rem;
    padding: .25rem 0;
    line-height: 1rem;
    color: #8a959d;
    font-size: .7rem;
}

.form-grid{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    -ms-flex: 1;
}
.form-view .form-lab{
    color: #6b6b6b;
}
.form-view .form-grid{
    line-height: 1.5rem;
    text-align: right;
    color: #8a959d;
}
.form-view .row{
    padding: .125rem .5rem .125rem 0;
}
.form-text{
    line-height: 1.5rem;
}
.form-grid .inp{
    height: 1.5rem;
    line-height: 1.5rem;
    background: #f3f3f3;
    border: none;
}
.form-fieldset{
    padding-left: .5rem;
    padding-bottom: 1.25rem;
    background: #fff;
    border-radius: .05rem;
}
.form-fieldset+.form-fieldset{
    margin-top: .5rem;
}

.form-fieldset .form-legend {
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: .8rem;
    padding: .5rem .5rem .5rem 0;
    border-bottom: dashed 1px #e5e5e5;
}
.form-fieldset .form-legend .radio-inline{
    padding: .1rem 0;
}
.form-fieldset .form-legend .radio{
    color: #626d78;
    font-size: .8rem;
}
.form-fieldset.no-fieldset{
    padding-bottom: 0;
}
.form-fieldset.no-fieldset .form-legend{
    border-bottom: none;
}
.icon-usermsg{
    width: .85rem;
    height: .85rem;
    background: url(../images/icon-usermsg.png) no-repeat center;
    background-size: .7rem;
}
.icon-add{
    width: .85rem;
    height: .85rem;
    background: url(../images/icon-add.png) no-repeat center;
    background-size: .85rem;
}
.icon-help{
    width: .85rem;
    height: .85rem;
    background: url(../images/icon-help.png) no-repeat center;
    background-size: .85rem;
}
.icon-del,.icon-del2{
    width: .85rem;
    height: .85rem;
    background: url(../images/icon-del2.png) no-repeat center;
    background-size: .85rem;
}
.icon-edit{
    width: .85rem;
    height: .85rem;
    background: url(../images/icon-edit.png) no-repeat center;
    background-size: .75rem;
}
.form-fieldset .icon-del{
    background-image: url(../images/icon-del.png);
}
.icon-voucher{
    width: .85rem;
    height: .85rem;
    background: url(../images/icon-voucher.png) no-repeat center;
    background-size: .75rem;
}
.form-fieldset .form-legend>div>i{
    vertical-align: top;
    margin-top: .175rem;
}
.form-fieldset .icon-del{
    margin-right: .5rem;
    float: right;
}
.inp{
    width: 100%;
    height: 1.05rem;
    line-height: 1.05rem;
    padding: 0 .25rem;
    color: #646464;
    border: solid 1px #ccc;
    border-radius: .125rem;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.textarea{
    width: 100%;
    height: 3rem;
    color: #646464;
    padding: .25rem;
    border: none;
    border-radius: .125rem;
    background: #f3f3f3;
    resize:none;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.inp.no-bd{
    border: solid 1px transparent!important;
}
.inp.c-blue,.inp.c-orange{
    font-size: .75rem!important;
}

/* radio */
.radio-inline {
  display: inline-block;
  min-width: .5rem;
  height: 1rem;
  padding: .25rem 0;
  line-height: 1rem;
}
.radio-inline+.radio-inline{
    margin-left: .5rem;
}
.radio{
    font-size: .65rem;
    color: #8a959d;
}
.radio i {
  display: inline-block;
  vertical-align: top;
  margin-right: .125rem;
  margin-top: .25rem;
  background-image: url("../images/form-radio.png");
  background-position: 0 -.075rem;
  background-size: .6rem;
  width: .6rem;
  height: .65rem;
}
.radio input[type="radio"] {
  display: none;
}
.radio input[type="radio"]:checked + i {
  background-position: -0 -.8rem;
}

/* checkbox */
.checkbox{
    color: #727272;
}
.checkbox i {
  display: inline-block;
  vertical-align: top;
  margin-right: .25rem;
  margin-top: .075rem;
  background-image: url("../images/form-checkbox.png");
  background-position: 0 -.075rem;
  background-size: .6rem;
  width: .6rem;
  height: .65rem;
}
.checkbox input[type="checkbox"] {
  display: none;
}
.checkbox input[type="checkbox"]:checked + i {
  background-position: -0 -.8rem;
}


.switch{
    height: .5rem;
    width: 1.5rem;
    border-radius: .25rem;
    box-sizing: border-box;
    background: #bfbfbf;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}
.switch em {
    display: block;
    width: .525rem;
    height: .525rem;
    float: left;
    margin-top: -.075rem;
    background: #fff;
    border:solid .075rem #969696;
    border-radius: 50%;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transform: translateX(0);
    -webkit-transform: translateX(0);
}
.switch-open {
    background-color: #87aeff;
}
.switch-open em {
    border-color: #72a0ff;
    transform: translateX(.825rem);
    -webkit-transform: translateX(.825rem);
}
.common-area{
    width: 100%;
    min-height: 3.75rem;
    padding: .375rem .5rem;
    border: solid 1px #dbdbdb;
    resize:none;
    color: #646464;
    border-radius: .125rem;
    font-size: .625rem;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.row-block .form-grid{
    display: block;
    padding: .25rem 0;
}
.row .btn-s{
    margin: 0 auto;
}

.table{
    border-collapse: collapse;
}
.table th{
    height: 1.975rem;
    background: #eff4ff;
    color: #007eff;
    font-weight:normal;
    border: solid 1px #e3edff;
    text-align: center;
    width: 6.25rem;
}

.table td{
    color: #969696;
    height: 1.475rem;
    border: solid 1px #e3edff;
    text-align: center;
}
.content{
    padding: 0 .75rem;
}
.list-debt{
    margin-bottom: 2.5rem;
}
.list-debt li{
    margin-top: .5rem;
    padding: .375rem 0  .375rem .5rem ;
    background: #fff;
    border-radius: .25rem;
}
.list-debt li a{
    color: #8a959d;
}
.item-debt .photo{
    width: 1.875rem;
    height: 1.875rem;
    margin-right: .5rem;
    overflow: hidden;
    border-radius: 50%;
}
.item-debt .photo img{
    width: 100%;
    height: 100%;
}
.item-debt .debt-top{
    padding-bottom: .375rem;
    padding-right: .5rem;
    border-bottom: dashed 1px #e5e5e5;
}
.item-debt .debt-top>div{
    padding-top: .375rem;
}
.item-debt .debt-top .h3{
    color: #626d78;
    font-size: .75rem;
    vertical-align: middle;
}
.item-debt .debt-top .type{
    display: inline-block;
    width: 1.25rem;
    height: .65rem;
    margin-left: .25rem;
    text-align: center;
    line-height: .6rem;
    color: #59cbc7;
    border: solid 1px #59cbc7;
    font-size: .45rem;
    border-radius: .125rem;
    vertical-align: middle;
    box-sizing:border-box;
}
.item-debt .debt-top .link{
    float: right;
}
.item-debt .debt-top .link .icon-arrow{
    width: .5rem;
    height: .5rem;
    background: url(../images/link-arrow.png) no-repeat center;
    background-size: .25rem;
}

.item-debt .debt-msg{
    padding: .375rem .5rem .25rem 0;
    font-size: .6rem;
}
.item-debt .debt-msg p{
    line-height: .8rem;
}



.upload-row {

}
.bx{
    position: relative;
}
.bx::before,
.bx::after{
    content: "";
    position: absolute;
}
.bx::before{
    width: .75rem;
    height: 0;
    border-bottom: solid 2px #bec4c8;
    left: 50%;
    top: 50%;
    margin-left: -.375rem;
    margin-top: -1px;
}
.bx::after{
    width: 0;
    height: .75rem;
    border-right: solid 2px #bec4c8;
    left: 50%;
    top: 50%;
    margin-left: -1px;
    margin-top: -.375rem;
}
.bx+.bx{
    margin-left: .25rem;
}
.bx .img-wrap{
    height: 3.75rem;
    background: #f3f3f3;
}
.col-2 .bx .img-wrap{
    height: 5.45rem;
}
.col-2 .bx+.bx{
    margin-left: .9rem;
}
.bx label{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.page-popup{
    background: #fff;
}
.history .hd{
    margin-top: .75rem;
    padding: .25rem;
    color: #626d78;
    font-size: .65rem;
}
.history .bd{
    margin-top: .5rem;
}
.history li{
    float: left;
    height: 1.1rem;
    line-height: 1.1rem;
    padding: 0 .75rem;
    margin: 0  .5rem .5rem 0;
    background: #f4f5f4;
    color: #626d78;
    border-radius: .25rem;
}
.history li a{
    color: #626d78;
}



.city .hd{
    margin-top: .5rem;
    padding: .25rem 0;
    color: #626d78;
    font-size: .65rem;
}
.city .bd{
    margin-top: .25rem;
}
.city li{
    float: left;
    height: 1.35rem;
    width: 3.75rem;
    text-align: center;
    line-height: 1.35rem;
    margin: 0  .5rem .5rem 0;
    background: #fff;
    color: #626d78;
    border-radius: .25rem;
}
.icon-location{
    width: .5rem;
    height: .75rem;
    background: url(../images/icon-location.png) no-repeat center;
    background-size: .475rem;
    vertical-align: top;
}
.city li .icon-location{
    margin: .25rem .25rem 0 0;
}
.city li:nth-child(4n){
    margin-right: 0;
}
.city li a{
    color: #626d78;
}
.city.other li{
    float: none;
    width: 100%;
    height: 1.5rem;
    line-height: 1.25rem;
    text-align: left;
    background: none;
    border-bottom: solid 1px #f1f1f1;
}


.content-view{
    position: relative;
    background: #f3f3f3;
}
.content-view .waiting{
    position: absolute;
    right: .75rem;
    top: .5rem;
    width: 3.4rem;
    height: 3.4rem;
    background: url(../images/daijiedan.png);
    background-size: 100%;
}
.content-view .waiting.status-2{
    background: url(../images/cuishouzhong.png);
}
.content-view .paragraph{
    padding: .45rem .75rem .45rem 0;
    margin-left: .75rem;
    color: #414951;
    border-bottom: dashed 1px #dfdfdf;
}
.paragraph .photo{
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    margin-right: .25rem;
    border-radius: 50%;
    overflow: hidden;
}
.paragraph .photo img{
    width: 100%;
    height: 100%;
}
.paragraph p{
    margin-top: .25rem;
}
.paragraph>p:first-child{
    margin-top: 0;
}

.image-view a{
    width: 5.125rem;
    height: 5.125rem;
}
.image-view a img{
    width: 100%;
    height: 100%;
}

.icon-remind{
    width: 1rem;
    height: 1rem;
    background-image: url(../images/icon-remind.png);
    background-repeat: no-repeat;
    background-size: 1rem;
}
.icon-remind2{
    width: 1rem;
    height: 1rem;
    background-image: url(../images/icon-remind2.png);
    background-repeat: no-repeat;
    background-position:center; 
    background-size: .7rem;
}


.disposal-list>ul>li{
    margin-top: .5rem;
    background: #fff;
}

.disposal-header{
    padding: .45rem 1.25rem;
    border-bottom: solid 1px #e5e5e5;
}

.disposal-header .disposal-logo{
    width: 2.45rem;
    height: 2.45rem;
    margin-right: .75rem;
    border-radius: 50%;
    overflow: hidden;
}
.disposal-header .disposal-logo img{
    width: 100%;
    height: 100%;
}

.disposal-header .disposal-main{
    color: #626d78;
}
.disposal-header .disposal-main .disposal-title .txt{
    display: inline-block;
    max-width: 8rem;
    vertical-align: middle;
}
.disposal-header .disposal-main .disposal-btn{
    margin-left: .25rem;
    color: #59cbc7;
    font-size: .45rem;
    padding: .025rem .25rem;
    border: solid 1px #59cbc7;
    border-radius: .125rem;
    vertical-align: middle;
}

.disposal-header .disposal-view .btn-s{
    margin-top: .675rem;
}

.disposal-con{
    padding: .25rem 1.25rem 1.25rem 0;
    margin-left: 1.25rem;
    color: #8a959d;
}
.disposal-con .big{
    margin-top: .125rem;
    font-weight: bold;
}
.disposal-con .cols-list li{
    padding: .25rem 0;
    border-bottom: dashed 1px #e5e5e5;
}
.disposal-con .btn-red{
    margin-top: .25rem;
    float: right;
    font-size: .4rem;
    display: none;
}
.disposal-list .active .disposal-con .btn-red{
    display: block;
}
.disposal-list .active .disposal-header .disposal-view .btn-s{
    background: #e6e6e6;
    border: solid 1px #e6e6e6;
    color: #999;
}

.icon-czfmsg {
    width: .85rem;
    height: .85rem;
    background: url(../images/icon-czfmsg.png) no-repeat center;
    background-size: .65rem;
}
.icon-address {
    width: .85rem;
    height: .85rem;
    background: url(../images/icon-address.png) no-repeat center;
    background-size: .85rem;
}
.icon-address3 {
    width: .85rem;
    height: .85rem;
    background: url(../images/icon-address3.png) no-repeat center;
    background-size: .7rem;
}
.icon-ratio {
    width: .85rem;
    height: .85rem;
    background: url(../images/icon-ratio.png) no-repeat center;
    background-size: .85rem;
}
.icon-checkbox-view {
    width: .85rem;
    height: .85rem;
    background: url(../images/icon-checkbox-view.png) no-repeat center;
    background-size: .85rem;
}

.tips{
    line-height: 1.05rem;
    font-size: .5rem;
    color: #fc3535;
    text-align: center;
    background: #fff;
}
.tips+.tab-nav{
    border-top: solid 1px #f3f3f3;
}

.list-clue{
    margin-bottom: 2.5rem;
}
.list-clue li {
    margin-top: .5rem;
    padding: .375rem 0 .375rem 1.125rem;
    background: #fff;
    color: #8a959d;
}

.item-clue .photo{
    width: 1.875rem;
    height: 1.875rem;
    margin-right: .5rem;
    overflow: hidden;
    border-radius: 50%;
}
.item-clue .photo img{
    width: 100%;
    height: 100%;
}
.item-clue .clue-top{
    padding-bottom: .375rem;
    padding-right: .5rem;
    border-bottom: dashed 1px #e5e5e5;
}
.item-clue .clue-top>div{
    padding-top: .375rem;
}
.item-clue .clue-top .h3{
    display: inline-block;
    max-width: 12.5rem;
    color: #626d78;
    font-size: .75rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.item-clue .clue-top .type{
    display: inline-block;
    padding: 0 .15rem;
    height: .65rem;
    margin-left: .25rem;
    text-align: center;
    line-height: .6rem;
    color: #59cbc7;
    border: solid 1px #59cbc7;
    font-size: .45rem;
    border-radius: .125rem;
    vertical-align: middle;
    box-sizing:border-box;
}
.item-clue .clue-msg{
    padding-right: .75rem;
}
.item-clue .clue-msg>p{
    margin-top: .25rem;
}

.image-float>div{
    margin: .375rem .375rem 0 0;
    float: left;
}
.image-float>div:nth-child(3n){
    margin-right: 0;
}
.item-clue .contact{
    margin-top: .5rem;
    padding: .5rem 0;
    border-top: dashed 1px #e5e5e5;
}
.item-clue .bold{
    font-size: .75rem;
    font-weight: bold;
}
.icon-photo{
    width: .85rem;
    height: .85rem;
    background: url(../images/icon-photo.png) no-repeat center;
    background-size: .85rem;
}
.icon-money{
    width: .85rem;
    height: .85rem;
    background: url(../images/icon-money.png) no-repeat center;
    background-size: .85rem;
}
.icon-goods{
    width: .85rem;
    height: .85rem;
    background: url(../images/icon-goods.png) no-repeat center;
    background-size: .85rem;
}


/* 注册登录 */

.content-form .form-li{
    height: 1.5rem;
    padding: .5rem 0 .5rem .25rem;
    margin-top: .5rem;
    background: #fff;
    border-radius: .25rem;
}
.content-form .inp{
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: .8rem;
    border: none;
}
.agree-line{
    height: .75rem;
    line-height: .75rem;
}

.login-page{
    position: relative;
    height: 100%;
    width: 100%;
    background: url(../images/login-bg.jpg) no-repeat center;
    background-size: 100% 100%;
    text-align: center;
}
.login-page .content{
    padding: 0 3.5rem;
}
.login-page .logo{
    margin-top: 3.4rem;
    height: 3.2rem;
}
.login-page .logo img{
    width: 3.2rem;
}
.login-box .form-li{
    margin-top: .75rem;
    padding: .25rem 0;
    border-bottom: solid 1px #fff;
}
.login-box .form-li .icon{
    width: .7rem;
    height: .9rem;
    margin-right: .375rem;
}
.login-box .form-li .icon-phone{
    background: url(../images/icon-phone.png) no-repeat center;
    background-size: .55rem;
}
.login-box .form-li .icon-pwd{
    background: url(../images/icon-pwd.png) no-repeat center;
    background-size: .7rem;
}
.login-box .form-li .inp{
    background: transparent;
    border: none;
    color: #fff;
    font-size: .75rem;
}
.login-box .link{
    color: #fff;
    font-size: .65rem;
}
.login-box .btn{
    height: 1.9rem;
    line-height: 1.9rem;
    border-radius: 1rem;
}
.login-box .btn.btn-empty{
    border: solid 1px #bdc6cf;
    background: transparent;
    color: #e5e5e5;
}

.other-login{
    position: absolute;
    left: 0;
    bottom: 1.25rem;
    width: 100%;
    padding: 0 3.5rem;
    box-sizing:border-box;
}
.other-login .hd{
    position: relative;
    margin-bottom: 1rem;
    color: #cbcbcb;
    font-size: .5rem;
}
.other-login .hd::before,
.other-login .hd::after{
    position: absolute;
    top: .3rem;
    content: "";
    width: 2.5rem;
    height: 2px;
    background-size: 100%;
}
.other-login .hd::before{
    left: 0;
    background: url(../images/line-l.png) no-repeat left center;
}
.other-login .hd::after{
    right: 0;
    background: url(../images/line-r.png) no-repeat right center;
}
.fast-login .fast{
    margin: 0 auto;
    width: 2.2rem;
    height: 2.2rem;
    border: solid 1px #eee;
    border-radius: 50%;
    cursor: pointer;
}
.fast-login .fast.fast-qq{
    background: url(../images/icon-qq.png) no-repeat center;
    background-size: .8rem;
}
.fast-login .fast.fast-wx{
    background: url(../images/icon-wx.png) no-repeat center;
    background-size: 1.1rem;
}


.user-type-list li{
    margin-top: .9rem;
    padding: 1rem;
    border-radius: .125rem;
}
.user-type-list li a{
    color: #fff;
}
.user-type-list li.type-1{
    background-color: #59cbc7;
}
.user-type-list li.type-2{
    background-color: #7795d6;
}
.user-type-list li.type-3{
    background-color: #6bd966;
}
.user-type-list .user-type{
    width: 3.1rem;
    height: 3.1rem;
    margin-right: .5rem;
    background-size: 100%;
    border-radius: 50%;
}
.user-type-list .type-1 .user-type{
    background-image: url(../images/user-type-1.png);

}
.user-type-list .type-2 .user-type{
    background-image: url(../images/user-type-2.png);

}
.user-type-list .type-3 .user-type{
    background-image: url(../images/user-type-3.png);

}
.user-type-list .h3{
    font-size: .8rem;
}
.user-type-list .h5{
    margin-top: .25rem;
    font-size: .65rem;
}

/* 用户中心 */
.page-member{
    position: relative;
}
.page-member .common-header{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    background: transparent;
}
.page-member .member-top{
    height: 8.875rem;
    background: url(../images/member-bg.jpg) no-repeat center;
    background-size: 100%;
}
.icon-setting{
    width: 1rem;
    height: 1rem;
    background-image: url(../images/icon-setting.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: .85rem;
}


.user-msg{
    padding-top: 2.5rem;
    text-align: center;
}
.user-msg .photo-box{
    position: relative;
    width: 3.5rem;
    left: 50%;
    top: 0;
    margin-left: -1.75rem;
}
.user-msg .photo-box .status{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: .4rem;
    color: #fff;
    background: #7795d6;
    padding: .05rem .125rem;
    border-radius: .125rem;
}
.user-msg .photo{
    width: 3.5rem;
    height: 3.5rem;
    border: solid 2px #fff;
    border-radius: 50%;
    box-sizing:border-box;
    overflow: hidden;
}
.user-msg .photo img{
    width: 100%;
    height: 100%;
}
.user-msg .name{
    margin-top: .25rem;
    font-size: .8rem;
    color: #fff;
}
.user-msg .name .type{
    margin-left: .25rem;
    padding: .05rem .15rem;
    background: #ffb880;
    font-size: .5rem;
    border-radius: .125rem;
}


.member-nav .item-con{
    min-height: 2rem;
    line-height: 2rem;
}
.member-nav .option{
    padding-top: .25rem;
    padding-bottom: .25rem;
    line-height: 1.5rem;
}
.member-nav .icon-arrow{
    margin-top: .575rem;
}
.member-nav .item-con .icon{
    width: 1rem;
    height: 1rem;
    margin-top: .5rem;
    margin-right: .5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.icon-user{
    background-image: url(../images/icon-user.png);
}
.icon-wallet{
    background-image: url(../images/icon-wallet.png);
}
.icon-address2{
    background-image: url(../images/icon-address2.png);
}
.icon-ck{
    background-image: url(../images/icon-ck.png);
}

.icon-zqgl{
    background-image: url(../images/icon-zqgl.png);
}
.icon-zc{
    background-image: url(../images/icon-zc.png);
}
.icon-xs{
    background-image: url(../images/icon-xs.png);
}
.icon-flyz{
    background-image: url(../images/icon-flyz.png);
}
.icon-gzsc{
    background-image: url(../images/icon-gzsc.png);
}
.icon-ckqy{
    background-image: url(../images/icon-ckqy.png);
}
.icon-jdyq{
    background-image: url(../images/icon-jdyq.png);
}
.form-tips{
    padding: .25rem 0;
    text-align: center;
}
.form-tips span{
    position: relative;
    color: #8a959d;
    font-size: .5rem;
}
.form-tips span::before,
.form-tips span::after{
    content: "";
    position: absolute;
    top: 50%;
    height: 0;
    width: 2.5rem;
    border-bottom: solid 1px #bdc2c6;
}
.form-tips span::before{
    left: -3rem;
}
.form-tips span::after{
    right: -3rem;
}

.fixed-bottom .contact{
    padding-bottom: .5rem;
    text-align: center;
    color: #999;
    line-height: .9rem;
} 
.about-us .us-img{
    width: 100%;
}
.about-us .us-txt{
    margin-top: .5rem;
    font-size: .65rem;
    color: #6b6b6b;
}
.about-us .us-txt p{
    margin-bottom: .75rem;
}

.ask-me .h3{
    color: #666;
    font-size: .7rem;
}
.ask-me .textarea{
    height: 7.5rem;
    background: #fff;
}
.ask-me .ask-tips{
    color: #ff635d;
}
.wrap{
    background: #fff;
    padding: 0 .75rem;
}
.wrap .form-box .row{
    padding-right: 0;
}
.form-password{
    padding: .25rem 0;
}
.form-password .form-lab{
    text-align: right;
    width: 4.25rem;
}
.agreement{
    color: #6b6b6b;
    font-size: .65rem;
}
.agreement .h3{
    margin-top: .25rem;
    text-align: center;
    font-size: .8rem;
    font-weight: bold;
}
.agreement p{
    margin-top: .5rem;
    margin-bottom: .25rem;
    font-weight: bold;
}
.agreement div{
    margin-bottom: .375rem;
}
.agreement .h5{
    margin-top: .5rem;
    padding: .25rem 0;
    text-align: center;
}

.item-list li{
    position: relative;
    margin-bottom: .5rem;
    background: #fff;
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    overflow: hidden;
    /* box-shadow: 0 0 10px #777;
    -webkit-box-shadow: 0 1px 8px #999;
    -moz-box-shadow: 0 0 10px #777; */
}
.item-list .status{
    position: absolute;
    right: .625rem;
    top: 2.25rem;
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-size: 100%;
}
.item-list .status-1{
    background-image: url(../images/daijiedan.png);
}
.item-list .status-1-1{
    background-image: url(../images/shenqingjiedan.png);
}
.item-list .status-2{
    background-image: url(../images/cuishouzhong.png);
}
.item-list .status-3{
    background-image: url(../images/weiwancheng.png);
}
.item-list .status-4{
    background-image: url(../images/yiwancheng.png);
}
.item-list a{
    color: #626d78;
}
.item-list .item-hd{
    height: 1.15rem;
    padding: .25rem .5rem;
    line-height: 1.15rem;
    background: #59cbc7;
    color: #fff;
    font-size: .7rem;
}
.item-list .item-hd>i{
    margin-top: .075rem;
}
.item-list .item-main{
    margin-left:.5rem;
    padding: .5rem .5rem .5rem 0;
    border-bottom: dashed 1px #e5e5e5; 
}
.item-list .item-main .h4{
    font-size: .7rem;
}
.item-list .item-main .h5{
    color: #6b6b6b;
    margin-top: .25rem;
}
.item-list .item-detail{
    padding: .375rem .5rem;
    color: #8a959d;
}
.item-list .item-detail .lab{
    color: #6b6b6b;
} 
.item-list .item-detail .form-grid{
    padding: .25rem 0;
}

.page-member .header-right{
    font-size: .75rem;
    color: #fff;
}
.page-member .icon-back{
    background: url(../images/icon-back2.png) no-repeat center;
    background-size: .525rem;
}
.page-member .wallet-top{
    height: 7.5rem;
    color: #fff;
}
.page-member .wallet-top .content{
    padding-top: 3.25rem;
}
.page-member .wallet-top .h6{
    font-size: .55rem;
}
.page-member .wallet-top .h3{
    font-size: 2rem;
}
.wallet-tips{
    padding: .25rem .75rem;
    padding-bottom: 1.25rem;
}
.my-clue li{
    border-radius: .125rem;
}
.my-clue .status{
    padding: .075rem .3.25rem;
    color: #fff;
    font-size: .55rem;
    border-radius: .125rem;
}
.my-clue .status-1{
    background: #59cbc7;
}
.my-clue .status-2{
    background: #ff635d;
}
.my-clue .clue-top .h3{
    max-width: 8.75rem;
}
.my-clue .long{
    max-width: 8.75rem;
    display: inline-block;
    vertical-align: top;
}
.address-list .default{
    height: .9rem;
    width: 5.2rem;
    text-align: center;
    line-height: .85rem;
    margin-top: .15rem;
    color: #68cfcb;
    font-size: .55rem;
    border: solid 1px #68cfcb;
    box-sizing:border-box;
    border-radius: .9rem;
}
.address-list .default.active{
    background: #68cfcb;
    color: #fff;
}
.address-list .form-view .form-lab,
.lawyer-list .form-view .form-lab,
.mini-list .form-view .form-lab{
    padding: .125rem 0;
    line-height: .75rem;
}
.address-list .form-view .form-grid,
.lawyer-list .form-view .form-grid,
.mini-list .form-view .form-grid {
    line-height: 1rem;
}
.form-view .form-grid .image-view{
    width: 5.125rem;
    float: right;
    text-align: center;
}
.form-view .form-grid .image-view+.image-view{
    margin-right: .5rem;
}
.lai-query{
    padding: .75rem;
    background: #fff;
}
.lai-query.form-box .row{
    padding-right: 0;
}
.lai-query .query-btn{
    width: 4.65rem;
}
.lai-query .query-btn .btn{
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: .7rem;
}

/* 老赖 */
.list-lai{
    margin-bottom: 2.5rem;
}
.list-lai li {
    margin-top: .5rem;
    padding: .375rem 0 .375rem 1.125rem;
    background: #fff;
    color: #8a959d;
}

.item-lai .lai-hd{
    padding-bottom: .75rem;
    padding-right: .5rem;
    border-bottom: dashed 1px #e5e5e5;
}
.item-lai .lai-hd .icon{
    margin-top: .5rem;
    margin-right: .3rem;
}
.item-lai .lai-hd>div{
    padding-top: .375rem;
}
.item-lai .lai-hd .h3{
    display: inline-block;
    max-width: 12.5rem;
    color: #626d78;
    font-size: .75rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.item-lai .lai-msg{
    padding-right: .75rem;
}
.item-lai .lai-msg>p{
    font-size: .65rem;
    margin-top: .25rem;
}
.icon-case{
    width: .85rem;
    height: .85rem;
    background: url(../images/icon-case.png) no-repeat center;
    background-size: .65rem;
}
.icon-company{
    width: .85rem;
    height: .85rem;
    background: url(../images/icon-company.png) no-repeat center;
    background-size: .85rem;
}
.lai-hd-case{
    margin-top: .375rem;
    padding-top: .5rem;
    border-top: solid 1px #e5e5e5;
}