.icon-tri_arrow_down_b {
  background-image: url("http://www.longwengui.net/Uploads/Debt/imgs/spriteIcon.png");
  background-position: -141px -107px;
  width: 14px;
  height: 9px;
}
.icon-tri_arrow_bl {
  background-image: url("http://www.longwengui.net/Uploads/Debt/imgs/spriteIcon.png");
  background-position: -66px -41px;
  width: 10px;
  height: 6px;
}
.wayByLawer {
  width: 100%;
}
.wayByLawer .wrap {
  width: 1180px;
  margin: 0 auto;
  color: #666666;
}
.wayByLawer .wrap .m-dropdown {
  display: inline-block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #94dafb;
  border-radius: 5px;
  padding: 0 10px;
  position: relative;
}
.wayByLawer .wrap .m-dropdown label {
  color: #a9a9a9;
  width: 100%;
  display: inline-block;
}
.wayByLawer .wrap .m-dropdown label i {
  display: inline-block;
  vertical-align: middle;
  float: right;
  margin-top: 13px;
  background-image: url("http://www.longwengui.net/Uploads/Debt/imgs/spriteIcon.png");
  background-position: -66px -41px;
  width: 10px;
  height: 6px;
}
.wayByLawer .wrap .m-dropdown label input[type="checkbox"] {
  display: none;
}
.wayByLawer .wrap .m-dropdown label ul {
  display: none;
  width: 172px;
  position: absolute;
  top: 36px;
  border-radius: 3px;
  padding: 0;
  margin: 0;
  left: 0;
  font-size: 12px;
  background-color: #fff;
  height: 62px;
  border: 1px solid #e6e6e6;
}
.wayByLawer .wrap .m-dropdown label ul li {
  padding-left: 10px;
  line-height: 30px;
  cursor: pointer;
}
.wayByLawer .wrap .m-dropdown label ul li:hover {
  background-color: #35bdfc;
  color: #fff;
}
.wayByLawer .wrap .m-dropdown label input[type="checkbox"]:checked + ul {
  display: block;
}
.wayByLawer .wrap .current-loc {
  padding-top: 26px;
  padding-bottom: 17px;
  line-height: 20px;
}
.wayByLawer .wrap .current-loc img {
  vertical-align: middle;
  margin-top: -2px;
}
.wayByLawer .wrap .current-loc a {
  text-decoration: none;
  color: #666666;
}
.wayByLawer .wrap .current-loc .cur {
  color: #999;
}
.wayByLawer .wrap .form-wrap {
  border: 1px solid #e6e6e6;
  -moz-box-shadow: 0 0 2px #e6e6e6;
  box-shadow: 0 0 2px #e6e6e6;
  margin-bottom: 100px;
}
.wayByLawer .wrap .form-wrap .box .t {
  background-color: #eaf8ff;
  line-height: 50px;
  padding: 0 18px;
}
.wayByLawer .wrap .form-wrap .box .t img {
  vertical-align: middle;
  margin-top: -2px;
}
.wayByLawer .wrap .form-wrap .box .t .opt {
  float: right;
  color: #54c7fd;
  cursor: pointer;
}
.wayByLawer .wrap .form-wrap .box .c {
  min-height: 10px;
  background-color: #fff;
}
.wayByLawer .wrap .form-wrap .box .c .blo:hover .to-del {
  display: block;
}
.wayByLawer .wrap .form-wrap .box .c .blo {
  padding: 20px 0;
  margin: 0 36px;
  position: relative;
}
.wayByLawer .wrap .form-wrap .box .c .blo .to-del {
  position: absolute;
  right: 0;
  top: 30px;
  display: none;
  cursor: pointer;
}
.wayByLawer .wrap .form-wrap .box .c .blo .line {
  margin-bottom: 10px;
}
.wayByLawer .wrap .form-wrap .box .c .blo .line .info {
  display: inline-block;
  width: 110px;
}
.wayByLawer .wrap .form-wrap .box .c .blo .line .m-dropdown {
  display: inline-block;
  line-height: 30px;
  width: 154px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  position: relative;
  margin-right: 10px;
}
.wayByLawer .wrap .form-wrap .box .c .blo .line .m-dropdown span {
  color: #a9a9a9;
}
.wayByLawer .wrap .form-wrap .box .c .blo .line .m-dropdown img {
  float: right;
  margin-top: 14px;
  cursor: pointer;
}
.wayByLawer .wrap .form-wrap .box .c .blo .line .details {
  display: inline-block;
}
.wayByLawer .wrap .form-wrap .box .c .blo .line .details input {
  line-height: 30px;
  height: 30px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 0 12px;
  margin-right: 10px;
  font-size: 14px;
}
.wayByLawer .wrap .form-wrap .box .c .blo .line .details input[name="name"],
.wayByLawer .wrap .form-wrap .box .c .blo .line .details input[name="idNum"],
.wayByLawer .wrap .form-wrap .box .c .blo .line .details input[name="phoneNumber"] {
  width: 180px;
}
.wayByLawer .wrap .form-wrap .box .c .blo .line .details input[name="province"],
.wayByLawer .wrap .form-wrap .box .c .blo .line .details input[name="city"],
.wayByLawer .wrap .form-wrap .box .c .blo .line .details input[name="county"] {
  width: 130px;
}
.wayByLawer .wrap .form-wrap .box .c .blo .line .details input[name="debt_money"] {
  width: 200px;
}
.wayByLawer .wrap .form-wrap .box .c .blo .line .details textarea {
  width: 848px;
  height: 90px;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
}
.wayByLawer .wrap .form-wrap .box .c .blo:not(:last-child) {
  border-bottom: 1px dashed #e6e6e6;
}
.wayByLawer .wrap .form-wrap .box .c .table-wrap {
  margin: 20px 60px 0;
}
.wayByLawer .wrap .form-wrap .box .c .table-wrap table {
  width: 100%;
  border: 1px solid #e6e6e6;
  border-collapse: collapse;
  margin-bottom: 24px;
}
.wayByLawer .wrap .form-wrap .box .c .table-wrap table thead tr {
  background-color: #f2f2f2;
  line-height: 40px;
  font-size: 14px;
  color: #666666;
  border-bottom: 1px solid #e6e6e6;
}
.wayByLawer .wrap .form-wrap .box .c .table-wrap table thead tr th {
  border-right: 1px solid #e6e6e6;
}
.wayByLawer .wrap .form-wrap .box .c .table-wrap table tbody tr {
  background-color: #fff;
  line-height: 40px;
  font-size: 14px;
  color: #666666;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
}
.wayByLawer .wrap .form-wrap .box .c .table-wrap table tbody tr td {
  border-right: 1px solid #e6e6e6;
}
.wayByLawer .wrap .form-wrap .box .c .table-wrap table tbody tr td button {
  min-width: 60px;
  line-height: 26px;
  border: 0;
  background-color: #35bdfc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.wayByLawer .wrap .form-wrap .box .c .pagination-wrap {
  height: 34px;
  padding: 0 54px;
  margin: 40px 0 30px;
}
.wayByLawer .wrap .form-wrap .box .comfirm-btns {
  text-align: center;
  margin: 80px 0 60px 0;
}
.wayByLawer .wrap .form-wrap .box .comfirm-btns button {
  min-width: 120px;
  line-height: 36px;
  border: 0;
  background-color: #35bdfc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.wayByLawer .wrap .form-wrap .box .comfirm-btns button:nth-child(1) {
  margin-right: 24px;
}
