.icon-tri_arrow_down_b {
  background-image: url("http://www.longwengui.net/Uploads/Debt/imgs/spriteIcon.png");
  background-position: -141px -107px;
  width: 14px;
  height: 9px;
}
.icon-tri_arrow_bl {
  background-image: url("http://www.longwengui.net/Uploads/Debt/imgs/spriteIcon.png");
  background-position: -66px -41px;
  width: 10px;
  height: 6px;
}
.collection-details {
  width: 100%;
  background-color: #fff;
  margin-top: 20px;
}
.collection-details .wrap {
  width: 1180px;
  margin: 0 auto;
  color: #666666;
  position: relative;
}
.collection-details .wrap .current-loc {
  padding-top: 26px;
  padding-bottom: 17px;
  line-height: 20px;
}
.collection-details .wrap .current-loc img {
  vertical-align: middle;
  margin-top: -2px;
}
.collection-details .wrap .current-loc a {
  text-decoration: none;
  color: #666666;
}
.collection-details .wrap .current-loc .cur {
  color: #999;
}
.collection-details .wrap .info-wrap {
  margin-bottom: 120px;
}
.collection-details .wrap .info-wrap .hd {
  text-align: center;
  line-height: 40px;
  background-color: #35bdfc;
  color: #fff;
}
.collection-details .wrap .info-wrap .hd button {
  min-width: 40px;
  line-height: 18px;
  border: 0;
  background-color: #fd7777;
  color: #fff;
  cursor: pointer;
  border-radius: 0;
  font-size: 12px;
}
.collection-details .wrap .info-wrap .hd .concerned {
  min-width: 40px;
  display: inline-block;
  line-height: 24px;
  padding: 0 5px;
  background-color: #009f95;
  color: #fff;
  font-size: 12px;
}
.collection-details .wrap .info-wrap .hd .concerned img{
  vertical-align: middle;
  margin-top: -1px;
}
.collection-details .wrap .info-wrap .pubman-info {
  line-height: 50px;
  text-align: center;
  background-color: #eaf8ff;
  font-size: 14px;
}
.collection-details .wrap .info-wrap .pubman-info span {
  margin-right: 90px;
}
.collection-details .wrap .info-wrap .debt-det {
  padding: 0 24px;
  font-size: 14px;
}
.collection-details .wrap .info-wrap .debt-det .bx {
  padding: 25px 0;
}
.collection-details .wrap .info-wrap .debt-det .bx .line {
  width: 100%;
  min-height: 20px;
}
.collection-details .wrap .info-wrap .debt-det .bx .line .l {
  min-width: 50%;
  display: inline-block;
}
.collection-details .wrap .info-wrap .debt-det .bx .line .l span {
  margin-left: 20px;
}
.collection-details .wrap .info-wrap .debt-det .bx .line:not(:first-child) {
  margin-top: 44px;
}
.collection-details .wrap .info-wrap .debt-det .bx .line-img {
  margin-top: 42px;
}
.collection-details .wrap .info-wrap .debt-det .bx .line-img span {
  float: left;
  margin-right: 10px;
}
.collection-details .wrap .info-wrap .debt-det .bx .line-img img {
  margin-right: 5px;
  width: 190px;
  height: 130px;
}
.collection-details .wrap .info-wrap .debt-det .bx:not(:last-child) {
  border-bottom: 1px dashed #e6e6e6;
}
.collection-details .wrap .info-wrap .t-hd {
  text-align: center;
  font-weight: bold;
  background-color: #9adefd;
  line-height: 40px;
  font-size: 16px;
  margin-top: 60px;
}
.collection-details .wrap .info-wrap .rel-debt .table .det {
  cursor: pointer;
}
.collection-details .wrap .info-wrap .rel-debt .table .m-c {
  color: #f85951;
}
.collection-details .wrap .info-wrap .rel-debt .table table {
  width: 100%;
  border: 1px solid #e6e6e6;
  border-collapse: collapse;
}
.collection-details .wrap .info-wrap .rel-debt .table table thead tr {
  background-color: #f2f2f2;
  line-height: 40px;
  font-size: 14px;
  color: #666666;
  border-bottom: 1px solid #e6e6e6;
}
.collection-details .wrap .info-wrap .rel-debt .table table thead tr th {
  border-right: 1px solid #e6e6e6;
}
.collection-details .wrap .info-wrap .rel-debt .table table tbody tr {
  background-color: #fff;
  line-height: 40px;
  font-size: 14px;
  color: #666666;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
}
.collection-details .wrap .info-wrap .rel-debt .table table tbody tr td {
  border-right: 1px solid #e6e6e6;
}
.collection-details .wrap .info-wrap .rel-debt .info-det{
  line-height: 42px;
  text-align: right;
  padding-right: 20px;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}
.collection-details .wrap .info-wrap .form-wrap {
  font-size: 14px;
}
.collection-details .wrap .info-wrap .form-wrap .line {
  margin: 20px 0;
}
.collection-details .wrap .info-wrap .form-wrap .line .l {
  float: left;
  line-height: 34px;
  margin-right: 15px;
}
.collection-details .wrap .info-wrap .form-wrap .line input {
  line-height: 34px;
  height: 34px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  padding-left: 10px;
}
.collection-details .wrap .info-wrap .form-wrap .line textarea {
  width: 1000px;
  border: 1px solid #e6e6e6;
  padding: 8px;
}
.collection-details .wrap .info-wrap .form-wrap .sub-btn {
  text-align: center;
  margin-top: 80px;
}
.collection-details .wrap .info-wrap .form-wrap .sub-btn button {
  min-width: 140px;
  line-height: 40px;
  border: 0;
  background-color: #35bdfc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}
.collection-details .wrap .info-wrap .apply-wrap{
  height: 120px;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  position: relative;
}
.collection-details .wrap .info-wrap .apply-wrap:not(:last-child){
  border-top: 1px solid #e6e6e6;
}
.collection-details .wrap .info-wrap .apply-wrap .no{
  line-height: 120px;
  width: 120px;
  display: inline-block;
  height: 120px;
  text-align: center;
  float: left;
  font-size: 30px;
  border-right: 1px solid #e6e6e6;
}
.collection-details .wrap .info-wrap .apply-wrap .cont-wrap{
  padding: 0 120px 0 0;
  height: 120px;
}
.collection-details .wrap .info-wrap .apply-wrap .l{
  line-height: 39px;
  height: 39px;
  font-size: 14px;
  padding-left: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.collection-details .wrap .info-wrap .apply-wrap .opt-btn{
  width: 120px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  height: 120px;
  border-left: 1px solid #e6e6e6;
}
.collection-details .wrap .info-wrap .apply-wrap .opt-btn button{
  min-width: 60px;
  line-height: 26px;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}
.collection-details .wrap .info-wrap .apply-wrap .opt-btn button[name="agree"]{
  background-color: #35bdfc;
  margin-bottom: 10px;
  margin-top: 28px;
}
.collection-details .wrap .info-wrap .apply-wrap .opt-btn button[name="reject"]{
  background-color: #999999;
}
.collection-details .wrap .info-wrap .apply-wrap .opt-btn .agreed{
  width: 60px;
  position: absolute;
  top: 50%;
  margin-top: -13px;
  left: 50%;
  margin-left: -30px;
  line-height: 26px;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  background-color: #35bdfc;
}
.collection-details .wrap .info-wrap .apply-wrap .opt-btn .rejected{
  width: 60px;
  line-height: 26px;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  margin-top: -13px;
  left: 50%;
  margin-left: -30px;
  color: #fff;
  font-size: 14px;
  background-color: #999999;
}
.collection-details .wrap .status-img{
  position: absolute;
  right: 40px;
  top: 120px;
}
.collection-details .wrap .status-img img{
  width: 110px;
}
