*{
    padding:0;
    margin:0;
}
body{
    font-size:14px;
}
i{
    display: inline-block;
}
.icon-write{
    width: 20px;
    height:20px;
    background: url("images/icon-write.png") no-repeat center;
}
.query-box{
    height:36px;
    padding:12px 0;
    background: #f3f3f3;
}
.query-box li{
    line-height:36px;
    float: left;
    padding:0 20px;
    color: #676767;
    cursor: pointer;
}
.query-box li.active,
.query-box li:hover{
    color: #319bcc;
}
.query-box .search-box{
    height:34px;
    margin-right:10px;
    border:solid 1px #95d9f9;
    -webkit-border-radius:17px;
    -moz-border-radius:17px;
    border-radius:17px;
}

.inp{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline:none;
}
.inp:focus{

}
.query-box .search-box .inp{
    height:36px;
    line-height:36px;
    padding:6px 10px;
    border:0;
    background: transparent;
}
.query-box .search-box .icon-search{
    width:20px;
    height:20px;
    float: right;
    margin:7px 8px 0 0;
    background: url("images/icon-search.png") no-repeat center;
    cursor: pointer;
}
.result-list{
    width:100%;
    overflow: hidden;
    margin-top:30px;
}
.result-list ul{
    width: 105%;
}
.result-list li{
    position: relative;
    width:354px;
    margin-right:55px;
    margin-bottom:20px;
    height:448px;
    float: left;
    border:solid 1px #f1f1f1;
}

.result-list li .pic{
    height:200px;
    overflow: hidden;
}
.result-list li .pic img{
    width:100%;
}
.result-list li .des{
    padding:15px;
}
.result-list .des .item-msg{
    margin-top:30px;
    line-height:20px;
}
.result-list .des .item-msg .item-name{
    float: left;
    width:200px;
    color: #666;
    font-size:18px;
    font-weight:bold;
}
.result-list .des .item-msg .fr{
    width:120px;
    font-weight:bold;
    text-align: right;
}
.result-list .des .item-detail{
    margin-top:12px;
    padding:10px 0;
    border-top:dashed 1px #e5e5e5;
}
.result-list .des .item-detail .title{
    font-size:16px;
}
.result-list .des .item-detail .con{
    height:30px;
    line-height:15px;
    margin-top:8px;
    font-size:12px;
    color: #999;
    overflow: hidden;
}
.result-list .des .item-public{
    height:16px;
    line-height:16px;
}
.result-list .des .item-public .public-user{
    position: relative;
    z-index: 2;
    float: left;
    margin-top:-50px;
    width:75px;
    height:75px;
    border-radius: 50%;
    overflow: hidden;
}
.result-list .des .item-public .public-user img{
    width:100%;
    height:100%;
}
.result-list .des .item-public .public-date{
    float: right;
    color: #999;
    font-size:12px;
}
.result-list .des .item-public .icon-publicer{
    height:16px;
    width:16px;
    background: url("images/icon-user-blue.png") no-repeat center;
    vertical-align: top;
}
.result-list .des .item-money{
    height: 24px;
    line-height:24px;
    margin-top:20px;
    font-size:12px;
    color: #999;
}
.result-list .des .bold{
    font-size: 18px;
}
.result-list  .btn-favo{
    position: absolute;
    right:15px;
    top:15px;
    width:48px;
    height:24px;
    line-height:24px;
    border-radius: 24px;
    text-align: center;
    font-size:14px;
    color: #d83a3a;
    border:solid 1px #d44b49;
    cursor: pointer;
    transition:all .5s;
}
.result-list  .btn-favo:hover{
    background: #d44b49;
    color: #fff;
}
.result-list li .link-detail{
    position: absolute;
    right:20px;
    bottom:20px;
}
.result-list li .link-detail a{
    font-size:12px;
    color: #999;
}
.result-list li .link-detail a:hover{
    text-decoration: underline;
}