.icon-tri_arrow_down_b {
  background-image: url("http://www.longwengui.net/Uploads/Debt/imgs/spriteIcon.png");
  background-position: -141px -107px;
  width: 14px;
  height: 9px;
}
.icon-tri_arrow_bl {
  background-image: url("http://www.longwengui.net/Uploads/Debt/imgs/spriteIcon.png");
  background-position: -66px -41px;
  width: 10px;
  height: 6px;
}
.login .form-login {
  width: 460px;
  height: 360px;
  margin: 40px auto;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  -moz-box-shadow: 0 0 2px #e6e6e6;
  box-shadow: 0 0 2px #e6e6e6;
}
.login .form-login .hd {
  background-color: #f5f5f5;
  line-height: 60px;
  text-align: center;
  color: #35bdfc;
  font-size: 20px;
}
.login .form-login .cont .forget-pass {
  text-align: right;
  padding-right: 62px;
  color: #666;
  cursor: pointer;
  font-size: 14px;
}
.login .form-login .cont .forget-pass:hover {
  color: #35bdfc;
}
.login .form-login .cont .line {
  width: 390px;
  margin: 24px auto;
  position: relative;
}
.login .form-login .cont .line .info {
  width: 90px;
  display: inline-block;
  color: #666666;
  line-height: 40px;
  text-align: center;
}
.login .form-login .cont .line .det {
  display: inline-block;
  font-size: 14px;
  line-height: 40px;
}
.login .form-login .cont .line .det .input-1 {
  width: 240px;
  padding: 12px 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}
.login .form-login .cont .line .det .input-2 {
  width: 130px;
  padding: 12px 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}
.login .form-login .cont .line .det .comfirm-code {
  min-width: 100px;
  line-height: 40px;
  border: 0;
  background-color: #d7f2fe;
  border-radius: 5px;
  color: #35bdfc;
  cursor: pointer;
  margin-left: 10px;
}
.login .form-login .cont .line .det .btn-login {
  min-width: 262px;
  line-height: 40px;
  border: 0;
  background-color: #35bdfc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.login .form-login .cont .line .error-hint {
  display: none;
  color: #fe2929;
  position: absolute;
  left: 100px;
  top: 47px;
  font-size: 12px;
}
.login .form-login .cont .hav {
  text-align: center;
  color: #ccc;
  margin-top: 15px;
}
.login .form-login .cont .hav span {
  color: #35bdfc;
  cursor: pointer;
}
