.order-list{
  margin:20px 15px ;
}
.order-table{
  width:100%;
  display: table;
  border-collapse: collapse;
}
.order-table .table-tr.table-th{
  height: 40px;
  line-height:40px;
  color: #666;
  background: #f2f1f1;
  border:none;
}
.order-table .table-tr{
  display: table-row;
}
.order-table .table-tr .td{
  display: table-cell;
  padding:15px 5px;
  vertical-align: middle;
  text-align: center;
}
.order-table .table-th .td{
  padding: 0 ;
}
.order-table .table-tr .td.goods-td{
  text-align: left;
  padding-left:15px;
}
.order-table .table-tr.order-hr{
  height: 20px;
  border:none;
}
.goods-td .img{
  float: left;
  width:80px;
  height:80px;
  overflow: hidden;
}
.goods-td .img img{
  width:100%;
  height:100%;
}
.goods-td .con{
  display: table;
  width:220px;
  height:80px;
  float: right;
  text-align: left;
  overflow: hidden;
}
.goods-td .con .title{
  display: table-cell;
  vertical-align: middle;
  font-size:16px;
  color: #646464;
}
.goods-td .con .des{
  height: 54px;
  overflow: hidden;
  margin-top:10px;
  color: #999;
  line-height:18px;
}
.money-td {
  color: #999;
}
.ems{
  margin-top:10px;
  font-size:12px;
  color: #999;
}

.order-hd{
  height:40px;
  line-height:40px;
  background: #c2ebfe;
}
.order-table .order-hd .td{
  padding:0;
}
.order-table .table-tr .order-no{
  text-align: left;
  padding-left:15px;
}
.order-table .table-tr{
  border:solid 1px #c2ebfe;
}
.order-table .link{
  color: #35bdfc;
}
.order-table .link:hover{
  text-decoration: underline;
}
.icon-del{
  display: inline-block;
  width:26px;
  height:26px;
  background: url("images/icon-del.png") no-repeat center;
}
.order-table .operate-txt{
  color: #9a9a9a;
}
.order-table .link:hover{
  text-decoration: underline;
}
.operate-td p{
  margin-top:10px;
}
.operate-td p:first-child{
  margin-top:0;
}

/*物流信息确认*/
.order-pay-address{
  margin: 30px 15px;
  font-size: 14px;
}
.order-pay-address .line{
  margin-bottom: 15px;
  min-height: 30px;
}
.order-pay-address .line .left{
  width: 120px;
  line-height: 30px;
  float: left;
  display: inline-block;
}
.order-pay-address .line .right{
  display: inline-block;
}
.order-pay-address .a-t{
  color: #35bdfc;
}
.order-pay-address .line .right textarea{
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  padding: 10px;
}
.order-pay-address .line .right input{
  height: 30px;
  line-height: 30px;
  border: 1px solid #e6e6e6;
  padding-left: 10px;
  font-size: 14px;
  border-radius: 5px;
}
.order-pay-address .line .right button{
  width: 90px;
  height: 36px;
  line-height: 36px;
  color: #fff;
  border-radius: 5px;
  background-color: #35bdfc;
  border: 0;
}


.form-line{
  min-height:32px;
  margin-bottom:20px;
}
.form-line .form-lab{
  display: inline-block;
  float: left;
  width:70px;
  margin-right:8px;
  color: #353535;
  line-height:32px;
  text-align: right;
  min-height:32px;
}
.form-line .form-lab small{
  font-size:12px;
  color: #9a9a9a;
}
.form-line .form-control{
  display: inline-block;
}
.form-line .form-control .textarea{
  width: 460px;
  height: 80px;
  margin-top:10px;
  border: 1px solid #e6e6e6;
  padding: 10px;
  border-radius: 5px;
}
.form-txt{
  min-height:32px;
  line-height:32px;
}
.return-goods-box{
  padding:20px 10px 20px 20px;
  color: #353535;
}
.return-goods-box .form-line{
  margin-bottom:10px;
}
.return-goods-box .title{
  padding: 20px 0;
  font-size: 18px;
  font-weight: bold;
}
.return-goods-box .form-line .form-lab{
  width:80px;
}
.return-goods-box .title .has-time{
  margin-left:40px;
  color: #35bdfc;
  font-size:16px;
  font-weight:normal;
}
.icon-clack{
  width:20px;
  height:20px;
  background: url("images/icon-clack.png") no-repeat center;
}
.return-goods-box .title .has-time i{
  vertical-align: top;
  margin-right:2px;
}
.return-goods-box .title .tips{
  padding:0;
  margin-right:30px;
  color: #999;
  float: right;
  font-size:14px;
  line-height: 20px;
  font-weight: normal;
}

.return-goods-box .other{
  margin:30px 0 10px;
  padding:10px 0;
  border-top:dashed 1px #cbcbcb;
}
.return-goods-box .con p{
  padding:10px 0;
}