.icon-tri_arrow_down_b {
  background-image: url("images/spriteIcon.png");
  background-position: -141px -107px;
  width: 14px;
  height: 9px;
}
.icon-tri_arrow_bl {
  background-image: url("images/spriteIcon.png");
  background-position: -66px -41px;
  width: 10px;
  height: 6px;
}
.set-debt {
  width: 100%;
}
.set-debt .wrap {
  width: 1180px;
  margin: 0 auto;
  color: #666666;
}
.set-debt .wrap .m-dropdown {
  display: inline-block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #94dafb;
  border-radius: 5px;
  padding: 0 10px;
  position: relative;
}
.set-debt .wrap .m-dropdown label {
  color: #a9a9a9;
}
.set-debt .wrap .m-dropdown label i {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  float: right;
  margin-top: 13px;
  background-image: url("images/spriteIcon.png");
  background-position: -66px -41px;
  width: 10px;
  height: 6px;
}
.set-debt .wrap .m-dropdown label input[type="checkbox"] {
  display: none;
}
.set-debt .wrap .m-dropdown label ul {
  display: none;
  width: 172px;
  position: absolute;
  top: 36px;
  border-radius: 3px;
  padding: 0;
  margin: 0;
  left: 0;
  font-size: 12px;
  background-color: #fff;
  height: 62px;
  border: 1px solid #e6e6e6;
}
.set-debt .wrap .m-dropdown label ul li {
  padding-left: 10px;
  line-height: 30px;
  cursor: pointer;
}
.set-debt .wrap .m-dropdown label ul li:hover {
  background-color: #35bdfc;
  color: #fff;
}
.set-debt .wrap .m-dropdown label input[type="checkbox"]:checked + ul {
  display: block;
}
.set-debt .wrap .current-loc {
  padding-top: 26px;
  padding-bottom: 17px;
  line-height: 20px;
}
.set-debt .wrap .current-loc img {
  vertical-align: middle;
  margin-top: -2px;
}
.set-debt .wrap .current-loc a {
  text-decoration: none;
  color: #666666;
}
.set-debt .wrap .current-loc .cur {
  color: #999;
}
.set-debt .wrap .form-wrap {
  border: 1px solid #e6e6e6;
  -moz-box-shadow: 0 0 2px #e6e6e6;
  box-shadow: 0 0 2px #e6e6e6;
  margin-bottom: 100px;
}
.set-debt .wrap .form-wrap .box .t {
  background-color: #eaf8ff;
  line-height: 50px;
  padding: 0 18px;
}
.set-debt .wrap .form-wrap .box .t .tx{
  margin-left: 5px;
  color: #35bdfc;
}
.set-debt .wrap .form-wrap .box .t img {
  vertical-align: middle;
  margin-top: -2px;
}
.set-debt .wrap .form-wrap .box .t .opt {
  float: right;
  color: #54c7fd;
  cursor: pointer;
}
.set-debt .wrap .form-wrap .box .t .danger {
  color: #fe352e;
  margin-left: 10px;
}
.set-debt .wrap .form-wrap .box .c {
  min-height: 10px;
  background-color: #fff;
}
.set-debt .wrap .form-wrap .box .c .blo:hover .to-del {
  display: block;
}
.set-debt .wrap .form-wrap .box .c .blo {
  padding: 20px 0;
  margin: 0 36px;
  min-height: 30px;
  position: relative;
}
.set-debt .wrap .form-wrap .box .c .blo .to-del {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top:-10px;
  display: none;
  cursor: pointer;
}
.set-debt .wrap .form-wrap .box .c .blo .line {
  font-size: 14px;
  height: 30px;
}
.set-debt .wrap .form-wrap .box .c .blo .line .left {
  width: 50%;
  float: left;
  display: inline-block;
}
.set-debt .wrap .form-wrap .box .c .blo .line .left .info {
  width: 90px;
  float: left;
  height: 30px;
  line-height: 30px;
}
.set-debt .wrap .form-wrap .box .c .blo .line .left .det input {
  line-height: 30px;
  height: 30px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 0 12px;
  margin-right: 10px;
  font-size: 14px;
  box-sizing: border-box;
}
.set-debt .wrap .form-wrap .box .c .blo .line .g-info{
  width: 90px;
  float: left;
  height: 30px;
  line-height: 30px;
}
.set-debt .wrap .form-wrap .box .c .blo .line .g-det{
  color: #35bdfc;
  line-height: 30px;
  min-height: 30px;
  padding-left: 90px;
}
.set-debt .wrap .form-wrap .box .c .blo .line .g-det span{
  margin-right: 10px;
}
.set-debt .wrap .form-wrap .box .c .blo .line .right {
  display: inline-block;
  width: 50%;
  height: 20px;
}
.set-debt .wrap .form-wrap .box .c .blo .line .right .info {
  width: 90px;
  float: left;
  height: 30px;
  line-height: 30px;
}
.set-debt .wrap .form-wrap .box .c .blo .line .right .det input {
  line-height: 30px;
  height: 30px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 0 12px;
  margin-right: 10px;
  font-size: 14px;
  width:120px;
}
.set-debt .wrap .form-wrap .box .c .blo .line:not(:last-child) {
  border-bottom: 1px dashed #e6e6e6;
}
.set-debt .wrap .form-wrap .box .c .blo:not(:last-child) {
  border-bottom: 1px dashed #e6e6e6;
}
.set-debt .wrap .form-wrap .box .comfirm-btns {
  text-align: center;
  margin: 80px 0 60px 0;
}
.set-debt .wrap .form-wrap .box .comfirm-btns button {
  min-width: 120px;
  line-height: 36px;
  border: 0;
  background-color: #35bdfc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.set-debt .wrap .form-wrap .box .comfirm-btns button:nth-child(1) {
  margin-right: 24px;
}
.set-debt .wrap .form-wrap .box .sub-btn {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
}
.set-debt .wrap .form-wrap .box .sub-btn .btn-pub {
  min-width: 126px;
  line-height: 36px;
  border: 0;
  background-color: #35bdfc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-right: 12px;
}
.set-debt .wrap .form-wrap .box .sub-btn .btn-reset {
  min-width: 126px;
  line-height: 36px;
  border: 0;
  background-color: #cccccc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.set-debt .wrap .form-wrap .box .sub-btn .give-up {
  position: absolute;
  right: 46px;
  top: 12px;
}
.set-debt .wrap .form-wrap .box .sub-btn .give-up span {
  color: #35bdfc;
  text-decoration: underline;
  cursor: pointer;
}
.form-line{
  margin-top:20px;
}
.form-line .form-lab{
  display: inline-block;
  line-height:30px;
  margin-right:13px;
}
.form-line .form-control{
  display: inline-block;
}
.inp{
  line-height: 30px;
  height: 30px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 0 12px;
  margin-right: 10px;
  font-size: 14px;
}
.area-more.form-line{
  padding-top:20px;
  border-top:solid 1px #e6e6e6;
}
.area-more.form-line .form-lab{
  width:111px;
  text-align: right;
  float: left;
}
.area-more.form-line .form-control .textarea{
  width:1040px;
  height:100px;
}
.textarea{
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  padding: 10px;
}
.form-line .textarea{
  box-sizing:border-box;
}
.form-txt{
  line-height:30px;
}
.disabled .check-all{
  display: none;
}