.person-center .wrap {
  width: 1180px;
  margin: 0 auto;
  color: #666;
  position: relative;
}
.person-center .wrap .fr-win{
  position: absolute;
  right: -100px;
  top: 105px;
  width: 100px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.person-center .wrap .fr-win .pub-btn-list .lin{
  padding: 8px 12px;
  background-color: #34aae1;
  margin-bottom: 1px;
}
.person-center .wrap .fr-win .pub-btn-list .lin:hover{
  background-color: #2f88b1;
}
.person-center .wrap .fr-win .pub-btn{
  width: 50px;
  height: 50px;
  background-color: #2f88b1;
  text-align: center;
  margin-bottom: 1px;
}
.person-center .wrap .fr-win .pub-btn img{
  margin-top: 6px;
}
.person-center .wrap .current-loc {
  padding-top: 26px;
  padding-bottom: 17px;
  line-height: 20px;
}
.person-center .wrap .current-loc img {
  vertical-align: middle;
  margin-top: -2px;
}
.person-center .wrap .current-loc a {
  text-decoration: none;
  color: #666666;
}
.person-center .wrap .current-loc span {
  color: #999;
}
.person-center .wrap .menu-cont-wrap {
  margin-bottom: 100px;
}
.person-center .wrap .menu-cont-wrap .menu-bar {
  background-color: #2f88b1;
  color: #fff;
  width: 200px;
  min-height: 1100px;
  position: relative;
  float: left;
  -moz-box-shadow: 0 0 2px #e6e6e6;
  box-shadow: 0 0 2px #e6e6e6;
  border-radius: 5px;
}
.person-center .wrap .menu-cont-wrap .menu-bar .u-img {
  border-radius: 50%;
  margin: 30px auto 0 52px;
  width: 90px;
  height: 90px;
}
.person-center .wrap .menu-cont-wrap .menu-bar .nick-name {
  text-align: center;
  font-size: 14px;
  margin: 20px 0 100px;
}
.person-center .wrap .menu-cont-wrap .menu-bar button {
  min-width: 80px;
  line-height: 30px;
  border: 0;
  background-color: #35bdfc;
  border-radius: 5px;
  color: #fff;
  outline: 0;
  left: 55px;
  top: 180px;
  font-size: 14px;
  position: absolute;
}
.person-center .wrap .menu-cont-wrap .menu-bar .menu-level-1 {
  font-size: 14px;
  line-height: 40px;
  position: relative;
  cursor: pointer;
  border-top: 1px solid #3e9dc9;
}
.person-center .wrap .menu-cont-wrap .menu-bar .menu-level-1 .i-left {
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 5px;
  margin-left: 20px;
}
.person-center .wrap .menu-cont-wrap .menu-bar .menu-level-1 .i-right {
  float: right;
  width: 14px;
  height: 8px;
  margin-top: 16px;
  margin-right: 15px;
}
.person-center .wrap .menu-cont-wrap .menu-bar .menu-level-2-wrap {
  display: none;
}
.person-center .wrap .menu-cont-wrap .menu-bar .menu-level-2-wrap .menu-level-2 {
  line-height: 36px;
  padding-left: 44px;
  background-color: #2d7ca1;
  font-size: 14px;
  cursor: pointer;
}
.person-center .wrap .menu-cont-wrap .menu-bar .menu-level-2-wrap .menu-level-2:hover, .person-center .wrap .menu-cont-wrap .menu-bar .menu-level-2-wrap .menu-level-2-act {
  background-color: #3e9dc9;
  border-left: 4px solid #35bdfc;
}
.person-center .wrap .menu-cont-wrap .menu-bar .menu-level-1:last-child {
  border-bottom: 1px solid #3e9dc9;
}
.person-center .wrap .menu-cont-wrap .menu-bar .menu-level-1-act,
.person-center .wrap .menu-cont-wrap .menu-bar .menu-level-1:hover {
  background-color: #319bcc;
}
.person-center .wrap .menu-cont-wrap .menu-cont {
  background-color: #fff;
  width: 970px;
  min-height: 1085px;
  padding-bottom: 15px;
  -moz-box-shadow: 0 0 2px #e6e6e6;
  box-shadow: 0 0 2px #e6e6e6;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  margin-left: 210px;
}
.person-center .wrap .menu-cont-wrap .menu-cont .tab-hd {
  background-color: #c2ebfe;
  color: #666;
  height: 40px;
  line-height: 40px;
}
.person-center .wrap .menu-cont-wrap .menu-cont .tab-hd .tb {
  min-width: 112px;
  padding: 0 10px;
  cursor: pointer;
  float: left;
  text-align: center;
}
.person-center .wrap .menu-cont-wrap .menu-cont .tab-hd .act {
  background-color: #fff;
  color: #35bdfc;
}

/*修改密码&绑定手机*/
.person-center .change-pass{
  padding: 50px 42px;
}
.person-center .change-pass .line{
  line-height: 45px;
  font-size: 14px;

}
.person-center .change-pass .line .lab{
  width: 80px;
  float: left;
  height: 30px;
}
.person-center .change-pass .line input{
  padding: 6px 10px;
  width: 240px;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  font-size: 14px;
}
.person-center .change-pass .line .cont .error-hint{
  color: #fc3535;
  margin-left: 5px;
  display: none;
}
.person-center .change-pass .line .cont button{
  border: none;
	background-color: #35bdfc;
  cursor: pointer;
  color: #FFFFFF;
	width: 262px;
	height: 36px;
	border-radius: 5px;
	font-size: 14px;
	margin-top: 20px;
}

.person-center .bind-phone{
  padding: 35px 50px;
}
.person-center .bind-phone .info{
  padding-bottom: 20px;
  border-bottom: 1px dashed #e6e6e6;
  margin-bottom: 36px;
}
.person-center .bind-phone .info span{
  color: #35bdfc;
}
.person-center .bind-phone .bx{
  margin-bottom: 50px;
}
.person-center .bind-phone .step-wrap{
  position: relative;
  width: 214px;
  display: inline-block;
}
.person-center .bind-phone .step-wrap .step{
  width: 200px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #666;
  font-size: 14px;
  background-color: #cccccc;
}
.person-center .bind-phone .step-wrap .step-act{
  background-color: #35bdfc;
  color: #fff;
}
.person-center .bind-phone .step-wrap .step-tri{
  position: absolute;
  right: -16px;
  top: 0;
  border-left: 15px solid #cccccc;
  border-right: 15px solid transparent;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
.person-center .bind-phone .step-wrap .step-tri-act{
  border-left: 15px solid #35bdfc;
}
.person-center .bind-phone .step-wrap .step-tri-pre{
  position: absolute;
  left: -15px;
  top: 0;
  border-left: 15px solid transparent;
  border-top: 15px solid #cccccc;
  border-bottom: 15px solid #cccccc;
}
.person-center .bind-phone .step-wrap .step-tri-pre-act{
  border-top: 15px solid #35bdfc;
  border-bottom: 15px solid #35bdfc;
}

.person-center .bind-phone .line{
  line-height: 45px;
}
.person-center .bind-phone .line .lab{
  width: 80px;
  float: left;
  height: 30px;
}
.person-center .bind-phone .line .input-1{
  padding: 6px 10px;
  width: 240px;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  font-size: 14px;
}
.person-center .bind-phone .line .input-2{
  padding: 6px 10px;
  width: 136px;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  font-size: 14px;
}
.person-center .bind-phone .line button[name="code"]{
  border: none;
	background-color: #f2f2f2;
  cursor: pointer;
	width: 100px;
	height: 32px;
	border-radius: 5px;
	font-size: 14px;
}
.person-center .bind-phone .line .cont .error-hint{
  color: #fc3535;
  margin-left: 5px;
  display: none;
}
.person-center .bind-phone .line .cont button[name="save"], .person-center .bind-phone .line .cont button[name="next"]{
  border: none;
	background-color: #35bdfc;
  cursor: pointer;
  color: #FFFFFF;
	width: 262px;
	height: 36px;
	border-radius: 5px;
	font-size: 14px;
	margin-top: 20px;
}
.person-center .bind-phone .show-hint{
  font-size: 28px;
  line-height: 30px;
  height: 30px;
  margin: 50px auto 0 90px;
  color: #35bdfc;
}
.person-center .bind-phone .show-hint img{
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 5px;
}

/*投诉建议*/
.person-center .wrap .menu-cont-wrap .menu-cont .info-cont .complaint{
	padding: 20px 0;
	margin: 0 20px;
	border-bottom: 1px dashed #E6E6E6;
}
.complaint .complaint-info{
	overflow: hidden;
}
.complaint .complaint-info .leb{
	float: left;
	width: 100px;
	line-height: 30px;
}
.complaint .complaint-info .complaint-inp{
	float: left;
	width: 750px;
	padding: 0 10px;
	min-height: 150px;
	line-height: 30px;
	font-size: 14px;
	border-color: #E6E6E6;
	outline: none;
	color: #666666;
}
.complaint .complaint-info button{
	border: none;
	outline: none;
	background-color: #35bdfc;
	color: #FFFFFF;
	margin-left: 100px;
	width: 100px;
	height: 36px;
	border-radius: 5px;
	font-size: 14px;
	margin-top: 20px;
}

/*个人、企业、律师信息*/
.menu-cont-wrap .menu-cont .show-info .info-cont .info-m {
  margin: 0 20px;
  padding: 20px 0;
  border-bottom: 1px dashed #e6e6e6;
  height: 100px;
}
.menu-cont-wrap .menu-cont .show-info .info-cont .info-m .head-portrait {
  text-align: center;
  width: 106px;
  float: left;
  margin-right: 40px;
}
.menu-cont-wrap .menu-cont .show-info .info-cont .info-m .head-portrait img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.menu-cont-wrap .menu-cont .show-info .info-cont .info-m .head-portrait span {
  text-decoration: underline;
  cursor: pointer;
  color: #35bdfc;
  font-size: 14px;
}
.menu-cont-wrap .menu-cont .show-info .info-cont .info-m .info-blk {
  float: left;
  width: 340px;
  font-size: 14px;
}
.menu-cont-wrap .menu-cont .show-info .info-cont .info-m .info-blk .line {
  line-height: 37px;
}
.menu-cont-wrap .menu-cont .show-info .info-cont .info-o {
  margin: 20px 20px 0 20px;
  font-size: 14px;
  padding-bottom: 30px;
  border-bottom: 1px dashed #e6e6e6;
}
.menu-cont-wrap .menu-cont .show-info .info-cont .info-o .line {
  line-height: 45px;
  min-height: 45px;
}
.menu-cont-wrap .menu-cont .show-info .info-cont .info-o .line .cont input{
	padding: 6px 10px;
  width: 320px;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  font-size: 14px;
}
.menu-cont-wrap .menu-cont .show-info .info-cont .info-o .line .cont textarea{
	width: 320px;
  padding: 6px 10px;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: -8px;
}
.menu-cont-wrap .menu-cont .show-info .info-cont .info-o .line .if {
  width: 116px;
  margin-left: 30px;
  float: left;
}
.menu-cont-wrap .menu-cont .show-info .info-cont .info-o .line-img{
  margin: 10px 0;
}
.menu-cont-wrap .menu-cont .show-info .info-cont .info-o .line-img .if {
  width: 116px;
  margin-left: 30px;
  float: left;
  line-height: 50px;
}
.menu-cont-wrap .menu-cont .show-info .info-cont .info-o .line-img .cont .bx {
  text-align: center;
  display: inline-block;
  margin-right: 15px;
}
.menu-cont-wrap .menu-cont .show-info .info-cont .info-o .line-img .cont .bx .img-wrap {
  width: 150px;
  height: 100px;
  background-color: #e9e9e9;
  margin-bottom: 10px;
}
.menu-cont-wrap .menu-cont .show-info .info-cont .info-o .line-img .cont .bx .img-wrap img{
  width: 150px;
  height: 100px;
}
.menu-cont-wrap .menu-cont .show-info .info-cont .info-o .line-img .cont .bx label span{
  cursor: pointer;
  color: #35bdfc;
}
.menu-cont-wrap .menu-cont .to-opt {
  padding: 0 20px;
  margin-top: 30px;
	font-size: 14px;
  line-height: 38px;
}
.menu-cont-wrap .menu-cont .to-opt .for-auth{
  float: right;
}
.menu-cont-wrap .menu-cont .to-opt .for-auth .waiting{
  color: #db3652;
}
.menu-cont-wrap .menu-cont .to-opt .cont{
  display: inline-block;
}
.menu-cont-wrap .menu-cont .to-opt .for-auth button,
.menu-cont-wrap .menu-cont .to-opt .cont button[name="edit"],
.menu-cont-wrap .menu-cont .to-opt .cont button[name="save"] {
  min-width: 90px;
  line-height: 36px;
  border: 0;
  background-color: #35bdfc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-left: 20px;
}
.menu-cont-wrap .menu-cont .to-opt .cont button[name="cancel"]{
	min-width: 90px;
  line-height: 36px;
  border: 0;
  background-color: #b3b3b3;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
	margin-left: 5px;
}

/*未认证用户信息*/
.no-auth-userinfo{
  padding: 30px 20px 0;
  font-size: 14px;
}
.no-auth-userinfo .hd{
  border-bottom: 1px dashed #e5e5e5;
  padding-bottom: 10px;
}
.no-auth-userinfo .sel-to-auth{
  border-bottom: 1px dashed #e5e5e5;
  padding: 70px;
  margin: 0 auto;
}
.no-auth-userinfo .sel-to-auth .img-sel{
  display: inline-block;
  text-align: center;
}
.no-auth-userinfo .sel-to-auth .img-sel img{
  width: 66px;
}
.no-auth-userinfo .sel-to-auth .img-sel button{
  min-width: 90px;
  line-height: 30px;
  border: 0;
  background-color: #35bdfc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.no-auth-userinfo .show-msg h2{
  font-weight: 500;
  margin: 30px 0;
}
.no-auth-userinfo .show-msg p{
  margin: 20px 0;
}

/*系统消息*/
.person-center .wrap .menu-cont-wrap .menu-cont .info-cont .sys-info{
	margin: 0 20px;
	padding: 20px 0;
}
.sys-info .sys-info-list{
	list-style: none;
	margin: 0;
	padding: 0 10px;
}
.sys-info .sys-info-list .sys-info-li{
	line-height: 36px;
	height: 36px;
	border-bottom: 1px dashed #e5e5e5;
}
.sys-info .sys-info-list .sys-info-li a{
	text-decoration: none;
	color: #666666;
	font-size: 14px;
}
.sys-info .sys-info-list .sys-info-li img{
	vertical-align: middle;
	margin-top: -2px;
}
.sys-info .sys-info-list .sys-info-li span{
	float: right;
	font-size: 13px;
	color: #999999;
}

/*发布悬赏*/
.person-center .wrap .menu-cont-wrap .menu-cont .info-cont .clue{
	margin: 0 10px;
	padding: 10px 0;
}

/*公共部分start*/
.person-center .wrap .menu-cont-wrap .menu-cont .info-cont .cont-hd{
	line-height: 60px;
	height: 60px;
	margin: 0 15px;
	border-bottom: 1px dashed #E6E6E6;
}
.person-center .wrap .menu-cont-wrap .menu-cont .info-cont .cont-hd .send{
	float: right;
	height: 32px;
	line-height: 32px;
	margin-top: 14px;
	border: none;
  cursor: pointer;
  padding: 0 15px;
	background-color: #35BDFC;
	color: #FFFFFF;
	border-radius: 5px;
}
.person-center .wrap .menu-cont-wrap .menu-cont .info-cont .cont-hd .send img{
	vertical-align: middle;
	margin-top: -3px;
	margin-right: 5px;
}
.person-center .wrap .menu-cont-wrap .cont-select{
	padding: 0;
	margin: 0 15px;
	height: 44px;
	line-height: 44px;
	border-bottom: 1px dashed #E6E6E6;
  position: relative;
}
.person-center .wrap .menu-cont-wrap .cont-select .order-rec{
  position: absolute;
  right: 10px;
  font-size: 14px;
  top: 0;
  line-height: 44px;
  color: #999999;
  cursor: pointer;
}
.person-center .wrap .menu-cont-wrap .cont-select .order-rec img{
  margin-top: -3px;
  margin-right: 3px;
  vertical-align: middle;
}
.person-center .wrap .menu-cont-wrap .cont-select dt, .person-center .wrap .menu-cont-wrap .cont-select dd{
	display: inline;
	margin: 0;
	cursor: default;
	font-size: 14px;
}
.person-center .wrap .menu-cont-wrap .cont-select dt{
  min-width: 100px;
  display: inline-block;
}
.person-center .wrap .menu-cont-wrap .cont-select dd{
	padding: 5px 10px;
	margin: 0 5px;
	font-size: 12px;
	border-radius: 5px;
  cursor: pointer;
}
.person-center .wrap .menu-cont-wrap .cont-select dd.cont-select-act{
	background-color: #35bdfc;
	color: #fff;
}
/*公共部分end*/

.clue .clue-list{
	margin-top: 10px;
}
.clue .list-details{
	padding: 10px 10px 0 10px;
	margin-bottom: 10px;
	height: 280px;
	border: 1px solid #e6e6e6;
	position: relative;
}
.clue .details-pt{
	float: left;
	width: 240px;
	margin-right: 10px;
}
.clue .details-pt .details-pt-big{
	float: left;
	width: 200px;
	height: 160px;
	margin-right: 10px;
	background-color: #999;
}
.clue .details-pt .details-pt-big img{
  width: 100%;
  height: 100%;
}
.clue .details-pt .details-pt-small{
  float: left;
	width: 60px;
	height: 48px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	background-color: #999;
}
.clue .details-pt .details-pt-small img{
  width: 100%;
  height: 100%;
}
.clue .details-txt{
	float: left;
	width: 672px;
}
.clue .details-txt .details-txt-cont{
	line-height: 30px;
	font-size: 14px;
}
.clue .details-txt .details-txt-cont span{
	color: #f00;
}
.clue .details-txt .details-txt-cont-last{
	line-height: 36px;
	height: 36px;
	border-top: 1px dashed #E6E6E6;
	font-style: italic;
  padding-top: 25px;
  margin-top: 25px;
}
.clue .details-txt .details-txt-cont-last button{
	height: 24px;
	border: none;
	outline: none;
	border-radius: 5px;
	background-color: #35bdfc;
	float: right;
	font-size: 12px;
	color: #fff;
	margin-top: 6px;
	padding: 0 15px;
}
.clue .list-details .details-over{
	position: absolute;
	width: 120px;
	height: 120px;
	right: 30px;
	top: 140px;
}

/*公共表格样式start*/
.person-center .wrap .menu-cont-wrap .menu-cont .info-cont .debt{
	margin: 0 10px;
	padding: 10px 0;
}
.debt .debt-table{
	border-top: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
}
.debt .debt-table td{
	border-right: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	font-size: 13px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.debt .debt-table td.color-red{
	color: #f00;
}
.debt .debt-table td.color-blue{
	color: #2f88b1;
}
.debt .debt-table thead{
	background-color: #f2f2f2;
	font-weight: bold;
}
.debt .debt-table tr:hover{
	background-color: #f8f8f8;
}
.debt .debt-table .details-enter{
	text-decoration: none;
	color: #666;
	padding: 0 8px;
  cursor: pointer;
}
.debt .debt-table .details-enter:hover{
	text-decoration: underline;
}
.debt .debt-table button{
	text-decoration: underline;
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	color: #666;
}
.debt .debt-table .oper span{
  color: #35bdfc;
  cursor: pointer;
	margin: 0 5px;
  text-decoration: underline;
}


/*债权接单*/
.debt-table td .see,.debt-table td .modify,.debt-table td .del{
	color: #fff;
	margin: 0 10px;
  cursor: pointer;
	text-decoration: none;
	border-radius: 5px;
}
.debt-table td .see{
	background-color: #35bdfc;
	padding: 2px 8px;
}
.debt-table td .modify{
	background-color: #328bb4;
	padding: 2px 8px;
}
.debt-table td .del{
	background-color: #999;
	padding: 2px 8px;
}

/*一进入页面弹窗*/
.pop-to-hint{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.pop-to-hint .pop{
  width: 270px;
  height: 170px;
  background-color: #fff;
  margin: 200px auto;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 15px;
}
.pop-to-hint .pop .tl{
  text-align: center;
  border-bottom: 1px dashed #e6e6e6;
  padding-bottom: 10px;
}
.pop-to-hint .pop p{
  font-size: 14px;
  text-align: center;
  margin: 20px 0 8px;
}
.pop-to-hint .pop .warn{
  text-align: center;
  color: #ff2d2d;
  margin-bottom: 30px;
}
.pop-to-hint .pop .info{
  color: #35bdfc;
  text-align: center;
  line-height: 20px;
  margin-bottom: 30px;
}
.pop-to-hint .pop .info img{
  vertical-align: middle;
  margin-top: -4px;
}
.pop-to-hint .pop .btn{
  text-align: center;
}
.pop-to-hint .pop .btn button{
  min-width: 80px;
  line-height: 30px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}
.pop-to-hint .pop .btn button[name="ok"]{
  background-color: #35bdfc;
}
.pop-to-hint .pop .btn button[name="cancel"]{
  background-color: #b2b2b2;
}

/*升级成为催客*/
.upgrad-person-role .pop{
  width: 270px;
  height: 170px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 15px;
}
.upgrad-person-role .pop .tl{
  text-align: center;
  border-bottom: 1px dashed #e6e6e6;
  padding-bottom: 10px;
}
.upgrad-person-role .pop p{
  font-size: 14px;
  text-align: center;
  margin: 20px 0 8px;
}
.upgrad-person-role .pop .warn{
  text-align: center;
  color: #ff2d2d;
  margin-bottom: 30px;
}
.upgrad-person-role .pop .info{
  color: #35bdfc;
  text-align: center;
  line-height: 20px;
  margin-bottom: 30px;
}
.upgrad-person-role .pop .info img{
  vertical-align: middle;
  margin-top: -4px;
}
.upgrad-person-role .pop .btn{
  display: block;
  text-align: center;
}
.upgrad-person-role .pop .btn button{
  min-width: 80px;
  line-height: 30px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}
.upgrad-person-role .pop .btn button[name="ok"]{
  background-color: #35bdfc;
  margin-right: 10px;
}
.upgrad-person-role .pop .btn button[name="cancel"]{
  background-color: #b2b2b2;
}

/*消息详情*/
.msg-det{
  margin-bottom: 70px;
}
.msg-det .left{
  min-height: 403px;
  display: inline-block;
  background-color: #fff;
  -moz-box-shadow: 0 0 2px #e6e6e6;
  box-shadow: 0 0 2px #e6e6e6;
  width: 805px;
  padding: 50px 24px;
}
.msg-det .left .tl{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 34px;
}
.msg-det .left .info{
  width: 342px;
  margin: 0 auto;
  font-size: 14px;
}
.msg-det .left p{
  font-size: 14px;
  text-indent: 28px;
  margin-top: 40px;
  line-height: 22px;
}
.msg-det .right{
  float: right;
  width: 300px;
  -moz-box-shadow: 0 0 2px #e6e6e6;
  box-shadow: 0 0 2px #e6e6e6;
}
.msg-det .right .tl{
  padding: 0 10px;
  height: 43px;
  line-height: 43px;
  background-color: #35bdfc;
  color: #fff;
}
.msg-det .right .cont-wrap{
  padding: 14px 0;
  overflow-y: auto;
}
.msg-det .right .cont-wrap .cont{
  height: 430px;
}
.msg-det .right .cont-wrap .cont .line{
  line-height: 30px;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 10px;
}
.msg-det .right .cont-wrap .cont .line:hover{
  background-color: #f5f5f5;
  cursor: pointer;
}
.msg-det .right .cont-wrap .cont .line img{
  vertical-align: middle;
  margin-top: -2px;
}

/*提前关注的债务*/
.care-search-wrap{
  margin: 20px 10px 0;
  padding-bottom: 20px;
  border-bottom: 1px dashed #e6e6e6;
}
.care-search-wrap input[name="name"]{
  width: 130px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}
.care-search-wrap input[name="idNum"]{
  width: 300px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}
.care-search-wrap span{
  font-size: 14px;
  color: #999999;
  margin-left: 10px;
}
.care-search-wrap button{
  width: 80px;
  line-height: 36px;
  font-size: 14px;
  border: 0;
  background-color: #35bdfc;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}
.cared{
  font-size: 14px;
  padding: 0 10px;
  margin-top: 20px;
  margin-bottom: 24px;
}
.cared .m-dropdown{
  display: inline-block;
  width: 160px;
  margin-left: 10px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 0 10px;
  position: relative;
}
.cared .m-dropdown label{
  color: #666;
  width: 100%;
  display: inline-block;
}
.cared .m-dropdown label i{
  display: inline-block;
  vertical-align: middle;
  float: right;
  margin-top: 13px;
  background-image: url("images/spriteIcon.png");
  background-position: -66px -41px;
  width: 10px;
  height: 6px;
}
.cared .m-dropdown label input[type="checkbox"]{
  display: none;
}
.cared .m-dropdown label ul{
  display: none;
  width: 178px;
  position: absolute;
  top: 36px;
  border-radius: 3px;
  padding: 0;
  margin: 0;
  left: 0;
  font-size: 12px;
  background-color: #fff;
  max-height: 182px;
  overflow-y: auto;
  z-index: 100;
  border: 1px solid #e6e6e6;
}
.cared .m-dropdown label ul li{
  padding-left: 10px;
  line-height: 30px;
  cursor: pointer;
}
.cared .m-dropdown label ul li:hover{
  background-color: #35bdfc;
  color: #fff;
}
.cared .m-dropdown label input[type="checkbox"]:checked + ul{
  display: block;
}
.care-sel{
  padding: 0 10px;
  line-height: 40px;
}
.care-sel .c-b{
  color: #35bdfc;
}
.care-sel img{
  vertical-align: middle;
  margin-top: -2px;
}
.fr{
  float: right;
}
.fr .m-dropdown{
  display: inline-block;
  width: 160px;
  margin-left: 10px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 0 10px;
  position: relative;
}
.fr .m-dropdown label{
  color: #666;
  width: 100%;
  display: inline-block;
}
.fr .m-dropdown label i{
  display: inline-block;
  vertical-align: middle;
  float: right;
  margin-top: 13px;
  background-image: url("images/spriteIcon.png");
  background-position: -66px -41px;
  width: 10px;
  height: 6px;
}
.fr .m-dropdown label input[type="checkbox"]{
  display: none;
}
.fr .m-dropdown label ul{
  display: none;
  width: 178px;
  position: absolute;
  top: 36px;
  border-radius: 3px;
  padding: 0;
  margin: 0;
  left: 0;
  font-size: 12px;
  background-color: #fff;
  max-height: 182px;
  overflow-y: auto;
  z-index: 100;
  border: 1px solid #e6e6e6;
}
.fr .m-dropdown label ul li{
  padding-left: 10px;
  line-height: 30px;
  cursor: pointer;
}
.fr .m-dropdown label ul li:hover{
  background-color: #35bdfc;
  color: #fff;
}
.fr .m-dropdown label input[type="checkbox"]:checked + ul{
  display: block;
}

/*提前关注*/
#debt_trans_list, #debt_reword_list{
  display: none;
}

/*范本详情*/
.debt-model-detail{
  border: 1px solid #e6e6e6;
  -moz-box-shadow: 0 0 2px #e6e6e6;
  box-shadow: 0 0 2px #e6e6e6;
  min-height: 1300px;
  margin-bottom: 60px;
  padding: 0 40px;
  font-size: 14px;
}
.debt-model-detail h2{
  text-align: center;
  color: #319bcc;
  margin-bottom: 40px;
  margin-top: 36px;
}
.debt-model-detail p{
  text-indent: 28px;
  line-height: 24px;
  margin-bottom: 24px;
}
.debt-model-detail .n{
  margin-left: 36px;
}
.debt-model-detail .up-time{
  text-align: right;
  font-size: 12px;
  color: #999;
  border-top: 1px dashed #e6e6e6;
  line-height: 55px;
  margin-top: 90px;
}

/*代理*/
.agent-apply{
  margin: 0 15px;
  padding: 10px 0;
}
.agent-apply p{
  font-size: 14px;
}
.agent-apply .apply-form{
  margin-top: 20px;
  padding-top: 25px;
  border-top: 1px dashed #e6e6e6;
}
.agent-apply .apply-form .line{
  line-height: 30px;
  min-height: 30px;
  margin-bottom: 20px;
}
.agent-apply .apply-form .line .lef{
  width: 160px;
  float: left;
  min-height: 30px;
}
.agent-apply .apply-form .line .rig{
  min-height: 30px;
}
.agent-apply .apply-form .line .rig input[name="idNum"]{
  width: 320px;
}
.agent-apply .apply-form .line .rig input{
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}
.agent-apply .apply-form .line .rig input[name="name"], .agent-apply .line .rig input[name="phoneNumber"]{
  width: 240px;
}
.agent-apply .apply-form .line .rig textarea{
  width: 600px;
  height: 100px;
  border: 1px solid #e6e6e6;
  padding: 10px;
  border-radius: 5px;
}
.agent-apply .apply-form .line .rig .proto{
  color: #35bdfc;
  cursor: pointer;
}
.agent-apply .apply-form .line .rig button{
  min-width: 100px;
  line-height: 36px;
  border: 0;
  background-color: #35bdfc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.way-change{
  min-height: 40px;
  margin-top: 10px;
  padding: 0 10px;
}

/*推荐*/
.recommand{
  margin: 0 20px;
  padding: 10px 0;
}
.recommand .apply-form{
  margin-top: 20px;
  padding-top: 25px;
}
.recommand .apply-form p{
  font-size: 14px;
  color: #ff2d2d;
}
.recommand .apply-form .line{
  line-height: 30px;
  min-height: 30px;
  margin-bottom: 20px;
}
.recommand .apply-form .line .lef{
  width: 110px;
  float: left;
  min-height: 30px;
  font-size: 14px;
  line-height: 30px;
}
.recommand .apply-form .line .rig{
  min-height: 30px;
}
.recommand .apply-form .line .rig input{
  padding: 10px;
  width: 240px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  font-size: 14px;
}
.recommand .apply-form .line .rig button{
  min-width: 100px;
  line-height: 36px;
  border: 0;
  background-color: #35bdfc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.my-recommand{
  font-size: 14px;
  padding: 0 20px;
  margin-top: 20px;
}
.my-recommand .divi{
  padding-bottom: 15px;
  border-bottom: 1px dashed #e6e6e6;
  margin-bottom: 15px;
}
.my-recommand .m-dropdown{
  display: inline-block;
  width: 160px;
  margin-left: 10px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 0 10px;
  position: relative;
}
.my-recommand .m-dropdown label{
  color: #666;
  width: 100%;
  display: inline-block;
}
.my-recommand .m-dropdown label i{
  display: inline-block;
  vertical-align: middle;
  float: right;
  margin-top: 13px;
  background-image: url("images/spriteIcon.png");
  background-position: -66px -41px;
  width: 10px;
  height: 6px;
}
.my-recommand .m-dropdown label input[type="checkbox"]{
  display: none;
}
.my-recommand .m-dropdown label ul{
  display: none;
  width: 178px;
  position: absolute;
  top: 36px;
  border-radius: 3px;
  padding: 0;
  margin: 0;
  left: 0;
  font-size: 12px;
  background-color: #fff;
  max-height: 182px;
  overflow-y: auto;
  z-index: 100;
  border: 1px solid #e6e6e6;
}
.my-recommand .m-dropdown label ul li{
  padding-left: 10px;
  line-height: 30px;
  cursor: pointer;
}
.my-recommand .m-dropdown label ul li:hover{
  background-color: #35bdfc;
  color: #fff;
}
.my-recommand .m-dropdown label input[type="checkbox"]:checked + ul{
  display: block;
}
.my-recommand .rec-sel{
  line-height: 40px;
  margin-top: 10px;
}
.my-recommand .rec-sel .c-b{
  color: #35bdfc;
}
.my-recommand .rec-sel img{
  vertical-align: middle;
  margin-top: -2px;
}
.my-recommand-form{
  padding: 0 15px;
}

.union-search{
  padding: 0 15px;
  margin: 30px 0 20px;
}
.union-search>span{
  margin-right: 10px;
}
.union-search button{
  min-width: 100px;
  line-height: 30px;
  border: 0;
  margin-left: 15px;
  background-color: #35bdfc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.union-result{
  margin-bottom: 10px;
  padding: 10px 0;
  margin: 0 15px 10px;
  border-bottom: 1px dashed #e6e6e6;
}
.debt .union-table{
	border-top: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
}
.debt .union-table td{
	border-right: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	font-size: 13px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.debt .union-table thead{
	background-color: #f2f2f2;
	font-weight: bold;
}
.debt .union-table tr:hover{
	background-color: #f8f8f8;
}
.debt .union-table button{
  min-width: 60px;
  line-height: 24px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.debt .union-table button[name="ok"], .debt .union-table button[name="cancel-apply"], .debt .union-table button[name="del"]{
  background-color: #35bdfc;
}
.debt .union-table button[name="reject"]{
  background-color: #b3b3b3;
  margin-left: 10px;
}
.debt .union-table button[name="cancel-union"]{
  background-color: #328bb4;
}

/*设置分页*/
.pagination-wrap{
  margin-top: 20px;
  padding-right: 10px;
  height: 36px;
}

/*无数据显示*/
.person-center .wrap .no-data{
  text-align: center;
  margin-top: 200px;
}

/*订单管理*/
.order-manage .order-tl{
  background-color: #f2f1f1;
  line-height: 40px;
  height: 40px;
  margin: 20px 15px 0;
}
.order-manage .t1, .order-manage .t2, .order-manage .t3, .order-manage .t4, .order-manage .t5, .order-manage .t6{
  display: inline-block;
  text-align: center;
  font-size: 14px;
  float: left;
}
.order-manage .t1{
  width: 340px;
}
.order-manage .t2{
  width: 154px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.order-manage .t3{
  width: 74px;
}
.order-manage .t4{
  width: 114px;
}
.order-manage .t5{
  width: 140px;
}
.order-manage .t6{
  width: 114px;
}
.order-manage .t6 img{
  width: 34px;
  cursor: pointer;
}
.order-manage .t6 .cancel-order{
  cursor: pointer;
}
.order-manage .order-bd {
  margin: 20px 15px 0;
}
.order-manage .order-bd .order-num{
  line-height: 40px;
  background-color: #c2ebfe;
  font-size: 14px;
  padding-left: 15px;
}
.order-manage .order-bd .over-time{
  background-color: #f2f1f1;
}
.order-manage .order-bd .over-time+.order-info{
  border: 1px solid #f2f1f1;
}
.order-manage .order-bd .order-info{
  height: 118px;
  border: 1px solid #c2ebfe;
}
.order-manage .order-bd .order-info .info{
  text-align: left;
}
.order-manage .order-bd .order-info .info .img-wrap{
  width: 83px;
  height: 83px;
  float: left;
  margin-left: 15px;
  background-color: #cccccc;
  margin-top: 18px;
}
.order-manage .order-bd .order-info .info .img-wrap img{
  width: 100%;
  height: 100%;
}
.order-manage .order-bd .order-info .info .item-info{
  padding-left: 110px;
  padding-right: 10px;
  margin-top: 25px;
}
.order-manage .order-bd .order-info button[name="pay"]{
  min-width: 80px;
  line-height: 26px;
  border: 0;
  background-color: #35bdfc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.order-manage .order-bd .order-info p, .order-manage .order-bd .order-info span{
  color: #999;
}
.address-manage{
  margin: 30px 15px;
  font-size: 14px;
}
.address-manage .line{
  margin-bottom: 15px;
  min-height: 30px;
}
.address-manage .line .left{
  width: 120px;
  line-height: 30px;
  float: left;
  display: inline-block;
}
.address-manage .line .right{
  display: inline-block;
}
.address-manage .a-t{
  color: #35bdfc;
}
.address-manage .line .right textarea{
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  padding: 10px;
}
.address-manage .line .right input{
  height: 30px;
  line-height: 30px;
  border: 1px solid #e6e6e6;
  padding-left: 10px;
  font-size: 14px;
  border-radius: 5px;
}

.address-manage .line .right input[name="name"]{
  width: 300px;
}
.address-manage .line .right input[name="phone"]{
  width: 450px;
}
.address-manage .line .right button{
  width: 90px;
  height: 36px;
  line-height: 36px;
  color: #fff;
  border-radius: 5px;
  background-color: #35bdfc;
  border: 0;
}
.address-manage .address-list{
  margin-top: 40px;
}
.address-manage .address-list .tip{
  color: #35bdfc;
  font-weight: bold;
  margin-bottom: 15px;
}
.address-manage .address-list .table tr{
  line-height: 23px;
  text-align: center;
}
.address-manage .address-list .table table{
  border-top: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  color: #666;
}
.address-manage .address-list .table thead tr{
  background-color: #e6e6e6;
}
.address-manage .address-list .table thead tr td{
  padding:8px 0;
  border-bottom: 1px solid #e6e6e6;
}
.address-manage .address-list .table tbody td{
  padding:8px 0;
  border-bottom: 1px solid #e6e6e6;
}
.address-manage .address-list .table .opt{
  width: 100px;
  display: inline-block;
}
.address-manage .address-list .table .opt span{
  color: #35bdfc;
  cursor: pointer;
}
.address-manage .address-list .table .default{
  display: inline-block;
  border: 1px solid #35bdfc;
  line-height: 20px;
  color: #35bdfc;
  padding: 0 10px;
  font-size: 12px;
  border-radius: 3px;
}
.address-manage .address-list .table .set-default{
  display: inline-block;
  background-color: #35bdfc;
  line-height: 20px;
  color: #fff;
  cursor: pointer;
  padding: 0 10px;
  font-size: 12px;
  border-radius: 3px;
}


.wallet-page.person-center .wrap .menu-cont-wrap .cont-select{
  margin: 10px 15px;
}
.wallet-page .wallet-box{
  height:32px;
  padding:20px 0 20px 80px;
  line-height:32px;
  border-bottom:solid 1px #ccc;
}
.wallet-page .wallet-box .col{
  width:210px;
  float: left;
}
.wallet-page .wallet-box .col.col4{
  width:150px;
}
.wallet-page .address-manage{
  margin:20px 15px;
}
.wallet-page .address-manage .address-list{
  margin-top:0;
}

.common-empty{
  width:100%;
  padding:60px 0;
  text-align: center;
}
.common-empty p{
  margin:10px 0  20px;
  font-size:18px;
  color: #9a9a9a;
}
.common-empty .btn{
  padding: 9px 48px;
}
.link{
  color: #35bdfc;
}
.link:hover{
  text-decoration: underline;
}
.underline{
  text-decoration: underline;
}
.model-con{
  min-height:500px;
  padding:20px;
  border: solid 1px #d9d9d9;
  margin-bottom:60px;
}

/*悬赏列表*/
.reword-list{
  margin:20px 15px 40px;
}
.reword-list>ul{
  width:105%;
}
.reword-list li{
  position: relative;
  float: left;
  padding:10px 15px;
  margin-bottom:20px;
  box-shadow: 0 0 3px #b2b2b2;
  -webkit-box-shadow: 0 0 3px #b2b2b2;
  -moz-box-shadow: 0 0 3px #b2b2b2;
  -webkit-transition: box-shadow .2s;
  -moz-transition: box-shadow .2s;
  -ms-transition: box-shadow .2s;
  -o-transition: box-shadow .2s;
  transition: box-shadow .2s;
}
.reword-list li i.mark{
  position: absolute;
  right:30px;
  top:20px;
  width:96px;
  height:96px;
  background: url("images/complate-img.png") no-repeat center;
  -webkit-background-size:100%;
  background-size:100%;
}
.reword-list li:hover{
  box-shadow: 0 0 10px #b2b2b2;
  -webkit-box-shadow: 0 0 10px #b2b2b2;
  -moz-box-shadow: 0 0 10px #b2b2b2;
}
.reword-list li.even,
.reword-list li:nth-child(even){
  margin-right:0;
}
.reword-list li .image-box{
  width:340px;
  float: left;
  margin-right:15px;
}
.reword-list li .image-box img{
  width:100%;
  height:100%;
}
.reword-list li .image-box .image-first{
  float: left;
  width:200px;
  height:268px;
  margin-right: 10px;
}
.reword-list li .image-box .image-list{
  width:130px;
  float: left;
}
.reword-list li .image-box .image-list a{
  float: left;
  display: block;
  width:60px;
  height:80px;
  margin: 0 10px 14px 0;
}
.reword-list li .image-box .image-list a:nth-child(2n){
  margin-right:0;
}
.reword-list li .con-box{
  width:555px;
  float: right;
  line-height:26px;
}
.bold{
  color: #d81e06;
  font-weight: bold;
}
.reword-list .con-box .detail label{
  display: inline-block;
  float: left;
}
.reword-list .con-box .detail>div{
  float: left;
  width:480px;
  height:120px;
  overflow: hidden;
}
.reword-list .con-box .contact-us{
  padding:8px 0;
  border-top:dashed 1px #e6e6e6;
}
.reword-list .con-box .contact-us .tips{
  font-style: italic;
}
.reword-list .con-box .contact-us .bold{
  font-size:16px;
  font-style: italic;
}
.reword-list .con-box .contact-us .btn{
  font-style:normal;
  padding:2px 15px;
}
.reword-list .con-box .address{
  display: inline-block;
  max-width:400px;
  vertical-align: top;
}
.reword-list .con-box .address+.bold{
  vertical-align: top;
}