.icon-tri_arrow_down_b {
  background-image: url("http://www.longwengui.com/Uploads/Debt/imgs/spriteIcon.png");
  background-position: -141px -107px;
  width: 14px;
  height: 9px;
}
.personal-company .wrap {
  width: 1180px;
  margin: 0 auto;
  color: #666;
}
.personal-company .wrap .current-loc {
  padding-top: 26px;
  padding-bottom: 17px;
  line-height: 20px;
}
.personal-company .wrap .current-loc img {
  vertical-align: middle;
  margin-top: -2px;
}
.personal-company .wrap .current-loc a {
  text-decoration: none;
  color: #666666;
}
.personal-company .wrap .current-loc span {
  color: #999;
}
.personal-company .wrap .menu-cont-wraper {
  margin-bottom: 100px;
}
.personal-company .wrap .menu-cont-wraper .menu-bar {
  background-color: #2f88b1;
  color: #fff;
  width: 200px;
  min-height: 1100px;
  float: left;
  -moz-box-shadow: 0 0 2px #e6e6e6;
  box-shadow: 0 0 2px #e6e6e6;
  border-radius: 5px;
}
.personal-company .wrap .menu-cont-wraper .menu-bar .u-img {
  border-radius: 50%;
  margin: 30px auto 0 55px;
}
.personal-company .wrap .menu-cont-wraper .menu-bar .nick-name {
  text-align: center;
  font-size: 14px;
  margin: 20px 0;
}
.personal-company .wrap .menu-cont-wraper .menu-bar button {
  min-width: 80px;
  line-height: 30px;
  border: 0;
  background-color: #35bdfc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  outline: 0;
  margin: 0 auto 20px 55px;
  font-size: 14px;
}
.personal-company .wrap .menu-cont-wraper .menu-bar .menu-l1 {
  font-size: 14px;
  padding-left: 20px;
  line-height: 40px;
  cursor: pointer;
  border-top: 1px solid #3e9dc9;
}
.personal-company .wrap .menu-cont-wraper .menu-bar .menu-l1 .img-l {
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 5px;
}
.personal-company .wrap .menu-cont-wraper .menu-bar .menu-l1 .img-r {
  float: right;
  margin-top: 16px;
  margin-right: 15px;
}
.personal-company .wrap .menu-cont-wraper .menu-bar .menu-l1:nth-last-child(1) {
  border-bottom: 1px solid #3e9dc9;
}
.personal-company .wrap .menu-cont-wraper .menu-bar .menu-l1-act {
  background-color: #319bcc;
}
.personal-company .wrap .menu-cont-wraper .menu-bar .menu-l2 {
  line-height: 36px;
  padding-left: 44px;
  background-color: #2d7ca1;
  font-size: 14px;
  cursor: pointer;
}
.personal-company .wrap .menu-cont-wraper .menu-bar .menu-l2-act {
  background-color: #328bb4;
  border-left: 4px solid #35bdfc;
}
.personal-company .wrap .menu-cont-wraper .menu-cont {
  background-color: #fff;
  width: 970px;
  min-height: 1100px;
  -moz-box-shadow: 0 0 2px #e6e6e6;
  box-shadow: 0 0 2px #e6e6e6;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  margin-left: 210px;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .tab-hd {
  background-color: #c2ebfe;
  color: #666;
  height: 40px;
  line-height: 40px;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .tab-hd .tb {
  min-width: 112px;
  padding: 0 10px;
  cursor: pointer;
  float: left;
  text-align: center;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .tab-hd .act {
  background-color: #fff;
  color: #35bdfc;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .tb-sel {
  margin: 0 20px;
  padding: 20px 0;
  border-bottom: 1px dashed #e6e6e6;
  font-size: 14px;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .tb-sel .tb {
  display: inline-block;
  margin-left: 14px;
  padding: 4px 8px;
  cursor: pointer;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .tb-sel .act {
  background-color: #35bdfc;
  color: #fff;
  border-radius: 2px;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .table {
  margin: 0 20px;
  padding: 20px 0 0;
  border-bottom: 1px dashed #e6e6e6;
  font-size: 14px;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .table .m-c {
  color: #f85951;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .table .sta-1 {
  font-weight: 600;
  color: #f85951;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .table .sta-2 {
  font-weight: 600;
  color: #fbab10;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .table .sta-3 {
  font-weight: 600;
  color: #0f83b9;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .table .det {
  cursor: pointer;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .table .opt .cal {
  cursor: pointer;
  color: #fd2929;
  text-decoration: underline;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .table .opt .del {
  cursor: pointer;
  color: #666666;
  text-decoration: underline;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .table table {
  width: 100%;
  border: 1px solid #e6e6e6;
  border-collapse: collapse;
  margin-bottom: 24px;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .table table thead tr {
  background-color: #f2f2f2;
  line-height: 40px;
  font-size: 14px;
  color: #666666;
  border-bottom: 1px solid #e6e6e6;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .table table thead tr th {
  border-right: 1px solid #e6e6e6;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .table table tbody tr {
  background-color: #fff;
  line-height: 40px;
  font-size: 14px;
  color: #666666;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .table table tbody tr td {
  border-right: 1px solid #e6e6e6;
}
.personal-company .wrap .menu-cont-wraper .menu-cont .info-cont .pagination-wrap {
  margin: 20px;
}
