.icon-tri_arrow_down_b {
  background-image: url("http://www.longwengui.com/Uploads/Debt/imgs/spriteIcon.png");
  background-position: -141px -107px;
  width: 14px;
  height: 9px;
}
.icon-tri_arrow_bl {
  background-image: url("http://www.longwengui.com/Uploads/Debt/imgs/spriteIcon.png");
  background-position: -66px -41px;
  width: 10px;
  height: 6px;
}
.public-debt-diy {
  width: 100%;
}
.public-debt-diy .wrap {
  width: 1180px;
  margin: 0 auto;
  color: #666666;
}
.public-debt-diy .wrap .m-dropdown {
  display: inline-block;
  font-size: 14px;
  width: 120px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 0 10px;
  position: relative;
}
.public-debt-diy .wrap .m-dropdown label {
  color: #a9a9a9;
  width: 100%;
  display: inline-block;
}
.public-debt-diy .wrap .m-dropdown label i {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  float: right;
  margin-top: 13px;
  background-image: url("http://www.longwengui.com/Uploads/Debt/imgs/spriteIcon.png");
  background-position: -66px -41px;
  width: 10px;
  height: 6px;
}
.public-debt-diy .wrap .m-dropdown label input[type="checkbox"] {
  display: none;
}
.public-debt-diy .wrap .m-dropdown label ul {
  display: none;
  width: 138px;
  position: absolute;
  top: 36px;
  border-radius: 3px;
  padding: 0;
  z-index: 100;
  margin: 0;
  left: 0;
  font-size: 12px;
  background-color: #fff;
  height: 62px;
  border: 1px solid #e6e6e6;
}
.public-debt-diy .wrap .m-dropdown label ul li {
  padding-left: 10px;
  line-height: 30px;
  cursor: pointer;
}
.public-debt-diy .wrap .m-dropdown label ul li:hover {
  background-color: #35bdfc;
  color: #fff;
}
.public-debt-diy .wrap .m-dropdown label input[type="checkbox"]:checked + ul {
  display: block;
}
.public-debt-diy .wrap .current-loc {
  padding-top: 26px;
  padding-bottom: 17px;
  line-height: 20px;
}
.public-debt-diy .wrap .current-loc img {
  vertical-align: middle;
  margin-top: -2px;
}
.public-debt-diy .wrap .current-loc a {
  text-decoration: none;
  color: #666666;
}
.public-debt-diy .wrap .current-loc .cur {
  color: #999;
}
.public-debt-diy .wrap .form-wrap {
  border: 1px solid #e6e6e6;
  -moz-box-shadow: 0 0 2px #e6e6e6;
  box-shadow: 0 0 2px #e6e6e6;
  margin-bottom: 100px;
}
.public-debt-diy .wrap .form-wrap .box .t {
  background-color: #eaf8ff;
  line-height: 50px;
  padding: 0 18px;
}
.public-debt-diy .wrap .form-wrap .box .t .datepicker{
  line-height: normal;
}
.public-debt-diy .wrap .form-wrap .box .t input[name="overDay"]{
  line-height: 30px;
  height: 30px;
  width: 200px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 0 12px;
  margin-right: 10px;
  font-size: 14px;
}
.public-debt-diy .wrap .form-wrap .box .t img {
  vertical-align: middle;
  margin-top: -2px;
}
.public-debt-diy .wrap .form-wrap .box .t .opt {
  float: right;
  color: #54c7fd;
  cursor: pointer;
}
.public-debt-diy .wrap .form-wrap .box .t .danger {
  color: #fe352e;
  margin-left: 10px;
}
.public-debt-diy .wrap .form-wrap .box .c {
  min-height: 10px;
  background-color: #fff;
}
.public-debt-diy .wrap .form-wrap .box .c .blo:hover .to-del {
  display: block;
}
.public-debt-diy .wrap .form-wrap .box .c .blo {
  padding: 20px 0;
  margin: 0 36px;
  position: relative;
}
.public-debt-diy .wrap .form-wrap .box .c .blo .to-del {
  position: absolute;
  right: 0;
  top: 30px;
  display: none;
  cursor: pointer;
}
.public-debt-diy .wrap .form-wrap .box .c .blo .line {
  margin-bottom: 10px;
}
.public-debt-diy .wrap .form-wrap .box .c .blo .line .info {
  display: inline-block;
  width: 110px;
  float: left;
  height: 30px;
  line-height: 30px;
}
.public-debt-diy .wrap .form-wrap .box .c .blo .line .details {
  display: inline-block;
}
.public-debt-diy .wrap .form-wrap .box .c .blo .line .details input {
  line-height: 30px;
  height: 30px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 0 12px;
  margin-right: 10px;
  font-size: 14px;
}
.public-debt-diy .wrap .form-wrap .box .c .blo .line .details input[name="name"],
.public-debt-diy .wrap .form-wrap .box .c .blo .line .details input[name="idNum"],
.public-debt-diy .wrap .form-wrap .box .c .blo .line .details input[name="phoneNumber"] {
  width: 180px;
}
.public-debt-diy .wrap .form-wrap .box .c .blo .line .details input[name="province"],
.public-debt-diy .wrap .form-wrap .box .c .blo .line .details input[name="city"],
.public-debt-diy .wrap .form-wrap .box .c .blo .line .details input[name="county"] {
  width: 130px;
}
.public-debt-diy .wrap .form-wrap .box .c .blo .line .details input[name="debt_money"] {
  width: 200px;
}
.public-debt-diy .wrap .form-wrap .box .c .blo .line .details textarea {
  width: 848px;
  height: 90px;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
}
.public-debt-diy .wrap .form-wrap .box .c .blo .line .details .bx {
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin-left: 12px;
}
.public-debt-diy .wrap .form-wrap .box .c .blo .line .details .bx span {
  text-decoration: underline;
  cursor: pointer;
}
.public-debt-diy .wrap .form-wrap .box .c .blo .line .details .bx .img-wrap {
  width: 180px;
  height: 124px;
  margin-bottom: 5px;
  background-color: #eeeff0;
}
.public-debt-diy .wrap .form-wrap .box .c .blo .line .details .bx .img-wrap img {
  width: 100%;
  height: 100%;
}
.public-debt-diy .wrap .form-wrap .box .c .blo .comfirm-btns {
  text-align: center;
  margin: 80px 0 60px 0;
}
.public-debt-diy .wrap .form-wrap .box .c .blo .comfirm-btns button {
  min-width: 120px;
  line-height: 36px;
  border: 0;
  background-color: #35bdfc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.public-debt-diy .wrap .form-wrap .box .c .blo .comfirm-btns button:nth-child(1) {
  margin-right: 24px;
}
.public-debt-diy .wrap .form-wrap .box .c .blo:not(:last-child) {
  border-bottom: 1px dashed #e6e6e6;
}
.public-debt-diy .wrap .form-wrap .box .agree-protocal {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 25px;
}
.public-debt-diy .wrap .form-wrap .box .agree-protocal .protocal {
  color: #35bdfc;
  cursor: pointer;
  margin-left: -8px;
}
.public-debt-diy .wrap .form-wrap .box .sub-btn {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
}
.public-debt-diy .wrap .form-wrap .box .sub-btn .btn-pub {
  min-width: 126px;
  line-height: 36px;
  border: 0;
  background-color: #35bdfc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-right: 12px;
}
.public-debt-diy .wrap .form-wrap .box .sub-btn .btn-reset {
  min-width: 126px;
  line-height: 36px;
  border: 0;
  background-color: #cccccc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.public-debt-diy .wrap .form-wrap .box .sub-btn .give-up {
  position: absolute;
  right: 46px;
  top: 12px;
}
.public-debt-diy .wrap .form-wrap .box .sub-btn .give-up span {
  color: #35bdfc;
  text-decoration: underline;
  cursor: pointer;
}
.public-debt-diy .wrap .form-wrap .box .sub-btn .change-way{
  position: absolute;
  right: 46px;
  top: 4px;
  font-size: 14px;
}
.public-debt-diy .wrap .form-wrap .box .sub-btn .change-way .m-dropdown {
  display: inline-block;
  margin-left: 15px;
  width: 80px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 0 10px;
  position: relative;
}
.public-debt-diy .wrap .form-wrap .box .sub-btn .change-way .m-dropdown label {
  color: #a9a9a9;
  width: 100%;
  display: inline-block;
}
.public-debt-diy .wrap .form-wrap .box .sub-btn .change-way .m-dropdown label i {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  float: right;
  margin-top: 13px;
  background-image: url("http://www.longwengui.com/Uploads/Debt/imgs/spriteIcon.png");
  background-position: -66px -41px;
  width: 10px;
  height: 6px;
}
.public-debt-diy .wrap .form-wrap .box .sub-btn .change-way .m-dropdown label input[type="checkbox"] {
  display: none;
}
.public-debt-diy .wrap .form-wrap .box .sub-btn .change-way .m-dropdown label ul {
  display: none;
  width: 100px;
  position: absolute;
  top: 36px;
  border-radius: 3px;
  padding: 0;
  z-index: 100;
  margin: 0;
  left: 0;
  font-size: 12px;
  background-color: #fff;
  height: 62px;
  border: 1px solid #e6e6e6;
}
.public-debt-diy .wrap .form-wrap .box .sub-btn .change-way .m-dropdown label ul li {
  padding-left: 16px;
  line-height: 30px;
  cursor: pointer;
  text-align: left;
}
.public-debt-diy .wrap .form-wrap .box .sub-btn .change-way .m-dropdown label ul li:hover {
  background-color: #35bdfc;
  color: #fff;
}
.public-debt-diy .wrap .form-wrap .box .sub-btn .change-way .m-dropdown label input[type="checkbox"]:checked + ul {
  display: block;
}

.public-debt-diy .wrap .form-wrap .box .arounce {
  text-align: center;
  color: #fc4c4c;
  margin-bottom: 40px;
}
