{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/creditor.css">

<div class="wrap mt-40">
    <div class="tab-panel">
        <ul class="clearfix fl">
            <li class="active">
                <a href="javascrpt:;">资产商城</a>
            </li>
        </ul>
        <div class="tab-panel-right">
            <a href="/asset/publish"><i class="icon-write"></i>发布资产</a>
        </div>
    </div>
    <div class="query-box">
        <ul id="selectTab" class="clearfix fl">

            <li {if $S ==''}class="active"{/if} data-sort="" onclick="go('/asset/lists/')">
                最新
            </li>
            <li {if $S ==1}class="active"{/if} data-sort="" onclick="go('/asset/lists/?S=1')">
                热卖
            </li>
            <li {if $S ==2}class="active"{/if} data-sort="" onclick="go('/asset/lists/?S=2')">
                最后促销
            </li>
        </ul>
        <div class="search-box fr">
            <form href="/asset/lists/" method="get">
            <input class="inp" type="search" name="K" placeholder="请输入关键字搜索" value="{$Keywords}"/>
                <button class="btn"><i class="icon-search"></i></button>
            </form>
        </div>
    </div>
    <div class="result-list">
        <ul class="clearfix">
            {loop $Data['Data'] $lists}
            <li>
                <span class="btn-favo" onclick="pageObj.favoFun(this)" data-id="{$lists['AssetID']}">
                    收藏
                </span>
                <a href="/assetdetails/{$lists['AssetID']}.html" title="{$lists['Title']}" target="_blank">
                    <div class="pic">
                        <img src="{$lists['ImageUrl']}" alt="{$lists['Title']}">
                    </div>
                    <div class="des">
                        <div class="item-public">
                            <p class="public-user">
                                <img src="{$lists['Avatar']}">
                            </p>
                            发布人：{if $lists['RealName']!=''}{$lists['RealName']}{else}{$lists['NickName']}{/if} <i class="icon-publicer"></i>
                            <span class="public-date">{$lists['AddTime']}</span>
                        </div>
                        <div class="item-msg clearfix">
                            <p class="item-name ellipsis">{$lists['Title']}</p>
                            <p class="fr ellipsis">共 <span class="c-red">{$lists['Amount']}</span>&nbsp;份</p>
                        </div>
                        <div class="item-detail">
                            <div class="item clearfix">
                                <span class="lab">剩余</span>
                                <span class="count"><b>{$lists['Inventory']}</b>&nbsp;份</span>
                            </div>
                            <div class="item clearfix">
                                <span class="lab">已买</span>
                                <span class="count"><b>{$lists['Number']}</b>&nbsp;份</span>
                            </div>
                        </div>
                        <!--<div class="item-detail">
                            <p class="title">商品详情</p>
                            <div class="con">{$lists['Content']}</div>
                        </div>-->
                        <p class="item-money clearfix">
                            <del class="fl">市价￥{$lists['MarketPrice']}</del>
                            <label class="fr"><span class="bold c-red">￥{$lists['Price']}</span>/份</label>
                        </p>
                    </div>
                </a>
            </li>
            {/loop}
        </ul>
        {if empty($Data['Data'])}
        <div class="no-data">
            <img src="/Uploads/Debt/imgs/no_data.png" alt="">
        </div>
        {/if}
        {if $ShowPage}
        <div class="pagination-wrap">
            <div class="pagination fl-r" id="collection_page_pagination">
                <a href="/asset/lists/"><div class="b {if $Page==1}sel{/if}">首页</div></a>
                {$ShowPage}
            </div>
        </div>
        {/if}
    </div>
</div>
<div class="service-way">
    <div class="way-bx" id="baidu_qiao">
        <div class="icon" title="在线客服">
            <img src="{echo CssURL}/debt/images/contact.png" alt="">
        </div>
    </div>
    <div class="way-bx">
        <div class="icon">
            <img src="/Uploads/Debt/imgs/service_phone.png" alt="">
        </div>
        <div class="cont cont-1">
            客服电话:&nbsp;&nbsp;0592-5253262
            <div class="tri"></div>
        </div>
    </div>
    <div class="way-bx">
        <div class="icon">
            <img src="/Uploads/Debt/imgs/service_qq.png" alt="">
        </div>
        <div class="cont cont-1">
            <a href="http://wpa.qq.com/msgrd?v=3&uin=1181681360&site=qq&menu=yes" target="_blank">
                <img src="/Uploads/Debt/imgs/qq_icon.png" class="qq_icon" alt="">客服QQ:&nbsp;&nbsp;1181681360
                <div class="tri"></div>
            </a>
        </div>
    </div>
    <div class="way-bx">
        <div class="icon">
            <img src="/Uploads/Debt/imgs/service_wechat.png" alt="">
        </div>
        <div class="cont cont-2">
            <img src="/Uploads/Debt/imgs/wximg.png" alt=""><br>微信扫一扫, 联系客服
            <div class="tri"></div>
        </div>
    </div>
</div>
{template Footer}
<script src='{echo JsURL}/debt/creditor.js'></script>
</body>
</html>