{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/orderPay.css">
<div class="order-pay">
    <div class="wrap clearfix">
        <div class="current-loc">
            <img src="/Uploads/Debt/imgs/current_loc.png" alt="">
            <span>当前位置 : <a href="/asset/lists/">资产商城</a> > <a href="/assetdetails/{$AssetInfo[AssetID]}.html">{$AssetInfo[Title]}</a> > <span class="cur">订单支付</span></span>
        </div>
        <div class="tip">
            资产转让名称 : {$AssetInfo[Title]}
        </div>
        <div class="left-box">
            <div class="address-tip">
                <span class="c1">选择收货地址</span>
                <span class="c2">管理收货地址</span>
            </div>
            {loop $AddressList $lists}
            <div class="address-box {if $lists[IsDefault]==1}active{/if}">
                <p><span class="address_name">{$lists['Name']}</span> ( 收 ) <span class="address_phone">{$lists['Mobile']}</span></p>
                <p class="address-detail"><span class="address_province">{$lists['Province']}</span><span class="address_city">{$lists['City']}</span><span class="address_area">{$lists['Area']}</span><span class="address_detail">{$lists['Address']}</span></p>
                <span onclick="pageObj.editAddress(this)" data-id="{$lists['ShippingAddressID']}" class="edit">修改</span>
                <img class="using-img" src="/Uploads/Debt/imgs/using.png" alt="">
            </div>
            {/loop}
            <div class="add-adress" id="add_address">
                +新增地址
            </div>
            <div class="order-info">
                订单信息
            </div>
            <div class="table">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <thead>
                    <tr>
                        <td>资产名称</td>
                        <td>资产单价(元/份)</td>
                        <td>剩余债权金额(元)</td>
                        <td>份数</td>
                        <td>小计金额</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{$AssetInfo[Title]}</td>
                        <td>{$AssetInfo[Price]}</td>
                        <td>{$AmountMoney}</td>
                        <td>{$Num}</td>
                        <td><span class="money">{$Money}</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="send-way">
                <span>配送方式 :&nbsp;&nbsp;快递&nbsp;</span>
                <span class="m">{$AssetInfo[Freight]}</span>
            </div>
            <div class="total-money">
                <span>合计金额(含邮费) :</span>
                <span class="m">￥<b class="c-red">{$TotalAmount}</b></span>
            </div>
            <div class="submit-wrap">
                <div class="actual-money">
                    <p><span class="t">实付款:</span><span class="m">￥<b class="c-red">{$TotalAmount}</b></span></p>
                    <div id="finalAddressBox">

                    </div>
                </div>
                <div class="submit-btn">
                    <button type="button" name="button"  id="Js_order"  data-money="{$TotalAmount}">提交订单</button>
                </div>
            </div>
        </div>
        <div class="right-box">
            <div class="adv">
                <img src="{$AssetImage[ImageUrl]}" alt="">
            </div>
            <div class="publish-info">
                <div class="info">
                    <span class="day">剩余<i>{$ExpirationDate}</i>天</span>
                </div>
                <p class="publish-public mt-15">
                    发布人：{if $UserInfo['RealName']!=''}{$UserInfo['RealName']}{else}{$UserInfo['NickName']}{/if}
                </p>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="editAddressTemp">
    <div class="order-pay-address">
        <div class="line">
          <div class="left">
               <span class="a-t">修改收货地址</span>
               </div>
            <div class="right lh-30">
                <span class="form-need">*</span>均为必须项
                </div>
            </div>
        <div class="line">
            <input type="hidden" name="addressId" value="${addressId}">
           <div class="left">
                所在区域<span class="form-need">*</span>
                </div>
           <div class="right">
                <div class="p-dropdown mr-10">
                    <label type="checkbox">
                        <span data-id="${Province}">${provinceText}</span>
                        <i></i>
                        <input type="checkbox" name="dd_province" value="">
                        <ul></ul>
                        </label>
                    </div>'
                <div class="c-dropdown mr-10">
                    <label type="checkbox">
                        <span data-id="${City}">${cityText}</span>
                        <i></i>
                       <input type="checkbox" name="dd_city" value="">
                        <ul></ul>
                        </label>
                   </div>
                <div class="a-dropdown mr-10">
                    <label type="checkbox">
                        <span data-id="${Area}">${areaText}</span>
                       <i></i>
                        <input type="checkbox" name="dd_area" value="">
                        <ul></ul>
                        </label>
                    </div>
               </div>
            </div>
        <div class="line">
            <div class="left">
                详细地址<span class="form-need">*</span>
               </div>
            <div class="right">
              <textarea name="detail_area" placeholder="建议您如实填写详细收货地址, 例如街道名称、门牌号码、楼层和房间号等信息" rows="5" cols="66">${Address}</textarea>
                </div>
            </div>
        <div class="line">
           <div class="left">
               收货人姓名<span class="form-need">*</span>
                </div>
            <div class="right">
                <input class="w-300" type="text" name="to_name" maxlength="12"  placeholder="不超过12个字" value="${Name}">
               </div>
          </div>
        <div class="line">
          <div class="left">
               手机号码 <span class="form-need">*</span>
              </div>
            <div class="right">
                <input class="w-300" type="text" name="to_phone" onblur="validateMobilePhone(this)" placeholder="请输入手机号码"  value="${Mobile}">
               </div>
            </div>
        <div class="line">
           <div class="left">&nbsp;</div>
            <div class="right">
               <div class="m-checkbox">
                    <label type="checkbox">
                       <input type="checkbox" name="is_default"  checked>
                       <i></i>
                       设置为默认地址
                        </label>
                   </div>
              </div>
          </div>
       <div class="line">
            <div class="left">&nbsp;</div>
            <div class="right">
               <button type="button" id="saveAddress" onclick="pageObj.saveAddress(this)" name="button">保存</button>
               </div>
            </div></div>;
</script>
<script type="text/x-jquery-tmpl" id="editAddressHtml">
</script>
<script type="text/x-jquery-tmpl" id="addressTemp">
    <p><span class="t">寄送至:</span>${provinceText}${cityText}${areaText}${detailArea}</p>
    <p><span class="t">收货人:</span>${to_name} ${to_phone}</p>
</script>
{template Footer}
<script src='{echo JsURL}/debt/orderPay.js'></script>