{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/order.css">
<div class="order-pay">
    <div class="wrap">
        <div class="current-loc">
            <img src="/Uploads/Debt/imgs/current_loc.png" alt="">
            <span>当前位置 : <a>债权管理</a> > <a>订单管理</a> > <a>订单详情</a> > <span class="cur">付款</span></span>
        </div>
        <div class="tip">
            订单编号：{$OrderInfo['OrderNumber']}
            <p class="has-time fr">
                <i class="icon-clack"></i>
                <span id="hour_show"></span>
                <span id="minute_show"></span>
                <span id="second_show"></span>
            </p>
        </div>
        <div class="pay-wrap">
            <div class="pay-con clearfix">
                <div class="pay-des">
                    <div class="clearfix">
                        <label for="">资产转让名称：</label>
                        <p class="title fl">{$OrderInfo['Title']}</p>
                    </div>
                    <p class="publish-person">发布人：{$OrderInfo['RealName']}</p>
                </div>
                <p class="pay-total">{$OrderInfo['TotalAmount']}元</p>
            </div>
            <div class="pay-list">
                <label class="lab" for="">支付方式：</label>
                <ul class="clearfix">
                    <li class="selected" data-url="/asset/pay/?id={$OrderInfo[OrderID]}&type=alipay">
                        <p><i class="icon icon-zfb"></i>支付宝</p>
                    </li>
                    <li data-id="{$OrderInfo[OrderID]}">
                        <p><i class="icon icon-wx"></i>微信支付</p>
                    </li>
                </ul>
            </div>
            <div class="pay-button">
                <a class="btn" id="goPay" href="javascript:void(0);">立即支付</a>
            </div>
            <p class="pay-tips">温馨提示：请详细核对债务内容，如发布人、资产转让金融、还款额等重要信息。如有疑问请联系服务热线：0592-5253262。</p>
        </div>
    </div>
</div>
<div id="wxDialog" style="display: none;">
    <div class="wxDialog clearfix">
        <div class="left">
            <div class="wx-img">
                <img src="${ImageUrl}" alt="">
                <p>请使用微信扫一扫</p>
                <p>扫描二维码支付</p>
            </div>
        </div>
        <div class="right">
            <img style="margin-left: 70px;" src="{echo CssURL}/debt/images/wx-example.png" alt="">
        </div>
    </div>
</div>
{template Footer}
<script>
    var pageObj={
        endDate:"{$OrderInfo['ExpirationTime']}",
        nowDate:"{$Time}"
    }
</script>
<script src='{echo JsURL}/debt/order.js'></script>
