{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/orderPay.css">
<link rel="stylesheet" href="{echo JsURL}/debt/lib/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.css">
<div class="order-pay">
    <div class="wrap clearfix">
        <div class="current-loc">
            <img src="/Uploads/Debt/imgs/current_loc.png" alt="">
            <span>当前位置 : <a href="/asset/lists/">资产商城</a> > <span class="cur">查看详情</span></span>
        </div>
        <div class="tip">
            资产转让名称 : {$AssetInfo['Title']}
        </div>
        <div class="left-box">
            <div class="address-tip">
                <span class="c1">资产介绍：</span>
            </div>
            <div class="con">
                {$AssetInfo['Content']}
            </div>
            <p class="hr"></p>
            <div class="images-box clearfix">
                {loop $AssetImage $lists}
                <a class="grouped_elements" href="{$lists[ImageUrl]}" rel="group1">
                    <img src="{$lists[ImageUrl]}" alt="">
                </a>
                {/loop}
            </div>
        </div>
        <div class="right-box">
            <div class="publish-msg">
                <p class="publish-er">
                    发布人：{if $UserInfo['RealName']!=''}{$UserInfo['RealName']}{else}{$UserInfo['NickName']}{/if} <span class="fr">剩余 <b id="totalCount" class="c-red">{$AssetInfo['Inventory']}</b> 份 </span>
                </p>
                <p class="publish-date">
                    发布日期：{echo date("Y-m-d",$AssetInfo['AddTime'])}
                </p>
                <div class="publish-money clearfix">
                    <div class="fl">
                        <span>资产转让单价</span>
                        <p><b class="c-red" id="price" >{$AssetInfo['Price']}</b>元/份</p>
                    </div>
                    <div class="fl ml-25">
                        <span>市场参考单价</span>
                        <p><b class="">{$AssetInfo['MarketPrice']}</b>元/份</p>
                    </div>
                </div>
            </div>
            <div class="publish-msg mt-20">
                <p class="publish-ems">
                    运费：<i> {$AssetInfo['Freight']}元</i>
                </p>
                <div class="publish-form">
                    <div class="form-li clearfix">
                        <label class="fl" for="">
                            份数：
                        </label>
                        <div class="input-number fr">
                            <div class="ra disabled" onclick="pageObj.numberInp(this,'-')">-</div><input type="text" onchange="pageObj.calcMoney(this)" name="num" value="1"><div onclick="pageObj.numberInp(this,'+')" class="ra">+</div>
                        </div>
                    </div>
                    <div class="form-li clearfix">
                        <label for="">
                            合计金额：<b id="totalMoney" class="c-red">￥{$AssetInfo['Price']} 元</b>
                        </label>
                        <div class="fr submit-btn">
                            <button id="Js_buy" type="button" name="button" data-userid="{$_SESSION[UserID]}" data-id="{$AssetInfo[AssetID]}">立即购买</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="publish-msg mt-20">
                <div class="publish-sale clearfix">
                    <p class="fl">被购<span class="c-red">{$TotalAmount}</span>元</p>
                    <p class="fr">剩余<span class="c-rdd">{$AssetInfo['Inventory']}</span>份</p>
                </div>
                <div class="sale-list">
                    <ul>
                        {loop $OrderInfo $lists}
                        <li class="clearfix">
                            <p class="img">
                                <img src="{$AssetImage[0]['ImageUrl']}" alt="">
                            </p>
                            <div class="con">
                                {$AssetInfo['Title']}
                            </div>
                            <p class="sale-totle">
                                购买 <b class="c-red">{$lists[Num]}</b> 份总共 <b class="c-red">{$lists[TotalAmount]}</b> 元
                            </p>
                        </li>
                        {/loop}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{template Footer}
<script>
    var pageObj={
        totalMoney:"{$AssetInfo['Price']}"
    };
</script>
<script src='{echo JsURL}/debt/order.js'></script>
<script src="{echo JsURL}/debt/lib/jquery.fancybox-1.3.4/jquery-1.4.3.min.js"></script>
<script src='{echo JsURL}/debt/lib/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.pack.js'></script>
