{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/seekDisposal.css">
<div class="wrap seek-disposal-page">
    <div class="seek-search-box">
        <div class="search-box">
            <form action="/choicefind/" method="get">
                <input type="hidden" name="dd_province" value=""/>
                <input type="hidden" name="dd_city" value=""/>
                <input type="hidden" name="dd_area" value=""/>
                <span class="lab">债务人地区</span>
                <div class="p-dropdown">
                    <label type="checkbox">
                        <span data-id="">省份</span>
                        <i></i>
                        <input type="checkbox" name="dd_province" value="">
                        <ul></ul>
                    </label>
                </div>
                <div class="c-dropdown">
                    <label type="checkbox">
                        <span data-id="">城市</span>
                        <i></i>
                        <input type="checkbox" name="dd_city" value="">
                        <ul></ul>
                    </label>
                </div>
                <div class="a-dropdown">
                    <label type="checkbox">
                        <span data-id="">区/县</span>
                        <i></i>
                        <input type="checkbox" name="dd_area" value="">
                        <ul></ul>
                    </label>
                </div>
                <input class="btn btn-primary" type="submit" value="搜索"/>
            </form>
        </div>
    </div>
    <div class="seek-disposal-list">
        <ul>
            {loop $Data['Data'] $lists}
            <li class="">
                <div class="seek-box">
                    <div class="seek-header clearfix">
                        <p class="seek-logo">
                            <img src="{$lists['Avatar']}" alt="">
                        </p>
                        <div class="seek-main">
                            <div class="seek-title">
                                <span class="txt ellipsis">{$lists['Name']}</span>                                 <span class="seek-btn">{if $lists[Identity]==2}催客{elseif $lists[Identity]==3}企业{/if}</span>
                                <a class="link fr" onclick="pageObj.seekShow(this);"  title="查看" href="javascript:void(0)">查看</a>
                            </div>
                            <p class="seek-phone">联系电话：<span class="mobile" data-phone="{$lists['Mobile']}">{$lists['ChargeMobile']}</span></p>
                        </div>

                    </div>
                    <div class="seek-con">
                        <p class="big">催收地区：{loop $lists[Area] $value}{$value[province]}-{$value[city]}-{$value[area]}&nbsp;&nbsp;{/loop}</p>
                        <p class="big">催收要求</p>
                        <div class="cols-list">
                            <ul class="clearfix">
                                {loop $lists[FeeRate] $value}
                                <li>
                                    <p>债务金额（元）：{$value[from]}~{$value[to]}</p>
                                    <p>催收前期费用（元）：{$value[cost]}</p>
                                    <p>是否负责找人：{if $value[isLookFor]==1}是{else}否{/if}</p>
                                    <p>佣金比例：{$value[rate]}%</p>
                                </li>
                                {/loop}
                            </ul>
                        </div>
                        <p class="h4 mt-10">是否需要债务人有还款能力：{if $lists[AbilityDebt]==1}是{else}否{/if}</p>
                        <p class="h4">是否需要债权人到达现场：{if $lists[ArrivalSite]==1}是{else}否{/if}</p>
                        <p class="big">更多介绍：</p>
                        <div class="more-detail">
                            {$lists[Content]}
                        </div>
                        <p onclick="pageObj.suggestion();" class="suggestion">投诉/建议</p>
                    </div>
                </div>
            </li>
            {/loop}
        </ul>
        {if empty($Data['Data'])}
        <div class="no-data" style="display: block;">
            <img src="/Uploads/Debt/imgs/no_data.png" alt="">
        </div>
        {/if}
    </div>


    <div class="pagination-wrap">
        <div class="pagination fl-r" id="reword_page_pagination">
            {if $ShowPage}
            <a href="/reword/?p=1" class="b {if $Page==1}sel{/if}">首页</a>
            {$ShowPage}
            {/if}
        </div>
    </div>
</div>
<script type="text/x-jquery-tmpl" id="suggestionTemp">
    <div class="suggestion-box">
        <p class="tips">感谢您对我们工作的支持，提出您的宝贵意见与建议：</p>
        <p>
            <textarea class="textarea" name="suggestion" id="" maxlength="150" cols="30" rows="10" placeholder="字数不超过150字"></textarea>
        </p>
        <p class="btn-box">
            <button class="btn btn-big btn-primary mr-40" onclick="pageObj.suggestionSub(this)">确定</button>
            <button class="btn btn-big btn-default">取消</button>
        </p>
    </div>
</script>
{template Footer}
<script src='{echo JsURL}/debt/seekDisposal.js'></script>
</body>
</html>