{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/collection.css">
<div class="collection">
    <div class="wrap">
        <div class="filt-parm">
            <div class="line">
                <span>催收方式 :</span>
                <span class="sel" id="way_all">全部</span>
                <span>
                <div class="m-checkbox">
                  <label type="checkbox">
                    <input type="checkbox" name="way" value="1">
                    <i></i>
                    选择律师的债权
                  </label>
                </div>
              </span>
                <span>
                <div class="m-checkbox">
                  <label type="checkbox">
                    <input type="checkbox" name="way" value="2">
                    <i></i>
                    选择催收团队的债权
                  </label>
                </div>
              </span>
            </div>
            <div class="line">
                <span>催收地区 :</span>
                <span class="sel" id="area_all">全部</span>
                {loop $AreaList $lists}
                <span>
                <div class="m-checkbox">
                  <label type="checkbox">
                    <input type="checkbox" name="area" value="{$lists[AreaID]}"><i></i>{$lists[CnName]}</label>
                </div>
              </span>
                {/loop}
                <!-- <span>其他城市<img src="/Uploads/Debt/imgs/tri_arrow_down.png" alt=""></span> -->
            </div>
            <div class="line">
                <span>催收金额 :</span>
                <span class="sel" id="money_all">全部</span>
                <span>
                <div class="m-checkbox">
                  <label type="checkbox">
                    <input type="checkbox" name="money" value="0-3">
                    <i></i>
                    3万以下
                  </label>
                </div>
              </span>
                <span>
                <div class="m-checkbox">
                  <label type="checkbox">
                    <input type="checkbox" name="money" value="3-10">
                    <i></i>
                    3万到10万
                  </label>
                </div>
              </span>
                <span>
                <div class="m-checkbox">
                  <label type="checkbox">
                    <input type="checkbox" name="money" value="10-50">
                    <i></i>
                    10万到50万
                  </label>
                </div>
              </span>
                <span>
                <div class="m-checkbox">
                  <label type="checkbox">
                    <input type="checkbox" name="money" value="50-100">
                    <i></i>
                    50万到100万
                  </label>
                </div>
              </span>
                <span>
                <div class="m-checkbox">
                  <label type="checkbox">
                    <input type="checkbox" name="money" value="100-All">
                    <i></i>
                    100万以上
                  </label>
                </div>
              </span>
            </div>
            <div class="line">
                <span>逾期时间 :</span>
                <span class="sel" id="day_all">全部</span>
                <span>
                <div class="m-checkbox">
                  <label type="checkbox">
                    <input type="checkbox" name="day" value="0-60">
                    <i></i>
                    0-60天
                  </label>
                </div>
              </span>
                <span>
                <div class="m-checkbox">
                  <label type="checkbox">
                    <input type="checkbox" name="day" value="61-180">
                    <i></i>
                    61-180天
                  </label>
                </div>
              </span>
                <span>
                <div class="m-checkbox">
                  <label type="checkbox">
                    <input type="checkbox" name="day" value="181-365">
                    <i></i>
                    181-365天
                  </label>
                </div>
              </span>
                <span>
                <div class="m-checkbox">
                  <label type="checkbox">
                    <input type="checkbox" name="day" value="366-1095">
                    <i></i>
                    366-1095天
                  </label>
                </div>
              </span>
                <span>
                <div class="m-checkbox">
                  <label type="checkbox">
                    <input type="checkbox" name="day" value="1096-All">
                    <i></i>
                    1096天以上
                  </label>
                </div>
              </span>
            </div>
            <div class="search">
                <span>债务搜索 :</span>
                <input type="text" name="" id="keyword" placeholder="请输入姓名或身份证号">
                <button type="button" id="btn_search" name="search">
                    搜索
                </button>
                <a href="{echo WEB_MAIN_URL}/user/debtrelease/" target="_blank" title="发布债务">
                <div class="pub-wrap">
                    <img src="/Uploads/Debt/imgs/edit.png" alt="">
                    <button type="button" name="pub">
                       发布债务
                    </button>
                </div>
                </a>
            </div>
        </div>
        <div class="table">
            <div class="t">催收列表分类 :</div>
            <div id="collection_info">
                <table>
                    <thead>
                    <tr>
                        <th>债务编号</th>
                        <th>债务人名称</th>
                        <th>债务地区</th>
                        <th>债务金额</th>
                        <th>逾期时间</th>
                        <th>发布时间</th>
                        <th>当前状态</th>
                        <th>查看债务</th>
                    </tr>
                    </thead>
                    <tbody>
                     {loop $Data['Data'] $lists}
                    <tr>
                        <td>{$lists[DebtNum]}</td>
                        <td>{$lists[Name]}</td>
                        <td>{if $lists[Province]!=''}{$lists[Province]}-{$lists[City]}-{$lists[Area]}{/if}</td>
                        <td class="m-c">￥{$lists[DebtAmount]}</td>
                        <td>{$lists[Overduetime]}</td>
                        <td>{$lists[AddTime]}</td>
                        <td class="sta-{$lists[Status]}">{$NStatus[$lists[Status]]}</td>
                        <td class="det"><a href="/debt/{$lists[DebtID]}.html" target="_blank">查看详情></a></td>
                    </tr>
                    {/loop}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="pagination-wrap">
            <div class="pagination fl-r" id="collection_page_pagination">
            <a href="/debtlists/"><div class="b {if $Page==1}sel{/if}">首页</div></a>
            {$ShowPage}
            </div>
        </div>
    </div>
</div>
<script id="collection_table_body" type="text/x-jquery-tmpl">
  <tr>
    <td>${DebtNum}</td>
    <td>${Name}</td>
    <td>${Province}-${City}-${Area}</td>
    <td class="m-c">￥${DebtAmount}</td>
    <td>${Overduetime}天</td>
    <td>${AddTime}</td>
    <td class="sta-{{= whichState(Status)}}">${StatusName}</td>
    <td class="det"><a href="${Url}" target="_blank">查看详情>></a></td>
  </tr>
</script>
<script id="collection_table_head" type="text/x-jquery-tmpl">
  <table>
    <thead>
      <tr>
        <th>债务编号</th>
        <th>债务人名称</th>
        <th>债务地区</th>
        <th>债务金额</th>
        <th>逾期时间</th>
        <th>发布时间</th>
        <th>当前状态</th>
        <th>查看债务</th>
      </tr>
    </thead>
    <tbody>
      {{tmpl($data) '#collection_table_body'}}
    </tbody>
  </table>
</script>
{template Footer}
<script src='{echo JsURL}/debt/collection.js'></script>
