{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/collectionDetails.css">
<link rel="stylesheet" href="{echo JsURL}/debt/lib/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.css">
<div class="collection-details">
    <div class="wrap">
        <div class="current-loc">
            <img src="/Uploads/Debt/imgs/current_loc.png" alt="">
            <span>当前位置 : <a href="/debtlists/">债务催收</a> > <span class="cur">查看详情</span></span>
        </div>
        <div class="status-img">
          {if $DebtInfo[Status]==1}
            <img src="/Uploads/Debt/imgs/OrderReceiving.png" alt="">
          {elseif $DebtInfo[Status]==2}
            <img src="/Uploads/Debt/imgs/Collectting.png" alt="">
          {elseif $DebtInfo[Status]==3}
            <img src="/Uploads/Debt/imgs/Undone.png" alt="">
          {elseif $DebtInfo[Status]==4}
            <img src="/Uploads/Debt/imgs/Completed.png" alt="">
          {elseif $DebtInfo[Status]==5}
            <img src="/Uploads/Debt/imgs/Completed.png" alt="">
          {elseif $DebtInfo[Status]==8}
            <img src="/Uploads/Debt/imgs/Toaudit.png" alt="">
          {/if}
        </div>
        <div class="info-wrap" data-id="{$DebtInfo[DebtID]}">
            <div class="hd">
                {if $FocusDebt}
                 <div class="concerned"><img src="/Uploads/Debt/imgs/gou_white.png" alt="">已关注</div>
                {else}
                <button type="button" onclick="concernDebt('{$DebtInfo[DebtID]}')" name="concern">关注</button>
                {/if}
                债务编号:&nbsp;&nbsp;{$DebtInfo[DebtNum]}--处置方偏向:&nbsp;&nbsp;{if $DebtInfo[CollectionType]==1}律师团队{elseif $DebtInfo[CollectionType]==2}催收团队{elseif $DebtInfo[CollectionType]==3}自助催收{/if}
            </div>
            <div class="pubman-info">
                <span>发布人:&nbsp;&nbsp;{$UserInfo[RealName]}</span>
                发布时间:&nbsp;&nbsp;{echo date("Y-m-d",$DebtInfo[AddTime])}
            </div>
            <div class="debt-det">
                {loop $DebtorsInfo $lists}
                <div class="bx">
                    <div class="line clearfix">
                        <div class="l">
                            <label for="">债务人姓名:</label>
                            {$lists[Name]}
                        </div>
                        <div class="r">
                            <label for="">债务人身份证:</label>
                            {if $lists[Card]} {$lists[Card]} {else} 无 {/if}
                        </div>
                    </div>
                    <div class="line clearfix">
                        <div class="l">
                            <label for="">债务人地区:</label>
                            {if $lists[Province]!=''}{$lists[Province]}-{$lists[City]}-{$lists[Area]}{/if}
                        </div>
                        <div class="r">
                            <label for="">详细地址:</label>
                            {if $lists[Address]} {$lists[Address]} {else} 无 {/if}
                        </div>

                    </div>
                </div>
                {/loop}
                <div class="bx">
                    <div class="line">
                        <div class="l">
                            <label for="">债务金额(元):</label>
                            ￥{$DebtInfo[DebtAmount]}
                        </div>
                        <label for="">逾期时间:</label>
                        {$DebtInfo[Overduetime]}
                    </div>
                </div>

                <div class="bx">
                    <div class="line">
                        <div class="l">
                            <label for="">是否有前期费用:</label>
                            {if $DebtInfo[EarlyCost]==1}有{else}无{/if}
                        </div>
                    </div>
                    <div class="line">
                        <div class="l">
                            <label for="">是否有保证人:</label>
                            {if $DebtInfo[Warrantor]==1}有{else}无{/if}
                            {if $DebtInfo[Warrantor]==1}
                            {loop $WarrantorInfo $lists}
                            <span>{$lists[type]}</span><span>{$lists[name]}</span><span>{$lists[card]}</span><span>{$lists[phone]}</span>
                            {/loop}
                            {/if}
                        </div>
                    </div>
                    <div class="line">
                        <div class="l">
                            <label for="">是否有抵押物:</label>
                            {if $DebtInfo[Guarantee]==1}有{else}无{/if}
                            {if $DebtInfo[Guarantee]==1}
                            {loop $GuaranteeInfo $lists}
                            <span>{$lists[name]}</span><span>{$lists[content]}</span>
                            {/loop}
                            {/if}
                        </div>
                    </div>
                </div>

                <div class="bx">
                    <div class="line">
                        <div class="l">
                            <label for="">债务人是否随时能寻找到</label>
                            {if $DebtInfo[FindDebtor]==1}是{else}否{/if}
                        </div>
                        <label for="">债务人是否有还款能力:</label>
                        {if $DebtInfo[RepaymentDebtor]==1}是{else}否{/if}
                    </div>
                    <div class="line">
                        <div class="l">
                            <label for="">借款原因:</label>
                            {if $DebtInfo[ReasonsBorrowing]} {$DebtInfo[ReasonsBorrowing]} {else} 无 {/if}
                        </div>
                    </div>
                    <div class="line">
                        <div class="l">
                            <label for="">债务近况:</label>
                            {if $DebtInfo[DebtRecent]} {$DebtInfo[DebtRecent]} {else} 无 {/if}
                        </div>
                    </div>
                    <div class="line-img" id="debt_imgs">
                        <span>借款凭证:</span>
                        {if $DebtImage}
                        {loop $DebtImage $lists}
                        <a class="grouped_elements" href="{$lists[ImageUrl]}" rel="group1"><img src="{$lists[ImageUrl]}" alt=""></a>
                        {/loop}
                        {else}
                        已隐藏
                        {/if}
                    </div>
                </div>
            </div>
            {if !empty($AssociatedDebtors)}
            <div class="t-hd">
                关联的债务信息
            </div>
            <div class="rel-debt">
              <div class="table">
                  <table>
                      <thead>
                      <tr>
                          <th>债务编号</th>
                          <th>债务人名称</th>
                          <th>债务人地区</th>
                          <th>债务金额(元)</th>
                          <th>逾期时间</th>
                          <th>发布时间</th>
                          <th>当前状态</th>
                          <th>查看债务</th>
                      </tr>
                      </thead>
                      <tbody>
                        {loop $AssociatedDebtors $lists}
                      <tr>
                          <td>{$lists[DebtNum]}</td>
                          <td>{$lists[Name]}</td>
                          <td>{$lists[Province]}-{$lists[City]}-{$lists[Area]}</td>
                          <td class="m-c">￥{$lists[DebtAmount]}</td>
                          <td>{$lists[Overduetime]}天</td>
                          <td>{echo date("Y-m-d",$lists[AddTime])}</td>
                          <td>{$NStatus[$lists[Status]]}</td>
                          <td class="det" onclick="go('/debt/{$lists[DebtID]}.html')">查看详情>></td>
                      </tr>
                      {/loop}
                      </tbody>
                  </table>
              </div>
              <div class="info-det">
                关联债务人被催收过次数：律师 <span class="act-r">0次</span>  催收公司<span class="act-r">0次</span>  催客<span class="act-r">0次</span>
              </div>
            </div>
            {/if}
            {if $DebtInfo[Status]==1}
            {if ($DebtInfo[CollectionType]==1 && $browseUserInfo['Identity']==4 && $browseUserInfo['IdentityState']==3) || (($DebtInfo[CollectionType]==2 &&  ($browseUserInfo['Identity']==2 || $browseUserInfo['Identity']==3) && $browseUserInfo['IdentityState']==3))}
            <div class="t-hd">
                处置方接单申请
            </div>
            <div class="form-wrap">
                <div class="line">
                    <div class="l">
                        处置方报价:
                    </div>
                    <input type="number" id="percent_money" name="" value="">
                    %(人民币)
                </div>
                <div class="line">
                    <div class="l">
                        处置方优势:
                    </div>
                    <textarea name="name" id="detail_info" maxlength="150" rows="3" cols="80" placeholder="处置方优势填写150字内"></textarea>
                </div>
                <div class="sub-btn">
                    <button type="button" onclick="ajax()" name="button" data-id="{$DebtInfo[DebtID]}">申请接单</button>
                </div>
            </div>
            {/if}
            {/if}
            {if $UserInfo[UserID]==$_SESSION ['UserID']}
            {if !empty($Data['Data'])}
            <div class="t-hd">
                处置方接单申请
            </div>
            <div class="mb-100">
                {loop $Data['Data'] $lists}
                <div class="apply-wrap">
                    <div class="cont-wrap">
                        <div class="l">
                            处置方名称： {$lists['CompanyName']}
                        </div>
                        <div class="l">
                            处置方报价： 债务金额{$lists['Money']}%的佣金(人民币)
                        </div>
                        <div class="l">
                            处置方优势： {$lists['AdvantageInfo']}
                        </div>
                    </div>
                    <div class="opt-btn">
                        {if $lists[Agreed]==1}
                        <div class="agreed">已同意</div>
                        {elseif $lists[Agreed]==2}
                        <div class="rejected">已拒绝</div>
                        {else}
                        <button type="button" onclick="agreeApply('{$lists[CompanyName]}','{$lists[ID]}')" name="agree">同意</button>
                        <button type="button" onclick="rejectApply('{$lists[CompanyName]}','{$lists[ID]}')" name="reject">拒绝</button>
                        {/if}
                    </div>
                </div>
                {/loop}
            </div>
            {/if}
            {/if}
        </div>
    </div>
</div>
<script id="slide-tmpl" type="text/x-jquery-tmpl">
  <div class="prev"><img src="/Uploads/Debt/imgs/left.png" alt=""></div>
  <div class="bd">
    {{each(i, img) imgs}}
      <li><img src="{{= img}}" alt=""></li>
    {{/each}}
  </div>
  <div class="next"><img src="/Uploads/Debt/imgs/right.png" alt=""></div>
</script>
{template Footer}
<script src="{echo JsURL}/debt/lib/jquery.fancybox-1.3.4/jquery-1.4.3.min.js"></script>
<script src='{echo JsURL}/debt/lib/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.pack.js'></script>
<script src='{echo JsURL}/debt/debtDetails.js'></script>
{if $UserInfo[UserID]==$_SESSION ['UserID']}
<script src='{echo JsURL}/debt/personDebtDetails.js'></script>
{/if}
</body>
</html>