{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/publishDebtByDiy.css">
<link rel="stylesheet" href="{echo JsURL}/debt/lib/cropper/dist/cropper.css">
<link rel="stylesheet" href="{echo JsURL}/debt/lib/dcalendar/dcalendar.picker.css">
<div class="public-debt-diy">
  <div class="wrap">
    <div class="current-loc">
      <img src="/Uploads/Debt/imgs/current_loc.png" alt="">
      <span>当前位置 : <a>债权管理</a> > <span class="cur">发布债务</span></span>
    </div>
    <div class="form-wrap">
      <div class="box">
        <div class="t">
          <img src="/Uploads/Debt/imgs/user.png" alt="">
          <span>债权人信息</span>
          <div class="choose-type">
            <div class="m-radio ml-10">
              <label type="radio">
                <input type="radio" name="debtor_owner_type" value="1" checked>
                <i></i>
                个人
              </label>
            </div>
            <div class="m-radio ml-10">
              <label type="radio">
                <input type="radio" name="debtor_owner_type" value="2">
                <i></i>
                企业
              </label>
            </div>
          </div>
          <div class="opt" onclick="addZQR()">
            <img src="/Uploads/Debt/imgs/add_b.png" alt="">
            添加
          </div>
        </div>
        <div class="tab-con">
          <div class="c active" id="debtor_owner_info">
            <div class="blo">
              <div class="to-del" onclick="removeParentDom(this, 'blo')">
                <img src="/Uploads/Debt/imgs/close_grey.png" alt="">
              </div>
              <div class="line">
                <div class="info">
                  债权人信息 :
                </div>
                <div class="details">
                  <input type="text" name="name" onblur="validateChinese(this)" placeholder="*姓名">
                  <input type="text" name="idNum" onblur="validateIDNumber(this, false)" placeholder="身份证号">
                  <input type="text" name="phoneNumber" onblur="validatePhone(this, false)" placeholder="联系电话">
                </div>
              </div>
              <div class="line">
                <div class="info">
                  债权人地区 :
                </div>
                <div class="details">
                  <div class="p-dropdown">
                    <label type="checkbox">
                      <span>*省份</span>
                      <i></i>
                      <input type="checkbox" name="dd_province" value="">
                      <ul></ul>
                    </label>
                  </div>
                  <div class="c-dropdown">
                    <label type="checkbox">
                      <span>*城市</span>
                      <i></i>
                      <input type="checkbox" name="dd_city" value="">
                      <ul></ul>
                    </label>
                  </div>
                  <div class="a-dropdown">
                    <label type="checkbox">
                      <span>*区县/市</span>
                      <i></i>
                      <input type="checkbox" name="dd_area" value="">
                      <ul></ul>
                    </label>
                  </div>
                </div>
              </div>
              <div class="line">
                <div class="info">
                  详细地址 :
                </div>
                <div class="details">
                  <textarea name="areaDetail" maxlength="50" rows="2" cols="80" placeholder="请输入详细地址(最多50个字)"></textarea>
                </div>
              </div>
              <div class="line">
                <div class="info">
                  债权金额 :
                </div>
                <div class="details">
                  <input type="text" name="debt_money" onblur="validateMoney(this)" placeholder="*请输入债权金额">元
                </div>
              </div>
            </div>
          </div>
          <div class="c" id="debtor_owner_company_info">
            <div class="blo">
              <div class="to-del" onclick="removeParentDom(this, 'blo')">
                <img src="/Uploads/Debt/imgs/close_grey.png" alt="">
              </div>
              <div class="line">
                <div class="info">
                  债权人信息 :
                </div>
                <div class="details">
                  <input type="text" name="companyName" onblur="validateChinese(this)" placeholder="*请输入公司姓名">
                  <input type="text" name="idNum" onblur="validateCreditNum(this, false)" placeholder="请输入信用代码">
                  <input type="text" name="name" onblur="validateChinese(this)" placeholder="*请输入法人姓名">
                  <input type="text" name="phoneNumber" onblur="validatePhone(this, false)" placeholder="请输入固定电话">
                </div>
              </div>
              <div class="line">
                <div class="info">
                  债权人地区 :
                </div>
                <div class="details">
                  <div class="p-dropdown">
                    <label type="checkbox">
                      <span>*省份</span>
                      <i></i>
                      <input type="checkbox" name="dd_province" value="">
                      <ul></ul>
                    </label>
                  </div>
                  <div class="c-dropdown">
                    <label type="checkbox">
                      <span>*城市</span>
                      <i></i>
                      <input type="checkbox" name="dd_city" value="">
                      <ul></ul>
                    </label>
                  </div>
                  <div class="a-dropdown">
                    <label type="checkbox">
                      <span>*区县/市</span>
                      <i></i>
                      <input type="checkbox" name="dd_area" value="">
                      <ul></ul>
                    </label>
                  </div>
                </div>
              </div>
              <div class="line">
                <div class="info">
                  详细地址 :
                </div>
                <div class="details">
                  <textarea name="areaDetail" maxlength="50" rows="2" cols="80" placeholder="请输入详细地址(最多50个字)"></textarea>
                </div>
              </div>
              <div class="line">
                <div class="info">
                  债权金额 :
                </div>
                <div class="details">
                  <input type="text" name="debt_money" onblur="validateMoney(this)" placeholder="*请输入债权金额">元
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="t">
          <img src="/Uploads/Debt/imgs/user.png" alt="">
          <span>债务人基本信息</span>
          <div class="choose-type">
            <div class="m-radio ml-10">
              <label type="radio">
                <input type="radio" name="debtor_type" value="1" checked>
                <i></i>
                个人
              </label>
            </div>
            <div class="m-radio ml-10">
              <label type="radio">
                <input type="radio" name="debtor_type" value="2">
                <i></i>
                企业
              </label>
            </div>
          </div>
          <div class="opt" onclick="addZWR()">
            <img src="/Uploads/Debt/imgs/add_b.png" alt="">
            添加
          </div>
        </div>
        <div class="tab-con">
          <div class="c active" id="debtor_info">
            <div class="blo">
              <div class="to-del" onclick="removeParentDom(this, 'blo')">
                <img src="/Uploads/Debt/imgs/close_grey.png" alt="">
              </div>
              <div class="line">
                <div class="info">
                  债务人信息 :
                </div>
                <div class="details">
                  <input type="text" name="name" onblur="validateChinese(this)" placeholder="*姓名">
                  <input type="text" name="idNum" onblur="validateIDNumber(this, false)" placeholder="身份证号">
                  <input type="text" name="phoneNumber" onblur="validatePhone(this, false)" placeholder="联系电话">
                </div>
              </div>
              <div class="line">
                <div class="info">
                  债务人地区 :
                </div>
                <div class="details">
                  <div class="p-dropdown">
                    <label type="checkbox">
                      <span>*省份</span>
                      <i></i>
                      <input type="checkbox" name="dd_province" value="">
                      <ul></ul>
                    </label>
                  </div>
                  <div class="c-dropdown">
                    <label type="checkbox">
                      <span>*城市</span>
                      <i></i>
                      <input type="checkbox" name="dd_city" value="">
                      <ul></ul>
                    </label>
                  </div>
                  <div class="a-dropdown">
                    <label type="checkbox">
                      <span>*区县/市</span>
                      <i></i>
                      <input type="checkbox" name="dd_area" value="">
                      <ul></ul>
                    </label>
                  </div>
                </div>
              </div>
              <div class="line">
                <div class="info">
                  详细地址 :
                </div>
                <div class="details">
                  <textarea name="areaDetail" maxlength="50" rows="2" cols="80" placeholder="请输入详细地址(最多50个字)"></textarea>
                </div>
              </div>
              <div class="line">
                <div class="info">
                  债务金额 :
                </div>
                <div class="details">
                  <input type="text" name="debt_money" onblur="validateMoney(this)" placeholder="*请输入债务金额">元
                </div>
              </div>
            </div>
          </div>
          <div class="c" id="debtor_company_info">
            <div class="blo">
              <div class="to-del" onclick="removeParentDom(this, 'blo')">
                <img src="/Uploads/Debt/imgs/close_grey.png" alt="">
              </div>
              <div class="line">
                <div class="info">
                  债权人信息 :
                </div>
                <div class="details">
                  <input type="text" name="companyName" onblur="validateChinese(this)" placeholder="*请输入公司姓名">
                  <input type="text" name="idNum" onblur="validateCreditNum(this, false)" placeholder="请输入信用代码">
                  <input type="text" name="name" onblur="validateChinese(this)" placeholder="*请输入法人姓名">
                  <input type="text" name="phoneNumber" onblur="validatePhone(this, false)" placeholder="请输入固定电话">
                </div>
              </div>
              <div class="line">
                <div class="info">
                  债权人地区 :
                </div>
                <div class="details">
                  <div class="p-dropdown">
                    <label type="checkbox">
                      <span>*省份</span>
                      <i></i>
                      <input type="checkbox" name="dd_province" value="">
                      <ul></ul>
                    </label>
                  </div>
                  <div class="c-dropdown">
                    <label type="checkbox">
                      <span>*城市</span>
                      <i></i>
                      <input type="checkbox" name="dd_city" value="">
                      <ul></ul>
                    </label>
                  </div>
                  <div class="a-dropdown">
                    <label type="checkbox">
                      <span>*区县/市</span>
                      <i></i>
                      <input type="checkbox" name="dd_area" value="">
                      <ul></ul>
                    </label>
                  </div>
                </div>
              </div>
              <div class="line">
                <div class="info">
                  详细地址 :
                </div>
                <div class="details">
                  <textarea name="areaDetail" maxlength="50" rows="2" cols="80" placeholder="请输入详细地址(最多50个字)"></textarea>
                </div>
              </div>
              <div class="line">
                <div class="info">
                  债权金额 :
                </div>
                <div class="details">
                  <input type="text" name="debt_money" onblur="validateMoney(this)" placeholder="*请输入债权金额">元
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="t">
          <img src="/Uploads/Debt/imgs/time.png" alt="">
          <span class="mr-10">逾期时间 : </span>
          <input type="text" id="end_time" name="overDay" placeholder="(*必填)" value="">
        </div>
        <div class="c"></div>
        <div class="t">
          <img src="/Uploads/Debt/imgs/gou_b_off.png" id="debt_family_info_btn" style="cursor: pointer;" data-checked="0" alt="">
          <span>债务人亲友</span>
          <div class="opt" onclick="addDebtFamily()" style="display: none;">
            <img src="/Uploads/Debt/imgs/add_b.png" alt="">
            添加
          </div>
        </div>
        <div class="c" id="debt_family_info">
          <div class="blo"  style="display: none;">
            <div class="to-del" onclick="removeParentDom(this, 'blo')">
              <img src="/Uploads/Debt/imgs/close_grey.png" alt="">
            </div>
            <div class="line">
              <div class="info">
                债务人亲友信息 :
              </div>
              <div class="details">
                <input type="text" name="name" onblur="validateChinese(this)" placeholder="*姓名">
                <input type="text" name="relationship" placeholder="关系">
                <input type="text" name="phoneNumber" onblur="validatePhone(this, true)" placeholder="联系方式">
              </div>
            </div>
          </div>
        </div>
        <div class="t">
          <img src="/Uploads/Debt/imgs/loan_icon.png" alt="">
          <span>借款凭证</span>
        </div>
        <div class="c">
          <div class="blo">
            <div class="line">
              <div class="info">
                上传借款凭证:
              </div>
              <div class="details">
                <div class="bx">
                  <div class="img-wrap">
                  </div>
                  <label>
                    <span>+上传凭证</span>
                    <input type="file" onchange="imageUpload(this)" name="avatar_file" data-size="100" data-msg="100kb" data-ratio="1.45" style="display:none;" value="">
                  </label>
                </div>
                <div class="bx">
                  <div class="img-wrap">
                  </div>
                  <label>
                    <span>+上传凭证</span>
                    <input type="file" onchange="imageUpload(this)" name="avatar_file" data-size="100" data-msg="100kb" data-ratio="1.45" style="display:none;" value="">
                  </label>
                </div>
                <div class="bx">
                  <div class="img-wrap">
                  </div>
                  <label>
                    <span>+上传凭证</span>
                    <input type="file" onchange="imageUpload(this)" name="avatar_file" data-size="100" data-msg="100kb" data-ratio="1.45" style="display:none;" value="">
                  </label>
                </div>
                <div class="bx">
                  <div class="img-wrap">
                  </div>
                  <label>
                    <span>+上传凭证</span>
                    <input type="file" onchange="imageUpload(this)" name="avatar_file" data-size="100" data-msg="100kb" data-ratio="1.45" style="display:none;" value="">
                  </label>
                </div>
                <div class="bx">
                  <div class="img-wrap">
                  </div>
                  <label>
                    <span>+上传凭证</span>
                    <input type="file" onchange="imageUpload(this)" name="avatar_file" data-size="100" data-msg="100kb" data-ratio="1.45" style="display:none;" value="">
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sub-btn">
          <button type="button" id="publish" class="btn-pub" name="button">发布债务</button>
          <button type="button" class="btn-pub" onclick="javascript:window.location.reload();" name="button">重置</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--债权人模板个人-->
<script type="text/x-jquery-tmpl" id="debtor_owner_info_temp">
  <div class="blo">
    <div class="to-del" onclick="removeParentDom(this, 'blo')">
      <img src="/Uploads/Debt/imgs/close_grey.png" alt="">
    </div>
    <div class="line">
      <div class="info">
        债权人信息 :
      </div>
      <div class="details">
        <input type="text" name="name" onblur="validateChinese(this)" placeholder="*姓名">
        <input type="text" name="idNum" onblur="validateIDNumber(this, false)" placeholder="身份证号">
        <input type="text" name="phoneNumber" onblur="validatePhone(this, false)" placeholder="联系电话">
      </div>
    </div>
    <div class="line">
      <div class="info">
        债权人地区 :
      </div>
      <div class="details">
        <div class="p-dropdown">
          <label type="checkbox">
            <span>*省份</span>
            <i></i>
            <input type="checkbox" name="dd_province" value="">
            <ul></ul>
          </label>
        </div>
        <div class="c-dropdown">
          <label type="checkbox">
            <span>*城市</span>
            <i></i>
            <input type="checkbox" name="dd_city" value="">
            <ul></ul>
          </label>
        </div>
        <div class="a-dropdown">
          <label type="checkbox">
            <span>*区县/市</span>
            <i></i>
            <input type="checkbox" name="dd_area" value="">
            <ul></ul>
          </label>
        </div>
      </div>
    </div>
    <div class="line">
      <div class="info">
        详细地址 :
      </div>
      <div class="details">
        <textarea name="areaDetail" maxlength="50" rows="2" cols="80" placeholder="请输入详细地址(最多50个字)"></textarea>
      </div>
    </div>
    <div class="line">
      <div class="info">
        债权金额 :
      </div>
      <div class="details">
        <input type="text" name="debt_money" onblur="validateMoney(this)" placeholder="*请输入债权金额">元
      </div>
    </div>
  </div>
</script>
<!--债权人模板企业-->
<script type="text/x-jquery-tmpl" id="debtor_owner_company_info_temp">
  <div class="blo">
    <div class="to-del" onclick="removeParentDom(this, 'blo')">
      <img src="/Uploads/Debt/imgs/close_grey.png" alt="">
    </div>
    <div class="line">
      <div class="info">
        债权人信息 :
      </div>
      <div class="details">
        <input type="text" name="companyName" onblur="validateChinese(this)" placeholder="*请输入公司姓名">
        <input type="text" name="idNum" onblur="validateCreditNum(this, false)" placeholder="请输入信用代码">
        <input type="text" name="name" onblur="validateChinese(this)" placeholder="*请输入法人姓名">
        <input type="text" name="phoneNumber" onblur="validatePhone(this, false)" placeholder="请输入固定电话">
      </div>
    </div>
    <div class="line">
      <div class="info">
        债权人地区 :
      </div>
      <div class="details">
        <div class="p-dropdown">
          <label type="checkbox">
            <span>*省份</span>
            <i></i>
            <input type="checkbox" name="dd_province" value="">
            <ul></ul>
          </label>
        </div>
        <div class="c-dropdown">
          <label type="checkbox">
            <span>*城市</span>
            <i></i>
            <input type="checkbox" name="dd_city" value="">
            <ul></ul>
          </label>
        </div>
        <div class="a-dropdown">
          <label type="checkbox">
            <span>*区县/市</span>
            <i></i>
            <input type="checkbox" name="dd_area" value="">
            <ul></ul>
          </label>
        </div>
      </div>
    </div>
    <div class="line">
      <div class="info">
        详细地址 :
      </div>
      <div class="details">
        <textarea name="areaDetail" maxlength="50" rows="2" cols="80" placeholder="请输入详细地址(最多50个字)"></textarea>
      </div>
    </div>
    <div class="line">
      <div class="info">
        债权金额 :
      </div>
      <div class="details">
        <input type="text" name="debt_money" onblur="validateMoney(this)" placeholder="*请输入债权金额">元
      </div>
    </div>
  </div>
</script>
<!--债务人模板个人-->
<script type="text/x-jquery-tmpl" id="debtor_info_temp">
  <div class="blo">
    <div class="to-del" onclick="removeParentDom(this, 'blo')">
      <img src="/Uploads/Debt/imgs/close_grey.png" alt="">
    </div>
    <div class="line">
      <div class="info">
        债务人信息 :
      </div>
      <div class="details">
        <input type="text" name="name" onblur="validateChinese(this)" placeholder="*姓名">
        <input type="text" name="idNum" onblur="validateIDNumber(this, false)" placeholder="身份证号">
        <input type="text" name="phoneNumber" onblur="validatePhone(this, false)" placeholder="联系电话">
      </div>
    </div>
    <div class="line">
      <div class="info">
        债务人地区 :
      </div>
      <div class="details">
        <div class="p-dropdown">
          <label type="checkbox">
            <span>*省份</span>
            <i></i>
            <input type="checkbox" name="dd_province" value="">
            <ul></ul>
          </label>
        </div>
        <div class="c-dropdown">
          <label type="checkbox">
            <span>*城市</span>
            <i></i>
            <input type="checkbox" name="dd_city" value="">
            <ul></ul>
          </label>
        </div>
        <div class="a-dropdown">
          <label type="checkbox">
            <span>*区县/市</span>
            <i></i>
            <input type="checkbox" name="dd_area" value="">
            <ul></ul>
          </label>
        </div>
      </div>
    </div>
    <div class="line">
      <div class="info">
        详细地址 :
      </div>
      <div class="details">
        <textarea name="areaDetail" maxlength="50" rows="2" cols="80" placeholder="请输入详细地址(最多50个字)"></textarea>
      </div>
    </div>
    <div class="line">
      <div class="info">
        债务金额 :
      </div>
      <div class="details">
        <input type="text" name="debt_money" onblur="validateMoney(this)" placeholder="*请输入债务金额">元
      </div>
    </div>
  </div>
</script>
<!--债务人模板企业-->
<script type="text/x-jquery-tmpl" id="debtor_company_info_temp">
  <div class="blo">
    <div class="to-del" onclick="removeParentDom(this, 'blo')">
      <img src="/Uploads/Debt/imgs/close_grey.png" alt="">
    </div>
    <div class="line">
      <div class="info">
        债权人信息 :
      </div>
      <div class="details">
        <input type="text" name="companyName" onblur="validateChinese(this)" placeholder="*请输入公司姓名">
        <input type="text" name="idNum" onblur="validateCreditNum(this, false)" placeholder="请输入信用代码">
        <input type="text" name="name" onblur="validateChinese(this)" placeholder="*请输入法人姓名">
        <input type="text" name="phoneNumber" onblur="validatePhone(this, false)" placeholder="请输入固定电话">
      </div>
    </div>
    <div class="line">
      <div class="info">
        债权人地区 :
      </div>
      <div class="details">
        <div class="p-dropdown">
          <label type="checkbox">
            <span>*省份</span>
            <i></i>
            <input type="checkbox" name="dd_province" value="">
            <ul></ul>
          </label>
        </div>
        <div class="c-dropdown">
          <label type="checkbox">
            <span>*城市</span>
            <i></i>
            <input type="checkbox" name="dd_city" value="">
            <ul></ul>
          </label>
        </div>
        <div class="a-dropdown">
          <label type="checkbox">
            <span>*区县/市</span>
            <i></i>
            <input type="checkbox" name="dd_area" value="">
            <ul></ul>
          </label>
        </div>
      </div>
    </div>
    <div class="line">
      <div class="info">
        详细地址 :
      </div>
      <div class="details">
        <textarea name="areaDetail" maxlength="50" rows="2" cols="80" placeholder="请输入详细地址(最多50个字)"></textarea>
      </div>
    </div>
    <div class="line">
      <div class="info">
        债权金额 :
      </div>
      <div class="details">
        <input type="text" name="debt_money" onblur="validateMoney(this)" placeholder="*请输入债权金额">元
      </div>
    </div>
  </div>
</script>
<script type="text/x-jquery-tmpl" id="debt_family_tmpl">
  <div class="blo">
    <div class="to-del" onclick="removeParentDom(this, 'blo')">
      <img src="/Uploads/Debt/imgs/close_grey.png" alt="">
    </div>
    <div class="line">
      <div class="info">
        债务人亲友信息 :
      </div>
      <div class="details">
        <input type="text" name="name" onblur="validateChinese(this)" placeholder="*姓名">
        <input type="text" name="relationship" placeholder="关系">
        <input type="text" name="phoneNumber" onblur="validatePhone(this, true)" placeholder="联系方式">
      </div>
    </div>
  </div>
</script>
{template Footer}
<script src='{echo JsURL}/debt/lib/dcalendar/dcalendar.picker.js'></script>
<script src='{echo JsURL}/debt/lib/cropper/dist/cropper.js'></script>
<script src='{echo JsURL}/debt/publishDebtByDiy.js'></script>
</body>
</html>