{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/collection.css">
<div class="collection">
    <div class="wrap">
        <div class="filt-parm">
            <div class="line" id="way">
                <span>催收方式 :</span>
                <span class="sel span-1" data-id="0">全部</span>
                <span class="span-2" data-id="1">
                选择律师的债权
              </span>
                <span class="span-2" data-id="2">
                选择催收团队的债权
              </span>
            </div>
            <div class="line" id="area">
                <span>催收地区 :</span>
                <span class="sel span-1" data-id="0">全部</span>
                {loop $AreaList $lists}
                <span class="span-2" data-id="{$lists[AreaID]}">
                  {$lists[CnName]}
                </span>
                {/loop}
                <span onclick="openCitySelector(otherCitySel)"><span id="other_city">其他城市</span><img src="/Uploads/Debt/imgs/tri_arrow_down.png" alt=""></span>
            </div>
            <div class="line" id="money">
                <span>催收金额 :</span>
                <span class="sel span-1" data-id="0">全部</span>
                <span class="span-2" data-id="1">
                3万以下
              </span>
                <span class="span-2" data-id="2">
                3万到10万
              </span>
                <span class="span-2" data-id="3">
                10万到50万
              </span>
                <span class="span-2" data-id="4">
                50万到100万
              </span>
                <span class="span-2" data-id="5">
                100万以上
              </span>
            </div>
            <div class="line" id="day">
                <span>逾期时间 :</span>
                <span class="sel span-1" data-id="0">全部</span>
                <span class="span-2" data-id="1">
                0-60天
              </span>
                <span class="span-2" data-id="2">
                61-180天
              </span>
                <span class="span-2" data-id="3">
                181-365天
              </span>
                <span class="span-2" data-id="4">
                366-1095天
              </span>
                <span class="span-2" data-id="5">
                1096天以上
              </span>
            </div>
            <div class="search">
                <span>债务搜索 :</span>
                <input type="text" name="" id="keyword" placeholder="请输入姓名或身份证号">
                <button type="button" id="btn_search" name="search">
                    搜索
                </button>
                {if $_SESSION['Identity']==1 || $_SESSION['Identity']==2}
                <div class="pub-wrap" onclick="selDebtWayPop()">
                    <img src="/Uploads/Debt/imgs/edit.png" alt="">
                    <button type="button" name="pub">
                        发布债务
                    </button>
                </div>
                {/if}
            </div>
        </div>
        <div class="table">
            <div class="t">催收列表分类 : <span id="choices"></span></div>
            <div class="no-data">
                <img src="/Uploads/Debt/imgs/no_data.png" alt="">
            </div>
            <div id="collection_info">
                {if $Data['Data']}
                <table>
                    <thead>
                    <tr>
                        <th>债务编号</th>
                        <th>债务人名称</th>
                        <th>债务地区</th>
                        <th>债务金额</th>
                        <th>逾期时间</th>
                        <th>发布时间</th>
                        <th>当前状态</th>
                        <th>查看债务</th>
                    </tr>
                    </thead>
                    <tbody>
                    {loop $Data['Data'] $lists}
                    <tr>
                        <td>{$lists[DebtNum]}</td>
                        <td>{$lists[Name]}</td>
                        <td>{if $lists[Province]!=''}{$lists[Province]}-{$lists[City]}-{$lists[Area]}{/if}</td>
                        <td class="m-c">￥{$lists[DebtAmount]}</td>
                        <td>{$lists[Overduetime]}</td>
                        <td>{$lists[AddTime]}</td>
                        <td class="sta-{$lists[Status]}">{$NStatus[$lists[Status]]}</td>
                        <td class="det"><a href="/debt/{$lists[DebtID]}.html" target="_blank">查看详情></a></td>
                    </tr>
                    {/loop}
                    </tbody>
                </table>
                {else}
                <div class="no-data" style="display: block;">
                    <img src="/Uploads/Debt/imgs/no_data.png" alt="">
                </div>
                {/if}
            </div>
        </div>
        {if $ShowPage}
        <div class="pagination-wrap">
            <div class="pagination fl-r" id="collection_page_pagination">
                <a href="/debtlists/"><div class="b {if $Page==1}sel{/if}">首页</div></a>
                {$ShowPage}
            </div>
        </div>
        {/if}
    </div>
</div>
<div class="service-way">
  <div class="way-bx">
    <div class="icon">
      <img src="/Uploads/Debt/imgs/service_phone.png" alt="">
    </div>
    <div class="cont cont-1">
      客服电话:&nbsp;&nbsp;0592-5253262
      <div class="tri"></div>
    </div>
  </div>
  <div class="way-bx">
    <div class="icon">
      <img src="/Uploads/Debt/imgs/service_qq.png" alt="">
    </div>
    <div class="cont cont-1">
      <img src="/Uploads/Debt/imgs/qq_icon.png" class="qq_icon" alt="">客服QQ:&nbsp;&nbsp;1181681360
      <div class="tri"></div>
    </div>
  </div>
  <div class="way-bx">
    <div class="icon">
      <img src="/Uploads/Debt/imgs/service_wechat.png" alt="">
    </div>
    <div class="cont cont-2">
      <img src="/Uploads/Debt/imgs/wximg.png" alt=""><br>微信扫一扫, 联系客服
      <div class="tri"></div>
    </div>
  </div>
</div>
<script id="collection_table_body" type="text/x-jquery-tmpl">
  <tr>
    <td>${DebtNum}</td>
    <td>${Name}</td>
    <td>${Province}-${City}-${Area}</td>
    <td class="m-c">￥${DebtAmount}</td>
    <td>${Overduetime}天</td>
    <td>${AddTime}</td>
    <td class="sta-{{= whichState(Status)}}">${StatusName}</td>
    <td class="det"><a href="${Url}" target="_blank">查看详情>></a></td>
  </tr>
</script>
<script id="collection_table_head" type="text/x-jquery-tmpl">
  <table>
    <thead>
      <tr>
        <th>债务编号</th>
        <th>债务人名称</th>
        <th>债务地区</th>
        <th>债务金额</th>
        <th>逾期时间</th>
        <th>发布时间</th>
        <th>当前状态</th>
        <th>查看债务</th>
      </tr>
    </thead>
    <tbody>
      {{tmpl($data) '#collection_table_body'}}
    </tbody>
  </table>
</script>
{template Footer}
<script src='{echo JsURL}/debt/collection.js'></script>
