{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/solver.css">
<div class="bk-1">
    <img src="/Uploads/Debt/imgs/bannerBusiness.png" alt="">
</div>
<div class="solver">
    <div class="wrap">
        <div class="block-t">
            <div class="line"></div>
            <div class="t-wrap">
                <span>选择处置方</span>
            </div>
            <div class="line"></div>
        </div>
        <div class="sel-block">
            <div class="left">
                <div class="img-wrap">
                    <img src="/Uploads/Debt/imgs/lawer.png" alt="">
                </div>
                <button type="button" name="button" onclick="javascript:window.location.href='/team/1/'">律师团队</button>
            </div>
            <div class="right">
                <div class="img-wrap">
                    <img src="/Uploads/Debt/imgs/fighter.png" alt="">
                </div>
                <button type="button" name="button" onclick="javascript:window.location.href='/team/2/'">催收团队</button>
            </div>
        </div>
    </div>
</div>
{template Footer}