<div class="footer">
    <div class="wrap">
        <div class="content">
            <div class="b1">
              <h2>商务合作</h2>
              <div class="c">
                <div class="line-wrap"><div class="int">联系人</div>江威</div>
                <div class="line-wrap"><div class="int">联系电话</div>182-0595-2757</div>
                <div class="line-wrap"><div class="int">联系邮箱</div>513499966@qq.com</div>
              </div>
            </div>
            <div class="b2">
              <h2>联系客服</h2>
              <div class="c">
                <div class="line-wrap"><div class="int">客服QQ</div>1181681360</div>
                <div class="line-wrap"><div class="int">客服电话</div>0592-5253262</div>
                <div class="line-wrap w-t">( 工作日9:00-18:00 )</div>
              </div>
            </div>
            <div class="wetchat-img">
                <img src="/Uploads/Debt/imgs/wximg.png" alt="">
                <br>
                <br>
                <span>扫一扫, 关注公众号</span>
            </div>
        </div>
    </div>
</div>
<div class="copy-right">
    <div class="wraper">
      <span>Copyright © 2017 武夷山隆文贵互联网信息咨询有限公司 All rights reserved. 闽ICP备16032488号-1</span>
    </div>
</div>
<script src='{echo JsURL}/debt/lib/jquery/jquery.min.js'></script>
<script src='{echo JsURL}/debt/lib/jquery-tmpl/dist/jquery.tmpl.min.js'></script>
<script src='{echo JsURL}/debt/lib/jquery.placeholder/jquery.placeholder.min.js'></script>
<script src='{echo JsURL}/debt/lib/layer/src/layer.js'></script>
<script src='{echo JsURL}/debt/common.js'></script>
<script type="text/javascript" src="{echo JsURL}/debt/login.js"></script>
</body>
</html>
