<div class="footer">
    <div class="wrap">
        <div class="content">
            <div class="b1">
                <p>联系我们</p>
                <div class="c">
                    <img src="/Uploads/Debt/imgs/hot_line.png" alt="">
                    <p>服务热线：</p>
                    <p>13960658585</p>
                </div>
            </div>
            <div class="b2">
                <div class="c">
                    <img src="/Uploads/Debt/imgs/email.png" alt="">
                    <p>电子邮件：</p>
                    <p>904732986@qq.com</p>
                </div>
            </div>
            <div class="coop">
                <p>商务合作</p>
                <div class="c">
                    <img src="/Uploads/Debt/imgs/phone.png" alt="">
                    <p>联系电话：</p>
                    <p>13960658585</p>
                </div>
            </div>
            <div class="wetchat-img">
                <img src="/Uploads/Debt/imgs/wximg.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="copy-right">
    <div class="wrap">
        <span>版权所有：隆文贵 Copyright2017</span>
        <span>闽ICP备16032488号-1</span>
        <img src="/Uploads/Debt/imgs/copyRight.png" alt="">
    </div>
</div>
<script src='{echo JsURL}/debt/lib/jquery/jquery.min.js'></script>
<script src='{echo JsURL}/debt/lib/jquery-tmpl/dist/jquery.tmpl.min.js'></script>
<script src='{echo JsURL}/debt/lib/layer/src/layer.js'></script>
<script src='{echo JsURL}/debt/common.js'></script>
</body>
</html>
