<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{$Description}">
    <meta name="keywords" content="{$Keywords}">
    <title>{$Title}</title>
    <link rel="stylesheet" href="{echo CssURL}/debt/common.css">
    <link rel="stylesheet" href="{echo CssURL}/debt/login.css">
</head>
<body>
<div class="header">
    <div class="wrap clearfix">
        <h1 class="logo"><a href="{echo WEB_MAIN_URL}" title="隆文贵，让不良资产处置变得简单"><img src="{echo CssURL}/debt/images/logo-new.png" alt="隆文贵，让不良资产处置变得简单"></a></h1>
        <div class="login-box {if $_SESSION[UserID] && !empty($_SESSION[UserID])}logined {else} logining {/if}">
            <div class="login-bar">
                <p class="icon"></p>
            </div>
            {if $_SESSION[UserID] && !empty($_SESSION[UserID])}
            <p class="username"><a href="/{if $_SESSION[Identity]<=2}memberperson{elseif $_SESSION[Identity]==3}memberfirm{elseif $_SESSION[Identity]==4}memberlawyer{elseif $_SESSION[Identity]==5}membercompany{elseif $_SESSION[Identity]==6}memberlawfirm{/if}/">{$_SESSION[NickName]}</a></p>
            {/if}
            <div class="hover-con">
                {if $_SESSION[UserID] && !empty($_SESSION[UserID])}
                <div class="yes-login">
                    <p class="loginout"><a href="/member/signout/">退出登录</a></p>
                </div>
                {else}
                <div class="no-login">
                    <!--<div class="fast-login">
                        <a href="#"><img src="{echo CssURL}/debt/images/wxlogo.png" alt=""></a>
                        <a href="#"><img src="{echo CssURL}/debt/images/qqlogo.png" alt=""></a>
                    </div>-->
                    <p class="login-reg clearfix">
                        <span class="fl" onclick="toLogin()">登录</span>
                        <span class="fr" onclick="go('/member/register/')">注册</span>
                    </p>
                </div>
                {/if}
            </div>
        </div>
        <div class="nav-wrap">
            <ul class="clearfix">
                <li {if $Nav=='index'}class="nav-active"{/if}>
                    <a href="{echo WEB_MAIN_URL}">
                        首页
                        <p class="hover hover-index"></p>
                    </a>
                </li>
                <li {if $Nav=='asset'}class="nav-active"{/if}>
                    <a href="/asset/lists/">资产商城
                        <p class="hover hover-asset"></p>
                    </a>
                </li>
                <li {if $Nav=='legalaid'}class="nav-active"{/if}>
                    <a href="/legalaid/">法律援助
                        <p class="hover hover-lawyer"></p>
                    </a>
                </li>
                <li {if $Nav=='debt'}class="nav-active"{/if}>
                    <a href="/debtlists/">债务催收
                        <p class="hover hover-debt"></p>
                    </a>
                </li>
                <li {if $Nav=='rewordlists'}class="nav-active"{/if}>
                    <a href="/reword/">线索悬赏
                        <p class="hover hover-reword"></p>
                    </a>
                </li>
                <li {if $Nav=='find'}class="nav-active"{/if}>
                    <a href="/choicefind/">寻找处置方
                        <p class="hover hover-find"></p>
                    </a>
                </li>
                <li {if $Nav=='deadbeat'}class="nav-active"{/if}>
                    <a href="/deadbeat/">查询老赖
                        <p class="hover hover-deadbeat"></p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>