<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{$Description}">
    <meta name="keywords" content="{$Keywords}">
    <title>{$Title}</title>
    <link rel="stylesheet" href="{echo CssURL}/debt/common.css">
    <link rel="stylesheet" href="{echo CssURL}/debt/login.css">
    <link rel="stylesheet" href="{echo CssURL}/debt/index.css">
</head>
<body>
<div class="header">
    <div class="wrap clearfix">
        <h1 class="logo"><a href="{echo WEB_MAIN_URL}" title="隆文贵，让不良资产处置变得简单"><img src="{echo CssURL}/debt/images/logo-new.png" alt="隆文贵，让不良资产处置变得简单"></a></h1>
        <div class="login-box">
            <div class="login-bar">
                <p class="icon"></p>
            </div>
            <div class="hover-con">
                {if $_SESSION[UserID] && !empty($_SESSION[UserID])}
                <div class="yes-login">
                    <p><a href="/{if $_SESSION[Identity]<=2}memberperson{elseif $_SESSION[Identity]==3}memberfirm{elseif $_SESSION[Identity]==4}memberlawyer{elseif $_SESSION[Identity]==5}membercompany{/if}/">{$_SESSION[NickName]}</a></p>
                    <p><a href="/member/signout/">退出登录</a></p>
                </div>
                {else}
                <div class="no-login">
                    <!--<div class="fast-login">
                        <p>快速登录</p>
                        <p class="mt-20">
                            <img src="{echo CssURL}/debt/images/wxlogo.png" alt="">
                            <img src="{echo CssURL}/debt/images/qqlogo.png" alt="">
                        </p>
                    </div>-->
                    <p class="login-reg">
                        <span onclick="go('/member/login/')">登录</span>
                        <span onclick="go('/member/register/')">注册</span>
                    </p>
                </div>
                {/if}
            </div>
        </div>
        <div class="nav-wrap">
            <ul class="clearfix">
                <li {if $Nav=='index'}class="nav-active"{/if}>
                    <a href="{echo WEB_MAIN_URL}">首页</a>
                </li>
                <li {if $Nav==''}class="nav-active"{/if}>
                    <a href="{echo WEB_MAIN_URL}">律师咨询</a>
                </li>
                <li {if $Nav=='asset'}class="nav-active"{/if}>
                    <a href="/asset/lists/">资产商城</a>
                </li>
                <li {if $Nav=='debt'}class="nav-active"{/if}>
                    <a href="/debtlists/">债务催收</a>
                </li>
                <li {if $Nav=='rewordlists'}class="nav-active"{/if}>
                    <a href="/reword/">线索悬赏</a>
                </li>
                <li {if $Nav=='find'}class="nav-active"{/if}>
                    <a href="/choicefind/">寻找处置方</a>
                </li>
                <li {if $Nav=='deadbeat'}class="nav-active"{/if}>
                    <a href="/deadbeat/">查询老赖</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="bk-1" id="index_banner">
  <div class="bd">
    <li><img src="/Uploads/Debt/imgs/banner02.jpg" alt=""></li>
    <li><img src="/Uploads/Debt/imgs/banner01.png" alt=""></li>
    <li><img src="/Uploads/Debt/imgs/banner03.jpg" alt=""></li>
  </div>
  <div class="hd">
    <li></li>
  </div>
</div>
<div class="index">
    <div class="block bc-fff">
        <div class="wrap">
            <div class="block-t">
                <div class="line"></div>
                <div class="t-wrap">
                    <span class="span-1">核心业务</span><br><span class="span-2">Core Business</span>
                </div>
                <div class="line"></div>
            </div>
            <div class="func-wrap">
                <div class="func-content">
                    <div class="img-wrap">
                        <img src="/Uploads/Debt/imgs/func1.png" alt="">
                    </div>
                    <br><span>债务催收</span>
                </div>
                <div class="func-content">
                    <div class="img-wrap">
                        <img src="/Uploads/Debt/imgs/func2.png" alt="">
                    </div>
                    <br><span>债权转让</span>
                </div>
                <div class="func-content">
                    <div class="img-wrap">
                        <img src="/Uploads/Debt/imgs/func3.png" alt="">
                    </div>
                    <br><span>线索悬赏</span>
                </div>
                <div class="func-content">
                    <div class="img-wrap">
                        <img src="/Uploads/Debt/imgs/func4.png" alt="">
                    </div>
                    <br><span>寻找处置方</span>
                </div>
                <div class="func-content">
                    <div class="img-wrap">
                        <img src="/Uploads/Debt/imgs/func5.png" alt="">
                    </div>
                    <br><span>老赖查询</span>
                </div>
            </div>
        </div>
    </div>
    <div class="block bc-f5">
        <div class="wrap">
            <div class="func-1">
                <div class="left">
                    <p class="p-1">债务催收</p>
                    <p>平台提供自助催收和委托催收。</p>
                    <p>1.自助催收：通过电话催收和把债务人信息推送给各大金融机构等对</p>
                    <p>债务人形成巨大的心理压力（建议金额1万以下）</p>
                    <p>2.委托催收：用户先选择律师或催收团队然后发布债务，律师或催收</p>
                    <p>团队会提出自己的优势和报价，由用户自己选择其中一家进行处置。</p>
                    <div class="btn-more">
                      <button onclick="go('/debtlists/')" class="btn">查看更多>></button>
                    </div>
                </div>
                <div class="right">
                    <img src="/Uploads/Debt/imgs/func1_process.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="block bc-fff">
        <div class="wrap">
            <div class="func-2">
                <div class="left">
                    <img src="/Uploads/Debt/imgs/func5_logo.png" alt="">
                </div>
                <div class="right">
                    <p class="p-1">债权转让</p>
                    <p>债权人和债务人达成协议，由债权人发布债务人名下资</p>
                    <p>产或名下公司股权进行打折出售，让出部分利益，实现</p>
                    <p>快速回笼资金。</p>
                    <div class="btn-more">
                        <button class="btn" onclick="go('/debt/transfer/')">查看更多>></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block bc-f5">
        <div class="wrap">
            <div class="func-1">
                <div class="left">
                    <p class="p-1">线索悬赏</p>
                    <p>债务人失去联系或者隐藏其名下财产，通过我们平台发</p>
                    <p>布悬赏，由数万催客来帮助您一起寻找债务人或者其名</p>
                    <p>下财产。</p>
                    <div class="btn-more">
                      <button onclick="go('/reword/')" class="btn">查看更多>></button>
                    </div>
                </div>
                <div class="right tx-l">
                    <img src="/Uploads/Debt/imgs/func2_logo.png" class="pl-130" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="block bc-fff">
        <div class="wrap">
            <div class="func-2">
                <div class="left">
                    <img src="/Uploads/Debt/imgs/func3_logo.png" alt="">
                </div>
                <div class="right">
                    <p class="p-1">寻找处置方</p>
                    <p>用户先选择律师或催收团队，然后匹配处置方，</p>
                    <p>由债权人向匹配后的处置方进行申请处置。</p>
                    <div class="btn-more">
                      <button class="btn" onclick="go('/choicefind/')">查看更多>></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block bc-f5">
        <div class="wrap">
            <div class="func-1">
                <div class="left">
                    <p class="p-1">老赖查询</p>
                    <p>通过身份证手机号，查询借款人是否有不良信息</p>
                    <p>记录，让更多的老赖无钱可借。</p>
                    <div class="btn-more">
                        <button class="btn" onclick="go('/deadbeat/')">查看更多>></button>
                    </div>
                </div>
                <div class="right tx-l">
                    <img src="/Uploads/Debt/imgs/func4_logo.png" class="pl-130" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="block-about">
        <div class="wrap">
            <div class="block-t">
                <div class="line"></div>
                <div class="t-wrap">
                    <span class="span-1">关于我们</span><br><span class="span-2">About Us</span>
                </div>
                <div class="line"></div>
            </div>
            <div class="about-us">
                <div class="left">
                    <img src="/Uploads/Debt/imgs/about_us.png" alt="">
                </div>
                <div class="right">
                    <p>隆文贵是国内首家债务处置服务平台，通过互联网和大数据，为委托方和处置方提供一站式债务处置撮合服务，并提供更多优质服务和产品提高回款率，快速建立品牌效应。</p>
                    <p>我们的宗旨是让债务处置变得简单。让债务处置标准化、高效化、系统化，成为不良资产接盘侠和终结者、互联网金融的“安全卫士”，打造资产处置服务第一品牌。我们愿与全国的银行、P2P、消费金融、小额信贷等金融信贷企业和专业处置服务公司、资产管理服务公司、有处置服务的律师事务所等处置服务机构，携手合作、开启共赢！</p>
                </div>
            </div>
        </div>
    </div>
</div>
{template Footer}
<script src='{echo JsURL}/debt/lib/SuperSlide/jquery.SuperSlide.2.1.1.js'></script>
<script src='{echo JsURL}/debt/index.js'></script>
</body>
</html>
