{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/lawyerHelp.css">
<div class="wrap lawyer-help-page">
    <div class="filt-parm">
        <div class="line clearfix" id="area">
            <span class="param-title">援助地区 :</span>
            <span class="sel span-2" data-id="0">全部</span>
            <span class="span-2" data-id="1001">
                 北京市
            </span>
            <span class="span-2" data-id="1009">
                 上海市
            </span>
            <span class="span-2" data-id="1236">
                 深圳市
            </span>
            <span class="span-2" data-id="5">
                  厦门市
            </span>
            <label onclick="openCitySelector(otherCitySel)"><span id="other_city">其他城市</span><img src="/Uploads/Debt/imgs/tri_arrow_down.png" alt=""></label>
        </div>
        <div class="line clearfix" id="direction">
            <span class="param-title fl">案件类别 :</span>
            <div class="case-type fl">

            </div>
        </div>
    </div>
    <div class="lawyer-help-list">
        <ul>
            {loop $Data['Data'] $lists}
            <li class="">
                <div class="seek-box">
                    <div class="seek-header clearfix">
                        <p class="seek-logo">
                            <img src="{$lists[Avatar]}" alt="">
                        </p>
                        <div class="seek-main">
                            <div class="seek-title">
                                <span class="txt ellipsis">{$lists[CompanyName]}</span>
                                <a class="link fr" onclick="pageObj.seekShow(this);"  title="查看" href="javascript:void(0)">查看</a>
                            </div>
                            <p class="seek-phone">联系电话：
                                <span class="mobile" data-phone="{$lists[ChargeMobile]}"> {$lists[ChargeMobile]}</span></p>
                        </div>
                    </div>
                    <div class="seek-con">
                        <p class="big">业务区域：{loop $lists[Area] $value}{$value[province]}-{$value[city]}-{$value[area]}&nbsp;&nbsp;{/loop}</p>
                        <p class="big">更多介绍：</p>
                        <div class="more-detail">
                            {$lists[Content]}
                        </div>
                        <p onclick="pageObj.suggestion();" class="suggestion">投诉/建议</p>
                    </div>
                </div>
            </li>
            {/loop}
        </ul>
        {if empty($Data['Data'])}
        <div class="no-data" style="display: block;">
            <img src="/Uploads/Debt/imgs/no_data.png" alt="">
        </div>
        {/if}
        <div class="no-data" style="display: none;">
            <img src="/Uploads/Debt/imgs/no_data.png" alt="">
        </div>
    </div>
    <div class="pagination-wrap">
        <div class="pagination fl-r" id="legalAid_page_pagination">
            {if $ShowPage}
            <a href="/legalaid/?p=1" class="b {if $Page==1}sel{/if}">首页</a>
            {$ShowPage}
            {/if}
        </div>
    </div>
</div>
<script type="text/x-jquery-tmpl" id="lawyer-help-temp">
    <li class="">
        <div class="seek-box">
        <div class="seek-header clearfix">
        <p class="seek-logo">
        <img src="${Avatar}" alt="">
        </p>
        <div class="seek-main">
        <div class="seek-title">
        <span class="txt ellipsis">${CompanyName}</span>
        <a class="link fr" onclick="pageObj.seekShow(this);"  title="查看" href="javascript:void(0)">查看</a>
        </div>
        <p class="seek-phone">联系电话：
    <span class="mobile" data-phone="${ChargeMobile}">${ChargeMobile}</span></p>
        </div>
        </div>
        <div class="seek-con">
        <p class="big">业务区域：
         {{each(i, a) Area}}
          {{= a.province}}-{{= a.city}}-{{= a.area}}&nbsp;
        {{/each}}
        </p>
    <p class="big">更多介绍：</p>
    <div class="more-detail">
        ${Content}
        </div>
        <p onclick="pageObj.suggestion();" class="suggestion">投诉/建议</p>
        </div>
        </div>
        </li>
</script>
<script type="text/x-jquery-tmpl" id="suggestionTemp">
    <div class="suggestion-box">
        <p class="tips">感谢您对我们工作的支持，提出您的宝贵意见与建议：</p>
        <p>
            <textarea class="textarea" name="suggestion" id="" maxlength="150" cols="30" rows="10" placeholder="字数不超过150字"></textarea>
        </p>
        <p class="btn-box">
            <button class="btn btn-big btn-primary mr-40" onclick="pageObj.suggestionSub(this)">确定</button>
            <button class="btn btn-big btn-default">取消</button>
        </p>
    </div>
</script>
{template Footer}
<script src='{echo JsURL}/debt/lawyerHelp.js'></script>
</body>
</html>