{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/lawyerHelp.css">
<div class="wrap lawyer-help-page">
    <div class="filt-parm">
        <div class="line" id="area">
            <span class="param-title">催收地区 :</span>
            <span class="sel span-1" data-id="0">全部</span>
            <span class="span-2" data-id="1">
                 北京市
            </span>
            <span class="span-2" data-id="2">
                 上海市
            </span>
            <span class="span-2" data-id="3">
                 深圳市
            </span>
            <span class="span-2" data-id="4">
                  广州市
            </span>
            <span class="span-2" data-id="5">
                  厦门市
            </span>
            <span onclick="openCitySelector(otherCitySel)"><span id="other_city">其他城市</span><img src="/Uploads/Debt/imgs/tri_arrow_down.png" alt=""></span>
        </div>
        <div class="line" id="direction">
            <span class="param-title">案件类别 :</span>
            <span class="sel span-1" data-id="0">全部</span>
            <span class="span-2" data-id="1">
                债务债权
              </span>
            <span class="span-2" data-id="2">
                婚姻家庭
              </span>
            <span class="span-2" data-id="3">
                工伤赔偿
              </span>
            <span class="span-2" data-id="4">
                劳动纠纷
              </span>
            <span class="span-2" data-id="5">
                 房产纠纷
              </span>
        </div>
    </div>
    <div class="lawyer-help-list">
        <ul>
            <li class="">
                <div class="seek-box">
                    <div class="seek-header clearfix">
                        <p class="seek-logo">
                            <img src="{echo CssURL}/debt/temp/seek-logo.jpg" alt="">
                        </p>
                        <div class="seek-main">
                            <div class="seek-title">
                                <span class="txt ellipsis">三木律师事务所</span>
                                <a class="link fr" onclick="pageObj.seekShow(this);"  title="查看" href="javascript:void(0)">查看</a>
                            </div>
                            <p class="seek-phone">联系电话：
                                <span class="mobile" data-phone="13512346789">135****6789</span></p>
                        </div>
                    </div>
                    <div class="seek-con">
                        <p class="big">详细地址：福建省-厦门市-思明区和山街道150号</p>
                        <p class="big">更多介绍：</p>
                        <div class="more-detail">
                            眼看快到十月一日的履行届满日了，在不知如何处理之下，王女士想到了公证处，于是她于九月二十八日来到公证处咨询，公证人员向王女士说："我建议您进行提存，提存也是清偿债务的一种方式，不然，将来万一涉诉，你将为因债权人下落不明而导致自己无法履行债务的事实承担举证责任，债务迟延履行的违约责任。
                        </div>
                        <p onclick="pageObj.suggestion();" class="suggestion">投诉/建议</p>
                    </div>
                </div>
            </li>

        </ul>
        <div class="no-data" style="display: block;">
            <img src="/Uploads/Debt/imgs/no_data.png" alt="">
        </div>
    </div>
    <div class="pagination-wrap">
        <div class="pagination fl-r" id="reword_page_pagination">
            {if $ShowPage}
            <a href="/reword/?p=1" class="b {if $Page==1}sel{/if}">首页</a>
            {$ShowPage}
            {/if}
        </div>
    </div>
</div>
<script type="text/x-jquery-tmpl" id="suggestionTemp">
    <div class="suggestion-box">
        <p class="tips">感谢您对我们工作的支持，提出您的宝贵意见与建议：</p>
        <p>
            <textarea class="textarea" name="suggestion" id="" maxlength="150" cols="30" rows="10" placeholder="字数不超过150字"></textarea>
        </p>
        <p class="btn-box">
            <button class="btn btn-big btn-primary mr-40" onclick="pageObj.suggestionSub(this)">确定</button>
            <button class="btn btn-big btn-default">取消</button>
        </p>
    </div>
</script>
{template Footer}
<script src='{echo JsURL}/debt/lawyerHelp.js'></script>
</body>
</html>