{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/setDebtRateForLawer.css">
<div class="set-debt">
    <div class="wrap">
        <div class="current-loc">
            <img src="/Uploads/Debt/imgs/current_loc.png" alt="">
            <span>当前位置 : <a>债权管理</a> > <a href="/memberlawyer/creditorder/">债权接单</a> > <span class="cur">查看详情</span></span>
        </div>
        <div class="form-wrap">
            <div class="box">

                <div class="t">
                    <img src="/Uploads/Debt/imgs/name_icon.png" alt="">
                    <span>方案名称</span>
                </div>
                <div class="c">
                    <div class="blo">
                        <div class="line">
                            <div class="g-info">
                                方案名称:
                            </div>
                            <div class="g-det">
                                {$LawyerFeeDemand[CaseName]}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="t">
                    <img src="/Uploads/Debt/imgs/area_icon.png" alt="">
                    <span>地区</span>
                </div>
                <div class="c">
                    <div class="blo">
                        <div class="line">
                            <div class="g-info">
                                匹配区域:
                            </div>
                            <div class="g-det">
                                <span>{$LawyerFeeDemand['province']}{if $LawyerFeeDemand['city']}-{$LawyerFeeDemand['city']}{/if}{if $LawyerFeeDemand['area']}-{$LawyerFeeDemand['area']}{/if}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="t">
                    <img src="/Uploads/Debt/imgs/rate_icon.png" alt="">
                    <span>佣金比例</span>
                </div>
                <div class="c">
                    <div class="blo">
                        <div class="line">
                            <div class="left">
                                <div class="g-info">
                                    债务金额：
                                </div>
                                <div class="g-det">
                                    <span>￥{$LawyerFeeDemand['FromMoney']}-{$LawyerFeeDemand['ToMoney']}元</span>
                                </div>
                            </div>
                            <div class="right">
                                <div class="g-info">
                                    佣金比例：
                                </div>
                                <div class="g-det">
                                    <span>{$LawyerFeeDemand['Money']}（元）</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="c mb-100"></div>
            </div>
        </div>
    </div>
    {template Footer}
    </body>
    </html>