{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/personCenter.css">
<div class="person-center">
    <div class="wrap">
        <div class="current-loc">
            <img src="/Uploads/Debt/imgs/current_loc.png" alt="">
            当前位置 > 个人中心 > <span>债权接单</span>
        </div>
        <div class="menu-cont-wrap">
            {template MemberFirmLeft}
                <div class="tab-hd">
                    <div class="tb act" onclick="go('/memberfirm/creditorder/')">债权接单</div>
                    <div class="tb" onclick="go('/memberfirm/demandlist/')">处置方要求方案</div>
                </div>

                <div class="info-cont">
                    <div class="cont-hd">
                        <span>已向我申请的债权列表：</span>
                    </div>
                    <dl class="cont-select">
                        <dt>债权状态：</dt>
                        <dd class="cont-select-act">全部</dd>
                        <dd>正在接单的债权</dd>
                        <dd>催收中的债权</dd>
                        <dd>完成的债权</dd>
                        <dd>未完成的债权</dd>
                    </dl>
                    <div class="debt">
                        <table class="debt-table" width="100%" border="0" cellpadding="0" cellspacing="0">
                            <thead>
                            <tr>
                                <td>债务编号</td>
                                <td>债务人名称</td>
                                <td>债务人地区</td>
                                <td>债务金额（元）</td>
                                <td>逾期时间</td>
                                <td>发布时间</td>
                                <td>当前状态</td>
                                <td>查看</td>
                                <td>操作</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>L201702270000</td>
                                <td>张三</td>
                                <td>福建省-厦门市-思明区</td>
                                <td>￥100000000.00</td>
                                <td>30天</td>
                                <td>2017-02-25</td>
                                <td class="color-red">已接单未付款</td>
                                <td><a href="" class="details-enter">详情</a></td>
                                <td><a href="" class="oper">取消</a></td>
                            </tr>
                            <tr>
                                <td>L201702270000</td>
                                <td>张三</td>
                                <td>福建省-厦门市-思明区</td>
                                <td>￥100000000.00</td>
                                <td>30天</td>
                                <td>2017-02-25</td>
                                <td class="color-red">催收中</td>
                                <td><a href="" class="details-enter">详情</a></td>
                                <td><a href="" class="oper">取消</a></td>
                            </tr>
                            <tr>
                                <td>L201702270000</td>
                                <td>张三</td>
                                <td>福建省-厦门市-思明区</td>
                                <td>￥100000000.00</td>
                                <td>30天</td>
                                <td>2017-02-25</td>
                                <td class="color-red">退款中</td>
                                <td><a href="" class="details-enter">详情</a></td>
                                <td><a href="" class="oper">同意退款</a></td>
                            </tr>
                            <tr>
                                <td>L201702270000</td>
                                <td>张三</td>
                                <td>福建省-厦门市-思明区</td>
                                <td>￥100000000.00</td>
                                <td>30天</td>
                                <td>2017-02-25</td>
                                <td class="color-red">付款超时</td>
                                <td><a href="" class="details-enter">详情</a></td>
                                <td>无</td>
                            </tr>
                            <tr>
                                <td>L201702270000</td>
                                <td>张三</td>
                                <td>福建省-厦门市-思明区</td>
                                <td>￥100000000.00</td>
                                <td>30天</td>
                                <td>2017-02-25</td>
                                <td class="color-red">未完成</td>
                                <td><a href="" class="details-enter">详情</a></td>
                                <td>无</td>
                            </tr>
                            <tr>
                                <td>L201702270000</td>
                                <td>张三</td>
                                <td>福建省-厦门市-思明区</td>
                                <td>￥100000000.00</td>
                                <td>30天</td>
                                <td>2017-02-25</td>
                                <td class="color-blue">已完成</td>
                                <td><a href="" class="details-enter">详情</a></td>
                                <td>无</td>
                            </tr>
                            <tr>
                                <td>L201702270000</td>
                                <td>张三</td>
                                <td>福建省-厦门市-思明区</td>
                                <td>￥100000000.00</td>
                                <td>30天</td>
                                <td>2017-02-25</td>
                                <td class="color-blue">已完成</td>
                                <td><a href="" class="details-enter">详情</a></td>
                                <td>无</td>
                            </tr>
                            <tr>
                                <td>L201702270000</td>
                                <td>张三</td>
                                <td>福建省-厦门市-思明区</td>
                                <td>￥100000000.00</td>
                                <td>30天</td>
                                <td>2017-02-25</td>
                                <td class="color-blue">已曝光</td>
                                <td><a href="" class="details-enter">详情</a></td>
                                <td>无</td>
                            </tr>
                            <tr>
                                <td>L201702270000</td>
                                <td>张三</td>
                                <td>福建省-厦门市-思明区</td>
                                <td>￥100000000.00</td>
                                <td>30天</td>
                                <td>2017-02-25</td>
                                <td class="color-blue">已完成</td>
                                <td><a href="" class="details-enter">详情</a></td>
                                <td>无</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination-wrap">
                        <div class="pagination fl-r" id="page_pagination">
                            <a><div class="b">首页</div></a>
                            <a><div class="b">1</div></a>
                            <a><div class="b">末页</div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pop-to-hint" hidden>
    <div class="pop">
        <div class="tl">
            友情提醒
        </div>
        <p>您尚未设置处置方匹配要求</p>
        <div class="warn">
            请先完善处置方要求
        </div>
        <div class="btn">
            <button type="button" name="ok" onclick="go('/memberfirm/demandlist/')">确定</button>
            <button type="button" name="cancel" onclick="go('/memberfirm/')">取消</button>
        </div>
    </div>
</div>
{template Footer}
