{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/personCenter.css">
<div class="person-center">
    <div class="wrap">
        <div class="current-loc">
            <img src="/Uploads/Debt/imgs/current_loc.png" alt="">
            当前位置 > 个人中心 > <span>事务所信息</span>
        </div>
        <div class="menu-cont-wrap">
            {template MemberLawyerLeft}
                <div class="show-info">
                    <div class="info-cont">
                        <div class="info-m">
                            <div class="head-portrait">
                                <img src="{$UserInfo['Avatar']}" alt="">
                            </div>
                            <div class="info-blk">
                                <div class="line">
                                    会员ID:&nbsp;&nbsp;LWG{$User[UserID]}
                                </div>
                                <div class="line">
                                    注册时间:&nbsp;&nbsp;{echo date("Y-m-d H:i:s",$User[AddTime])}
                                </div>
                                <div class="line">
                                    注册IP:&nbsp;&nbsp;{$User[AddIP]}
                                </div>
                            </div>
                            <div class="info-blk">
                                <div class="line">
                                    账号等级:&nbsp;&nbsp;{$Identity[$UserInfo[Identity]]}({$IdentityStatus[$UserInfo[IdentityState]]})
                                </div>
                                <div class="line">
                                    最后登录:&nbsp;&nbsp;{echo date("Y-m-d H:i:s",$UserInfo[LastLogin])}
                                </div>
                                <div class="line">
                                    上次登陆IP:&nbsp;&nbsp;{$UserInfo[IP]}
                                </div>
                            </div>
                        </div>
                        <div class="info-o">
                            <div class="line">
                                <div class="if">
                                    手机号码:
                                </div>
                                <div class="cont">
                                    {if $User[Mobile]!==''}{$User[Mobile]}{else}无{/if}
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    真实姓名:
                                </div>
                                <div class="cont">
                                    {if $UserInfo[RealName]!==''}{$UserInfo[RealName]}{else}无{/if}
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    身份证号:
                                </div>
                                <div class="cont">
                                    {if !empty($UserInfo[CardNum])}{$UserInfo[CardNum]}{else}无{/if}
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    职业证号:
                                </div>
                                <div class="cont">
                                    {if !empty($UserInfo[ProfessionalNum])}{$UserInfo[ProfessionalNum]}{else}无{/if}
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    所属事务所:
                                </div>
                                <div class="cont">
                                    {if !empty($UserInfo[CompanyName])}{$UserInfo[CompanyName]}{else}无{/if}
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    年检到期日:
                                </div>
                                <div class="cont">
                                    {if !empty($UserInfo[AnnualDueDate])}{$UserInfo[AnnualDueDate]}{else}无{/if}
                                </div>
                            </div>
                            <div class="line-img">
                                <div class="if">
                                    律师资格证:
                                </div>
                                <div class="cont">
                                    <div class="bx">
                                        <div class="img-wrap">
                                            {if !empty($UserInfo[LawyerCertificatePhoto])}
                                            <img src="{$UserInfo[LawyerCertificatePhoto]}" height="100" width="150" alt="">
                                            {/if}
                                        </div>
                                        律师资格证照片页
                                    </div>
                                    <div class="bx">
                                        <div class="img-wrap">
                                            {if !empty($UserInfo[LawyerCertificateYear])}
                                            <img src="{$UserInfo[LawyerCertificateYear]}" height="100" width="150" alt="">
                                            {/if}
                                        </div>
                                        律师资格证年检页
                                    </div>
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    所在地区:
                                </div>
                                <div class="cont">
                                    {$UserInfo[Province]}-{$UserInfo[City]}-{$UserInfo[Area]}
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    详细地址:
                                </div>
                                <div class="cont">
                                    {if !empty($UserInfo[Address])}{$UserInfo[Address]}{else}无{/if}
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    QQ号码:
                                </div>
                                <div class="cont">
                                    {if !empty($UserInfo[QQ])}{$UserInfo[QQ]}{else}无{/if}
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    邮箱地址:
                                </div>
                                <div class="cont">
                                    {if !empty($UserInfo['E-Mail'])}{$UserInfo['E-Mail']}{else}无{/if}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="to-opt">
                    <div class="cont">
                        <button type="button" name="edit" onclick="javascript:window.location.href='/memberlawyer/editinfo/'">修改信息</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{template Footer}
</body>
</html>
