{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/personCenter.css">
<link rel="stylesheet" href="{echo JsURL}/debt/lib/cropper/dist/cropper.css">
<link rel="stylesheet" href="{echo JsURL}/debt/lib/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.css">
<div class="person-center">
    <div class="wrap">
        <div class="current-loc">
            <img src="/Uploads/Debt/imgs/current_loc.png" alt="">
            当前位置 > 个人中心 > <span>个人信息</span>
        </div>
        <div class="menu-cont-wrap">
            {template MemberPersonLeft}
            <div class="show-info">
                <div class="info-cont">
                    <div class="info-m">
                        <div class="head-portrait">
                            <img src="{$UserInfo['Avatar']}" alt="">
                        </div>
                        <div class="info-blk">
                            <div class="line">
                                会员ID:&nbsp;&nbsp;LWG{$User[UserID]}
                            </div>
                            <div class="line">
                                注册时间:&nbsp;&nbsp;{echo date("Y-m-d H:i:s",$User[AddTime])}
                            </div>
                            <div class="line">
                                注册IP:&nbsp;&nbsp;{$User[AddIP]}
                            </div>
                        </div>
                        <div class="info-blk">
                            <div class="line">
                                账号等级:&nbsp;&nbsp;{$Identity[$UserInfo[Identity]]}({$IdentityStatus[$UserInfo[IdentityState]]})
                            </div>
                            <div class="line">
                                最后登录:&nbsp;&nbsp;{echo date("Y-m-d H:i:s",$UserInfo[LastLogin])}
                            </div>
                            <div class="line">
                                上次登陆IP:&nbsp;&nbsp;{$UserInfo[IP]}
                            </div>
                        </div>
                    </div>
                    <div class="info-o">
                        <div class="line">
                            <div class="if">
                                手机号码:
                            </div>
                            <div class="cont">
                                {if $User[Mobile]!==''}{$User[Mobile]}{else}无{/if}
                            </div>
                        </div>
                        <div class="line">
                            <div class="if">
                                昵称:
                            </div>
                            <div class="cont">
                                {if $UserInfo[NickName]!==''}{$UserInfo[NickName]}{else}无{/if}
                            </div>
                        </div>
                        <div class="line">
                            <div class="if">
                                真实姓名:
                            </div>
                            <div class="cont">
                                {if $UserInfo[RealName]!==''}{$UserInfo[RealName]}{else}无{/if}
                            </div>
                        </div>
                        <div class="line">
                            <div class="if">
                                身份证号:
                            </div>
                            <div class="cont">
                                {if !empty($UserInfo[CardNum])}{$UserInfo[CardNum]}{else}无{/if}
                            </div>
                        </div>
                        {if !empty($UserInfo[CardPositive]) || !empty($UserInfo[CardNegative])}
                        <div class="line-img">
                            <div class="if">
                                证件照:
                            </div>
                            <div class="cont">
                                <div class="bx">
                                    <div class="img-wrap">
                                        <a class="grouped_elements" href="{$UserInfo[CardPositive]}" rel="group1"><img src="{$UserInfo[CardPositive]}" height="100" width="150" alt=""></a>
                                    </div>
                                    身份证正面照
                                </div>
                                <div class="bx">
                                    <div class="img-wrap">
                                        <a class="grouped_elements" href="{$UserInfo[CardNegative]}" rel="group1">
                                            <img src="{$UserInfo[CardNegative]}" height="100" width="150" alt=""></a>
                                    </div>
                                    身份证反面照
                                </div>
                                {if $UserInfo[Identity]==2}
                                <div class="bx">
                                    <div class="img-wrap">
                                        {if !empty($UserInfo[CardHold])}
                                        <a class="grouped_elements" href="{$UserInfo[CardHold]}" rel="group1"><img src="{$UserInfo[CardHold]}" height="100" width="150" alt=""></a>
                                        {/if}
                                    </div>
                                    手持身份证照
                                </div>
                                {/if}
                            </div>
                        </div>
                        {/if}
                        <div class="line">
                            <div class="if">
                                所在地区:
                            </div>
                            <div class="cont">
                                {$UserInfo[Province]}-{$UserInfo[City]}-{$UserInfo[Area]}
                            </div>
                        </div>
                        <div class="line">
                            <div class="if">
                                详细地址:
                            </div>
                            <div class="cont">
                                {if !empty($UserInfo[Address])}{$UserInfo[Address]}{else}无{/if}
                            </div>
                        </div>
                        <div class="line">
                            <div class="if">
                                QQ号码:
                            </div>
                            <div class="cont">
                                {if !empty($UserInfo[QQ])}{$UserInfo[QQ]}{else}无{/if}
                            </div>
                        </div>
                        <div class="line">
                            <div class="if">
                                邮箱地址:
                            </div>
                            <div class="cont">
                                {if !empty($UserInfo['E-Mail'])}{$UserInfo['E-Mail']}{else}无{/if}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="to-opt">
                {if $UserInfo[Identity]==1 || $UserInfo[Identity]==2}
                <div class="cont">
                    <button type="button" name="edit" onclick="javascript:window.location.href='/memberperson/editinfo/'">修改信息</button>
                </div>
                {elseif $UserInfo[Identity]==0}
                <div class="for-auth">
                    未认证，前往<button type="button" onclick="javascript:window.location.href='/member/registerthree/'">完善认证信息</button>
                </div>
                {/if}
            </div>
        </div>
    </div>
</div>
</div>
{template Footer}
<script src='{echo JsURL}/debt/lib/cropper/dist/cropper.js'></script>
<script src='{echo JsURL}/debt/personalCenterInfo.js'></script>
<script src='{echo JsURL}/debt/lib/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.pack.js'></script>
<script>
    $(function(){
        /*
         图片预览
         * */
        $(".grouped_elements").fancybox({
            showCloseButton:true,
            showNavArrows:true
        });

    });
</script>
</body>
</html>