<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="文贵网平台">
    <meta name="keywords" content="催收平台,催收系统，债务清算,债务追讨,欠款催收,债务案源">
    <title>{$Title}</title>
    <link rel="stylesheet" href="{echo CssURL}/debt/common.css">
    <link rel="stylesheet" href="{echo CssURL}/debt/login.css">
</head>
<body>

<div class="login-page">
    <div class="login-logo">
      <a href="{echo WEB_MAIN_URL}"><img src="/Uploads/Debt/imgs/com_logo.png" alt=""></a>
    </div>
    <div class="login" id="login">
        <div class="form-login">
            <div class="hd">
                会员登录
            </div>
            <div class="cont">
                <div class="line">
                    <div class="info">
                        手 机
                    </div>
                    <div class="det">
                        <input type="text" name="phoneNumber" onblur="validateErr('phoneNumber', this)" class="input-1" placeholder="请输入您的手机号">
                    </div>
                    <div class="error-hint">
                        请输入手机号！
                    </div>
                    <div class="error-hint">
                        您输入的手机号有误！
                    </div>
                </div>
                <div class="line">
                    <div class="info">
                        密 码
                    </div>
                    <div class="det">
                        <input type="password" name="pass" maxlength="20" onblur="validateErr('pass', this)" class="input-1" placeholder="请输入密码">
                    </div>
                    <div class="error-hint">
                        请输入密码!
                    </div>
                    <div class="error-hint">
                        密码不能少于6位！
                    </div>
                    <div class="error-hint">
                        密码格式有误！
                    </div>
                </div>
                <div class="line" id="code" data-show="0">
                    <div class="info">
                        验证码
                    </div>
                    <div class="det">
                        <input type="text" name="code" class="input-3" maxlength="4" onblur="validateErr('code', this)"  placeholder="验证码">
                        <img src="/code/pic.jpg" onclick="this.src='/code/pic.jpg?'+Math.random();" class="v-code" alt="">
                    </div>
                    <div class="error-hint">
                        请输入验证码!
                    </div>
                </div>
                <div class="forget-pass">
                    <span onclick="go('/member/findpasswd/')">忘记密码？</span>
                </div>
                <div class="line">
                    <div class="info">
                    </div>
                    <div class="det">
                        <button type="button" class="btn-login" onclick="login()" name="button">登 录</button>
                    </div>
                </div>
                <div class="hav">
                    还没有账号 <a href="/member/register/"><span>立即注册</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="login-copyright">
      <p>版权所有：隆文贵 Copyright2017</p>
      <p>闽ICP备16032488号-1</p>
    </div>
</div>
<script src='{echo JsURL}/debt/lib/jquery/jquery.min.js'></script>
<script src='{echo JsURL}/debt/lib/jquery-tmpl/dist/jquery.tmpl.min.js'></script>
<script src='{echo JsURL}/debt/lib/jquery.placeholder/jquery.placeholder.min.js'></script>
<script src='{echo JsURL}/debt/lib/layer/src/layer.js'></script>
<script src='{echo JsURL}/debt/common.js'></script>
<script type="text/javascript" src="{echo JsURL}/debt/login.js"></script>
</body>
</html>
