{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/personCenter.css">
<div class="person-center">
    <div class="wrap">
        <div class="current-loc">
            <img src="/Uploads/Debt/imgs/current_loc.png" alt="">
            当前位置 > 个人中心 > <span>事务所信息</span>
        </div>
        <div class="menu-cont-wrap">
            {template MemberLawFirmLeft}
                <div class="show-info">
                    <div class="info-cont">
                        <div class="info-m">
                            <div class="head-portrait">
                                <img src="{$UserInfo[Avatar]}" alt="">
                            </div>
                            <div class="info-blk">
                                <div class="line">
                                    会员ID:&nbsp;  LWG{$User[UserID]}
                                </div>
                                <div class="line">
                                    注册时间:&nbsp;&nbsp;{echo date("Y-m-d H:i:s",$User[AddTime])}
                                </div>
                                <div class="line">
                                    注册IP:&nbsp;&nbsp;{$User[AddIP]}
                                </div>
                            </div>
                            <div class="info-blk">
                                <div class="line">
                                    账号等级:&nbsp;&nbsp;{$Identity[$UserInfo[Identity]]}({$IdentityStatus[$UserInfo[IdentityState]]})
                                </div>
                                <div class="line">
                                    最后登录:&nbsp;&nbsp;{echo date("Y-m-d H:i:s",$UserInfo[LastLogin])}
                                </div>
                                <div class="line">
                                    上次登陆IP:&nbsp; {$UserInfo[IP]}
                                </div>
                            </div>
                        </div>
                        <div class="info-o">
                            <div class="line">
                                <div class="if">
                                    事务所名称:
                                </div>
                                <div class="cont">
                                    {if !empty($UserInfo[CompanyName])}{$UserInfo[CompanyName]}{else}无{/if}
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    手机电话:
                                </div>
                                <div class="cont">
                                    {if !empty($User[Mobile])}{$User[Mobile]}{else}无{/if}
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    法定代表人:
                                </div>
                                <div class="cont">
                                    {if !empty($UserInfo[RealName])}{$UserInfo[RealName]}{else}无{/if}
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    社会信用代码:
                                </div>
                                <div class="cont">
                                    {if !empty($UserInfo[CreditCode])}{$UserInfo[CreditCode]}{else}无{/if}
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    年检到期日:
                                </div>
                                <div class="cont">
                                    {if !empty($UserInfo[AnnualDueDate])}{$UserInfo[AnnualDueDate]}{else}无{/if}
                                </div>
                            </div>
                            <div class="line-img">
                                <div class="if">
                                    营业执照:
                                </div>
                                <div class="cont">
                                    <div class="bx">
                                        <div class="img-wrap">
                                            <a class="company_elements" href="{$UserInfo[BusinessImage]}" rel="company"><img src="{$UserInfo[BusinessImage]}" alt=""></a>
                                        </div>
                                        营业执照副本
                                    </div>
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    所在地区:
                                </div>
                                <div class="cont">
                                    {$UserInfo[Province]}-{$UserInfo[City]}-{$UserInfo[Area]}
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    详细地址:
                                </div>
                                <div class="cont">
                                    {if !empty($UserInfo[Address])}{$UserInfo[Address]}{else}无{/if}
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    代理人姓名:
                                </div>
                                <div class="cont">
                                    {if !empty($UserInfo[Agent][Name])}{$UserInfo[Agent][Name]}{else}无{/if}
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    代理人身份证号:
                                </div>
                                <div class="cont">
                                    {if !empty($UserInfo[Agent][IdNum])}{$UserInfo[Agent][IdNum]}{else}无{/if}
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    代理人手机号:
                                </div>
                                <div class="cont">
                                    {if !empty($UserInfo[Agent][Phone])}{$UserInfo[Agent][Phone]}{else}无{/if}
                                </div>
                            </div>
                            <div class="line-img">
                                <div class="if">
                                    证件照:
                                </div>
                                <div class="cont">
                                    <div class="bx">
                                        <div class="img-wrap">
                                            {if !empty($UserInfo[Agent][Images][0])}
                                            <a class="idCard_elements" href="{$UserInfo[Agent][Images][0]}" rel="idCard"><img src="{$UserInfo[Agent][Images][0]}" height="100" width="150" alt=""></a>
                                            {/if}
                                        </div>
                                        身份证正面照
                                    </div>
                                    <div class="bx">
                                        <div class="img-wrap">
                                            {if !empty($UserInfo[Agent][Images][1])}
                                            <a class="idCard_elements" href="{$UserInfo[Agent][Images][1]}" rel="idCard"><img src="{$UserInfo[Agent][Images][1]}" height="100" width="150" alt=""></a>
                                            {/if}
                                        </div>
                                        身份证反面照
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="to-opt">
                    <div class="cont">
                        <button type="button" name="edit" onclick="javascript:window.location.href='/memberlawfirm/editinfo/'">修改信息</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{template Footer}