{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/lawyerToAuth.css">
<link rel="stylesheet" href="{echo JsURL}/debt/lib/dcalendar/dcalendar.picker.css">
<link rel="stylesheet" href="{echo JsURL}/debt/lib/cropper/dist/cropper.css">
<div class="debtor-auth">
    <div class="wrap">
        <div class="bx-wraper" >
            <div class="tl">
                <div class="tb act" data-tab="lawer">
                    律师（个人）
                </div>
                <div class="tb" data-tab="lawers">
                    律师事务所
                </div>
            </div>
            <!--律师（个人）-->
            <div class="cont tab-lawer" data-tab="lawer">
                <div class="role-img">
                    <img src="/Uploads/Debt/imgs/debtor_lawer.png" alt="">
                    <br><br>律师（个人）
                </div>
                <div class="info-form">
                    <div class="line">
                        <div class="if">
                            真实姓名<span class="form-need">*</span>
                        </div>
                        <div class="cont-in">
                            <input type="text" maxlength="12" name="name" onblur="validateChinese(this)" value="">
                        </div>
                    </div>
                    <div class="line">
                        <div class="if">
                            身份证号<span class="form-need">*</span>
                        </div>
                        <div class="cont-in">
                            <input type="text" name="idNum" onblur="validateIDNumber(this, true)" value="">
                        </div>
                    </div>
                    <div class="line">
                        <div class="if">
                            执业证号<span class="form-need">*</span>
                        </div>
                        <div class="cont-in">
                            <input type="text" name="jobNo" onblur="validateLawJobNo(this)" value="">
                        </div>
                    </div>
                    <div class="line">
                        <div class="if">
                            所属事务所<span class="form-need">*</span>
                        </div>
                        <div class="cont-in">
                            <input type="text" onblur="validateChinese(this)" name="office" value="">
                        </div>
                    </div>
                    <div class="line">
                        <div class="if">
                            年检到期日<span class="form-need">*</span>
                        </div>
                        <div class="cont-in">
                            <input id='mydatepicker' type='text'/> 
                        </div>
                    </div>
                    <div class="line-1">
                        <div class="if">
                            律师资格证<span class="form-need">*</span>
                        </div>
                        <div class="cont-in">
                            <div class="bx-1-1">
                                <div class="i-wrap"></div>
                                <label>
                                    <span>+ 律师资格证照片页</span>
                                    <input type="file" onchange="imageUpload(this)" name="avatar_file" data-size="100" data-msg="100kb" data-ratio="1.45" style="display:none;" value="">
                                </label>
                            </div>
                            <div class="bx-1-1">
                                <div class="i-wrap"></div>
                                <label>
                                    <span>+ 律师资格证年检页</span>
                                    <input type="file" onchange="imageUpload(this)" name="avatar_file" data-size="100" data-msg="100kb" data-ratio="1.45" style="display:none;" value="">
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="line">
                        <div class="if">
                            省份<span class="form-need">*</span>
                        </div>
                        <div class="cont-in">
                            <div class="p-dropdown">
                                <label type="checkbox">
                                    <span>请选择</span>
                                    <i></i>
                                    <input type="checkbox" name="dd_province" value="">
                                    <ul></ul>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="line">
                        <div class="if">
                            城市<span class="form-need">*</span>
                        </div>
                        <div class="cont-in">
                            <div class="c-dropdown">
                                <label type="checkbox">
                                    <span>请选择</span>
                                    <i></i>
                                    <input type="checkbox" name="dd_city" value="">
                                    <ul></ul>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="line">
                        <div class="if">
                            区县<span class="form-need">*</span>
                        </div>
                        <div class="cont-in">
                            <div class="a-dropdown">
                                <label type="checkbox">
                                    <span>请选择</span>
                                    <i></i>
                                    <input type="checkbox" name="dd_area" value="">
                                    <ul></ul>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="line">
                        <div class="if">
                            详细地址
                        </div>
                        <div class="cont-in">
                            <textarea name="areaDetail" placeholder="不超过50个字" maxlength="50" rows="2" cols="80"></textarea>
                        </div>

                    </div>
                    <div class="line">
                        <div class="if">
                            QQ<span class="form-need">*</span>
                        </div>
                        <div class="cont-in">
                            <input type="text" onblur="validateQQ(this, false)" name="qq" value="">
                        </div>
                    </div>
                    <div class="line">
                        <div class="if">
                            邮箱
                        </div>
                        <div class="cont-in">
                            <input type="text" onblur="validateEmail(this, false)" name="email" value="">
                        </div>
                    </div>

                    <div class="line">
                        <div class="if">
                        </div>
                        <div class="cont-in">
                            <button type="button" id="lawer_save" name="button">保 存</button>
                        </div>
                    </div>
                </div>
            </div>
<!--律师事务所-->
            <div class="cont tab-lawers" data-tab="lawers">
                <div class="role-img">
                    <img src="/Uploads/Debt/imgs/debtor_lawer.png" alt="">
                    <br><br>律师事务所
                </div>
                <div class="info-form">
                    <div class="line">
                        <div class="if">
                            事务所名称<span class="form-need">*</span>
                        </div>
                        <div class="cont-in">
                            <input type="text" name="name" onblur="validateChinese(this)" value="">
                        </div>
                    </div>
                    <div class="line">
                        <div class="if">
                            手机电话<span class="form-need">*</span>
                        </div>
                        <div class="cont-in">
                            <input type="text" name="phone" disabled onblur="validatePhone(this,true)" value="{$_SESSION['Account']}">
                        </div>
                    </div>
                    <div class="line">
                        <div class="if">
                            法定代表人<span class="form-need">*</span>
                        </div>
                        <div class="cont-in">
                            <input type="text" name="lawPerson" onblur="validateChinese(this)" value="">
                        </div>
                    </div>
                    <div class="line">
                        <div class="if">
                            信用代码<span class="form-need">*</span>
                        </div>
                        <div class="cont-in">
                            <input type="text" name="creditNum" onblur="validateCreditNum(this)" value="">
                        </div>
                    </div>
                    <div class="line">
                        <div class="if">
                            年检到期日<span class="form-need">*</span>
                        </div>
                        <div class="cont-in">
                            <input id='mydatepicker2' type='text'/> 
                        </div>
                    </div>
                    <div class="line-1 license">
                        <div class="if">
                            营业执照<span class="form-need">*</span>
                        </div>
                        <div class="cont-in">
                            <div class="bx-1-1">
                                <div class="i-wrap"></div>
                                <label>
                                    <span>+ 营业执照副本</span>
                                    <input type="file" onchange="imageUpload(this)" name="avatar_file" data-size="100" data-msg="100kb" data-ratio="1.45" style="display:none;" value="">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="line">
                        <div class="if">
                            擅长方向<span class="form-need">*</span>
                        </div>
                        <div class="cont-in">
                            <div class="m-dropdown" style="width: 156px; margin-left: 0;">
                                <label type="checkbox">
                                    <span data-id=""></span>
                                    <i></i>
                                    <input type="checkbox" name="goodAt" value="">
                                    <ul>
                                        <li data-id="" data-name="">贷款不还</li>
                                        <li data-id="" data-name="">婚姻财产</li>
                                        <li data-id="" data-name="">其它</li>
                                    </ul>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="line">
                        <div class="if">
                            省份<span class="form-need">*</span>
                        </div>
                        <div class="cont-in">
                            <div class="p-dropdown">
                                <label type="checkbox">
                                    <span>请选择</span>
                                    <i></i>
                                    <input type="checkbox" name="dd_province" value="">
                                    <ul></ul>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="line">
                        <div class="if">
                            城市<span class="form-need">*</span>
                        </div>
                        <div class="cont-in">
                            <div class="c-dropdown">
                                <label type="checkbox">
                                    <span>请选择</span>
                                    <i></i>
                                    <input type="checkbox" name="dd_city" value="">
                                    <ul></ul>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="line">
                        <div class="if">
                            区县<span class="form-need">*</span>
                        </div>
                        <div class="cont-in">
                            <div class="a-dropdown">
                                <label type="checkbox">
                                    <span>请选择</span>
                                    <i></i>
                                    <input type="checkbox" name="dd_area" value="">
                                    <ul></ul>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="line">
                        <div class="if">
                            详细地址
                        </div>
                        <div class="cont-in">
                            <textarea name="areaDetail" placeholder="不超过50个字" maxlength="50" rows="2" cols="80"></textarea>
                        </div>

                    </div>
                    <div class="line">
                        <div class="if">
                            代理人姓名<span class="form-need">*</span>
                        </div>
                        <div class="cont-in">
                            <input type="text" maxlength="12" onblur="validateChinese(this)" name="agentName" value="">
                        </div>
                    </div>
                    <div class="line">
                        <div class="if">
                            代理人身份证号<span class="form-need">*</span>
                        </div>
                        <div class="cont-in">
                            <input type="text"  onblur="validateIDNumber(this, true)(this)" name="agentIdNum" value="">
                        </div>
                    </div>
                    <div class="line">
                        <div class="if">
                            代理人手机号<span class="form-need">*</span>
                        </div>
                        <div class="cont-in">
                            <input type="text" name="agentPhone" onblur="validateMobilePhone(this,true)" value="">
                        </div>
                    </div>
                    <div class="line-1 agentPic">
                        <div class="if">
                            证件照<span class="form-need">*</span>
                        </div>
                        <div class="cont-in">
                            <div class="bx-1">
                                <div class="i-wrap"></div>
                                <label>
                                    <span>+ 身份证正面</span>
                                    <input type="file" onchange="imageUpload(this)" name="avatar_file" data-size="100" data-msg="100kb" data-ratio="1.45" style="display:none;" value="">
                                </label>
                            </div>
                            <div class="bx-1">
                                <div class="i-wrap"></div>
                                <label>
                                    <span>+ 身份证反面</span>
                                    <input type="file" onchange="imageUpload(this)" name="avatar_file" data-size="100" data-msg="100kb" data-ratio="1.45" style="display:none;" value="">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="line">
                        <div class="if">
                        </div>
                        <div class="cont-in">
                            <button type="button" id="lawers_save" name="button">保 存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{template Footer}
<script src='{echo JsURL}/debt/lib/cropper/dist/cropper.js'></script>
<script src='{echo JsURL}/debt/lib/dcalendar/dcalendar.picker.js'></script>
<script src='{echo JsURL}/debt/lawyerToAuth.js'></script>
</body>
</html>