{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/personCenter.css">
<link rel="stylesheet" href="{echo JsURL}/debt/lib/cropper/dist/cropper.css">
<div class="person-center">
    <div class="wrap">
        <div class="current-loc">
            <img src="/Uploads/Debt/imgs/current_loc.png" alt="">
            当前位置 > 个人中心 > <span>企业用户信息</span>
        </div>
        <div class="menu-cont-wrap">
            {template MemberCompanyLeft}
            <div class="show-info">
                <div class="info-cont">
                    <div class="info-m">
                        <div class="head-portrait">
                            <img src="{$UserInfo['Avatar']}" alt="">
                        </div>
                        <div class="info-blk">
                            <div class="line">
                                会员ID:&nbsp;&nbsp;LWG{$User[UserID]}
                            </div>
                            <div class="line">
                                注册时间:&nbsp;&nbsp;{echo date("Y-m-d H:i:s",$User[AddTime])}
                            </div>
                            <div class="line">
                                注册IP:&nbsp;&nbsp;{$User[AddIP]}
                            </div>
                        </div>
                        <div class="info-blk">
                            <div class="line">
                                账号等级:&nbsp;&nbsp;{$Identity[$UserInfo[Identity]]}({$IdentityStatus[$UserInfo[IdentityState]]})
                            </div>
                            <div class="line">
                                最后登录:&nbsp;&nbsp;{echo date("Y-m-d H:i:s",$UserInfo[LastLogin])}
                            </div>
                            <div class="line">
                                上次登陆IP:&nbsp;&nbsp;{$UserInfo[IP]}
                            </div>
                        </div>
                    </div>
                    <div class="info-o">
                        <div class="line">
                            <div class="if">
                                机构名称:
                            </div>
                            <div class="cont">
                                {$UserInfo[CompanyName]}
                            </div>
                        </div>
                        <div class="line">
                            <div class="if">
                                法定代表人:
                            </div>
                            <div class="cont">
                                {$UserInfo[RealName]}
                            </div>
                        </div>
                        <div class="line">
                            <div class="if">
                                固定电话:
                            </div>
                            <div class="cont">
                                {$UserInfo[FixedPhone]}
                            </div>
                        </div>
                        <div class="line">
                            <div class="if">
                                信用代码:
                            </div>
                            <div class="cont">
                                {$UserInfo[CreditCode]}
                            </div>
                        </div>
                        <div class="line-img">
                            <div class="if">
                                营业执照:
                            </div>
                            <div class="cont">
                                <div class="bx">
                                    <div class="img-wrap">
                                        {if !empty($UserInfo[BusinessImage])}
                                        <img src="{$UserInfo[BusinessImage]}" height="100" width="150" alt="">
                                        {/if}
                                    </div>
                                    营业执照副本
                                </div>
                            </div>
                        </div>
                        <div class="line">
                            <div class="if">
                                所在地区:
                            </div>
                            <div class="cont">
                                {$UserInfo[Province]}-{$UserInfo[City]}-{$UserInfo[Area]}
                            </div>
                        </div>
                        <div class="line">
                            <div class="if">
                                详细地址:
                            </div>
                            <div class="cont">
                                {if !empty($UserInfo[Address])}{$UserInfo[Address]}{else}无{/if}
                            </div>
                        </div>
                        <div class="line">
                            <div class="if">
                                代理人姓名:
                            </div>
                            <div class="cont">
                                {if !empty($UserInfo[PublicAgent][agentName])}{$UserInfo[PublicAgent][agentName]}{else}无{/if}
                            </div>
                        </div>
                        <div class="line">
                            <div class="if">
                                代理人身份证号:
                            </div>
                            <div class="cont">
                                {if !empty($UserInfo[PublicAgent][agentIdNum])}{$UserInfo[PublicAgent][agentIdNum]}{else}无{/if}
                            </div>
                        </div>
                        <div class="line">
                            <div class="if">
                                代理人手机号:
                            </div>
                            <div class="cont">
                                {$User[Mobile]}
                            </div>
                        </div>
                        <div class="line-img">
                            <div class="if">
                                证件照:
                            </div>
                            <div class="cont">
                                <div class="bx">
                                    <div class="img-wrap">
                                        {if !empty($UserInfo[PublicAgent][registrantImages][0])}
                                        <img src="{$UserInfo[PublicAgent][registrantImages][0]}" height="100" width="150" alt="">
                                        {/if}
                                    </div>
                                    身份证正面照
                                </div>
                                <div class="bx">
                                    <div class="img-wrap">
                                        {if !empty($UserInfo[PublicAgent][registrantImages][1])}
                                        <img src="{$UserInfo[PublicAgent][registrantImages][1]}" height="100" width="150" alt="">
                                        {/if}
                                    </div>
                                    身份证反面照
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="to-opt">
                <div class="cont">
                    <button type="button" name="edit" onclick="javascript:window.location.href='/membercompany/editinfo/'">修改信息</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{template Footer}
<script src='{echo JsURL}/debt/lib/cropper/dist/cropper.js'></script>
<script src='{echo JsURL}/debt/personalCenterInfo.js'></script>
</body>
</html>