{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/personCenter.css">
<div class="person-center">
    <div class="wrap">
        <div class="current-loc">
            <img src="/Uploads/Debt/imgs/current_loc.png" alt="">
            当前位置 > 个人中心 > <span>范本下载</span>
        </div>
        <div class="menu-cont-wrap">
            {template MemberPersonLeft}
                <div class="tab-hd">
                    <div class="tb act">
                        范本下载
                    </div>
                </div>

                <div class="info-cont">
                    <dl class="cont-select">
                        <dt>下载列表：</dt>
                    </dl>
                    <div class="address-manage">
                        <div class="address-list">
                            <div class="table">
                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <td width="90">范本名称</td>
                                        <td width="200">上传时间</td>
                                        <td width="100">查看</td>
                                        <td width="100">操作</td>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr>
                                        <td>债务催收合同</td>
                                        <td>2017-02-25</td>
                                        <td><a class="link" href="#">详情&gt;&gt;</a></td>
                                        <td><a class="underline" href="#" title="">下载范本</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{template Footer}