{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/memberLawHelp.css">
<div class="set-debt">
    <div class="wrap">
        <div class="current-loc">
            <img src="/Uploads/Debt/imgs/current_loc.png" alt="">
            <span>当前位置 : <a>个人中心</a> > <span class="cur">法律援助</span></span>
        </div>
        <div class="form-wrap">
            <div class="box">

                <div class="t">
                    <img src="/Uploads/Debt/imgs/name_icon.png" alt="">
                    <span>设置方案名称</span>
                </div>
                <div class="c">
                    <div class="blo">
                        <div class="line" style="border-bottom: none;">
                            <div class="g-info">
                                方案名称:
                            </div>
                            <div class="g-det">
                                {$LawfirmAidInfo['CaseName']}
                            </div>
                        </div>
                        <div class="form-line">
                            <div class="form-lab">
                                负责人姓名:
                            </div>
                            <div class="form-control">
                                <span class="text-primary">{$LawfirmAidInfo[ChargeName]}</span>
                            </div>
                            <div class="form-lab ml-20">
                                负责人电话:
                            </div>
                            <div class="form-control">
                                <span class="text-primary">{$LawfirmAidInfo[ChargeMobile]}</span>
                            </div>
                        </div>
                        <div class="form-line">

                            <div class="form-lab fl">
                                案件擅长类型:
                            </div>
                            <div class="form-control m-checkbox-group disabled" id="goodAtBox" style="width: 600px;">
                                <div class="check-all m-checkbox" onclick="goodAtCheck(this)">
                                    <label type="checkbox">
                                        <input type="checkbox"  name="goodAtAll" value="all">
                                        <i></i>全部
                                    </label>
                                </div>
                                {$String}
                            </div>
                        </div>
                    </div>
                    <!--<script type="text/x-jquery-tmpl" id="goodAt_temp">-->
                    <!--{loop $Direction $lists}-->
                        <!--<div class="m-checkbox">-->
                            <!--<label type="checkbox">-->
                                <!--<input type="checkbox" name="goodAt" value="{$lists[GoodID]}">-->
                                <!--<i></i>{$lists[GoodName]}-->
                            <!--</label>-->
                        <!--</div>-->
                        <!--{/loop}-->
                    <!--</script>-->
                </div>

                <div class="t">
                    <img src="/Uploads/Debt/imgs/area_icon.png" alt="">
                    <span>设置地区</span>
                </div>
                <div class="c">
                    <div class="blo">
                        {loop $LawfirmAidInfo['Area'] $lists}
                        <div class="line">
                            <div class="g-info">
                                业务区域:
                            </div>
                            <div class="g-det">
                                <span>{$lists[province]}-{$lists[city]}-{$lists[area]}</span>
                            </div>
                        </div>
                        {/loop}
                    </div>
                </div>

                <div class="form-line area-more">
                    <label for="" class="form-lab fl">更多介绍：</label>
                    <div class="form-control">
                        <span class="text-primary form-txt">{$LawfirmAidInfo[Content]}</span>
                    </div>
                </div>

                <div class="c mb-100"></div>
            </div>
        </div>
    </div>
    {template Footer}
    <script src='{echo JsURL}/debt/memberLawHelp.js'></script>