<div class="menu-bar">
    <img src="{$UserInfo[Avatar]}" class="u-img" alt="">
    <div class="nick-name">
        {$UserInfo[NickName]}
    </div>
    <button type="button" name="button">{if $UserInfo['IdentityState']==3}已认证{else}未认证{/if}</button>
    <div class="menu-level-1" id="menu_0" data-open="0" can-down='1'>
        <img src="/Uploads/Debt/imgs/company_info.png" class="i-left" alt="">
        企业资料
        <img src="/Uploads/Debt/imgs/arrow_tri_down.png" class="i-right" alt="">
    </div>
    <div class="menu-level-2-wrap" data-for="menu_0">
        <div class="menu-level-2 {if $Nav=='memberfirm' || $Nav=='changemobile' || $Nav=='editpassword'}menu-level-2-act{/if}" onclick="go('/memberfirm/')">企业信息</div>
        <div class="menu-level-2 {if $Nav=='wallet'}menu-level-2-act{/if}" onclick="go('/member/wallet/')">我的钱包</div>
        <div class="menu-level-2 {if $Nav=='address'}menu-level-2-act{/if}" onclick="go('/member/address/')">收货地址</div>
    </div>
    <div class="menu-level-1" id="menu_1" data-open="0" can-down='1'>
        <img src="/Uploads/Debt/imgs/debt_manage.png" class="i-left" alt="">
        债权管理
        <img src="/Uploads/Debt/imgs/arrow_tri_down.png" class="i-right" alt="">
    </div>
    <div class="menu-level-2-wrap" data-for="menu_1">
        <div class="menu-level-2 {if $Nav=='applydebtorder'}menu-level-2-act{/if}" onclick="go('/memberfirm/applydebtorder/')">
            申请的债权
        </div>
        <div class="menu-level-2 {if $Nav=='creditorder'}menu-level-2-act{/if}" onclick="go('/memberfirm/creditorder/')">债权接单</div>
        <div class="menu-level-2">
            浏览过的债权
        </div>
    </div>
    <div class="menu-level-1 {if $Nav=='systemmessage'}menu-level-1-act{/if}" onclick="go('/member/systemmessage/')">
        <img src="/Uploads/Debt/imgs/system_info.png" class="i-left" alt="">
        系统信息
    </div>
    <div class="menu-level-1 {if $Nav=='advice'}menu-level-1-act{/if}" onclick="go('/member/advice/')">
        <img src="/Uploads/Debt/imgs/suggest.png" class="i-left" alt="">
        投诉建议
    </div>
</div>
<div class="menu-cont">
    {if $Nav=='memberfirm' || $Nav=='editpassword' || $Nav=='changemobile'}
    <div class="tab-hd">
        <div class="tb {if $Nav=='memberfirm'}act{/if} " onclick="go('/memberfirm/')">
                企业信息
        </div>
        <div class="tb {if $Nav=='editpassword'}act{/if}"  onclick="go('/member/editpassword/')">
                修改密码
        </div>
        <div class="tb {if $Nav=='changemobile'}act{/if}" onclick="go('/member/changemobile/')">
                绑定手机
        </div>
    </div>
    {/if}
