<div class="menu-bar">
    <img src="{$UserInfo['Avatar']}" class="u-img" alt="">
    <div class="nick-name">
        {$UserInfo[NickName]}
    </div>
    <button type="button" name="button">{if $UserInfo['IdentityState']==3}已认证{else}未认证{/if}</button>
    <div class="menu-level-1" id="menu_0" data-open="0" can-down='1'>
        <img src="/Uploads/Debt/imgs/company_info.png" class="i-left" alt="">
        个人资料
        <img src="/Uploads/Debt/imgs/arrow_tri_down.png" class="i-right" alt="">
    </div>
    <div class="menu-level-2-wrap" data-for="menu_0">
        <div class="menu-level-2 {if $Nav=='memberperson' || $Nav=='changemobile' || $Nav=='editpassword'}menu-level-2-act{/if}" onclick="go('/memberperson/')">个人信息</div>
        <div class="menu-level-2 {if $Nav=='wallet'}menu-level-2-act{/if}" onclick="go('/member/wallet/')">我的钱包</div>
        <div class="menu-level-2 {if $Nav=='address'}menu-level-2-act{/if}" onclick="go('/member/address/')">收货地址</div>
    </div>
    {if $UserInfo[Identity]==0}
    <div class="menu-level-1 {if $Nav=='center'}menu-level-1-act{/if}" onclick="go('/member/center/')">
        <img src="/Uploads/Debt/imgs/user_center.png" class="i-left" alt="">
        用户中心
    </div>
    {/if}
    {if $UserInfo[Identity]==1 || $UserInfo[Identity]==2}
    <div class="menu-level-1" id="menu_1" data-open="0" can-down='1'>
        <img src="/Uploads/Debt/imgs/debt_manage.png" class="i-left" alt="">
        债权管理
        <img src="/Uploads/Debt/imgs/arrow_tri_down.png" class="i-right" alt="">
    </div>
    <div class="menu-level-2-wrap" data-for="menu_1">
      <div class="menu-level-2 {if $Nav=='bondlist' || $Nav=='rewordlist' || $Nav=='findteam'}menu-level-2-act{/if}" onclick="go('/memberperson/bondlist/')">我的债权</div>
      <div class="menu-level-2 {if $Nav=='debtlist'}menu-level-2-act{/if}" onclick="go('/memberperson/debtlist/')">我的负债</div>
      <div class="menu-level-2">浏览过的债务</div>
      <div class="menu-level-2" onclick="javascript:window.location.href='/reword/publish/'">发布悬赏</div>
    </div>
    <div class="menu-level-1" id="menu_11" data-open="0" can-down='1'>
        <img src="{echo CssURL}/debt/images/icon-assets.png" class="i-left" alt="">
        我的资产
        <img src="/Uploads/Debt/imgs/arrow_tri_down.png" class="i-right" alt="">
    </div>
    <div class="menu-level-2-wrap" data-for="menu_11">
        <div class="menu-level-2 {if $Nav=='assetlist'}menu-level-2-act{/if}" onclick="go('/member/assetlist/')">我发布的</div>
        <div class="menu-level-2 {if $Nav=='buyorderlist'}menu-level-2-act{/if}" onclick="go('/member/buyorderlist/')">已买到的</div>
        <div class="menu-level-2 {if $Nav=='sellorderlist'}menu-level-2-act{/if}" onclick="go('/member/sellorderlist/')">已卖出的</div>
    </div>
    <div class="menu-level-1" id="menu_2" data-open="0" can-down='1'>
        <img src="/Uploads/Debt/imgs/care.png" class="i-left" alt="">
        关注
        <img src="/Uploads/Debt/imgs/arrow_tri_down.png" class="i-right" alt="">
    </div>
    <div class="menu-level-2-wrap" data-for="menu_2">
      <div class="menu-level-2 {if $Nav=='focusdebtlist'}menu-level-2-act{/if}" onclick="go('/memberperson/focusdebtlist/')" >我关注的债务</div>
      <div class="menu-level-2" hidden>提前关注</div>
    </div>
    <div class="menu-level-1">
        <img src="/Uploads/Debt/imgs/download.png" class="i-left" alt="">
        范本下载
    </div>
    {/if}
    {if $UserInfo[Identity]==1}
    <div class="menu-level-1" onclick="upgradPersonRole()">
        <img src="/Uploads/Debt/imgs/cuikequanyi.png" class="i-left" alt="">
        催客权益
    </div>
    {/if}
    {if $UserInfo[Identity]==2}
    <div class="menu-level-1" id="menu_3" data-open="0" can-down='1' hidden>
        <img src="/Uploads/Debt/imgs/daili.png" class="i-left" alt="">
        代理
        <img src="/Uploads/Debt/imgs/arrow_tri_down.png" class="i-right" alt="">
    </div>
    <div class="menu-level-2-wrap" data-for="menu_3">
      <div class="menu-level-2">申请代理</div>
      <div class="menu-level-2">已代理区域</div>
    </div>
    <div class="menu-level-1" hidden>
        <img src="/Uploads/Debt/imgs/tuijian.png" class="i-left" alt="">
        推荐人/我的推荐人
    </div>
    <div class="menu-level-1" id="menu_4" data-open="0" can-down='1'>
        <img src="/Uploads/Debt/imgs/cuikequanyi.png" class="i-left" alt="">
        催客权益
        <img src="/Uploads/Debt/imgs/arrow_tri_down.png" class="i-right" alt="">
    </div>
    <div class="menu-level-2-wrap" data-for="menu_4">
      <div class="menu-level-2 {if $Nav=='applydebtorder'}menu-level-2-act{/if}" onclick="go('/memberperson/applydebtorder/')">申请的债权</div>
      <!--<div class="menu-level-2">寻找同城催客</div>-->
      <!--<div class="menu-level-2">联盟催客</div>-->
    </div>
    {/if}
    <div class="menu-level-1 {if $Nav=='systemmessage'}menu-level-1-act{/if}"  onclick="go('/member/systemmessage/')">
        <img src="/Uploads/Debt/imgs/system_info.png" class="i-left" alt="">
        系统信息
    </div>
    <div class="menu-level-1 {if $Nav=='advice'}menu-level-1-act{/if}" onclick="go('/member/advice/')">
        <img src="/Uploads/Debt/imgs/suggest.png" class="i-left" alt="">
        投诉建议
    </div>
</div>
<div class="menu-cont">
    {if $Nav=='memberperson' || $Nav=='editpassword' || $Nav=='changemobile'}
    <div class="tab-hd">
        <div class="tb {if $Nav=='memberperson'}act{/if}" onclick="go('/memberperson/')">
            个人信息
        </div>
        <div class="tb {if $Nav=='editpassword'}act{/if}"  onclick="go('/member/editpassword/')">
            修改密码
        </div>
        <div class="tb {if $Nav=='changemobile'}act{/if}" onclick="go('/member/changemobile/')">
            绑定手机
        </div>
    </div>
    {/if}
