{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/personCenter.css">
<div class="person-center">
    <div class="wrap">
        <div class="current-loc">
            <img src="/Uploads/Debt/imgs/current_loc.png" alt="">
            当前位置 > 个人中心 > <span>我的债权</span>
        </div>
        <div class="menu-cont-wrap">
            {template MemberLawyerLeft}
            <div class="tab-hd">
                <div class="tb act">
                    我的悬赏
                </div>
            </div>
            <div class="info-cont">
                <div class="cont-hd">
                    <span>已发布悬赏列表：</span>
                </div>
                <dl class="cont-select">
                    <dt>悬赏状态：</dt>
                    <dd onclick="go('/memberperson/rewordlist/')" {if $Status==0}class="cont-select-act"{/if}>全部</dd>
                    <dd onclick="go('/memberperson/rewordlist/?S=1')" {if $Status==1}class="cont-select-act"{/if}>未完成</dd>
                    <dd onclick="go('/memberperson/rewordlist/?S=2')" {if $Status==2}class="cont-select-act"{/if}>已完成</dd>
                </dl>
                {if $Data['Data']}
                <div class="clue">
                    <div class="clue-list">
                        {loop $Data['Data'] $lists}
                        <div class="list-details">
                            <div class="details-pt">
                                <div class="details-pt-big"><img src="{$lists['DefaultImage']}"></div>
                                {loop $lists[Image] $value}
                                <div class="details-pt-small"><img src="{$value}" alt="" /></div>
                                {/loop}
                            </div>
                            <div class="details-txt">
                                <div class="details-txt-cont">债务人名字：{$lists[DebtName]}<span>{if $lists[Type]==1}（找人）{elseif $lists[Type]==2}（找财产）{/if}</span></div>
                                <div class="details-txt-cont">债务人身份证：{$lists[DebtCard]}</div>
                                <div class="details-txt-cont">债务人地区：{$lists[Province]}-{$lists[City]}-{$lists[Area]}</div>
                                <div class="details-txt-cont">详细地址：{$lists[Address]}</div>
                                <div class="details-txt-cont">债务人电话： {$lists[DebtPhone]}</div>
                                <div class="details-txt-cont-last">债权人联系方式：{$lists[CreditorsPhone]}{if $lists['Status']==3}<button onclick="confirmReword('{$lists[ID]}')" type="button">完成</button>{/if}</div>
                            </div>
                            <!--已完成的悬赏，加水印-->
                            {if $lists['Status']==4}
                            <img class="details-over" src="/Uploads/Debt/imgs/over.png">
                            {/if}
                        </div>
                        {/loop}
                    </div>
                </div>
                {else}
                <div class="no-data">
                    <img src="/Uploads/Debt/imgs/no_data.png" alt="">
                </div>
                {/if}
            </div>
            {if $ShowPage}
            <div class="pagination-wrap">
                <div class="pagination fl-r" id="page_pagination">
                    {$ShowPage}
                </div>
            </div>
            {/if}
        </div>
    </div>
</div>
</div>
{template Footer}
<!-- <script src='{echo JsURL}/debt/personalCenterInfo.js'></script> -->
</body>
</html>