{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/personCenter.css">
<link rel="stylesheet" href="{echo JsURL}/debt/lib/dcalendar/dcalendar.picker.css">
<link rel="stylesheet" href="{echo JsURL}/debt/lib/cropper/dist/cropper.css">
<div class="person-center">
    <div class="wrap">
        <div class="current-loc">
            <img src="/Uploads/Debt/imgs/current_loc.png" alt="">
            当前位置 > 事务所资料  > <span>事务所信息</span>
        </div>
        <div class="menu-cont-wrap">
            {template MemberLawFirmLeft}
                <div class="show-info">
                    <div class="info-cont tab-lawers ">
                        <div class="info-m">
                            <div class="head-portrait">
                                <img src="{$UserInfo[Avatar]}" alt="">
                                <br>
                                <label>
                                    <span>更改头像</span>
                                    <input type="file" onchange="imageUpload(this, changeHeadImg)" name="avatar_file" data-size="100" data-msg="100kb" data-ratio="1" style="display:none;" value="">
                                </label>
                            </div>
                            <div class="info-blk">
                                <div class="line">
                                    会员ID:&nbsp;  LWG{$User[UserID]}
                                </div>
                                <div class="line">
                                    注册时间:&nbsp;&nbsp;{echo date("Y-m-d H:i:s",$User[AddTime])}
                                </div>
                                <div class="line">
                                    注册IP:&nbsp;&nbsp;{$User[AddIP]}
                                </div>
                            </div>
                            <div class="info-blk">
                                <div class="line">
                                    账号等级:&nbsp;&nbsp;{$Identity[$UserInfo[Identity]]}({$IdentityStatus[$UserInfo[IdentityState]]})
                                </div>
                                <div class="line">
                                    最后登录:&nbsp;&nbsp;{echo date("Y-m-d H:i:s",$UserInfo[LastLogin])}
                                </div>
                                <div class="line">
                                    上次登陆IP:&nbsp; {$UserInfo[IP]}
                                </div>
                            </div>
                        </div>
                        <div class="info-o">
                            <div class="line">
                                <div class="if">
                                    事务所名称:
                                </div>
                                <div class="cont">
                                    <input type="text" name="name" placeholder="请输入事务所名称" onblur="validateChinese(this)" value="{$UserInfo[CompanyName]}">
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    手机电话:
                                </div>
                                <div class="cont">
                                    <input type="text" name="phone" disabled placeholder="请输入电话号码" onblur="validatePhone(this,true)" value="{$User[Mobile]}">
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    法定代表人:
                                </div>
                                <div class="cont">
                                    <input type="text" placeholder="请输入代表人姓名" name="lawPerson" onblur="validateChinese(this)" value="{$UserInfo[RealName]}">
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    社会信用代码:
                                </div>
                                <div class="cont">
                                    <input type="text" placeholder="请输入信用代码" name="creditNum" onblur="validateCreditNum(this)" value="{$UserInfo[CreditCode]}">
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    年检到期日:
                                </div>
                                <div class="cont">
                                    <input type="text" id="mydatepicker2" placeholder="请输入年检到期日" value="{$UserInfo[AnnualDueDate]}">
                                </div>
                            </div>
                            <div class="line-img license">
                                <div class="if">
                                    营业执照<span class="form-need">*</span>
                                </div>
                                <div class="cont">
                                    <div class="bx">
                                        <div class="img-wrap">
                                            <img src="{$UserInfo[BusinessImage]}" alt="">
                                        </div>
                                        <label>
                                            <span>+ 营业执照副本</span>
                                            <input type="file" onchange="imageUpload(this)" name="avatar_file" data-size="100" data-msg="100kb" data-ratio="1.45" style="display:none;" value="">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    所在地区:
                                </div>
                                <div class="cont">
                                    <div class="p-dropdown">
                                        <label type="checkbox">
                                            <span data-id="{$UserInfo[Province]}">{$UserInfo[province]}</span>
                                            <i></i>
                                            <input type="checkbox" name="dd_province" value="">
                                            <ul></ul>
                                        </label>
                                    </div>
                                    <div class="c-dropdown">
                                        <label type="checkbox">
                                            <span data-id="{$UserInfo[City]}">{$UserInfo[city]}</span>
                                            <i></i>
                                            <input type="checkbox" name="dd_city" value="">
                                            <ul></ul>
                                        </label>
                                    </div>
                                    <div class="a-dropdown">
                                        <label type="checkbox">
                                            <span data-id="{$UserInfo[Area]}">{$UserInfo[area]}</span>
                                            <i></i>
                                            <input type="checkbox" name="dd_area" value="">
                                            <ul></ul>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    详细地址:
                                </div>
                                <div class="cont">
                                    <textarea name="areaDetail" placeholder="不超过50个字" maxlength="50" rows="2" cols="80">{$UserInfo[Address]}</textarea>
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    代理人姓名:
                                </div>
                                <div class="cont">
                                    <input type="text" placeholder="请输入代理人姓名" maxlength="12" onblur="validateChinese(this)" name="agentName" value="{$UserInfo[Agent][Name]}">
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    代理人身份证号:
                                </div>
                                <div class="cont">
                                    <input type="text" placeholder="请输入代理人身份证号" onblur="validateIDNumber(this, true)(this)" name="agentIdNum" value="{$UserInfo[Agent][IdNum]}">
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    代理人手机号:
                                </div>
                                <div class="cont">
                                    <input type="text" placeholder="请输入代理人手机号码" name="agentPhone" onblur="validateMobilePhone(this,true)" value="{$UserInfo[Agent][Phone]}">
                                </div>
                            </div>
                            <div class="line-img">
                                <div class="if">
                                    证件照
                                </div>
                                <div class="cont" id="agent_pic">
                                    <div class="bx">
                                        {if !empty($UserInfo[Agent][Images][0])}
                                        <div class="img-wrap">
                                            <img src="{$UserInfo[Agent][Images][0]}" alt="">
                                        </div>
                                        {/if}
                                        <label>
                                            <span>+ 身份证正面照</span>
                                            <input type="file" onchange="imageUpload(this)" name="avatar_file" data-size="100" data-msg="100kb" data-ratio="1.45" style="display:none;" value="">
                                        </label>
                                    </div>
                                    <div class="bx">
                                        {if !empty($UserInfo[Agent][Images][1])}
                                        <div class="img-wrap">
                                            <img src="{$UserInfo[Agent][Images][1]}" alt="">
                                        </div>
                                        {/if}
                                        <label>
                                            <span>+ 身份证反面照</span>
                                            <input type="file" onchange="imageUpload(this)" name="avatar_file" data-size="100" data-msg="100kb" data-ratio="1.45" style="display:none;" value="">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="to-opt">
                    <div class="cont">
                        <button type="button" id="lawers_save" name="edit" data-type="{$UserInfo[Identity]}">保存</button>
                        <button type="button" name="cancel"  onclick="window.history.go(-1);">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{template Footer}
<script src='{echo JsURL}/debt/lib/cropper/dist/cropper.js'></script>
<script src='{echo JsURL}/debt/lib/dcalendar/dcalendar.picker.js'></script>
<script src='{echo JsURL}/debt/lawersCenterInfo.js'></script>