{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/personCenter.css">
<div class="person-center">
    <div class="wrap">
        <div class="current-loc">
            <img src="/Uploads/Debt/imgs/current_loc.png" alt="">
            当前位置 > 个人中心 > <span>个人信息</span>
        </div>
        <div class="menu-cont-wrap">
            {if $_SESSION[Identity]==0 || $_SESSION[Identity]==1 || $_SESSION[Identity]==2}
            {template MemberPersonLeft}
            {elseif $_SESSION[Identity]==3}
            {template MemberFirmLeft}
            {elseif $_SESSION[Identity]==4}
            {template MemberLawyerLeft}
            {elseif $_SESSION[Identity]==5}
            {template MemberCompanyLeft}
            {elseif $_SESSION[Identity]==6}
            {template MemberLawFirmLeft}
            {/if}
            <div class="bind-phone">
                <div class="info">
                    已绑定手机： <span id="bind_phone">{$User[Mobile]}</span>
                </div>
                <div class="bx">
                    <div class="step-wrap">
                        <div class="step step-act">
                            1、验证手机
                        </div>
                        <div class="step-tri step-tri-act"></div>
                    </div>
                    <div class="step-wrap">
                        <div class="step-tri-pre"></div>
                        <div class="step">
                            2、更换手机
                        </div>
                        <div class="step-tri"></div>
                    </div>
                    <div class="step-wrap">
                        <div class="step-tri-pre"></div>
                        <div class="step">
                            3、完成
                        </div>
                    </div>
                </div>

                <div id="step_1">
                    <div class="line">
                        <div class="lab">
                            原手机
                        </div>
                        <div class="cont">
                            <input type="text" class="input-1" name="oldPhoneNumber" disabled value="{$User[Mobile]}">
                        </div>
                    </div>
                    <div class="line">
                        <div class="lab">
                            验证码
                        </div>
                        <div class="cont">
                            <input type="text" class="input-2" maxlength="4" onblur="validateCode(this)" name="code1" value="">
                            <button type="button"  onclick="getCode(this, 'oldPhoneNumber')" name="code">发送验证码</button>
                        </div>
                    </div>
                    <div class="line">
                        <div class="lab"></div>
                        <div class="cont">
                            <button type="button" id="step_1_next" name="next">下一步</button>
                        </div>
                    </div>
                </div>

                <div id="step_2" style="display:none;">
                    <div class="line">
                        <div class="lab">
                            新手机
                        </div>
                        <div class="cont">
                            <input type="text" class="input-1" onblur="validatePhone(this, true)" name="newPhoneNumber" value="">
                        </div>
                    </div>
                    <div class="line">
                        <div class="lab">
                            验证码
                        </div>
                        <div class="cont">
                            <input type="text" class="input-2" maxlength="4" onblur="validateCode(this)" name="code2" value="">
                            <button type="button" onclick="getCode(this, 'newPhoneNumber')" name="code">发送验证码</button>
                        </div>
                    </div>
                    <div class="line">
                        <div class="lab"></div>
                        <div class="cont">
                            <button type="button" id="step_2_next" name="next">完成</button>
                        </div>
                    </div>
                </div>
                <div id="step_3" style="display:none;">
                    <div class="show-hint">
                        <img src="/Uploads/Debt/imgs/gou_success.png" alt="">手机绑定成功！
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
</div>
{template Footer}
<script src='{echo JsURL}/debt/bindPhone.js'></script>
</body>
</html>