{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/personCenter.css">
<div class="person-center">
    <div class="wrap">
        <div class="current-loc">
            <img src="/Uploads/Debt/imgs/current_loc.png" alt="">
            当前位置 > 事务所资料  > <span>事务所信息</span>
        </div>
        <div class="menu-cont-wrap">
            {template MemberLawFirmLeft}
                <div class="show-info">
                    <div class="info-cont">
                        <div class="info-m">
                            <div class="head-portrait">
                                <img src="/Uploads/Debt/imgs/head_img.png" alt="">
                            </div>
                            <div class="info-blk">
                                <div class="line">
                                    会员ID:&nbsp;&nbsp;LWG1588
                                </div>
                                <div class="line">
                                    注册时间:&nbsp;&nbsp;2017-03-01 16：43：45
                                </div>
                                <div class="line">
                                    注册IP:&nbsp;&nbsp;110.84.32.35
                                </div>
                            </div>
                            <div class="info-blk">
                                <div class="line">
                                    账号等级:&nbsp;&nbsp;律师事务所
                                </div>
                                <div class="line">
                                    最后登录:&nbsp;&nbsp;2017-03-01 16：43：45
                                </div>
                                <div class="line">
                                    上次登陆IP:&nbsp;&nbsp;110.84.32.35
                                </div>
                            </div>
                        </div>
                        <div class="info-o">
                            <div class="line">
                                <div class="if">
                                    事务所名称:
                                </div>
                                <div class="cont">
                                    厦门市方圆律师事务所
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    手机电话:
                                </div>
                                <div class="cont">
                                    13544658877
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    法定代表人:
                                </div>
                                <div class="cont">
                                    钱学喜
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    社会信用代码:
                                </div>
                                <div class="cont">
                                    350526194564528014
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    年检到期日:
                                </div>
                                <div class="cont">
                                    2018-04-01
                                </div>
                            </div>
                            <div class="line-img">
                                <div class="if">
                                    营业执照:
                                </div>
                                <div class="cont">
                                    <div class="bx">
                                        <div class="img-wrap">
                                        </div>
                                        营业执照副本
                                    </div>
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    所在地区:
                                </div>
                                <div class="cont">
                                    福建省-厦门市-思明区
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    详细地址:
                                </div>
                                <div class="cont">
                                    莲前街道莲前东路56号华林公交站旁
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    代理人姓名:
                                </div>
                                <div class="cont">
                                    杨某某
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    代理人身份证号:
                                </div>
                                <div class="cont">
                                    462503198502064586
                                </div>
                            </div>
                            <div class="line">
                                <div class="if">
                                    代理人手机号:
                                </div>
                                <div class="cont">
                                    15276895632
                                </div>
                            </div>
                            <div class="line-img">
                                <div class="if">
                                    证件照:
                                </div>
                                <div class="cont">
                                    <div class="bx">
                                        <div class="img-wrap">
                                        </div>
                                        身份证正面照
                                    </div>
                                    <div class="bx">
                                        <div class="img-wrap">
                                        </div>
                                        身份证反面照
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="to-opt">
                    <div class="cont">
                        <button type="button" name="edit">修改信息</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{template Footer}