{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/order.css">
<div class="order-pay">
    <div class="wrap">
        <div class="current-loc">
            <img src="/Uploads/Debt/imgs/current_loc.png" alt="">
            <span>当前位置 : <a>我的资产</a> > <a href="/member/buyorderlist/">订单管理</a> > <span class="cur">订单详情</span></span>
        </div>
        <div class="tip">
            订单编号：201702280001
        </div>
        <div class="flow-wrap">
            <div class="flow-box clearfix">
                <div class="flow {if $OrderInfo['Status']==1 || $OrderInfo['Status']==2 || $OrderInfo['Status']==3 || $OrderInfo['Status']==4}over{/if} {if $OrderInfo['Status']==1}curr{/if} first">
                    <span>1</span>
                    <p>未付款</p>
                    <i class="triangle"></i>
                </div>
                <div class="flow {if $OrderInfo['Status']==2 || $OrderInfo['Status']==3}over curr{elseif $OrderInfo['Status']==4}over{/if}">
                    <span>2</span>
                    <p>{if $OrderInfo['Status']==1 || $OrderInfo['Status']==2}已付款，待发货{elseif $OrderInfo['Status']==3 || $OrderInfo['Status']==4}已付款，已发货{/if}</p>
                    <i class="triangle"></i>
                </div>
                <div class="flow {if $OrderInfo['Status']==4}over curr{/if}">
                    <span>3</span>
                    <p>订单完成</p>
                    <i class="triangle"></i>
                </div>
            </div>
            <div class="flow-tips">
                {if $OrderInfo['Status']==1}
                <p class="h3">当前订单状态：资产已拍下，请在3天内付款；若未及时付款，系统将自动取消订单</p>
                <p class="h4">如果您不想购买，可以 <a href="javascript:void (0)" onclick="pageObj.cancelOrder(this)">取消订单</a></p>
                {elseif $OrderInfo['Status']==2}
                <p class="h3">当前订单状态：资产转让手续正在办理中，若在7个工作日内未完成转让，系统将自动取消订单，退回相应款项</p>
                {elseif $OrderInfo['Status']==3}
                <p class="h3">当前订单状态：订单已完成，买家已发货，请查看页面下方物流信息了解上品情况</p>
                <p class="h4">
                    1、如果您已经收到货，您可以点击 <a class="btn-link" onclick="pageObj.indeedReceipt(this)" href="javascript:void (0)">确认收货</a> 打款给卖家
                </p>
                <p class="h3 mt-10">物流信息</p>
                <div class="ems-box">
                    <p>
                        发货方式：快递
                    </p>
                    <p>
                        物流公司：EMS
                    </p>
                    <p>
                        快递单号：15945354799852525644858
                    </p>
                </div>
                {elseif $OrderInfo['Status']==4}
                <p class="h3">当前订单状态：订单已完成，买家已签收</p>
                {/if}
            </div>
        </div>

        <div class="tab-wrap">
            <p class="tab-title">订单详情</p>
            <div class="tab-con">
                <div class="section-wrap clearfix">
                    <p class="section-title">
                        收货人信息
                    </p>
                    <div class="section-con">
                        <p>{$OrderInfo['Contacts']} &nbsp;&nbsp;&nbsp;{$OrderInfo['Tel']}</p>
                        <p class="ellipsis">{$OrderInfo['Address']}</p>
                    </div>
                </div>
                <p class="hr"></p>
                <div class="section-wrap clearfix">
                    <p class="section-title">
                        发布人信息
                    </p>
                    <div class="section-con">
                        <p class="ellipsis">昵称：{$UserInfo['NickName']} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 联系电话：{$UserInfo['Mobile']} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 真实姓名：{$UserInfo['RealName']}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 城市：{$UserInfo['Province']}{$UserInfo['City']}{$UserInfo['Area']}</p>
                    </div>
                </div>
                <p class="hr"></p>
                <div class="order-table">
                    <div class="table-th table-tr">
                        <div class="td" style="width:330px">资产简介</div>
                        <div class="td" style="width:150px">份额单价</div>
                        <div class="td" style="width:90px">份数</div>
                        <div class="td" style="width:130px">实付款</div>
                        <div class="td" style="width:150px">交易状态</div>
                        <div class="td">创建时间</div>
                    </div>
                    <div class="table-tr">
                        <div class="td goods-td clearfix">
                            <a href="/assetdetails/{$AssetInfo[AssetID]}.html">
                            <p class="img">
                                <img src="{$AssetImage[ImageUrl]}" alt="{$AssetInfo[Title]}">
                            </p>
                            <div class="con">
                                <p class="title">{$AssetInfo[Title]}</p>
                            </div>
                            </a>
                        </div>
                        <div class="money-td td">
                            <p class="del"><span class="c-red">市场&nbsp;&nbsp;</span>¥{$AssetInfo[MarketPrice]}</p>
                            <p class="mt-10"><span class="c-red">成交 &nbsp;</span>¥{$AssetInfo[Price]}</p>
                        </div>
                        <div class="td">{$OrderInfo['Num']}</div>
                        <div class="td">
                            <p>¥{$OrderInfo['TotalAmount']}</p>
                            <p class="ems">{if $AssetInfo[Freight]>0}（含运费）{else}（不含运费）{/if}</p>
                        </div>
                        <div class="td">
                            {$NStatus[$OrderInfo['Status']]}
                        </div>
                        <div class="td">{echo date("Y-m-d H:i:s",$OrderInfo['AddTime'])}</div>
                    </div>
                </div>
                <div class="total">
                    <span>订单总共金额： <b class="c-red">{$OrderInfo['TotalAmount']}</b> 元</span>
                    {if $OrderInfo['Status']==1}<a class="btn btn-primary" href="/assetorder/{$OrderInfo['OrderNumber']}.html">立即付款</a>
                    {elseif $OrderInfo['Status']==2}
                    <a class="btn btn-primary" onclick="pageObj.remind(this)" href="javascript:void (0)">提醒发货</a>
                    {elseif $OrderInfo['Status']==3}
                    <a class="btn btn-primary" onclick="pageObj.indeedReceipt(this)" href="javascript:void (0)">确认收货</a>
                    {/if}
                </div>
            </div>
        </div>
    </div>
</div>
{template Footer}
<script src='{echo JsURL}/debt/memberOrder.js'></script>