{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/personCenter.css">
<link rel="stylesheet" href="{echo CssURL}/debt/memberOrder.css">
<div class="person-center">
    <div class="wrap">
        <div class="current-loc">
            <img src="/Uploads/Debt/imgs/current_loc.png" alt="">
            当前位置 > 我的资产 > <span>已买到的</span>
        </div>
        <div class="menu-cont-wrap">
            {if $_SESSION[Identity]==0 || $_SESSION[Identity]==1 || $_SESSION[Identity]==2}
            {template MemberPersonLeft}
            {elseif $_SESSION[Identity]==3}
            {template MemberFirmLeft}
            {elseif $_SESSION[Identity]==4}
            {template MemberLawyerLeft}
            {elseif $_SESSION[Identity]==5}
            {template MemberCompanyLeft}
            {/if}
            <div class="tab-hd">
                <div class="tb">
                    管理订单列表
                </div>
            </div>

            <div class="info-cont">
                <dl class="cont-select">
                    <dt>订单状态：</dt>
                    <dd onclick="go('/member/buyorderlist/')" {if $Status==''}class="cont-select-act"{/if}>全部</dd>
                    <dd onclick="go('/member/buyorderlist/?S=1')" {if $Status==1}class="cont-select-act"{/if}>未付款</dd>
                    <dd onclick="go('/member/buyorderlist/?S=2')" {if $Status==2}class="cont-select-act"{/if}>已付款</dd>
                    <dd onclick="go('/member/buyorderlist/?S=3')" {if $Status==3}class="cont-select-act"{/if}>交易完成</dd>
                    <dd onclick="go('/member/buyorderlist/?S=4')" {if $Status==4}class="cont-select-act"{/if}>申请售后</dd>
                    <dd onclick="go('/member/buyorderlist/?S=5')" {if $Status==5}class="cont-select-act"{/if}>交易关闭</dd>
                </dl>
                <div class="order-list">
                    <div class="order-table">
                        <!--表格头部start-->
                        <div class="table-tr table-th">
                            <div class="td" style="width:330px">资产</div>
                            <div class="td" style="width:150px">份额单价</div>
                            <div class="td" style="width:90px">份数</div>
                            <div class="td" style="width:130px">实付款</div>
                            <div class="td" style="width:120px">当前状态</div>
                            <div class="td">操作</div>
                        </div>
                        <div class="table-tr order-hr"></div>
                        <!--表格头部end-->

                        <!--表格循环体 start-->
                        {loop $Data['Data'] $lists}
                        <div class="table-tr order-hd">
                            <div class="td" style="width:330px">
                                <div class="order-no">
                                    {echo date("Y-m-d",$lists[AddTime])}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;订单号：{$lists[OrderNumber]}
                                </div>
                            </div>
                            <div class="td" style="width:150px"></div>
                            <div class="td" style="width:90px"></div>
                            <div class="td" style="width:130px"></div>
                            <div class="td" style="width:120px"></div>
                            <div></div>
                        </div>
                        <div class="table-tr">
                            <div class="td goods-td clearfix">
                                <p class="img">
                                    <img src="{$lists[ImageUrl]}" alt="">
                                </p>
                                <div class="con">
                                    <p class="title">{$lists[Title]}</p>
                                    <div class="des">
                                        {echo mb_substr($lists['Content'], 0,25, 'utf-8')}...
                                    </div>
                                </div>
                            </div>
                            <div class="money-td td">
                                <p class="del"><span class="c-red">市场&nbsp;&nbsp;</span>¥{$lists[MarketPrice]}</p>
                                <p class="mt-10"><span class="c-red">成交&nbsp;&nbsp;</span>¥{$lists[Price]}</p>
                            </div>
                            <div class="td">2</div>
                            <div class="td">
                                <p>¥{$lists[TotalAmount]}</p>
                            </div>
                            <div class="td">
                                {$NStatus[$lists[Status]]}
                            </div>
                            <div class="operate-td td" data-id="1">
                                <!--待付款-->
                                {if $lists[Status]==1}
                                <p><a class="btn btn-primary" href="/assetorder/{$lists[OrderNumber]}.html" title="立即付款">立即付款</a></p>
                                <p><a class="operate-txt" onclick="pageObj.cancelOrder(this)" href="javascript:void(0);" title="取消订单">取消订单</a></p>
                                <p><a class="link" href="#" title="查看订单">查看订单>></a></p>
                                <!--已付款-->
                                {elseif $lists[Status]==2}
                                <p><a class="btn btn-primary" onclick="pageObj.remind(this)" id="remind" href="javascript:void(0);" title="提醒卖家发货">提醒卖家发货</a></p>
                                <p><a class="operate-txt" href="#" title="申请退款">申请退款</a></p>
                                <p><a class="link" href="#" title="查看订单">查看订单>></a></p>
                                <!--待签收-->
                                {elseif $lists[Status]==3}
                                <p><a class="btn btn-primary" onclick="pageObj.indeedReceipt(this)" id="receipt" href="javascript:void(0);" title="确认签收">确认签收</a></p>
                                <p><a class="operate-txt" href="#" title="申请退款">申请退款</a></p>
                                <p><a class="link" href="#" title="查看订单">查看订单>></a></p>
                                <!--已签收-->
                                {elseif $lists[Status]==4}

                                <!--已签收15天之后申请退款去掉 改为 删除-->
                                <p><a class="operate-txt" href="#" title="申请退款">申请退款</a></p>
                                <p><a onclick="pageObj.delOrder(this)" href="javascript:void(0);"><i class="icon-del" title="删除"></i></a></p>
                                <p><a class="link" href="#" title="查看订单">查看订单>></a></p>
                                <!--申请退款-->
                                {elseif $lists[Status]==5}
                                <p><a class="btn btn-primary" onclick="pageObj.remind(this)" id="remindReturn" href="javascript:void(0);" title="提醒卖家">提醒卖家</a></p>
                                <p><a class="btn btn-primary" onclick="pageObj.cancelApply(this)" id="cancelApply" href="javascript:void(0);" title="取消申请">取消申请</a></p>
                                <p><a class="link" href="#" title="查看订单">查看订单>></a></p>
                                {elseif $lists[Status]== 6}
                                <!--退款中-->
                                <p><a class="btn btn-primary" onclick="pageObj.indeedReturn(this)" id="indeedReturn" href="javascript:void(0);" title="确认退款">确认退款</a></p>
                                <p><a class="btn btn-primary" onclick="pageObj.remind(this)" id="remindReturn2" href="javascript:void(0);" title="提醒卖家">提醒卖家</a></p>
                                <p><a class="link" href="#" title="查看订单">查看订单>></a></p>
                                <!--申请失败-->
                                {elseif $lists[Status]==7}
                                <p><a class="btn btn-primary" onclick="pageObj.cancelApply(this)" id="cancelApply2" href="javascript:void(0);" title="取消申请">取消申请</a></p>
                                <p><a class="operate-txt" href="#" title="修改申请">修改申请</a></p>
                                <p><a class="link" href="#" title="查看订单">查看订单>></a></p>
                                <!--退款成功-->
                                {elseif $lists[Status]==8}
                                <p><a onclick="pageObj.delOrder(this)" href="javascript:void(0);"><i class="icon-del" title="删除"></i></a></p>
                                <p><a class="link" href="#" title="查看订单">查看订单>></a></p>
                                <!--交易关闭-->
                                {elseif $lists[Status]==9 ||$lists[Status]==10}
                                <p><a onclick="pageObj.delOrder(this)" href="javascript:void(0);"><i class="icon-del" title="删除"></i></a></p>
                                <p><a class="link" href="#" title="查看订单">查看订单>></a></p>
                                {/if}
                            </div>
                        </div>
                        <div class="table-tr order-hr"></div>
                        {/loop}
                        <!--表格循环体 end-->
                    </div>
                </div>

                <!--发布菜单-->
                <div class="fr-win">
                    <div class="pub-btn">
                        <img src="/Uploads/Debt/imgs/pub_btn.png" alt="">
                        <br>
                        发布
                    </div>
                    <div class="pub-btn-list">
                        <div class="lin" onclick="selDebtWayPop()">
                            发布债务
                        </div>
                        <div class="lin" onclick="go('/choicefind/')">
                            寻找处置方
                        </div>
                        <div class="lin" onclick="go('/debt/transfer/')">
                            资产转让
                        </div>
                        <div class="lin" onclick="go('/reword/publish/')">
                            发布悬赏
                        </div>
                    </div>
                </div>
                {if $ShowPage}
                <div class="pagination-wrap">
                    <div class="pagination fl-r" id="collection_page_pagination">
                        <a href="/member/buyorderlist/"><div class="b {if $Page==1}sel{/if}">首页</div></a>
                        {$ShowPage}
                    </div>
                </div>
                {/if}
            </div>
        </div>
    </div>
</div>
</div>
{template Footer}
<script>
    var pageObj={
        addressObj:{
            Province:"{$AddressInfo[Province]}",
            City:"{$AddressInfo[City]}",
            Area:"{$AddressInfo[Area]}"
        },
        addressTotal:parseInt("{$Rscount['Num']}")+parseInt("{$Number}")
    }
</script>
<script src='{echo JsURL}/debt/memberOrder.js'></script>
