{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/personCenter.css">
<div class="person-center">
    <div class="wrap">
        <div class="current-loc">
            <img src="/Uploads/Debt/imgs/current_loc.png" alt="">
            当前位置 > 个人中心 > <span>申请的债权</span>
        </div>
        <div class="menu-cont-wrap">
            {template MemberFirmLeft}
            <div class="tab-hd">
                <div class="tb act">申请的债权</div>
            </div>

            <div class="info-cont">
                <div class="cont-hd">
                    <span>我申请的债权列表：</span>
                </div>
                <dl class="cont-select">
                    <dt>债权状态：</dt>
                    <dd {if $Status==0}class="cont-select-act"{/if} onclick="go('/memberfirm/applydebtorder/')">全部</dd>
                    <dd {if $Status==1}class="cont-select-act"{/if} onclick="go('/memberfirm/applydebtorder/?S=1')">正在接单的债权</dd>
                    <dd {if $Status==2}class="cont-select-act"{/if} onclick="go('/memberfirm/applydebtorder/?S=2')">催收中的债权</dd>
                    <dd {if $Status==3}class="cont-select-act"{/if} onclick="go('/memberfirm/applydebtorder/?S=3')">完成的债权</dd>
                    <dd {if $Status==4}class="cont-select-act"{/if} onclick="go('/memberfirm/applydebtorder/?S=4')">未完成的债权</dd>
                </dl>
                <div class="debt">
                    <table class="debt-table" width="100%" border="0" cellpadding="0" cellspacing="0">
                        <thead>
                        <tr>
                            <td>债务编号</td>
                            <td>债务人名称</td>
                            <td>债务人地区</td>
                            <td>债务金额（元）</td>
                            <td>逾期时间</td>
                            <td>发布时间</td>
                            <td>当前状态</td>
                            <td>查看</td>
                            <td>操作</td>
                        </tr>
                        </thead>
                        <tbody>
                        {loop $Data['Data'] $lists}
                        <tr>
                            <td>{$lists['DebtNum']}</td>
                            <td>{$lists['Name']}</td>
                            <td>{$lists['Province']}{if $lists['City']}-{$lists['City']}{/if}{if $lists['Area']}-{$lists['Area']}{/if}</td>
                            <td>￥{$lists['DebtAmount']}</td>
                            <td>{$lists['Overduetime']}天</td>
                            <td>{echo date("Y-m-d",$lists['AddTime'])}</td>
                            <td class="color-red">{$NStatus[$lists[Status]]}</td>
                            <td><a href="/debt/{$lists[DebtID]}.html" class="details-enter">详情</a></td>
                            {if $lists[Status]==1}
                              <td>无</td>
                            {elseif $lists[Status]==2}
                              <td class="oper" onclick="debtCompleteStatus('{$lists[DebtID]}')"><span>完成情况</span></td>
                            {elseif $lists[Status]==3}
                              <td>无</td>
                            {elseif $lists[Status]==4}
                              <td>无</td>
                            {elseif $lists[Status]==5}
                              <td>无</td>
                            {else}
                              <td>无</td>
                            {/if}
                        </tr>
                        {/loop}
                        </tbody>
                    </table>
                </div>
            </div>
            {if $ShowPage}
            <div class="pagination-wrap">
                <div class="pagination fl-r" id="page_pagination">
                    {$ShowPage}
                </div>
            </div>
            {/if}
        </div>
    </div>
</div>
</div>
{template Footer}
<script src='{echo JsURL}/debt/memberOptWindow.js'></script>
