{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/setDebtRate.css">
<div class="set-debt" data-id="{$ID}">
    <div class="wrap">
        <div class="current-loc">
            <img src="/Uploads/Debt/imgs/current_loc.png" alt="">
            <span>当前位置 : <a>债权管理</a> > <span class="cur">债权接单</span></span>
        </div>
        <div class="form-wrap">
            <div class="box">

                <div class="t">
                    <img src="/Uploads/Debt/imgs/name_icon.png" alt="">
                    <span>设置方案名称</span>
                </div>
                <div class="c">
                    <div class="blo">
                        <div class="line">
                            <div class="left">
                                <div class="info">
                                    方案名称:
                                </div>
                                <div class="det">
                                    <input type="text" name="name" maxlenth="12" style="width: 420px;" onblur="validateNeed(this)" value="{$CompanyDemand[CaseName]}" placeholder="*请输入方案名称">
                                </div>
                            </div>
                            <div class="right">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t">
                    <img src="/Uploads/Debt/imgs/area_icon.png" alt="">
                    <span>设置地区</span>
                </div>
                <div class="c" id="set_area">
                    <div class="blo">
                        <div class="line">
                            <div class="left">
                                <div class="info">
                                    匹配区域:
                                </div>
                                <div class="det">
                                    <div class="p-dropdown">
                                        <label type="checkbox">
                                            {if $CompanyDemand[Province]}<span data-id="{$CompanyDemand[Province]}">{$CompanyDemand[province]}</span>{else}<span>*省份</span>{/if}
                                            <i></i>
                                            <input type="checkbox" name="dd_province" value="">
                                            <ul></ul>
                                        </label>
                                    </div>
                                    <div class="c-dropdown">
                                        <label type="checkbox">
                                            {if $CompanyDemand[City]}<span data-id="{$CompanyDemand[City]}">{$CompanyDemand[city]}</span>{else}<span>城市</span>{/if}
                                            <i></i>
                                            <input type="checkbox" name="dd_city" value="">
                                            <ul></ul>
                                        </label>
                                    </div>
                                    <div class="a-dropdown">
                                        <label type="checkbox">
                                            {if $CompanyDemand[Area]}<span data-id="{$CompanyDemand[Area]}">{$CompanyDemand[area]}</span>{else}<span>区县/市</span>{/if}
                                            <i></i>
                                            <input type="checkbox" name="dd_area" value="">
                                            <ul></ul>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="right">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="t">
                    <img src="/Uploads/Debt/imgs/rate_icon.png" alt="">
                    <span>设置佣金比例</span>
                </div>
                <div class="c" id="set_fee_rate">
                    <div class="blo">
                        <div class="line">
                            <div class="left">
                                <div class="info">
                                    债务金额:
                                </div>
                                <div class="det">
                                    <input type="text" name="from" onblur="validateForm('money', this)" value="{$CompanyDemand[FromMoney]}" placeholder="*0.00">元 -
                                    <input type="text" name="to" onblur="validateForm('money', this)" value="{$CompanyDemand[ToMoney]}" placeholder="*3000.00">元
                                </div>
                            </div>
                            <div class="right">
                                <div class="info">
                                    佣金比例:
                                </div>
                                <div class="det">
                                    <input type="text" name="rate" onblur="validateForm('rate', this)" value="{$CompanyDemand[MoneyScale]}" placeholder="*百分比">% 人民币
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="t">
                    <img src="/Uploads/Debt/imgs/to_sel.png" alt="">
                    <span>债务人是否随时能寻找到 : </span>
                    <div class="m-radio ml-10">
                        <label type="radio">
                            <input type="radio" name="searchedAnytime" value="1" {if $CompanyDemand[FindDebtor]==1 || empty($CompanyDemand[FindDebtor])}checked{/if}>
                            <i></i>
                            是
                        </label>
                    </div>
                    <div class="m-radio ml-10">
                        <label type="radio">
                            <input type="radio" name="searchedAnytime" value="0" {if $CompanyDemand[FindDebtor]=='0'}checked{/if}>
                            <i></i>
                            否
                        </label>
                    </div>
                </div>
                <div class="c"></div>

                <div class="t">
                    <img src="/Uploads/Debt/imgs/to_sel.png" alt="">
                    <span>债务人是否有还款能力 : </span>
                    <div class="m-radio ml-10">
                        <label type="radio">
                            <input type="radio" name="abilityDebt" value="1" {if $CompanyDemand[RepaymentDebtor]==1 || empty($CompanyDemand[RepaymentDebtor])}checked{/if}>
                            <i></i>
                            是
                        </label>
                    </div>
                    <div class="m-radio ml-10">
                        <label type="radio">
                            <input type="radio" name="abilityDebt" value="0" {if $CompanyDemand[RepaymentDebtor]=='0'}checked{/if}>
                            <i></i>
                            否
                        </label>
                    </div>
                </div>
                <div class="c"></div>

                <div class="t">
                    <img src="/Uploads/Debt/imgs/to_sel.png" alt="">
                    <span>是否有前期费用 : </span>
                    <div class="m-radio ml-10">
                        <label type="radio">
                            <input type="radio" name="fee" value="1" {if $CompanyDemand[EarlyCost]==1 || empty($CompanyDemand[EarlyCost])}checked{/if}>
                            <i></i>
                            是
                        </label>
                    </div>
                    <div class="m-radio ml-10">
                        <label type="radio">
                            <input type="radio" name="fee" value="0" {if $CompanyDemand[EarlyCost]=='0'}checked{/if}>
                            <i></i>
                            否
                        </label>
                    </div>
                </div>
                <div class="c"></div>

                <div class="comfirm-btns">
                    <button type="button" id="save" name="button">保存</button>
                    <button type="button" id="reset" onclick="javascript:window.location.reload();" name="button">重置</button>
                </div>

            </div>
        </div>
    </div>
{template Footer}
<script src='{echo JsURL}/debt/setDebtRate.js'></script>
