<div class="menu-bar">
    <img src="{$UserInfo['Avatar']}" class="u-img" alt="">
    <div class="nick-name">
        昵称
    </div>
    <button type="button" name="button">已认证</button>
    <div class="menu-level-1  menu-level-1-act">
        <img src="/Uploads/Debt/imgs/company_info.png" class="i-left" alt="">
        个人信息
    </div>
    <div class="menu-level-1" data-open="0" can-down='1'>
        <img src="/Uploads/Debt/imgs/debt_manage.png" class="i-left" alt="">
        债权管理
        <img src="/Uploads/Debt/imgs/tri_arrow_up.png" class="i-right" alt="">
        <div class="menu-level-2-wrap">
            <div class="menu-level-2">我的债权</div>
            <div class="menu-level-2">我的负债</div>
            <div class="menu-level-2">订单管理</div>
            <div class="menu-level-2">浏览过的债务</div>
        </div>
    </div>
    <div class="menu-level-1" data-open="0" can-down='1'>
        <img src="/Uploads/Debt/imgs/debt_manage.png" class="i-left" alt="">
        关注
        <img src="/Uploads/Debt/imgs/tri_arrow_up.png" class="i-right" alt="">
        <div class="menu-level-2-wrap">
            <div class="menu-level-2">我关注的债务</div>
            <div class="menu-level-2">提前关注</div>
        </div>
    </div>
    <div class="menu-level-1">
        <img src="/Uploads/Debt/imgs/system_info.png" class="i-left" alt="">
        范本下载
    </div>
    <div class="menu-level-1" data-open="0" can-down='1'>
        <img src="/Uploads/Debt/imgs/debt_manage.png" class="i-left" alt="">
        代理
        <img src="/Uploads/Debt/imgs/tri_arrow_up.png" class="i-right" alt="">
        <div class="menu-level-2-wrap">
            <div class="menu-level-2">申请代理</div>
            <div class="menu-level-2">已代理区域</div>
        </div>
    </div>
    <div class="menu-level-1">
        <img src="/Uploads/Debt/imgs/system_info.png" class="i-left" alt="">
        推荐人/我的推荐人
    </div>
    <div class="menu-level-1" data-open="0" can-down='1'>
        <img src="/Uploads/Debt/imgs/debt_manage.png" class="i-left" alt="">
        催客权益
        <img src="/Uploads/Debt/imgs/tri_arrow_up.png" class="i-right" alt="">
        <div class="menu-level-2-wrap">
            <div class="menu-level-2">申请的债权</div>
            <div class="menu-level-2">浏览过的债权</div>
            <div class="menu-level-2">寻找同城催客</div>
            <div class="menu-level-2">联盟催客</div>
        </div>
    </div>
    <div class="menu-level-1">
        <img src="/Uploads/Debt/imgs/system_info.png" class="i-left" alt="">
        系统信息
    </div>
    <div class="menu-level-1">
        <img src="/Uploads/Debt/imgs/suggest.png" class="i-left" alt="">
        投诉建议
    </div>
</div>