{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/personCenter.css">
<div class="person-center">
    <div class="wrap">
        <div class="current-loc">
            <img src="/Uploads/Debt/imgs/current_loc.png" alt="">
            当前位置 > 个人中心 > <span>我的债权</span>
        </div>
        <div class="menu-cont-wrap">
            {if $_SESSION[Identity]==0 || $_SESSION[Identity]==1 || $_SESSION[Identity]==2}
            {template MemberPersonLeft}
            {elseif $_SESSION[Identity]==3}
            {template MemberFirmLeft}
            {elseif $_SESSION[Identity]==4}
            {template MemberLawyerLeft}
            {elseif $_SESSION[Identity]==5}
            {template MemberCompanyLeft}
            {/if}
            <div class="tab-hd">
                <div class="tb act">
                    管理收货地址
                </div>
            </div>

            <div class="info-cont">
                <div class="address-manage">
                    <div class="line">
                        <div class="left">
                            <span class="a-t" onclick="go('/member/address/')">新增收货地址</span>
                        </div>
                        <div class="right lh-30">
                            <span class="form-need">*</span>均为必须项
                        </div>
                    </div>
                    <div class="line">
                        <input type="hidden" name="addressId" value="">
                        <div class="left">
                            所在区域<span class="form-need">*</span>
                        </div>
                        <div class="right">
                            <div class="p-dropdown">
                                <label type="checkbox">
                                    <span>*省</span>
                                    <i></i>
                                    <input type="checkbox" name="dd_province" value="{$AddressInfo[Province]}">
                                    <ul></ul>
                                </label>
                            </div>
                            <div class="c-dropdown">
                                <label type="checkbox">
                                    <span>*市</span>
                                    <i></i>
                                    <input type="checkbox" name="dd_city" value="{$AddressInfo[City]}">
                                    <ul></ul>
                                </label>
                            </div>
                            <div class="a-dropdown">
                                <label type="checkbox">
                                    <span>*县</span>
                                    <i></i>
                                    <input type="checkbox" name="dd_area" value="{$AddressInfo[Area]}">
                                    <ul></ul>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="line">
                        <div class="left">
                            详细地址<span class="form-need">*</span>
                        </div>
                        <div class="right">
                            <textarea name="detail_area" placeholder="建议您如实填写详细收货地址, 例如街道名称、门牌号码、楼层和房间号等信息" rows="5" cols="66">{$AddressInfo[Address]}</textarea>
                        </div>
                    </div>
                    <div class="line">
                        <div class="left">
                            收货人姓名<span class="form-need">*</span>
                        </div>
                        <div class="right">
                            <input class="w-300" type="text" name="to_name" maxlength="12"  placeholder="不超过12个字" value="{$AddressInfo[Name]}">
                        </div>
                    </div>
                    <div class="line">
                        <div class="left">
                            手机号码 <span class="form-need">*</span>
                        </div>
                        <div class="right">
                            <input class="w-300" type="text" name="to_phone" onblur="validateMobilePhone(this)" placeholder="请输入手机号码" value="{$AddressInfo[Mobile]}">
                        </div>
                    </div>
                    <div class="line">
                        <div class="left">&nbsp;</div>
                        <div class="right">
                            <div class="m-checkbox">
                                <label type="checkbox">
                                    <input type="checkbox" name="is_default"  checked>
                                    <i></i>
                                    设置为默认地址
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="line">
                        <div class="left">&nbsp;</div>
                        <div class="right">
                            <button type="button" onclick="pageObj.saveAddress(this)" name="button">保存</button>
                        </div>
                    </div>

                    <div class="address-list">
                        <div class="tip">
                            已保存{$Rscount['Num']}条收货地址, 还能保存{$Number}条
                        </div>
                        <div class="table">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <thead>
                                <tr>
                                    <td>收货人</td>
                                    <td>所在地区</td>
                                    <td>详细地址</td>
                                    <td>电话/手机</td>
                                    <td>操作</td>
                                </tr>
                                </thead>
                                <tbody>
                                {loop $AddressList $lists}
                                <tr>
                                    <td>{$lists[Name]}</td>
                                    <td>{$lists[Province]}-{$lists[City]}-{$lists[Area]}</td>
                                    <td>{$lists[Address]}</td>
                                    <td class="color-red">{$lists[Mobile]}</td>
                                    <td>
                                        <div class="opt">
                                            <span onclick="go('/member/address/?ID={$lists[ShippingAddressID]}')">修改</span> | <span onclick="pageObj.delAddress('{$lists[ShippingAddressID]}')">删除</span>
                                        </div>
                                        <div class="{if $lists[IsDefault]==1}default{else}set-default{/if}">
                                            {if $lists[IsDefault]==1}默认地址{else}<span onclick="pageObj.setDefaultAddress('{$lists[ShippingAddressID]}')">设为默认</span>{/if}
                                        </div>
                                    </td>
                                </tr>
                                {/loop}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
{template Footer}
<script>
    var pageObj={
        addressObj:{
            Province:"{$AddressInfo[Province]}",
            City:"{$AddressInfo[City]}",
            Area:"{$AddressInfo[Area]}"
        }
    }
</script>
<script src='{echo JsURL}/debt/memberAddress.js'></script>
