{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/setDebtRate.css">
<div class="set-debt">
    <div class="wrap">
        <div class="current-loc">
            <img src="/Uploads/Debt/imgs/current_loc.png" alt="">
            <span>当前位置 : <a>债权管理</a> > <a href="/memberfirm/demandlist/"><span>处置方要求方案</span></a> > <span class="cur">查看详情</span></span>
        </div>
        <div class="form-wrap">
            <div class="box">

                <div class="t">
                    <img src="/Uploads/Debt/imgs/name_icon.png" alt="">
                    <span>方案名称</span>
                </div>
                <div class="c">
                    <div class="blo">
                        <div class="line">
                            <div class="g-info">
                                方案名称:
                            </div>
                            <div class="g-det">
                                {$CollectionInfo[CaseName]}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="t">
                    <img src="/Uploads/Debt/imgs/area_icon.png" alt="">
                    <span>地区</span>
                </div>
                <div class="c">
                    <div class="blo">
                        <div class="line">
                            <div class="g-info">
                                匹配区域:
                            </div>
                            <div class="g-det">
                                <span>福建省-厦门市</span>
                                <span>福建省-泉州市</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="t">
                    <img src="/Uploads/Debt/imgs/rate_icon.png" alt="">
                    <span>佣金比例</span>
                </div>
                <div class="c">
                    <div class="blo">
                        {loop $Commission $lists}
                        <div class="line">
                            <div class="left">
                                <div class="g-info">
                                    债务金额：
                                </div>
                                <div class="g-det">
                                    <span>￥{$lists['from']}-{$lists['to']}元</span>
                                </div>
                            </div>
                            <div class="right">
                                <div class="g-info">
                                    佣金比例：
                                </div>
                                <div class="g-det">
                                    <span>{$lists['rate']}%（元）</span>
                                </div>
                            </div>
                        </div>
                        {/loop}
                    </div>
                </div>

                <div class="t">
                    <img src="/Uploads/Debt/imgs/to_sel.png" alt="">
                    <span>债务人是否随时能寻找到 : </span>
                    <span class="tx">
            是
          </span>
                </div>
                <div class="c"></div>

                <div class="t">
                    <img src="/Uploads/Debt/imgs/to_sel.png" alt="">
                    <span>债务人是否有还款能力 : </span>
                    <span class="tx">
            是
          </span>
                </div>
                <div class="c"></div>

                <div class="t">
                    <img src="/Uploads/Debt/imgs/to_sel.png" alt="">
                    <span>是否有前期费用 : </span>
                    <span class="tx">
            是
          </span>
                </div>
                <div class="c mb-100"></div>

            </div>
        </div>
    </div>
    {template Footer}