{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/personCenter.css">
<link rel="stylesheet" href="{echo CssURL}/debt/memberOrder.css">
<div class="person-center">
    <div class="wrap">
        <div class="current-loc">
            <img src="/Uploads/Debt/imgs/current_loc.png" alt="">
            当前位置 > 我的资产 > <span>已卖出的</span>
        </div>
        <div class="menu-cont-wrap">
            {if $_SESSION[Identity]==0 || $_SESSION[Identity]==1 || $_SESSION[Identity]==2}
            {template MemberPersonLeft}
            {elseif $_SESSION[Identity]==3}
            {template MemberFirmLeft}
            {elseif $_SESSION[Identity]==4}
            {template MemberLawyerLeft}
            {elseif $_SESSION[Identity]==5}
            {template MemberCompanyLeft}
            {/if}
            <div class="tab-hd">
                <div class="tb">
                    管理订单列表
                </div>
            </div>

            <div class="info-cont">
                <dl class="cont-select">
                    <dt>订单状态：</dt>
                    <dd onclick="go('/member/sellorderlist/')" {if $Status==''}class="cont-select-act"{/if}>全部</dd>
                    <dd onclick="go('/member/sellorderlist/?S=1')" {if $Status==1}class="cont-select-act"{/if}>已付款</dd>
                    <dd onclick="go('/member/sellorderlist/?S=2')" {if $Status==2}class="cont-select-act"{/if}>已发货</dd>
                    <dd onclick="go('/member/sellorderlist/?S=3')" {if $Status==3}class="cont-select-act"{/if}>交易完成</dd>
                    <dd onclick="go('/member/sellorderlist/?S=4')" {if $Status==4}class="cont-select-act"{/if}>售后中</dd>
                    <dd onclick="go('/member/sellorderlist/?S=5')" {if $Status==5}class="cont-select-act"{/if}>售后完成</dd>
                </dl>
                <div class="order-list">
                    <div class="order-table">
                        <!--表格头部start-->
                        <div class="table-tr table-th">
                            <div class="td" style="width:330px">资产</div>
                            <div class="td" style="width:150px">份额单价</div>
                            <div class="td" style="width:90px">份数</div>
                            <div class="td" style="width:130px">实付款</div>
                            <div class="td" style="width:120px">当前状态</div>
                            <div class="td">操作</div>
                        </div>
                        <div class="table-tr order-hr"></div>
                        <!--表格头部end-->

                        <!--表格循环体 start-->
                        {loop $Data['Data'] $lists}
                        <div class="table-tr order-hd">
                            <div class="td" style="width:330px">
                                <div class="order-no">
                                    {echo date("Y-m-d",$lists[AddTime])}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;订单号：{$lists[OrderNumber]}
                                </div>
                            </div>
                            <div class="td" style="width:150px"></div>
                            <div class="td" style="width:90px"></div>
                            <div class="td" style="width:130px"></div>
                            <div class="td" style="width:120px"></div>
                            <div></div>
                        </div>
                        <div class="table-tr">
                            <div class="td goods-td clearfix">
                                <p class="img">
                                    <img src="{$lists[ImageUrl]}" alt="">
                                </p>
                                <div class="con">
                                    <p class="title">{$lists[Title]}</p>
                                </div>
                            </div>
                            <div class="money-td td">
                                <p class="del"><span class="c-red">市场&nbsp;&nbsp;</span>¥{$lists[MarketPrice]}</p>
                                <p class="mt-10"><span class="c-red">成交&nbsp;&nbsp;</span>¥{$lists[Price]}</p>
                            </div>
                            <div class="td">{$lists[Num]}</div>
                            <div class="td">
                                <p>¥{$lists[TotalAmount]}</p>
                            </div>
                            <div class="td">
                                {$NStatus[$lists[Status]]}
                            </div>
                            <div class="operate-td td" data-id="{$lists[OrderID]}">
                                <!--已付款-->
                                {if $lists[Status]==2}
                                <p><a class="btn btn-primary" onclick="pageObj.immediateDelivery('{$lists[OrderID]}')" href="javascript:void(0);" title="立即发货">立即发货</a></p>
                                <p><a class="link" href="/sellorderdetail/{$lists[OrderNumber]}.html" title="查看订单">查看订单>></a></p>
                                <!--已发货-->
                                {elseif $lists[Status]==3}
                                <p><a class="link" href="/sellorderdetail/{$lists[OrderNumber]}.html" title="查看订单">查看订单>></a></p>
                                <!--交易完成-->
                                {elseif $lists[Status]==4}
                                <p><a class="link" href="/sellorderdetail/{$lists[OrderNumber]}.html" title="查看订单">查看订单>></a></p>
                                {elseif $lists[Status]==5}
                                <p><a class="btn btn-primary" href="/member/sellorderrefund/?No={$lists[OrderNumber]}" title="处理售后">处理售后</a></p>
                                <p><a class="link" href="/member/sellorderrefund/?No={$lists[OrderNumber]}" title="查看订单">查看订单>></a></p>
                                <!--售后中-->
                                {elseif $lists[Status]==11}
                                <p><a class="btn btn-primary" href="javascript:void(0);" onclick="pageObj.confirmGoodsReceipt('{$lists[OrderID]}')" title="确认收货并退款">确认收货并退款</a></p>
                                <p><a class="link" href="/member/sellorderrefund/?No={$lists[OrderNumber]}" title="查看订单">查看订单>></a></p>
                                {elseif $lists[Status]==7 || $lists[Status]==8}
                                <p><a class="link" href="/member/sellorderrefund/?No={$lists[OrderNumber]}" title="查看订单">查看订单>></a></p>
                                {/if}
                            </div>
                        </div>
                        <div class="table-tr order-hr"></div>
                        {/loop}
                        {if empty($Data['Data'])}
                        {/if}
                        <!--表格循环体 end-->
                    </div>
                    <!--当没有数据为空的时候-->
                    {if empty($Data['Data'])}
                    <div class="common-empty">
                        <img  src="{echo CssURL}/debt/images/empty-img.jpg" alt="">
                        <p>亲，您还没有出售的订单哦~</p>
                    </div>
                    {/if}
                </div>
                <!--发布菜单-->
                <div class="fr-win">
                    <div class="pub-btn">
                        <img src="/Uploads/Debt/imgs/pub_btn.png" alt="">
                        <br>
                        发布
                    </div>
                    <div class="pub-btn-list">
                        <div class="lin" onclick="selDebtWayPop()">
                            发布债务
                        </div>
                        <div class="lin" onclick="go('/choicefind/')">
                            寻找处置方
                        </div>
                        <div class="lin" onclick="go('/debt/transfer/')">
                            发布资产
                        </div>
                        <div class="lin" onclick="go('/reword/publish/')">
                            发布悬赏
                        </div>
                    </div>
                </div>
                {if $ShowPage}
                <div class="pagination-wrap">
                    <div class="pagination fl-r" id="collection_page_pagination">
                        <a href="/member/sellorderlist/"><div class="b {if $Page==1}sel{/if}">首页</div></a>
                        {$ShowPage}
                    </div>
                </div>
                {/if}
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/html" id="confirmAddressTemp">
    <div class="order-pay-address">
        <div class="line">
            <div class="left">
                <span class="a-t">核实物流信息</span>
            </div>
            <div class="right lh-30">
                <span class="form-need">*</span>均为必须项
                <input type="hidden" name="orderId" value="${orderId}" />
            </div>
        </div>
        <div class="line">
            <div class="left">
                收货地址<span class="form-need">*</span>
            </div>
            <div class="right">
                <textarea class="disabled" readonly name="detail_area" placeholder="" rows="5" cols="66">${Address}</textarea>
            </div>
        </div>
        <div class="line">
            <div class="left">
                收货人姓名<span class="form-need">*</span>
            </div>
            <div class="right">
                <input class="disabled" readonly type="text" name="to_name" maxlength="12"  placeholder="" value="${Contacts}">
            </div>
        </div>
        <div class="line">
            <div class="left">
                手机号码 <span class="form-need">*</span>
            </div>
            <div class="right">
                <input class="disabled" readonly type="text" name="to_phone" onblur="validateMobilePhone(this)" placeholder=""  value="${Tel}">
            </div>
        </div>
        <div class="line">
            <div class="left">
                物流公司 <span class="form-need">*</span>
            </div>
            <div class="right">
                <input type="text" name="logisticsName" onblur="validateNeed(this)" placeholder="请输入物流公司"  value="${logisticsName}">
            </div>
        </div>
        <div class="line">
            <div class="left">
                物流单号 <span class="form-need">*</span>
            </div>
            <div class="right">
                <input class="w-300" type="text" name="logisticsNo" onblur="validateNeed(this)" placeholder="请输入入流单号"  value="${logisticsNo}">
            </div>
        </div>
        <div class="line">
            <div class="left">&nbsp;</div>
            <div class="right">
                <button type="button" id="saveAddress" onclick="pageObj.confirmDelivery(this)" name="button">确认发货</button>
            </div>
        </div></div>
</script>
<script type="text/x-jquery-tmpl" id="confirmAddressHtml">
</script>
{template Footer}
<script src='{echo JsURL}/debt/memberSellOrder.js'></script>