{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/reg.css">
<div class="reg" id="regForm">
    <form class="form-reg">
        <div class="hd">
            会员注册
        </div>
        <div class="cont">
            <div class="line">
                <div class="info">
                    手机号
                </div>
                <div class="det">
                    <input type="text" name="phoneNumber" onblur="validateErr('phoneNumber', this)" class="input-1" placeholder="请输入您的手机号">
                </div>
                <div class="error-hint">
                    请输入手机号！
                </div>
                <div class="error-hint">
                    您输入的手机号有误！
                </div>
            </div>
            <div class="line">
                <div class="info">
                    密 码
                </div>
                <div class="det">
                    <input type="password" name="pass" maxlength="20" onblur="validateErr('pass', this)" class="input-1" placeholder="6-20位密码字母、数字、下划线">
                </div>
                <div class="error-hint">
                    请设置密码！
                </div>
                <div class="error-hint">
                    密码不能少于6位！
                </div>
                <div class="error-hint">
                    密码格式有误！
                </div>
            </div>
            <div class="line">
                <div class="info">
                    确认密码
                </div>
                <div class="det">
                    <input type="password" name="confirmPass" onblur="validateErr('confirm', this)" class="input-1" placeholder="确认您的密码">
                </div>
                <div class="error-hint">
                    两次密码不一致！
                </div>
            </div>
            <div class="line">
                <div class="info">
                    验证码
                </div>
                <div class="det">
                    <input type="text" name="code" maxlength="4" onblur="validateErr('code', this)" class="input-2" placeholder="请输入验证码">
                    <button type="button" class="comfirm-code" onclick="getCode(this)" name="button">发送验证码</button>
                </div>
                <div class="error-hint">
                    请输入验证码！
                </div>
                <div class="error-hint">
                    您输入的验证码有误！
                </div>
            </div>
            <div class="agreen-protocal">
                <div class="m-checkbox">
                    <label type="checkbox">
                        <input type="checkbox" name="agreement"  checked>
                        <i></i>
                        我已阅读并同意
                    </label>
                    <span onclick="openProtocalWindow()">《用户协议》</span>
                </div>
            </div>
            <div class="btn-reg">
                <button type="button" onclick="reg()">注  册</button>
            </div>
            <div class="hav">
                已有账号 <a href="/member/login/"><span>立即登录</span></a>
            </div>
        </div>
    </form>
</div>

<div class="sel-role">
    <div class="wrap">
        <div class="tl">
            请选择下一步操作 或 <span onclick="go('/memberperson/')">跳过</span>
        </div>
        <div class="cont">
            <div class="bx">
                <img src="/Uploads/Debt/imgs/money.png" alt="">
                <p>通过平台发布债务信息，进行自助催收或委托处置方协助</p>
                <p>债务催收</p>
                <button type="button" name="button" onclick="javascript:window.location.href='/member/registerthree/'">发布债务</button>
            </div>
            <div class="bx">
                <img src="/Uploads/Debt/imgs/debt_phone.png" alt="">
                <p>可以选择以催客（个人）、催收公司或律师团队身份加入</p>
                <p>催收行业，进行债务催收接单</p>
                <button type="button" name="button" onclick="javascript:window.location.href='/member/registertwo/'">加入催收行业</button>
            </div>
        </div>
    </div>
</div>
{template Footer}
<script src='{echo JsURL}/debt/reg.js'></script>
