{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/order.css">
<div class="order-pay">
    <div class="wrap">
        <div class="current-loc">
            <img src="/Uploads/Debt/imgs/current_loc.png" alt="">
            <span>当前位置 : <a>我的资产</a> > <a href="/member/sellorderlist/">已卖出的</a> > <span class="cur">订单详情</span></span>
        </div>
        <div class="tip">
            订单编号：201702280001
        </div>
        <div class="flow-wrap">
            <div class="flow-box clearfix">
                <div class="flow over first">
                    <span>1</span>
                    <p>未付款</p>
                    <i class="triangle"></i>
                </div>
                <div class="flow over curr">
                    <span>2</span>
                    <p>已付款，转让手续办理中...</p>
                    <i class="triangle"></i>
                </div>
                <div class="flow">
                    <span>3</span>
                    <p>订单完成</p>
                    <i class="triangle"></i>
                </div>
            </div>
            <div class="flow-tips">
                <p class="h3">当前订单状态：资产转让手续正在办理中，若在7个工作日内未完成转让，系统将自动取消订单，退回相应款项</p>
                <p class="h4">如果信息有误或不全，可以 <a href="#">联系买家</a></p>
            </div>
        </div>

        <div class="tab-wrap">
            <p class="tab-title">订单详情</p>
            <div class="tab-con">
                <div class="section-wrap clearfix">
                    <p class="section-title">
                        收货人信息
                    </p>
                    <div class="section-con">
                        <p>{$OrderInfo['Contacts']} &nbsp;&nbsp;&nbsp;{$OrderInfo['Tel']}</p>
                        <p class="ellipsis">{$OrderInfo['Address']}</p>
                    </div>
                </div>
                <p class="hr"></p>
                <div class="section-wrap clearfix">
                    <p class="section-title">
                        发布人信息
                    </p>
                    <div class="section-con">
                        <p class="ellipsis">昵称：{$UserInfo['NickName']} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 联系电话：{$UserInfo['Mobile']} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 真实姓名：{$UserInfo['RealName']}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 城市：{$UserInfo['Province']}{$UserInfo['City']}{$UserInfo['Area']}</p>
                    </div>
                </div>
                <p class="hr"></p>
                <div class="order-table">
                    <div class="table-th table-tr">
                        <div class="td" style="width:330px">资产简介</div>
                        <div class="td" style="width:150px">份额单价</div>
                        <div class="td" style="width:90px">份数</div>
                        <div class="td" style="width:130px">实付款</div>
                        <div class="td" style="width:150px">交易状态</div>
                        <div class="td">创建时间</div>
                    </div>
                    <div class="table-tr">
                        <div class="td goods-td clearfix">
                            <p class="img">
                                <img src="{$AssetImage[ImageUrl]}" alt="">
                            </p>
                            <div class="con">
                                <p class="title">{$AssetInfo[Title]}</p>
                            </div>
                        </div>
                        <div class="money-td td">
                            <p class="del"><span class="c-red">市场&nbsp;&nbsp;</span>¥{$AssetInfo[MarketPrice]}</p>
                            <p class="mt-10"><span class="c-red">成交 &nbsp;</span>¥{$AssetInfo[Price]}</p>
                        </div>
                        <div class="td">2</div>
                        <div class="td">
                            <p>¥{$OrderInfo[TotalAmount]}</p>
                            <p class="ems">（含运费）</p>
                        </div>
                        <div class="td">
                            {$NStatus[$OrderInfo[Status]]}
                        </div>
                        <div class="td">{echo date("Y-m-d H:i:s",$OrderInfo[AddTime])}</div>
                    </div>
                </div>
                <div class="total">
                    {if $OrderInfo[Status]==2}
                    <a class="btn btn-primary btn-lg" href="JavaScript:void (0)" onclick="pageObj.immediateDelivery(this)">立即发货</a>{/if}
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="confirmAddressTemp">
    <div class="order-pay-address">
        <div class="line">
            <div class="left">
                <span class="a-t">核实物流信息</span>
            </div>
            <div class="right lh-30">
                <span class="form-need">*</span>均为必须项
                <input type="hidden" name="orderId" value="${orderId}" />
            </div>
        </div>
        <div class="line">
            <div class="left">
                收货地址<span class="form-need">*</span>
            </div>
            <div class="right">
                <textarea class="disabled" readonly name="detail_area" placeholder="" rows="5" cols="66">${Address}</textarea>
            </div>
        </div>
        <div class="line">
            <div class="left">
                收货人姓名<span class="form-need">*</span>
            </div>
            <div class="right">
                <input class="disabled" readonly type="text" name="to_name" maxlength="12"  placeholder="" value="${Contacts}">
            </div>
        </div>
        <div class="line">
            <div class="left">
                手机号码 <span class="form-need">*</span>
            </div>
            <div class="right">
                <input class="disabled" readonly type="text" name="to_phone" onblur="validateMobilePhone(this)" placeholder=""  value="${Tel}">
            </div>
        </div>
        <div class="line">
            <div class="left">
                物流名称 <span class="form-need">*</span>
            </div>
            <div class="right">
                <input type="text" name="logisticsName" onblur="validateNeed(this)" placeholder="请输入物流名称"  value="${logisticsName}">
            </div>
        </div>
        <div class="line">
            <div class="left">
                物流单号 <span class="form-need">*</span>
            </div>
            <div class="right">
                <input class="w-300" type="text" name="logisticsNo" onblur="validateNeed(this)" placeholder="请输入入流单号"  value="${logisticsNo}">
            </div>
        </div>
        <div class="line">
            <div class="left">&nbsp;</div>
            <div class="right">
                <button type="button" id="saveAddress" onclick="pageObj.confirmDelivery('$OrderInfo[OrderID]')" name="button">确认发货</button>
            </div>
        </div></div>;
</script>
<script type="text/x-jquery-tmpl" id="confirmAddressHtml">
</script>
{template Footer}
<script src='{echo JsURL}/debt/memberSellOrder.js'></script>
