{template Header}

<div class="page-result wrap">
    <div class="result-wrap">
        <div class="result-con">
            <p class="result-img">
                <img src="{echo CssURL}/debt/images/pay-fail.png" alt="">
            </p>
            <p class="result-txt">
                支付失败!
            </p>
            <p class="result-detail">
                很抱歉，由于您的余额不足，无法完成支付。
            </p>
            <div class="btn-box">
                <a class="btn btn-primary" href="#">重新支付</a>
                <a class="btn btn-default" href="#">查看订单</a>
            </div>
        </div>
    </div>
</div>

{template Footer}