{template Header}

<div class="page-result wrap">
    <div class="result-wrap">
        <div class="result-con">
            <p class="result-img">
                <img src="{echo CssURL}/debt/images/pay-fail.png" alt="">
            </p>
            <p class="result-txt">
                支付失败!
            </p>
            <p class="result-detail">
                很遗憾，您此次操作的订单未能完成支付，请重新尝试<br>如有疑问，请联系我们网站的工作人员！
            </p>
            <div class="btn-box">
                <a class="btn btn-primary" href="{echo WEB_MAIN_URL}">重新支付</a>
            </div>
        </div>
    </div>
</div>

{template Footer}