{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/publishDebtByDiy.css">
<div class="public-debt-diy">
  <div class="wrap">
    <div class="current-loc">
      <img src="/Uploads/Debt/imgs/current_loc.png" alt="">
      <span>当前位置 : <a>债权管理</a> > <span class="cur">发布债务</span></span>
    </div>
    <div class="form-wrap">
      <div class="box">
        <div class="t">
          <img src="/Uploads/Debt/imgs/user.png" alt="">
          <span>债权人信息</span>
          <div class="opt">
            <img src="/Uploads/Debt/imgs/add_b.png" alt="">
            添加
          </div>
        </div>

        <div class="c">
          <div class="blo">
            <div class="line">
              <div class="info">
                债权人信息 :
              </div>
              <div class="details">
                <input type="text" name="name" placeholder="*姓名">
                <input type="text" name="idNum" placeholder="*身份证号">
                <input type="text" name="phoneNumber" placeholder="*联系电话">
              </div>
            </div>
            <div class="line">
              <div class="info">
                债权人地区 :
              </div>
              <div class="details">
                <input type="text" name="province" placeholder="*所在省份">
                <input type="text" name="city" placeholder="*所在城市">
                <input type="text" name="county" placeholder="*所在区县/市">
              </div>
            </div>
            <div class="line">
              <div class="info">
                债权金额 :
              </div>
              <div class="details">
                <input type="text" name="debt_money" placeholder="*请输入债权金额">元
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="t">
          <img src="/Uploads/Debt/imgs/user.png" alt="">
          <span>债务人基本信息</span>
          <div class="opt">
            <img src="/Uploads/Debt/imgs/add_b.png" alt="">
            添加
          </div>
        </div>

        <div class="c">
          <div class="blo">
            <div class="line">
              <div class="info">
                债务人信息 :
              </div>
              <div class="details">
                <input type="text" name="name" placeholder="*姓名">
                <input type="text" name="idNum" placeholder="身份证号">
                <input type="text" name="phoneNumber" placeholder="联系电话">
              </div>
            </div>
            <div class="line">
              <div class="info">
                债务人地区 :
              </div>
              <div class="details">
                <input type="text" name="province" placeholder="*所在省份">
                <input type="text" name="city" placeholder="*所在城市">
                <input type="text" name="county" placeholder="*所在区县/市">
              </div>
            </div>
            <div class="line">
              <div class="info">
                债权金额 :
              </div>
              <div class="details">
                <input type="text" name="debt_money" placeholder="请输入债权金额">元
              </div>
            </div>
          </div>
        </div>

        <div class="t">
          <img src="/Uploads/Debt/imgs/to_sel.png" alt="">
          <span>债务人是否随时能寻找到 : </span>
          <div class="m-radio ml-10">
            <label type="radio">
              <input type="radio" name="searchedAnytime" value="1">
              <i></i>
              是
            </label>
          </div>
          <div class="m-radio ml-10">
            <label type="radio">
              <input type="radio" name="searchedAnytime" value="1" checked>
              <i></i>
              否
            </label>
          </div>
        </div>
        <div class="c"></div>

        <div class="t">
          <img src="/Uploads/Debt/imgs/to_sel.png" alt="">
          <span>债务人是否有还款能力 : </span>
          <div class="m-radio ml-10">
            <label type="radio">
              <input type="radio" name="abilityDebt" value="1">
              <i></i>
              是
            </label>
          </div>
          <div class="m-radio ml-10">
            <label type="radio">
              <input type="radio" name="abilityDebt" value="1" checked>
              <i></i>
              否
            </label>
          </div>
        </div>
        <div class="c"></div>

        <div class="t">
          <img src="/Uploads/Debt/imgs/gou_b.png" alt="">
          <span>有保证人</span>
          <div class="opt">
            <img src="/Uploads/Debt/imgs/add_b.png" alt="">
            添加
          </div>
        </div>
        <div class="c">
          <div class="blo">
            <div class="line">
              <div class="info">
                保证人信息 :
              </div>
              <div class="m-dropdown">
                <label type="checkbox">
                  <span>个人</span>
                  <i></i>
                  <input type="checkbox" name="" value="">
                  <ul>
                    <li>个人</li>
                    <li>企业</li>
                  </ul>
                </label>
              </div>
              <div class="details">
                <input type="text" name="name" placeholder="保证人名称">
                <input type="text" name="idNum" placeholder="身份证号">
                <input type="text" name="phoneNumber" placeholder="联系方式">
              </div>
            </div>
          </div>
        </div>

        <div class="t">
          <img src="/Uploads/Debt/imgs/gou_b.png" alt="">
          <span>有抵押物</span>
          <div class="opt">
            <img src="/Uploads/Debt/imgs/add_b.png" alt="">
            添加
          </div>
        </div>
        <div class="c">
          <div class="blo">
            <div class="line">
              <div class="info">
                抵押物信息 :
              </div>
              <div class="details">
                <input type="text" name="name" placeholder="保证物名称">
              </div>
            </div>
            <div class="line">
              <div class="info"></div>
              <div class="details">
                <textarea name="good_detail" rows="8" cols="80" placeholder="保证物详情(最多可输入150字)"></textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="t">
          <img src="/Uploads/Debt/imgs/reason_icon.png" alt="">
          <span>借款原因/债务近况</span>
        </div>
        <div class="c">
          <div class="blo">
            <div class="line">
              <div class="info">
                借款原因 :
              </div>
              <div class="details">
                <textarea name="good_detail" rows="8" cols="80" placeholder="借款原因说明(最多可输入150字)"></textarea>
              </div>
            </div>
            <div class="line">
              <div class="info">债务近况:</div>
              <div class="details">
                <textarea name="good_detail" rows="8" cols="80" placeholder="债务近况说明(最多可输入150字)"></textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="t">
          <img src="/Uploads/Debt/imgs/loan_icon.png" alt="">
          <span>借款凭证</span>
        </div>
        <div class="c">
          <div class="blo">
            <div class="line">
              <div class="info">
                上传借款凭证:
              </div>
              <div class="details">
                <div class="bx">
                  <div class="img-wrap">
                    <img src="/Uploads/Debt/imgs/about_us.png" alt="">
                  </div>
                  <span>+上传凭证一</span>
                </div>
                <div class="bx">
                  <div class="img-wrap">
                  </div>
                  <span>+上传凭证一</span>
                </div>
                <div class="bx">
                  <div class="img-wrap">
                  </div>
                  <span>+上传凭证一</span>
                </div>
                <div class="bx">
                  <div class="img-wrap">
                  </div>
                  <span>+上传凭证一</span>
                </div>
                <div class="bx">
                  <div class="img-wrap">
                  </div>
                  <span>+上传凭证一</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="sub-btn">
          <button type="button" class="btn-pub" name="button">发布债务</button>
          <button type="button" class="btn-reset" name="button">重置</button>
        </div>

      </div>
    </div>
  </div>
</div>
{template Footer}
