{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/publishReword.css">
<link rel="stylesheet" href="{echo JsURL}/debt/lib/cropper/dist/cropper.css">
<div class="public-reword">
  <div class="wrap">
    <div class="current-loc">
      <img src="/Uploads/Debt/imgs/current_loc.png" alt="">
      <span>当前位置 : <a href="/reword/">线索悬赏</a> > <span class="cur">发布悬赏</span></span>
    </div>
    <div class="form-wrap">

      <div class="box">
        <div class="t">
          <img src="/Uploads/Debt/imgs/type.png" alt="">
          <span>悬赏类型 : </span>
          <div class="m-radio ml-10">
            <label type="radio">
              <input type="radio" name="rewordType" value="1" checked>
              <i></i>
              找人
            </label>
          </div>
          <div class="m-radio ml-10">
            <label type="radio">
              <input type="radio" name="rewordType" value="2">
              <i></i>
              找财产
            </label>
          </div>
        </div>
        <div class="c"></div>


        <div class="t">
          <img src="/Uploads/Debt/imgs/user.png" alt="">
          <span>债权人信息</span>
        </div>
        <div class="c" id="debt_owner">
          <div class="blo">
            <div class="line">
              <div class="info">
                债权人电话:
              </div>
              <div class="details">
                <input type="text" name="phoneNumber" onblur="validatePhone(this, true)" placeholder="*联系电话">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="t">
          <img src="/Uploads/Debt/imgs/user.png" alt="">
          <span>债务人基本信息</span>
        </div>

        <div class="c" id="debtor">
          <div class="blo">
            <div class="line">
              <div class="info">
                债务人信息 :
              </div>
              <div class="details">
                <input type="text" name="name" onblur="validateChinese(this)" placeholder="*姓名">
                <input type="text" name="idNum" onblur="validateIDNumber(this, false)" placeholder="身份证号">
                <input type="text" name="phoneNumber"  onblur="validatePhone(this, false)" placeholder="联系电话">
              </div>
            </div>
            <div class="line">
              <div class="info">
                债务人地区 :
              </div>
              <div class="details">
                <div class="p-dropdown">
                  <label type="checkbox">
                    <span>*省份</span>
                    <i></i>
                    <input type="checkbox" name="dd_province" value="">
                    <ul></ul>
                  </label>
                </div>
                <div class="c-dropdown">
                  <label type="checkbox">
                    <span>*城市</span>
                    <i></i>
                    <input type="checkbox" name="dd_city" value="">
                    <ul></ul>
                  </label>
                </div>
                <div class="a-dropdown">
                  <label type="checkbox">
                    <span>*区县/市</span>
                    <i></i>
                    <input type="checkbox" name="dd_area" value="">
                    <ul></ul>
                  </label>
                </div>
              </div>
            </div>
            <div class="line">
              <div class="info">
                详细地址 :
              </div>
              <div class="details">
                <textarea name="areaDetail" maxlength="50" rows="2" cols="80" placeholder="请输入详细地址(最多50个字)"></textarea>
              </div>
            </div>
          </div>
        </div>


        <div class="t">
          <img src="/Uploads/Debt/imgs/loan_icon.png" alt="">
          <span>照片上传</span>
        </div>

        <div class="c">
          <div class="blo">
            <div class="line">
              <div class="info">
                上传照片:
              </div>
              <div class="details">
                <div class="bx">
                  <div class="img-wrap">
                  </div>
                  <label>
                    <span>+上传凭证</span>
                    <input type="file" onchange="imageUpload(this)" name="avatar_file" data-size="100" data-msg="100kb" data-ratio="1.45" style="display:none;" value="">
                  </label>
                </div>
                <div class="bx">
                  <div class="img-wrap">
                  </div>
                  <label>
                    <span>+上传凭证</span>
                    <input type="file" onchange="imageUpload(this)" name="avatar_file" data-size="100" data-msg="100kb" data-ratio="1.45" style="display:none;" value="">
                  </label>
                </div>
                <div class="bx">
                  <div class="img-wrap">
                  </div>
                  <label>
                    <span>+上传凭证</span>
                    <input type="file" onchange="imageUpload(this)" name="avatar_file" data-size="100" data-msg="100kb" data-ratio="1.45" style="display:none;" value="">
                  </label>
                </div>
                <div class="bx">
                  <div class="img-wrap">
                  </div>
                  <label>
                    <span>+上传凭证</span>
                    <input type="file" onchange="imageUpload(this)" name="avatar_file" data-size="100" data-msg="100kb" data-ratio="1.45" style="display:none;" value="">
                  </label>
                </div>
              </div>
            </div>
            <div class="line">
              <div class="info">
              </div>
              <div class="details">
                <div class="bx">
                  <div class="img-wrap">
                  </div>
                  <label>
                    <span>+上传凭证</span>
                    <input type="file" onchange="imageUpload(this)" name="avatar_file" data-size="100" data-msg="100kb" data-ratio="1.45" style="display:none;" value="">
                  </label>
                </div>
                <div class="bx">
                  <div class="img-wrap">
                  </div>
                  <label>
                    <span>+上传凭证</span>
                    <input type="file" onchange="imageUpload(this)" name="avatar_file" data-size="100" data-msg="100kb" data-ratio="1.45" style="display:none;" value="">
                  </label>
                </div>
                <div class="bx">
                  <div class="img-wrap">
                  </div>
                  <label>
                    <span>+上传凭证</span>
                    <input type="file" onchange="imageUpload(this)" name="avatar_file" data-size="100" data-msg="100kb" data-ratio="1.45" style="display:none;" value="">
                  </label>
                </div>
                <div class="bx">
                  <div class="img-wrap">
                  </div>
                  <label>
                    <span>+上传凭证</span>
                    <input type="file" onchange="imageUpload(this)" name="avatar_file" data-size="100" data-msg="100kb" data-ratio="1.45" style="display:none;" value="">
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="agree-protocal">
          <div class="m-checkbox">
            <label type="checkbox">
              <input type="checkbox" name="agreement" checked>
              <i></i>我已阅读并同意
            </label>
            <span class="protocal" onclick="openProtocalWindow()">《线索悬赏协议》</span>
          </div>
        </div>

        <div class="sub-btn">
          <button type="button" class="btn-pub" onclick="publish()" name="button">发布悬赏</button>
          <button type="button" class="btn-pub" onclick="javascript:window.location.reload()" name="button">重置</button>
        </div>

        <div class="arounce">
          <img src="/Uploads/Debt/imgs/warn.png" alt="">平台警告：平台不承担任何线索担保，请用户自己核实提供的信息是否属实!!!
        </div>

      </div>
    </div>
  </div>
</div>
 <div class="protocal-pop">
   <div class="popup">
    <div class="hd">
      隆文贵软件许可及服务协议
      <div class="close" onclick="closeProtocalWindow()">
        <img src="/Uploads/Debt/imgs/close_grey.png" alt="">
      </div>
    </div>
    <div class="cont">
      <div class="para">
        <p>感谢您使用隆文贵服务!《隆文贵软件许可及服务协议》（以下简称“本协议”）由武夷山隆文贵互联网信息咨询有限公司（以下简称“隆文贵”）和您签订。</p>
        <p>您使用隆文贵软件（以下简称“本软件”）及服务前，应当阅读并遵守“本协议”，并务必审慎阅读、充分理解各条款内容。您的下载、安装、使用、浏览、注册账号、登录等行为即视为您已阅读并同意上述协议的约束。</p>
        <p>一、协议的范围</p>
        <p>1.1本协议是您与隆文贵之间关于您下载、安装、使用本软件及相关服务所订立的协议。本协议中的“用户”,一般指经过隆文贵实名认证的注册会员，包括“个人用户”、“单位用户”和“律师用户”。“个人用户”是指使用本软件相关服务的个人；“单位用户”是指使用本软件相关服务的法人或非法人组织；“律师用户”是指使用本软件相关服务的律师或律师事务所。“用户”在软件中也称为“您”。</p>
        <p>1.2本协议同时包括隆文贵可能不断发布的关于本服务的相关协议、规则、合同等内容。上述内容在本软件中一经发布，即为本协议不可分割的组成部分，您同样应当遵守。</p>
        <p>1.3隆文贵可能会变更本协议及相关协议、规则、合同等内容，变更内容在本软件中一经公布，即应生效。如您继续使用，视为同意内容变更。</p>
        <p>二、关于本服务</p>
        <p>2.1 本服务的内容</p>
      </div>
      <div class="confirm-btn">
        <button type="button" onclick="agreeProtocal()" name="button">同意并继续</button>
      </div>
    </div>
  </div>
</div>
{template Footer}
<script src='{echo JsURL}/debt/lib/cropper/dist/cropper.js'></script>
<script src='{echo JsURL}/debt/publishReword.js'></script>
