{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/reword.css">
<div class="reword">
    <div class="wrap">
        <div class="filt-parm">
            <div class="line">
                <span >悬赏方式 :</span>
                <span id="way_all" {if empty($Type)}class="sel"{/if}><a href="{$MyUrl}{$Area}">全部</a></span>
                <span {if $Type=='a1'}class="sel"{/if}><a href="{$MyUrl}{$Area}a1/">找人</a></span>
                <span {if $Type=='a2'}class="sel"{/if}><a href="{$MyUrl}{$Area}a2/">找财产</a></span>
            </div>
            <div class="line">
                <span>悬赏地区 :</span>
                <span {if empty($Area)}class="sel"{/if} id="area_all"><a href="{$MyUrl}{$Type}">全部</a></span>
                {loop $AreaList $lists}
                <span {if $Area==$lists['AreaID']}class="sel"{/if}>
                  <a href="{$MyUrl}{$lists[AreaID]}{$Type}/">{$lists[CnName]}</a>
                </span>
                {/loop}
                <span onclick="openCitySelector(otherCitySel)"><l id="other_city">其他城市</l><img src="/Uploads/Debt/imgs/tri_arrow_down.png" alt=""></span>
            </div>

            <div class="search">
                <form action="/reword/" method="get">
                    <span>悬赏搜索 :</span>
                    <input type="text" name="K" id="keyword" value="{$Keyword}" placeholder="请输入姓名或身份证号">
                    <input type="submit" id="btn_search" value="搜索">
                    {if $_SESSION[Identity]==1 || $_SESSION[Identity]==4}
                        <div class="pub-wrap">
                            <img src="/Uploads/Debt/imgs/edit.png" alt="">
                            <button type="button" name="pub" onclick="javascript:window.location.href='/reword/publish/'">
                                发布悬赏
                            </button>
                        </div>
                    {/if}
                </form>
            </div>
        </div>
        <div class="alert-warn">
            <img src="/Uploads/Debt/imgs/a_warn.png" alt="">
            <span>平台警告：平台不承担任何线索担保，请用户自己核实提供的信息是否属实!!!</span>
        </div>
        <div class="box-wrap" id="reword_info">

            {loop $Data['Data'] $lists}
            <div class="box">
                <div class="content">
                    <div class="left">
                        <div class="main-i">
                            <img src="{$lists[DefaultImage]}" alt="">
                        </div>
                        {if !empty($lists[Image])}
                        {loop $lists[Image] $value}
                        <div class="det-i">
                            <img src="{$value}" alt="{$lists[DebtName]}">
                        </div>
                        {/loop}
                        {/if}
                    </div>
                    <div class="right">
                        <div class="line">
                            <div class="t">债务人姓名 : </div>
                            <div class="c">{$lists[DebtName]}</div>
                        </div>
                        <div class="line">
                            <div class="t">债务人电话 : </div>
                            <div class="c">{if $lists[Status]=='4'}{echo strlen($lists[DebtPhone]) ? substr_replace($lists[DebtPhone], '****', 7, 4) : '';}{else}{$lists[CreditorsPhone]}{/if}</div>
                        </div>
                        <div class="line">
                            <div class="t">债务人地区 : </div>
                            <div class="c">{if $lists[Province]!=''}{$lists[Province]}-{$lists[City]}-{$lists[Area]}{/if}</div>
                        </div>
                        <div class="line">
                            <div class="t">债务人身份证 : </div>
                            <div class="c">{$lists[DebtCard]}</div>
                        </div>
                        <div class="line">
                            <div class="t">详细地址 : </div>
                            <div class="c">{$lists[Address]}</div>
                        </div>
                        <div class="ower-contact">
                            <div class="t">债权人联系方式 :</div>
                            <div class="c">{if $lists[Status]=='4'}{echo strlen($lists[CreditorsPhone]) ? substr_replace($lists[CreditorsPhone], '****', 7, 4) : '';}{else}{$lists[CreditorsPhone]}{/if}</div>
                        </div>
                    </div>
                </div>
                {if $lists[Status]=='4'}
                <div class="done">
                    <img src="/Uploads/Debt/imgs/over.png" alt="">
                </div>
                {/if}
            </div>
            {/loop}
        </div>
        <div class="pagination-wrap">
            <div class="pagination fl-r" id="reword_page_pagination">
                {if $ShowPage}
                <a href="/reword/?p=1" class="b {if $Page==1}sel{/if}">首页</a>
                {$ShowPage}
                {/if}
            </div>
        </div>
    </div>
</div>
<script id="slide-tmpl" type="text/x-jquery-tmpl">
  <div class="prev"><img src="/Uploads/Debt/imgs/left.png" alt=""></div>
  <div class="bd">
    {{each(i, img) imgs}}
      <li><img src="{{= img}}" alt=""></li>
    {{/each}}
  </div>
  <div class="next"><img src="/Uploads/Debt/imgs/right.png" alt=""></div>
</script>
{template Footer}
<script src='{echo JsURL}/debt/lib/SuperSlide/jquery.SuperSlide.2.1.1.js'></script>
<script src='{echo JsURL}/debt/reword.js'></script>
