{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/collectionDetails.css">
<div class="collection-details">
    <div class="wrap">
        <div class="current-loc">
            <img src="/Uploads/Debt/imgs/current_loc.png" alt="">
            <span>当前位置 : 债权管理 > 我的债权 > 催收的债务 > <span class="cur">查看详情</span></span>
        </div>
        <!-- 债务id: data-id  -->
        <div class="info-wrap" data-id="1212">
            <div class="hd">
                <!-- <button type="button" name="button">关注</button> -->
                债务编号：{$DebtInfo[DebtNum]}--处置方偏向：{if $DebtInfo[CollectionType]==1}律师团队{elseif $DebtInfo[CollectionType]==2}催收团队{/if}
            </div>
            <div class="pubman-info">
                <span>发布人: {$UserInfo[RealName]}</span>
                发布时间: {echo date("Y-m-d",$DebtInfo[AddTime])}
            </div>
            <div class="debt-det">
                {loop $DebtorsInfo $lists}
                <div class="bx">
                    <div class="line">
                        <div class="l">
                            债务人姓名: {$lists[Name]}
                        </div>
                        债务人身份证: {$lists[Card]}
                    </div>
                    <div class="line">
                        <div class="l">
                            债务人地区: {if $lists[Province]!=''}{$lists[Province]}-{$lists[City]}-{$lists[Area]}{/if}
                        </div>
                        详细地址: {$lists[Address]}
                    </div>
                </div>
                {/loop}
                <div class="bx">
                    <div class="line">
                        <div class="l">
                            债务金额（元）：￥{$DebtInfo[DebtAmount]}
                        </div>
                        逾期时间：{$DebtInfo[Overduetime]}
                    </div>
                </div>

                <div class="bx">
                    <div class="line">
                        <div class="l">
                            是否有前期费用：{if $DebtInfo[EarlyCost]==1}有{else}无{/if}
                        </div>
                    </div>
                    <div class="line">
                        <div class="l">
                            是否有保证人：{if $DebtInfo[Warrantor]==1}有{else}无{/if}
                            {if $DebtInfo[Warrantor]==1}
                            {loop $WarrantorInfo $lists}
                            <span>{$lists[type]}</span><span>{$lists[name]}</span><span>{$lists[card]}</span><span>{$lists[phone]}</span>
                            {/loop}
                            {/if}
                        </div>
                    </div>
                    <div class="line">
                        <div class="l">
                            是否有抵押物：{if $DebtInfo[Guarantee]==1}有{else}无{/if}
                            {if $DebtInfo[Guarantee]==1}
                            {loop $GuaranteeInfo $lists}
                            <span>{$lists[name]}</span><span>{$lists[content]}</span>
                            {/loop}
                            {/if}
                        </div>
                    </div>
                </div>

                <div class="bx">
                    <div class="line">
                        <div class="l">
                            债务人是否随时能寻找到：{if $DebtInfo[FindDebtor]==1}是{else}否{/if}
                        </div>
                        债务人是否有还款能力：{if $DebtInfo[RepaymentDebtor]==1}是{else}否{/if}
                    </div>
                    <div class="line">
                        <div class="l">
                            借款原因：{$lists[ReasonsBorrowing]}
                        </div>
                    </div>
                    <div class="line">
                        <div class="l">
                            债务近况：{$lists[DebtRecent]}
                        </div>
                    </div>
                    <div class="line-img" id="debt_imgs">
                        <span>借款凭证 :</span>
                        {loop $DebtImage $lists}
                        <img src="{$lists[ImageUrl]}" alt="">
                        {/loop}
                    </div>
                </div>
            </div>

            <div class="t-hd">
                关联的债务信息
            </div>
            <div class="rel-debt">
              <div class="table">
                <table>
                    <thead>
                    <tr>
                        <th>债务编号</th>
                        <th>债务人名称</th>
                        <th>债务人地区</th>
                        <th>债务金额(元)</th>
                        <th>逾期时间</th>
                        <th>发布时间</th>
                        <th>当前状态</th>
                        <th>查看债务</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>L201702270000</td>
                        <td>孙某某</td>
                        <td>福建省-厦门市-思明区</td>
                        <td class="m-c">￥100000.00</td>
                        <td>50天</td>
                        <td>2017-01-25</td>
                        <td>催收中</td>
                        <td class="det">查看详情>></td>
                    </tr>
                    <tr>
                        <td>L201702270000</td>
                        <td>孙某某</td>
                        <td>福建省-厦门市-思明区</td>
                        <td class="m-c">￥100000.00</td>
                        <td>50天</td>
                        <td>2017-01-25</td>
                        <td>催收中</td>
                        <td class="det">查看详情>></td>
                    </tr>
                    </tbody>
                </table>
              </div>
              <div class="info-det">
                关联债务人被催收过次数：律师 <span class="act-r">1次</span>  催收公司<span class="act-r">0次</span>  催客<span class="act-r">0次</span>
              </div>
            </div>

            <div class="t-hd">
                处置方接单申请
            </div>
            <div class="mb-100">
              <div class="apply-wrap">
                <div class="cont-wrap">
                  <div class="l">
                    处置方名称： 厦门资产解决有限公司
                  </div>
                  <div class="l">
                    处置方报价： 债务金额15%的佣金(人民币)
                  </div>
                  <div class="l">
                    处置方优势： 接过多笔类似债务，均处理成功，有丰富的处置经验，成功率高。
                  </div>
                </div>
                <div class="opt-btn">
                  <button type="button" onclick="agreeApply('厦门资产解决有限公司', 1212)" name="agree">同意</button>
                  <button type="button" onclick="rejectApply('厦门资产解决有限公司', 1212)" name="reject">拒绝</button>
                </div>
              </div>
              <div class="apply-wrap">
                <div class="cont-wrap">
                  <div class="l">
                    处置方名称： 厦门资产解决有限公司
                  </div>
                  <div class="l">
                    处置方报价： 债务金额15%的佣金(人民币)
                  </div>
                  <div class="l">
                    处置方优势： 接过多笔类似债务，均处理成功，有丰富的处置经验，成功率高。处置方优势： 接过多笔类似债务，均处理成功，有丰富的处置经验，成功率高。处置方优势： 接过多笔类似债务，均处理成功，有丰富的处置经验，成功率高。处置方优势： 接过多笔类似债务，均处理成功，有丰富的处置经验，成功率高。
                  </div>
                </div>
                <div class="opt-btn">
                  <button type="button" onclick="agreeApply('厦门资产解决有限公司', 1212)" name="agree">同意</button>
                  <button type="button" onclick="rejectApply('厦门资产解决有限公司', 1212)" name="reject">拒绝</button>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
{template Footer}

<script src='{echo JsURL}/debt/lib/SuperSlide/jquery.SuperSlide.2.1.1.js'></script>
<script src='{echo JsURL}/debt/personDebtDetails.js'></script>
