{template Header}
<link rel="stylesheet" href="{echo CssURL}/debt/debtorToAuth.css">
<link rel="stylesheet" href="{echo JsURL}/debt/lib/dcalendar/dcalendar.picker.css">
<link rel="stylesheet" href="{echo JsURL}/debt/lib/cropper/dist/cropper.css">
<div class="debtor-auth">
    <div class="wrap">
        <div class="bx-wraper" >
          <div class="tl-2">
            催客(个人)
          </div>
          <div class="cont tab-person">
            <div class="role-img">
                <img src="/Uploads/Debt/imgs/user_for_auth.png" alt="">
                <br><br>催客(个人)
            </div>
            <div class="info-form">
                <div class="line">
                    <div class="if">
                        昵 称<span class="form-need">*</span>
                    </div>
                    <div class="cont-in">
                        <input type="text" name="nickName" maxlength="5" onblur="validateNeed(this)" placeholder="不超过5个字" value="">
                    </div>
                </div>
                <div class="line">
                    <div class="if">
                        真实姓名<span class="form-need">*</span>
                    </div>
                    <div class="cont-in">
                        <input type="text" name="name" onblur="validateChinese(this)" value="">
                    </div>
                </div>
                <div class="line">
                    <div class="if">
                        身份证号<span class="form-need">*</span>
                    </div>
                    <div class="cont-in">
                        <input type="text" name="idNum" onblur="validateIDNumber(this, true)" value="">
                    </div>
                </div>
                <div class="line-1">
                    <div class="if">
                        证件照片<span class="form-need">*</span>
                    </div>
                    <div class="cont-in">
                        <div class="bx-1">
                            <div class="i-wrap"></div>
                            <label>
                                <span>+ 身份证正面</span>
                                <input type="file" onchange="imageUpload(this)" name="avatar_file" data-size="100" data-msg="100kb" data-ratio="1.45" style="display:none;" value="">
                            </label>
                        </div>
                        <div class="bx-1">
                            <div class="i-wrap"></div>
                            <label>
                                <span>+ 身份证反面</span>
                                <input type="file" onchange="imageUpload(this)" name="avatar_file" data-size="100" data-msg="100kb" data-ratio="1.45" style="display:none;" value="">
                            </label>
                        </div>
                        <div class="bx-1">
                            <div class="i-wrap"></div>
                            <label>
                                <span>+ 手持身份证</span>
                                <input type="file" onchange="imageUpload(this)" name="avatar_file" data-size="100" data-msg="100kb" data-ratio="1.45" style="display:none;" value="">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="line">
                    <div class="if">
                        省份<span class="form-need">*</span>
                    </div>
                    <div class="cont-in">
                        <div class="p-dropdown">
                            <label type="checkbox">
                                <span>请选择</span>
                                <i></i>
                                <input type="checkbox" name="dd_province" value="">
                                <ul></ul>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="line">
                    <div class="if">
                        城市<span class="form-need">*</span>
                    </div>
                    <div class="cont-in">
                        <div class="c-dropdown">
                            <label type="checkbox">
                                <span>请选择</span>
                                <i></i>
                                <input type="checkbox" name="dd_city" value="">
                                <ul></ul>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="line">
                    <div class="if">
                        区县<span class="form-need">*</span>
                    </div>
                    <div class="cont-in">
                        <div class="a-dropdown">
                            <label type="checkbox">
                                <span>请选择</span>
                                <i></i>
                                <input type="checkbox" name="dd_area" value="">
                                <ul></ul>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="line">
                    <div class="if">
                        详细地址
                    </div>
                    <div class="cont-in">
                        <textarea name="areaDetail" placeholder="不超过50个字" maxlength="50" rows="2" cols="80"></textarea>
                    </div>

                </div>
                <div class="line">
                    <div class="if">
                        QQ
                    </div>
                    <div class="cont-in">
                        <input type="text" onblur="validateQQ(this, false)" name="qq" value="">
                    </div>
                </div>
                <div class="line">
                    <div class="if">
                        邮箱
                    </div>
                    <div class="cont-in">
                        <input type="text" onblur="validateEmail(this, false)" name="email" value="">
                    </div>
                </div>

                <div class="line">
                    <div class="if">
                    </div>
                    <div class="cont-in">
                        <button type="button" id="person_save" name="button">保 存</button>
                    </div>
                </div>
              </div>
          </div>
        </div>
    </div>
</div>
{template Footer}
<script src='{echo JsURL}/debt/lib/cropper/dist/cropper.js'></script>
<script src='{echo JsURL}/debt/lib/dcalendar/dcalendar.picker.js'></script>
<script src='{echo JsURL}/debt/upgradePersonRole.js'></script>
