#toptb a {padding: 4px 10px}
#nv li{float: left;padding-right: 1px;margin-left: 2px;margin-right: 2px;height: 40px;font-weight: 700;font-size: 14px;padding: 0px 0px 5px 0px}
#toptb{border:0px !important;z-index:199 !Important}
.qtoptb .y a{padding:0 4px !Important}
#samplepanel {z-index:300;position:relative}
.ct3_a .mn {margin: 0;width: 60% !important;padding: 20px !important;margin-top: 10px;background: #f8f8f8;border: #ccc solid 1px;border-radius: 5px;}
#toptb a#sslct, .switchwidth, #toptb a.switchblind {display: none;}
#toptb .y a{color:#fff}
#wp {margin: 0 auto;width: 960px;min-width: 960px}
.my_flw_stats {width: 100px;}
#fastpostform{width:100% !important;}
.ct2_a #tmn {float: left;}
#flw_header .bar{border:0px}
.ct2_a, .ct3_a {border: none !important;padding: 0 !important;background: transparent }
#moodfm textarea {width: 540px;height: 56px;border: 1px solid;border-color: #848484 #E0E0E0 #E0E0E0 #848484;overflow-y: auto;}
#moodfm {margin-bottom: 10px;}
.bw0 {background: transparent;}
#um .avt {display: inline;margin-right: -50px;position: relative;float: right;z-index: 100;}
#pm_ntc.new {background: none;padding-left: 0px;}
#myprompt.new {background:none;padding-left: 0px;}
#um {padding-top: 10px;padding-right: 50px;_padding-right: 54px;line-height: 2.3;zoom: 1;width: 480px !important;float: right;}
.scbar_icon_td {width: 20px;background:none}
.scbar_txt_td, .scbar_type_td {background:none}
#scbar_txt {width: 400px;border: 2px solid #0ad;padding: 4px 5px 5px 5px;height: 15px;margin-top: 0px;background:#fff}
.scbar_type_td {width: 61px;background: url(../images/search.png) no-repeat 0 -193px;display: none;}
#scbar{background:#f8f8f8;height: 45px;line-height: 45px;border-bottom: #DFDFDF 2px solid !important;}
#qmenu {float: right;display: inline;width: 23px;height: 23px;background: url(../images/daohang.png) no-repeat 0 0;line-height: 23px;text-align: center;color: #369;margin-right: 15px;font-weight: 700;margin-top: 12px;overflow: hidden;text-indent: -9999px;margin-top: 9px;}
#qmenu.a {position: relative;z-index: 302;background-position: 0px;}
#qmenu_menu {margin-top: 5px;padding: 20px 5px 10px;width: 610px;border-color: #DCE4EB;}
.bm_h .o img {float: right;margin-top: 9px;cursor: pointer;}
hr.da {border-top: 1px dotted #e3e3e3}
#nv {overflow: hidden;height: 36px !important;border-radius: 5px 5px 0px 0px;box-shadow: 0px 0px 0px #0ad;border-radius: 0px;background: transparent;padding-top: 0px;min-width:100px}
#nv li a {float: left;text-shadow: #555 0px 0px 0px;border-radius:0px;height: 30px;font-weight: 100;line-height: 36px;font: 14px/1.75 Tahoma,Arial,\5B8B\4F53;padding-top:5px !important}
#nv li{height:36px;padding:0;background:none}
#diy-tg{float:left !important}
.y li {display: inline;}
.appl span a {color: #555 !important;}
#flw_header #flw_post_subject{margin-top:5px;width:648px !Important}
.flw_hd{width:250px;float:left}
#umnav_menu a{float: none}
.tlogo{width:136px;height:36px;float:left;background:url(../images/tlogo.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="template/enet_no1/images/tlogo.png");}
#toptb {background: url(../images/heartbg.png) repeat-x;height:37px}
.zeen a{color:#fff;font-size:15px;padding: 0 8px !important;}
.zeen span{display:none}
#nv li a:hover {background: #333;text-decoration: inherit;}
#diy-tg_menu ul{margin:0}
#diy-tg_menu li{line-height:24px;height:24px}
#diy-tg_menu a{font-size:12px;font-weight:100}
#diy-tg_menu{margin-top:-2px !important;margin-left: -20px !important}
#diy-tg{width:52px;height:20px}
select,.tfm th,.tfm td{font-size:12px !Important}
#tbg .px {height: 24px !Important;}
.ct2_a .appl li{float:none !Important}